---
layout: default-en
title: About Us
---
.am-container{style: 'max-width: 960px'}
  %h1.am-margin-top-xl Welcome To SyngenTech
  %img.am-img-responsive{src: '{{ "/images/about-1.1.jpg" | prepend: site.url.assets }}', alt: 'About Us'}
  %p.text-indent SyngenTech is a biotechnology company focused on applying synthetic biology to scientific research and public healthcare. Since its establishment in 2014 at Zhongguancun Life Science Park in China, SyngenTech has been committed to providing researchers around the world with high-quality, innovative technical services and products. Its services and products are designed to cover the whole industrial chain for synthetic biology, including various bioreagents (BioGeek<sup>TM</sup>), a sharing repository for genetic elements (GE Share<sup>TM</sup>), high-quality technical services (SyngenTech<sup>&reg;</sup>) and clinical healthcare (SyngenCare<sup>&reg;</sup>). Bonded by common values, SyngenTech staff members are highly educated elites (master degree or above) from prestigious universities or institutes around the world.

  %h2
    BioGeek<sup>TM</sup> (bioreagents)
    %a.am-text-sm{href: 'http://biogeek.syngen.tech'} (biogeek.syngen.tech)
  %p.text-indent BioGeek<sup>TM</sup> is a SyngenTech<sup>&reg;</sup> brand aiming to provide high-quality bioreagents used in molecular biology, cell biology, proteomics and HGS, etc. BioGeek<sup>TM</sup> Bioreagents sources new products from its own R&D programs and from its research customer base. We have developed kits for nucleic acid purification, plasmid extraction and magenetic bead-based size selection on liquid handling workstaion such as QIAcube. Our featured products also include different enzymes used in molecular cloning like GeneTaq<sup>TM</sup> and Quick ligase<sup>TM</sup>. BioGeek<sup>TM</sup> reagents differentiates itself from other reagent manufacturers through its strong scientific and technical support of its products as well as strictly controlling of them.

  %h2
    GE Share<sup>TM</sup> （a repository for genetic elements）
    %a.am-text-sm{href: 'http://www.geshare.com.cn', target: '_blank'} (www.geshare.com.cn)
  %p.text-indent GE Share<sup>TM</sup> is the first and only plasmid repository in China. GE Share<sup>TM</sup> is dedicated to making it easier for scientists to share plasmids. Now we are working with thousands of labs to assemble a high-quality library of published plasmids with different genetic elements, through which scientists can easily get a custom plasmid with different combination of genetic elements. We are looking forward to cooperating with more and more scientists around the world.

  %h2
    SyngenTech<sup>&reg;</sup> （technical service）
    %a.am-text-sm{href: 'http://service.syngen.tech'} (service.syngen.tech)
  %p.text-indent SyngenTech<sup>&reg;</sup> As the earliest program in the company, SyngenTech® provides scientists with technical service in synthetic biology, including genome editing and gene-network regulation. SyngenTech<sup>&reg;</sup> has successfully accumulated a large number of clients from dozens of famous universities and institutes around the world such as Tsinghua University, the Chinese University of Hong Kong and the Chinese Academy of Sciences. Our featured technical services include high throughput screening of functional genes and drug-resistance genes, vector construction for the CRISPR-Cas9 system and shRNA/miRNA expression system, cell lines and mouse engineering, packaging of lentivirus particles, gRNA library construction, DNA synthesis, etc. SyngenTech® has sought to make science easier for researchers.

  %h2
    SyngenCare<sup>&reg;</sup> （clinical healthcare）
  %p.text-indent SyngenCare<sup>&reg;</sup> is an ongoing project intending to apply synthetic biology to clinical healthcare. To that end, SyngenCare<sup>&reg;</sup> are developing novel technologies for personalized genetic testing, drug target screening, as well as tumor and cancer therapies. Products and services from SyngenCare<sup>&reg;</sup> are designed to benefit people and improve their quality of life. We are willing to cooperate with excellent scientists from around the world to fulfill our goal.

  %img.am-margin-bottom-lg.am-margin-top.am-img-responsive{src: '{{ "/images/about-1.2.jpg" | prepend: site.url.assets }}', alt: 'picture'}
