---
layout: default
title: Contact Us
---
.am-container
  %h1.am-margin-top Contact Us
  %img{src: '{{ "/images/about-4.1.jpg" | prepend: site.url.assets }}', width: '100%', height: '360'}
  %p.text-indent If you have any questions or need technical support, please inform us either through the following emails or calls. Your questions and requests will be solved by expert staff in SyngenTech within 48 hours.

  %h2 Contact
  %ul
    %li
      Website：
      %a{href: 'http://syngen.tech'} http://syngen.tech
    %li Address: Innovation Building, Zhong-Guan-Cun Life Science Park, Changping District, Beijing, P.R.China
    %li Postal Code: 102206
    %li
      Tel: 400-680-3200/ +86-010-80767807

    %li
      E-mails:
      %ul
        %li Technology Department：tech@syngentech.com.cn
        %li Marketing Department：sales@syngentech.com.cn
        %li Administrative Department：office@syngentech.com.cn
        %li Information Department：info@syngentech.com.cn
        %li Human Resources Department：hr@syngentech.com.cn
  %img.am-margin-bottom-lg{src: '{{ "/images/about-4.2.jpg" | prepend: site.url.assets }}', width: '100%', height: '250'}
