---
layout: default-en
title: Contact Us
---
.am-container{style: 'max-width: 960px'}
  %h1.am-margin-top Contact Us
  %img.am-img-responsive{src: '{{ "/images/about-en-4.1.jpg" | prepend: site.url.assets }}', alt: 'Contact Us'}
  %p.text-indent If you have any questions or need technical support, please inform us through the following emails or calls. Your questions and requests will be solved by expert staff in SyngenTech within 48 hours.

  %h2 Contact
  %ul
    %li
      Website：
      %a{href: 'http://syngen.tech'} http://syngen.tech
    %li Address: G floor of Northern Life Square, Zhong-Guan-Cun Life Science Park, Changping District, Beijing
    %li Postal Code: 102206
    %li
      Tel: 400-680-3200/ +86-010-80767807

    %li
      E-mails:
      %ul
        %li Customer service Department：service@syngen.tech
        %li Human Resources Department：hr@syngen.tech
  %img.am-margin-bottom-lg.am-img-responsive{src: '{{ "/images/about-4.2.jpg" | prepend: site.url.assets }}', alt: 'picture'}
