---
layout: default-en
title: Cooperation
---
.am-container
  %h1.am-margin-top-xl Cooperation
  %img{src: '{{ "/images/about-3.1.jpg" | prepend: site.url.assets }}', alt: 'Cooperation', width: '100%', height: '360'}
  %h2  For biotech companies
  %ul
    %li Technical services
  %p
    SyngenTech
    %sup &reg;
    has created an experienced R&D organization in China. We are looking forward to partnering with other complementary companies to jointly develop innovative products and services that will make science easier.

  %h2 For agencies
  %p
    SyngenTech
    %sup &reg;
    has developed high-quality BioGeek
    %sup TM
    bioreagents and technical services for researchers around the world. we sincerely invite agency partners to cooperate and create a new chapter for the science community.

  %p.am-text-center
    Call us：400-680-3200，or send us an email：
    %a{href: 'mailto:sales@syngentech.com.cn'} sales@syngentech.com.cn
  %img.am-margin-bottom-lg{src: '{{ "/images/about-3.2.jpg" | prepend: site.url.assets }}', alt: 'picture', width: '100%', height: '250'}
