---
layout: default-en
title: Careers
---
.am-container{style: 'max-width: 960px'}
  %h1.am-margin-top-xl Careers
  %img.am-img-responsive{src: '{{ "/images/about-2.1.jpg" | prepend: site.url.assets }}', alt: 'Careers'}
  %p.text-indent As an emerging power in synthetic biology, SyngenTech inspires its people to advance innovative technologies, develop scientific thinking, and build rewarding careers. “Power to professionalize | Determination to serve” expresses what SyngenTech people want to achieve. In SyngenTech, you will work with smart, interesting scientists from the most prestigious universities and institutes around the world. You will work under an open, inclusive, and progressive environment. You will be provided with an state-of-the-art benefits package.
  %p
    Join Our Team! Submit your CV to

    %a{href: 'mailto:hr@syngen.tech'} hr@syngen.tech
    ，Please indicate the position you are applying for in your resume.。
  %hr
  %p R&D specialist
  %p Amount: 5
  %p Location: Beijing
  %p Job requirements：
  %p Responsible for technical services which include but not limited to: molecular cloning and other routine biochemical experiments.
  %p Qualifications：
  %ol
    %ol
      %li At least Master Degree in biology or other related majors. Undergraduates with more than 2 years of lab work experience will also be considered；
      %li Technical expertise including: molecular cloning, cell culturing and other routine biochemical and molecular experiments；
      %li Excellent communication and presentation skills；
      %li Ability to work effectively in a team setting；
      %li Proficiency in office softwares；
      %li Ability of retrieving and reading scientific papers. A CET-6 certificate would be a plus.
  %hr
  %p R&D specialist in model animals
  %p Amount: 5
  %p Location: Beijing
  %p Jobrequirements：Responsible for experiments in model animals such as mouse.
  %p Qualifications：
  %ol
    %ol
      %li At least Master Degree in biology or other related majors；
      %li Experience in breeding, housing and maintaining mouse colonies. Familiar with biochemical and physiological analyses in mouse including hypodermic injection and blood collection;
      %li Ability to use flow cytometry and perform histopathological analyses would be a plus;
      %li Excellent communication and presentation skills；
      %li Ability to work effectively in a team setting；
      %li Proficiency in office softwares；
      %li Ability of retrieving and reading scientific papers. A CET-6 certificate would be a plus.
  %hr
  %p Front-end web developer
  %p Amount: 3
  %p Location: Beijing
  %p Job requirements：
  %ol
    %ol
      %li Develop efficient modules for the website of the company；
      %li Work closely with other team members to implement different projects.
      %li Smart and proactive.
  %p Qualifications：
  %ol
    %ol
      %li Bachelor’s Degree or above；
      %li Ability to develop front-end designs and experiences in code (Javascript、HTML5、CSS3, etc..) and advanced understanding of front-end development practices, standards, and executions；
      %li
        Good command of at least one of the following techniques.(please indicate in your CV)：
        %br
        — NodeJS
        %br
        — D3.js
        %br
        — Angular.js
        %br
        — WebGL
      %li Ability to work under pressure.

  %p Full stack developer
  %p Amount: 3
  %p Location: Beijing
  %p Job requirements：
  %ol
    %ol
      %li Develop efficient modules for the website of the company；
      %li Work closely with other team members to implement different projects.

  %p Qualifications：
  %ol
    %ol
      %li Bachelor’s Degree or above, good communication skils；
      %li Ability to develop front-end designs and experiences in code (Javascript、HTML5、CSS3, etc..) and advanced understanding of front-end development practices, standards, and executions；
      %li Experience in working with database. Familiar with Mysqul or MongoBD；
      %li Familiar with Ruby on Rails and interested in full stack development；
      %li Ability to work under pressure.

  %p Administrative specialist
  %p Amount: 2
  %p Location: Beijing
  %p Job requirements：
  %p Responsible for performing all the usual office tasks involved in the efficient function of the company.
  %p Qualifications：
  %ol
    %ol
      %li College Degree or above, majoring in admin related field or biology. 2 years of relevant work experience would be a plus；
      %li Organized, communicative and proficient in office softwares;
      %li Overseeing and administering the daily activities in the organization;
      %li Supervising the functions of the employees, monitoring their performance in order to ensure that they are functioning in the way the company wants them to;
      %li Ensuring that the office operations are going in compliance with the policy standards and provisions;
      %li Providing assistance in the entire job of understanding of the organization’s policies and procedures；
      %li Planning and scheduling of meetings, organizing and maintaining of files, managing of current as well as future projects；
      %li Scheduling the travel plan and arranging for overnight accommodations for the employees and guests；
      %li Preparing reports, correspondences, fiscal budgets and other such required documentations for the organization

  %hr
  %p Marketing Specialist
  %p Amount: 5
  %p Location: Beijing
  %p Job requirements：
  %ol
    %ol
      %li Managing sales territories to complete the sale task；
      %li Developing potential customers；
      %li Visiting customers routines and serving as a contact for both pre-sales and post-sales support issues；
      %li Working with other team members to enhance the company’s brand image；
      %li Other tasks arranged by company.

  %p Qualifications：
  %ol
    %ol
      %li Bachelor’s Degree or above. More than 2 years of relevant work experience would be a plus；
      %li No work experience requirement for masters；
      %li Smart, communicative, proactive, passionate, and cooperative；
      %li Basic English skill and computer knowledge.

  %br
  %img.am-margin-bottom.am-img-responsive{src: '{{ "/images/about-2.2.jpg" | prepend: site.url.assets }}', alt: 'picture'}
