---
layout: default
title: SyngenTech
---
.am-slider.am-slider-default{'data-am-flexslider' => '{directionNav:false}'}
  %ul.am-slides
    %li
      %img{src: '{{ "/images/index1.jpg" | prepend: site.url.assets }}', alt: 'SyngenTech'}
    %li
      %img{src: '{{ "/images/index2.jpg" | prepend: site.url.assets }}', alt: 'geshare'}
    %li
      %img{src: '{{ "/images/index3.jpg" | prepend: site.url.assets }}', alt: 'biogeek'}
    %li
      %img{src: '{{ "/images/index4.jpg" | prepend: site.url.assets }}', alt: '合生健康'}
.am-g.am-margin-top-xl
  .am-u-sm-12.am-u-md-6.am-u-lg-3
    %a{href: 'http://www.geshare.com.cn'}
      %img.am-thumbnail{src: '{{ "/images/index5.jpg" | prepend: site.url.assets }}', alt: 'geshare'}
  .am-u-sm-12.am-u-md-6.am-u-lg-3
    %a{href: '{{ site.url.biogeek }}'}
      %img.am-thumbnail{src: '{{ "/images/index6.jpg" | prepend: site.url.assets }}', alt: 'biogeek'}
  .am-u-sm-12.am-u-md-6.am-u-lg-3
    %a{href: '{{ site.url.service }}'}
      %img.am-thumbnail{src: '{{ "/images/index7.jpg" | prepend: site.url.assets }}', alt: 'service'}
  .am-u-sm-12.am-u-md-6.am-u-lg-3
    %a
      %img.am-thumbnail{src: '{{ "/images/index8.jpg" | prepend: site.url.assets }}', alt: 'picture'}
