---
layout: default-en
title: SyngenTech
---
.am-slider.am-slider-default{'data-am-flexslider' => '{directionNav:false}'}
  %ul.am-slides
    %li
      %img{src: '{{ "/images/index-en1.jpg" | prepend: site.url.assets }}', alt: 'SyngenTech'}
    %li
      %img{src: '{{ "/images/index-en2.jpg" | prepend: site.url.assets }}', alt: 'geshare'}
    %li
      %img{src: '{{ "/images/index-en3.jpg" | prepend: site.url.assets }}', alt: 'biogeek'}
    %li
      %img{src: '{{ "/images/index4.jpg" | prepend: site.url.assets }}', alt: '合生健康'}
.am-g.am-margin-top-xl.animation
  .am-u-sm-12.am-u-md-6.am-u-lg-3
    %a{href: 'http://www.geshare.com.cn'}
      %img.am-thumbnail{src: '{{ "/images/index-en5.jpg" | prepend: site.url.assets }}', alt: 'geshare'}
  .am-u-sm-12.am-u-md-6.am-u-lg-3
    %a{href: '{{ "/en/biogeek" | prepend: site.url.root }}'}
      %img.am-thumbnail{src: '{{ "/images/index-en6.jpg" | prepend: site.url.assets }}', alt: 'biogeek'}
  .am-u-sm-12.am-u-md-6.am-u-lg-3
    %a{href: '{{ "/en/service" | prepend: site.url.root }}'}
      %img.am-thumbnail{src: '{{ "/images/index-en7.jpg" | prepend: site.url.assets }}', alt: 'service'}
  .am-u-sm-12.am-u-md-6.am-u-lg-3
    %a
      %img.am-thumbnail{src: '{{ "/images/index-en8.jpg" | prepend: site.url.assets }}', alt: 'picture'}
