---
layout: service
img: /images/solution-6.4.jpg
title: Activation
---

%h1.am-margin-top-xl 转录激活
%img.am-img-responsive{src: '{{ "/images/solution-6.1.jpg" | prepend: site.url.assets }}'}
%h2 概述
%p.text-style CRISPR/Cas9系统是一种由RNA引导Cas9蛋白对靶基因进行修饰的技术。将Cas9中切割域突变，就会使Cas9蛋白失去对DNA的切割活性，但不影响其与DNA的结合能力，这种失去DNA切割活性的Cas9蛋白被命名为Dead Cas9（dCas9）。利用gRNA介导dCas9能够精确识别靶基因的特点，将dCas9蛋白与具有转录激活功能的蛋白结构域融合，可构建具有转录激活活性的系统，简称CRISPRa。
%p.text-style 合生基因将dCas9与转录活化域VP64融合，表达的融合蛋白在gRNA介导下结合到启动子区，并通过VP64激活区域与PolII结合，激活基因的转录，提高内源目标基因的表达。
%p.text-style 与传统转基因相比，CRISPRa系统是通过激活细胞内源基因表达来提高目标基因的表达量，它不需要转入外源DNA，降低了由于转基因造成的基因组不可逆转突变的风险。另外，结合gRNA文库，可同时激活多个基因的转录与表达。此前Gain-Of-Function筛选主要是通过cDNA文库实现，但由于部分cDNA克隆难度较大致使cDNA文库覆盖率不完全；同时cDNA文库并不能涵盖每个基因的所有转录本；基因的表达也会受到细胞内部元件的调控。利用dCas9-VP64-gRNA系统进行的高通量筛选可在同一个启动子上设计多个gRNA来提高基因的转录活性，基因转录本也会更为全面。已有研究表明，利用CRISPR/Cas9系统选择性的上调基因表达，可以用来诱导干细胞的分化或重编程、刺激组织再生、补偿遗传缺陷、激活已经失活的抑癌基因、进行基因功能筛选以及合成基因回路。
%hr
&h2 技术原理
%p.text-style CRISPR/Cas9系统转录激活原理：dCas9与转录活化域VP64融合，表达的融合蛋白在gRNA介导下结合到启动子区，并通过VP64激活区域与PolII结合，激活基因的转录。
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/solution-6.2.jpg" | prepend: site.url.assets }}', width: '461', height: '184'}
%hr
%h2 解决方案
%p.text-style 合生基因提供从生物信息学分析、基因编辑分子实验、细胞实验、动物模型制作的一站式技术服务，经我们优化的dCas9-VP64系统适用于任何基因的靶位点及哺乳动物细胞。合生基因可实现单个或多个基因的转录激活，也可以通过gRNA文库，实现全基因组的转录激活调控，用于基因功能的研究及靶基因的筛选。合生基因拥有一支具有丰富CRISPR基因编辑经验的技术团队，目前可以实现包括gRNA设计、CRISPR/Cas9载体构建、细胞转染、阳性克隆鉴定、单克隆细胞培养、基因转录激活细胞系构建等服务。服务完成后，我们将交付给您指定基因转录激活的单克隆细胞株及详细的鉴定报告。
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/solution-6.3.jpg" | prepend: site.url.assets }}', width: '467', height: '323'}
