---
layout: service
title: 转录抑制
image:
  header: /images/solution-7.1.jpg
  footer: /images/solution-7.4.jpg
---

%h2.am-margin-bottom-xs 概述
%p.am-margin-top-0 CRISPR/Cas9系统是一种由RNA引导Cas9蛋白对靶基因进行修饰的技术。将Cas9中两个核酸酶结构域突变，就会使Cas9蛋白失去对DNA的切割活性，但不影响其与DNA的结合能力，这种失去DNA切割活性的Cas9蛋白被命名为Dead Cas9（dCas9）。利用gRNA介导dCas9能够精确识别靶基因的特点，将在gRNA引导下的dCas9蛋白结合到启动子区或转录因子结合区，则可阻止 PolII或TF与DNA的结合，从而可以抑制内源基因的转录，若将dCas9/gRNA复合物结合在转录区域就可以阻止转录本的延伸，同样可以达到抑制基因表达的目的。若将dCas9与具有转录抑制结构域的KRAB蛋白融合，获得的dCas9-KRAB具有更强的抑制效果，具有转录抑制活性的CRISPR-dCas9系统，简称CRISPRi系统。
%p CRISPRi系统是在DNA水平实现基因的转录抑制，而RNAi技术主要在转录后水平或翻译水平抑制基因的表达，因此CRISPRi可以作为RNAi技术的补充手段抑制基因的表达。同时CRISPRi亦可以抑制lncRNA、miRNA、反义RNA、核内RNA、RNA聚合酶等，较RNAi应用更为广泛。
%hr
%h2.am-margin-xs 技术原理
%p.am-margin-top-0 CRISPR/Cas9系统转录抑制原理：dCas9与转录抑制域KRAB融合，表达的融合蛋白在gRNA介导下结合到启动子区，并通过KRAB抑制PolII与启动子的结合，从而抑制基因的转录。
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/solution-7.2.jpg" | prepend: site.url.assets }}', alt: '技术原理', width: '634', height: '252'}
%hr
%h2.am-margin-xs 解决方案
%p.am-margin-top-0 合生基因提供从生物信息学分析、基因编辑分子实验、细胞实验、动物模型制作的一站式技术服务，经我们优化的KBAB系统适用于任何基因的靶位点及哺乳动物细胞。合生基因开发的dCas9-KRAB系统，可实现单个基因的转录抑制，也可以通过构建gRNA文库，实现某一基因网络的转录抑制调控，用于基因功能的研究及靶基因的筛选。合生基因拥有一支具有丰富CRISPR基因编辑经验的技术团队，目前可以实现包括gRNA设计、CRISPR/Cas9载体构建、细胞转染、阳性克隆鉴定、单克隆细胞培养、基因转录抑制细胞系构建等服务。服务完成后，我们将交付给您指定基因转录抑制的单克隆细胞株及详细的鉴定报告。
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/solution-7.3.jpg" | prepend: site.url.assets }}', alt: '解决方案', width: '355', height: '578'}
