---
layout: service
title: 非定点基因整合
image:
  header: /images/solution-3.1.jpg
  footer: /images/solution-3.4.jpg
---
%div{style: 'display: none'}
  %h2 非定点基因整合的概述
  %h2 非定点基因整合的技术原理
  %h2 非定点基因整合的解决方案
  %h2 非定点基因整合的联系方式
%h2.am-margin-bottom-xs 概述
%p.am-margin-top-0 慢病毒属于逆转录病毒科,名称源自该种病毒长达数年的潜伏期,其中最为人所知的是人类免疫缺陷I型病毒(HIV-1)。HIV-1直径约120nm,含两条正链RNA,可有效的进入细胞核中,对分裂期细胞及非分裂期细胞均具有很高的感染效率。慢病毒感染细胞后，其携带的外源基因能够整合到宿主细胞基因组中，伴随宿主细胞稳定遗传，从而实现基因在细胞中稳定持续表达，因此慢病毒成为外源基因导入的有效工具。
%p 慢病毒（lentivirus）载体是基于HIV-1（人类免疫缺陷I型病毒）发展而来的基因治疗载体。作为逆转录病毒科的一种，慢病毒具有逆转录病毒的基本结构及特性：整合入宿主细胞基因组,长期表达,可用于转基因动物制备；同时慢病毒还表现出常规逆转录病毒不具备的优点：更高的滴度，感染非分裂期细胞的能力等。利用慢病毒载体,可以研究启动子的调控、过表达特定基因或沉默特定基因等。
%hr
%h2.am-margin-xs 技术原理
%p.am-margin-top-0 慢病毒介导的非定点基因整合原理：含有目的基因的慢病毒颗粒感染宿主细胞后，目的基因经过反转录整合到宿主基因组，随着宿主基因组复制和转录。
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/solution-3.2.jpg" | prepend: site.url.assets }}', alt: '技术原理', width: '682', height: '281'}
%hr
%h2.am-margin-xs 解决方案
%p.am-margin-top-0 合生基因为科研用户提供慢病毒介导的非定点基因整合细胞系工程改造服务，包括基因过表达、诱导表达、miRNA/shRNA慢病毒载体包装服务以及慢病毒介导的稳定细胞系构建服务。合生基因具有专业的技术团队和丰富的慢病毒介导的非定点基因整合经验，包括慢病毒载体构建、慢病毒包装、阳性克隆鉴定、单克隆细胞培养、构建慢病毒整合细胞系，服务完成后，我们将交付给您特定基因整合的单克隆细胞株及详细的鉴定报告。
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/solution-3.3.jpg" | prepend: site.url.assets }}', alt: '解决方案', width: '294', height: '479'}
