---
layout: service
img: '{{ "/images/solution-5.4.jpg" | prepend: site.url.assets }}'
---

%h1.am-margin-top-xl 基因沉默
%img.am-img-responsive{src: '{{ "/images/solution-5.1.jpg" | prepend: site.url.assets }}'}
%h2 概述
%p.text-style RNA干扰(RNA Interference, RNAi)现象是一种进化上保守的抵御转基因或外来病毒侵犯的防御机制。将含有靶基因mRNA同源互补序列的RNA（Double strand RNA， dsRNA）导入细胞后，能够特异地识别该mRNA，引起mRNA的降解，从而导致相应的功能缺失。RNAi提供了一种经济、快捷、高效的抑制特异基因表达的技术手段,该技术已被广泛用于研究基因功能和传染性疾病及恶性肿瘤基因治疗领域。目前常用的RNA干扰手段为miRNA、shRNA和siRNA等。
%p.text-style ShRNA作为RNA干扰方法之一，是利用人源或鼠源的U6和H1等RNA聚合酶III（pol III）启动子，对编码短干扰RNA（siRNA, 含有19-21个核苷酸的双链RNA）的DNA序列完成转录来实现RNA干扰的。细胞内完成转录的shRNA被加工后，参与RNA诱导的沉默复合物的形成。与化学合成的siRNA相比，shRNA表达载体可以在较长时间内抑制细胞内靶基因的表达，持续数星期甚至更久。病毒载体也可用于siRNA表达，其优势在于可以直接高效率感染细胞进行基因沉默的研究，避免由于质粒转染效率低而带来的种种不便，而且转染效果更加稳定。
%p.text-style MiRNA是一类可以通过RNAi机制调节基因表达的内源性小RNA，人工miRNA与shRNA的设计原理基本相同，由于miRNA具有内源性，因此其更易产生有效的基因沉默。
%p.text-style 目前RNAi技术已广泛应用于功能基因组学、基因治疗、药物靶筛选、细胞信号传导通路分析、蛋白质相互作用等领域。
%hr
%h2 技术原理
%p.text-style dsRNA或pre-miRNA被导入细胞后，能够被一种特异的核酸内切酶（Dicer）识别并切割成为小片段，这些片段在RNA解旋酶的作用下解链。继之反义链在与体内一些酶（包括内切酶、外切酶、解旋酶等）结合形成RNA诱导的沉默复合物（RNA-Induced Silencing Complex，RISC），RISC与mRNA同源区进行特异性结合，若miRNA与mRNA的结合位点完全配对，则切割mRNA；若miRNA与mRNA的结合位点不完全配对，则抑制mRNA的翻译。
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/solution-5.2.png" | prepend: site.url.assets }}', width: '725', height: '432'}
%h2 解决方案
%p.text-style 合生基因致力于提供最先进和最方便的RNAi相关工具，推出一系列用于目标基因沉默的shRNA/miRNA表达载体和抑制shRNA/miRNA的Sponge载体，同时提供RNA干扰慢病毒包装、基因沉默细胞系构建等服务。合生基因具有专业的技术团队和丰富的RNA干扰经验，我们提供包括shRNA/miRNA设计、慢病毒包装、阳性克隆鉴定、单克隆细胞培养、构建基因沉默细胞系在内的一站式解决方案，服务完成后，我们将交付给您指定基因沉默的单克隆细胞株及详细的鉴定报告。
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/solution-5.3.jpg" | prepend: site.url.assets }}', width: '586', height: '408'}
