---
layout: default
---
.am-container
  .article
    %h1 基因敲入
    %img.am-img-responsive{src: '/images/solution-4.1.jpg'}
    %h2 概述
    %p 基因敲入（Gene Knockin）是指利用随机整合、转座子系统、同源重组等方式将外源功能基因插入到基因组中，使其在细胞内进行表达的基因编辑技术。研究基因功能的手段主要有两种：一种是基因功能缺失；另一种是实现基因的过表达。基因敲入是实现基因稳定过表达的一种有效工具。较早的基因敲入方式主要是通过随机整合或转座子系统整合到宿主基因组中，这种敲入方式随机性较强，很容易引起其它基因功能的丧失，同时插入的拷贝数和位置不固定，因此同一来源的细胞系中不同的细胞间表达差异比较明显，不利于控制基因的表达水平。利用CRISPR/Cas9技术可以实现外源基因的定点敲入，使遗传背景更为简单，实验操作更加精准、高效。
    %p 基因的定点敲入为未来靶向基因治疗提供了可能，通过CRISPR/Cas9系统将功能缺失的DNA片段修复为有功能的DNA片段，即可实现基因治疗的目的。
    %hr
    %h2 技术原理
    %p 基因敲入原理：gRNA识别并结合在目标基因区域引导Cas9蛋白对结合位点进行切割，引起DNA双链断裂（DSB），此时若导入外源供体DNA，即可通过同源重组（HR）的方式将供体中的基因定点敲入到基因组中，实现外源基因的表达。
    %div{align: 'center'}
      %img.am-img-responsive{src: '/images/solution-4.2.jpg', width: '513', height: '387'}
    %hr
    %h2 解决方案
    %p 合生基因提供从生物信息学分析、基因编辑分子实验、细胞实验、动物模型制作的一站式技术服务，经我们优化的CRISPR/Cas9系统适用于任何基因的靶位点及哺乳动物细胞。合生基因拥有一支具有丰富CRISPR基因编辑经验的技术团队，目前可以实现包括gRNA设计、CRISPR/Cas9载体构建、Donnor载体构建、细胞转染、阳性克隆鉴定、单克隆细胞培养、基因定点敲入细胞系构建等服务。服务完成后，我们将交付给您指定基因敲入的单克隆细胞株及详细的鉴定报告。
    %img.am-img-responsive{src: '/images/solution-4.3.jpg'}
    %p.am-text-center
      %strong
        欢迎致电4006803200，或发送邮件
        %a{href: 'mailto:service@syngentech.com.cn'} service@syngentech.com.cn
        至咨询，合生基因技术工程师将为您竭心服务。
    %img.am-img-responsive{src: '/images/solution-4.4.jpg'}
    %br
