---
layout: service
img: '/images/solution-1.5.jpg'
---

%h1.am-margin-top-xl 基因敲除
%img.am-img-responsive{src: '/images/solution-1.1.jpg'}
%h2 概述
.am-cf
  %p.text-style.am-align-left
    %img.am-img-responsive{src: '/images/solution-1.2.jpg', width: '320'}
  %p.text-style{style: 'margin-top: 0'} 基因敲除是自80年代末发展起来的一种分子生物学技术，是通过一定的途径使机体内特定的基因发生突变或缺失的技术，通过观察基因缺失引起的表型变化，进而推测该基因的生物学功能。早期的基因敲除主要是利用DNA同源重组原理，通过设计同源片段替代靶基因片段，从而达到基因敲除的目的。目前应用比较成功的基因敲除技术主要有：Zinc-finger、TALEN、CRISPR/Cas9。
  %p.text-style CRISPR(Clustered Regularly Interspaced Short Palindromic Repeats)/Cas(CRISPR-Associated)是一种由RNA指导Cas核酸酶对靶向基因进行特定DNA修饰的技术。它是细菌和古细菌为应对噬菌体和质粒不断攻击而演化来的获得性免疫防御机制。此系统的工作原理是通过人工优化的具有引导作用的单链gRNA(Guide RNA)引导核酸酶Cas蛋白在与gRNA配对的靶位点处剪切双链DNA，引起DNA双链断裂（DSB），进而利用生物体内非同源末端修复机制（NHEJ）或同源重组机制（HR）修复DNA，导致基因移码突变、替换或删除，致使基因功能丧失。
  %p.text-style 目前CRISPR/Cas9技术已经广泛应用于哺乳动物、植物、鸟类、昆虫、鱼类、微生物等各个领域。
  %hr
  %h2 技术原理
  %p.text-style 基因敲除原理：gRNA识别并结合在目标基因区域引导Cas9蛋白对结合位点进行切割，引起DNA双链断裂（DSB），触发细胞自身的非同源末端修复机制（NHEJ），NHEJ修复的过程中往往会产生DNA的插入或删除（Indel），造成移码突变，致使基因功能丧失，从而实现基因敲除。
  %div{align: 'center'}
    %img.am-img-responsive{src: '/images/solution-1.3.jpg', width: '437', height: '309'}
  %h2 解决方案
  %p.text-style 合生基因提供从生物信息学分析、基因编辑分子实验、细胞实验、动物模型制作的一站式技术服务，经我们优化的CRISPR/Cas9系统适用于任何基因的靶位点及哺乳动物细胞。合生基因拥有一支具有丰富CRISPR基因编辑经验的技术团队，目前可以实现包括gRNA设计、CRISPR/Cas9载体构建、细胞转染、阳性克隆鉴定、单克隆细胞培养、基因敲除细胞系构建等服务。服务完成后，我们将交付给您指定基因功能缺失的单克隆细胞株及详细的鉴定报告。
  %div{align: 'center'}
    %img.am-img-responsive{src: '/images/solution-1.4.jpg', width: '294', height: '479'}
