---
layout: default
title: 企业简介
---
.am-container{style: 'max-width: 960px'}
  %h1.am-margin-top 企业简介
  %img.am-img-responsive{src: '{{ "/images/about-1.1.jpg" | prepend: site.domain.assets }}', alt: '企业简介图片'}
  %p.text-indent 2014年8月，国内第一家专注于合成生物学在科研和医药健康领域应用的生物技术公司——北京合生基因科技有限公司（Beijing Syngentech Co., LTD.）于北京中关村生命科学园成立。同年获“中关村高新技术企业”认定，受到北京市海外学人中心“留学生人员创业企业”认定与资助，北京市人社局“留学人员科技活动项目择优资助”。
  %p.text-indent
    合生基因<sup>&reg;</sup> 致力于为全球生命科学研究者提供世界一流的个性化合成生物学技术服务与科研产品。合生基因<sup>&reg;</sup> 布局合成生物学全产业链，推出包括生物试剂 （BioGeek<sup>TM</sup>）、基因元件共享（GE Share<sup>TM</sup>）、高端科研服务（SyngenTech<sup>&reg</sup>）、临床医学（SyngenCare<sup>TM</sup>）等不同层次的产品与服务，为推动合成生物学发展贡献一份力量。
  %p.text-indent
    目前，合生基因<sup>&reg;</sup> 建设有技术部、市场部、行政部、信息部等。组建了一支由来自清华大学、中科院、浙江大学、英国埃塞克斯大学、中国农业大学、北京协和医学院、南开大学、吉林大学等国内外知名院校优秀人才组成的强大运营服务团队，其中硕士以上人员包括博士生8人（含博士后3人）、硕士生11人。

  %h2
    生物极客 (BioGeek<sup>TM</sup>) 生物试剂
    %a.am-text-sm{href: 'http://biogeek.syngen.tech'} (biogeek.syngen.tech)
  %p.text-indent BioGeek<sup>TM</sup> 是合生基因<sup>&reg;</sup> 定位于全球生物试剂市场所推出的面向分子生物学、细胞生物学、蛋白组学以及高通量测序等领域的高端科研用试剂品牌。目前，合生基因<sup>&reg;</sup> 已经成功开发了包括适用于高通量移液机械臂的核酸纯化、质粒提取、片段筛选（磁珠）试剂盒；高纯度、高抗异性 GeneTaq<sup>TM</sup> 扩增酶；Quick ligase<sup>TM</sup> DNA快速连接试剂盒等众多明星产品。合生基因<sup>&reg;</sup> 力求打造一支“中国制造·国际品质”的科研用生物试剂国际品牌，为全球生命科学研究者提供高端生物试剂产品支持。

  %h2
    基因山 (GE Share<sup>TM</sup>) 基因元件共享平台
    %a.am-text-sm{href: 'http://www.geshare.com.cn', target: '_blank'} (www.geshare.com.cn)
  %p.text-indent 2015年，为推动合成生物学事业发展，合生基因<sup>&reg;</sup> 将生物技术与互联网+有机结合,建设了国内首个基因元件共享平台—基因山<sup>TM</sup>。基因山<sup>TM</sup> 致力于为全球生命科学研究者提供最专业最全面的基因元件分享与获得服务,更令生命科学研究一站式在线服务成为可能。目前，基因山<sup>TM</sup> 已经获得众多国内外科学家认可与响应，加入与分享他们的成果。我们期待与越来越多的科学家进行合作，与他们一道为推动生命科学的进步与发展，贡献自己的一份力量。

  %h2
    合生基因 (SyngenTech<sup>&reg;</sup>) 科研服务
    %a.am-text-sm{href: 'http://service.syngen.tech'} (service.syngen.tech)
  %p.text-indent 合生基因<sup>&reg;</sup> 正面向全球生命科学研究者提供合成生物学科研服务，主要包括哺乳动物细胞基因编辑与调控服务。现已成功为包括清华大学、北京大学、中科院、复旦大学、香港中文大学等科研院所提供包括高通量基因功能筛查与药物抗性筛选服务、CRISPR-Cas9 载体设计与构建服务、shRNA/miRNA 载体设计与构建服务、细胞系工程改造订制服务、gRNA 活性检测试、慢病毒包装、gRNA 文库构建、基因合成服务、基因工程鼠构建在内的科研服务项目。

  %h2
    合生健康 (SyngenCare<sup>&reg;</sup>) 临床医学
  %p.text-indent 与此同时，合生基因<sup>&reg;</sup> 专注于面向生物医药方向的合成生物学新技术开发，用于个性化基因检测、药物靶标筛选，以及肿瘤与癌症的生物治疗。合生基因<sup>&reg;</sup> 愿意与全球科研工作者一道，精诚合作、用心服务，探索新型生物技术服务模式和生物医药研发模式，为实现合成生物学技术产业化而努力。

  %img.am-margin-bottom-lg.am-margin-top.am-img-responsive{src: '{{ "/images/about-1.2.jpg" | prepend: site.domain.assets }}', alt: '图片'}
