---
layout: default
---
.am-container
  .article
    %h1
      Author Archives:
      %strong Luyang Li
    %a{href: '/blog-child11.html'}
      %img.am-img-responsive{src: 'images/blog11.jpg'}
    %a{href: '/blog-child11.html'}
      %h1 第八届世界癌症大会——合生基因精彩亮相
    %small
      Posted on
      %a{href: '/blog-child11.html'} 2015年5月20日
      by
      %a{href: '/author-luyangli.html', rel: 'author'} Luyang Li
    %p 2015年5月17日，第八届世界癌症大会（WCC 2015）在北京国际会议中心圆满落下帷幕。本届展会吸引了有来 […]
  %hr
  .article
    %br
    %a{href: '/blog-child12.html'}
      %img.am-img-responsive{src: 'images/index1.jpg'}
    %a{href: '/blog-child12.html'}
      %h1 合生基因-合成生物学专家/未来生物技术服务提供者
    %small
      Posted on
      %a{href: '/blog-child12.html'} 2015年5月6日
      by
      %a{href: '/author-luyangli.html', rel: 'author'} Luyang Li
    %p 2014年8月，国内第一家专注于合成生物学在科研和医药健康领域应用的生物技术公司——北京合生基因科技有限公司（ […]
    %hr
    %br
    %ul.am-pagination.am-pagination-right
      %li
        %a{href: '/author-luyangli.html'} &laquo;
      %li
        %a{href: '/author-luyangli.html'} 1
      %li.am-active
        %a{href: '/author-luyangli2.html'} 2
      %li.am-disabled
        %a{href: '#'} &raquo;
