---
layout: default
---
.am-container
  .article
    %h1
      Author Archives:
      %strong Luyang Li
    %a{href: '/blog-child1.html'}
      %img.am-img-responsive{src: 'images/blog1.jpg'}
    %a{href: '/blog-child1.html'}
      %h1 合生基因参展中关村生命科学园15周年庆
    %small
      Posted on
      %a{href: '/blog-child1.html'} 2015年10月19日
      by
      %a{href: '/author-luyangli.html', rel: 'author'} Luyang Li
    %p 9月18日，2015年中关村生命科学园发展论坛在京成功召开。本次会议以“创新赢未来”为主题，会议主要内容为介绍 […]
  %hr
  .article
    %br
    %a{href: '/blog-child2.html'}
      %img.am-img-responsive{src: 'images/blog2.jpg'}
    %a{href: '/blog-child2.html'}
      %h1 Nature：肿瘤抑制蛋白竟驱动恶性癌症
    %small
      Posted on
      %a{href: '/blog-child2.html'} 2015年9月16日
      by
      %a{href: '/author-luyangli.html', rel: 'author'} Luyang Li
    %p 近日，来自宾夕法尼亚大学等处的科学家们研究发现，恶性肿瘤的生长及DNA序列未发生改变的基因活性的变化和突变的p […]
  %hr
  .article
    %br
    %a{href: '/blog-child3.html'}
      %img.am-img-responsive{src: 'images/blog3.jpg'}
    %a{href: '/blog-child3.html'}
      %h1 新型Cas9晶体结构得到解析
    %small
      Posted on
      %a{href: '/blog-child3.html'} 2015年9月4日
      by
      %a{href: '/author-luyangli.html', rel: 'author'} Luyang Li
    %p 8月27日，美国麻省理工学院（MIT）张锋博士课题组在《Cell》杂志上发表了一篇名为《Crystal Str […]
  %hr
  .article
    %br
    %a{href: '/blog-child4.html'}
      %img.am-img-responsive{src: 'images/blog4.jpg'}
    %a{href: '/blog-child4.html'}
      %h1 CRISPR-Cas9：通往美丽新世界的钥匙还是潘朵拉魔盒？
    %small
      Posted on
      %a{href: '/blog-child4.html'} 2015年8月20日
      by
      %a{href: '/author-luyangli.html', rel: 'author'} Luyang Li
    %p 2015年7月22日，美国著名科技类杂志《连线》刊载了一篇由Amy Maxmen撰写的题为《Easy DNA […]
  %hr
  .article
    %br
    %a{href: '/blog-child5.html'}
      %img.am-img-responsive{src: 'images/blog5.jpg'}
    %a{href: '/blog-child5.html'}
      %h1 像开关灯一样控制基因编辑？光活化的CRISPR-Cas9系统
    %small
      Posted on
      %a{href: '/blog-child5.html'} 2015年8月5日
      by
      %a{href: '/author-luyangli.html', rel: 'author'} Luyang Li
    %p 自2012年CRISPR-Cas9技术在学术界崭露头角，便凭借基因改造能力和基因治疗潜力，扮演着基因编辑领域受 […]
  %hr
  .article
    %br
    %a{href: '/blog-child6.html'}
      %img.am-img-responsive{src: 'images/blog6.jpg'}
    %a{href: '/blog-child6.html'}
      %h1 2015第二届基因编辑研讨会在上海拉开帷幕
    %small
      Posted on
      %a{href: '/blog-child6.html'} 2015年7月1日
      by
      %a{href: '/author-luyangli.html', rel: 'author'} Luyang Li
    %p 由上海生物谷主办，合生基因赞助，梅斯医学和相关媒体支持的《2015(第二届)基因编辑研讨会》于2015年6月2 […]
  %hr
  .article
    %br
    %a{href: '/blog-child7.html'}
      %img.am-img-responsive{src: 'images/blog7.jpg'}
    %a{href: '/blog-child7.html'}
      %h1 生物信息学与智能信息处理2015学术年会
    %small
      Posted on
      %a{href: '/blog-child7.html'} 2015年7月1日
      by
      %a{href: '/author-luyangli.html', rel: 'author'} Luyang Li
    %p 由中国人工智能学会主办，中国人工智能学会生物信息学与人工生命专业委员会和厦门大学承办的生物信息学 […]
  %hr
  .article
    %br
    %a{href: '/blog-child8.html'}
      %img.am-img-responsive{src: 'images/blog8.jpg'}
    %a{href: '/blog-child8.html'}
      %h1 第二届全国计算生物学与生物信息学学术会议在京召开
    %small
      Posted on
      %a{href: '/blog-child8.html'} 2015年6月9日
      by
      %a{href: '/author-luyangli.html', rel: 'author'} Luyang Li
    %p 2015年4月15-17日第二届全国计算生物学与生物信息学学术会议在北京西郊宾馆成功召开。 高通量测序技术的快 […]
  %hr
  .article
    %br
    %a{href: '/blog-child9.html'}
      %img.am-img-responsive{src: 'images/blog9.jpg'}
    %a{href: '/blog-child9.html'}
      %h1 第三届数学、计算机与生命科学交叉研究青年学者论坛在京举行
    %small
      Posted on
      %a{href: '/blog-child9.html'} 2015年6月2日
      by
      %a{href: '/author-luyangli.html', rel: 'author'} Luyang Li
    %p 2015年5月16-17日第三届数学、计算机与生命科学交叉研究青年学者论坛在北京中国科学院数学与系统科学研究院 […]
  %hr
  .article
    %br
    %a{href: '/blog-child10.html'}
      %img.am-img-responsive{src: 'images/blog10.jpg'}
    %a{href: '/blog-child10.html'}
      %h1 首届合成生物学青年学者论坛在京拉开帷幕
    %small
      Posted on
      %a{href: '/blog-child10.html'} 2015年6月2日
      by
      %a{href: '/author-luyangli.html', rel: 'author'} Luyang Li
  %p 2015年5月23日首届合成生物学青年学者论坛（Synthetic Biology Young Scholar […]
  %hr
  %br
  %ul.am-pagination.am-pagination-right
    %li.am-disabled
      %a{href: '#'} &laquo;
    %li.am-active
      %a{href: '/author-luyangli.html'} 1
    %li
      %a{href: '/author-luyangli2.html'} 2
    %li
      %a{href: '/author-luyangli2.html'} &raquo;
