---
layout: default
title: 新药研发
---

.am-container{style: "max-width: 960px"}
  %img.am-img-responsive{src: '{{ "/images/BRaD-1.png" | prepend: site.domain.assets }}'}
  %h1 新药研发
  %p 合生基因基于自主研发的专利技术搭建了智能靶向肿瘤基因治疗药物平台(SynOV)。目前已经针对肝癌等不同的癌种研发出了多款基因治疗药物。
  %img.am-img-responsive{src: '{{ "/images/BRaD-2.png" | prepend: site.domain.assets }}'}
  %p 免疫细胞治疗平台（SynCT）通过合成生物学手段改造了多款免疫细胞产品旨在利用细胞治疗技术攻克实体瘤治疗。
