---
layout: default
---
.am-container
  .article
    %h1 Category Archives: 公司资讯
    %a{href: '/blog-child1.html'}
      %img.am-img-responsive{src: 'images/blog1.jpg'}
    %a{href: '/blog-child1.html'}
      %h1 合生基因参展中关村生命科学园15周年庆
    %small
      Posted on
      %a{href: '/blog-child1.html'} 2015年10月19日
      by
      %a{href: '/author-luyangli.html', rel: 'author'} Luyang Li
    %p 9月18日，2015年中关村生命科学园发展论坛在京成功召开。本次会议以“创新赢未来”为主题，会议主要内容为介绍 […]
  %hr
  .article
    %br
    %a{href: '/blog-child5.html'}
      %img.am-img-responsive{src: 'images/blog5.jpg'}
    %a{href: '/blog-child5.html'}
      %h1 像开关灯一样控制基因编辑？光活化的CRISPR-Cas9系统
    %small
      Posted on
      %a{href: '/blog-child5.html'} 2015年8月5日
      by
      %a{href: '/author-luyangli.html', rel: 'author'} Luyang Li
    %p 自2012年CRISPR-Cas9技术在学术界崭露头角，便凭借基因改造能力和基因治疗潜力，扮演着基因编辑领域受 […]
  %hr
  .article
    %br
    %a{href: '/blog-child7.html'}
      %img.am-img-responsive{src: 'images/blog7.jpg'}
    %a{href: '/blog-child7.html'}
      %h1 生物信息学与智能信息处理2015学术年会
    %small
      Posted on
      %a{href: '/blog-child7.html'} 2015年7月1日
      by
      %a{href: '/author-luyangli.html', rel: 'author'} Luyang Li
    %p 由中国人工智能学会主办，中国人工智能学会生物信息学与人工生命专业委员会和厦门大学承办的生物信息学 […]
  %hr
  .article
    %br
    %a{href: '/blog-child9.html'}
      %img.am-img-responsive{src: 'images/blog9.jpg'}
    %a{href: '/blog-child9.html'}
      %h1 第三届数学、计算机与生命科学交叉研究青年学者论坛在京举行
    %small
      Posted on
      %a{href: '/blog-child9.html'} 2015年6月2日
      by
      %a{href: '/author-luyangli.html', rel: 'author'} Luyang Li
    %p 2015年5月16-17日第三届数学、计算机与生命科学交叉研究青年学者论坛在北京中国科学院数学与系统科学研究院 […]
  %hr
  .article
    %br
    %a{href: '/blog-child10.html'}
      %img.am-img-responsive{src: 'images/blog10.jpg'}
    %a{href: '/blog-child10.html'}
      %h1 首届合成生物学青年学者论坛在京拉开帷幕
    %small
      Posted on
      %a{href: '/blog-child10.html'} 2015年6月2日
      by
      %a{href: '/author-luyangli.html', rel: 'author'} Luyang Li
  %p 2015年5月23日首届合成生物学青年学者论坛（Synthetic Biology Young Scholar […]
  %hr
  .am-container
    .article
      %br
      %a{href: '/blog-child11.html'}
        %img.am-img-responsive{src: 'images/blog11.jpg'}
      %a{href: '/blog-child11.html'}
        %h1 第八届世界癌症大会——合生基因精彩亮相
      %small
        Posted on
        %a{href: '/blog-child11.html'} 2015年5月20日
        by
        %a{href: '/author-luyangli.html', rel: 'author'} Luyang Li
      %p 2015年5月17日，第八届世界癌症大会（WCC 2015）在北京国际会议中心圆满落下帷幕。本届展会吸引了有来 […]
    %hr
    .article
      %br
      %a{href: '/blog-child12.html'}
        %img.am-img-responsive{src: 'images/blog12.jpg'}
      %a{href: '/blog-child12.html'}
        %h1 合生基因-合成生物学专家/未来生物技术服务提供者
      %small
        Posted on
        %a{href: '/blog-child12.html'} 2015年5月6日
        by
        %a{href: '/author-luyangli.html', rel: 'author'} Luyang Li
      %p 2014年8月，国内第一家专注于合成生物学在科研和医药健康领域应用的生物技术公司——北京合生基因科技有限公司（ […]
      %br
