---
layout: default
---
.am-container
  .article
    %h1 Category Archives: 行业动态
    %a{href: '/blog-child1.html'}
      %img.am-img-responsive{src: 'images/blog1.jpg'}
    %a{href: '/blog-child1.html'}
      %h1 合生基因参展中关村生命科学园15周年庆
    %small
      Posted on
      %a{href: '/blog-child1.html'} 2015年10月19日
      by
      %a{href: '/author-luyangli.html', rel: 'author'} Luyang Li
    %p 9月18日，2015年中关村生命科学园发展论坛在京成功召开。本次会议以“创新赢未来”为主题，会议主要内容为介绍 […]
  %hr
  .article
    %br
    %a{href: '/blog-child4.html'}
      %img.am-img-responsive{src: 'images/blog4.jpg'}
    %a{href: '/blog-child4.html'}
      %h1 CRISPR-Cas9：通往美丽新世界的钥匙还是潘朵拉魔盒？
    %small
      Posted on
      %a{href: '/blog-child4.html'} 2015年8月20日
      by
      %a{href: '/author-luyangli.html', rel: 'author'} Luyang Li
    %p 2015年7月22日，美国著名科技类杂志《连线》刊载了一篇由Amy Maxmen撰写的题为《Easy DNA […]
  %hr
  .article
    %br
    %a{href: '/blog-child7.html'}
      %img.am-img-responsive{src: 'images/blog7.jpg'}
    %a{href: '/blog-child7.html'}
      %h1 生物信息学与智能信息处理2015学术年会
    %small
      Posted on
      %a{href: '/blog-child7.html'} 2015年7月1日
      by
      %a{href: '/author-luyangli.html', rel: 'author'} Luyang Li
    %p 由中国人工智能学会主办，中国人工智能学会生物信息学与人工生命专业委员会和厦门大学承办的生物信息学 […]
  %hr
  .article
    %br
    %a{href: '/blog-child9.html'}
      %img.am-img-responsive{src: 'images/blog9.jpg'}
    %a{href: '/blog-child9.html'}
      %h1 第三届数学、计算机与生命科学交叉研究青年学者论坛在京举行
    %small
      Posted on
      %a{href: '/blog-child9.html'} 2015年6月2日
      by
      %a{href: '/author-luyangli.html', rel: 'author'} Luyang Li
    %p 2015年5月16-17日第三届数学、计算机与生命科学交叉研究青年学者论坛在北京中国科学院数学与系统科学研究院 […]
  %hr
  .article
    %br
    %a{href: '/blog-child10.html'}
      %img.am-img-responsive{src: 'images/blog10.jpg'}
    %a{href: '/blog-child10.html'}
      %h1 首届合成生物学青年学者论坛在京拉开帷幕
    %small
      Posted on
      %a{href: '/blog-child10.html'} 2015年6月2日
      by
      %a{href: '/author-luyangli.html', rel: 'author'} Luyang Li
  %p 2015年5月23日首届合成生物学青年学者论坛（Synthetic Biology Young Scholar […]
  %hr
