---
layout: default
---
.am-container
  .article
    %h1 Category Archives: 未分类
    %a{href: '/blog-child2.html'}
      %img.am-img-responsive{src: 'images/blog2.jpg'}
    %a{href: '/blog-child2.html'}
      %h1 Nature：肿瘤抑制蛋白竟驱动恶性癌症
    %small
      Posted on
      %a{href: '/blog-child2.html'} 2015年9月16日
      by
      %a{href: '/author-luyangli.html', rel: 'author'} Luyang Li
    %p 近日，来自宾夕法尼亚大学等处的科学家们研究发现，恶性肿瘤的生长及DNA序列未发生改变的基因活性的变化和突变的p […]
  %hr
  .article
    %br
    %a{href: '/blog-child3.html'}
      %img.am-img-responsive{src: 'images/blog3.jpg'}
    %a{href: '/blog-child3.html'}
      %h1 新型Cas9晶体结构得到解析
    %small
      Posted on
      %a{href: '/blog-child3.html'} 2015年9月4日
      by
      %a{href: '/author-luyangli.html', rel: 'author'} Luyang Li
    %p 8月27日，美国麻省理工学院（MIT）张锋博士课题组在《Cell》杂志上发表了一篇名为《Crystal Str […]
  %hr
  .article
    %br
    %a{href: '/blog-child6.html'}
      %img.am-img-responsive{src: 'images/blog6.jpg'}
    %a{href: '/blog-child6.html'}
      %h1 2015第二届基因编辑研讨会在上海拉开帷幕
    %small
      Posted on
      %a{href: '/blog-child6.html'} 2015年7月1日
      by
      %a{href: '/author-luyangli.html', rel: 'author'} Luyang Li
    %p 由上海生物谷主办，合生基因赞助，梅斯医学和相关媒体支持的《2015(第二届)基因编辑研讨会》于2015年6月2 […]
  %hr
  .article
    %br
    %a{href: '/blog-child8.html'}
      %img.am-img-responsive{src: 'images/blog8.jpg'}
    %a{href: '/blog-child8.html'}
      %h1 第二届全国计算生物学与生物信息学学术会议在京召开
    %small
      Posted on
      %a{href: '/blog-child8.html'} 2015年6月9日
      by
      %a{href: '/author-luyangli.html', rel: 'author'} Luyang Li
    %p 2015年4月15-17日第二届全国计算生物学与生物信息学学术会议在北京西郊宾馆成功召开。 高通量测序技术的快 […]
  %hr
