---
layout: default
title: contact
---
.am-container
  %h1.am-margin-top-xl 联系我们
  %img.am-img-responsive{src: '{{ "/images/about-4.1.jpg" | prepend: site.url.assets }}'}
  %p.text-style 无论您在实验中遇到什么问题，您都可以通过多种方式与合生基因取得联络并寻求帮助。我们的技术人员会热忱、高效、专业、迅捷地与您分享他们丰富的技术经验，同时合生基因将在第一时间根据您的问题提供有针对性的、切实可行的解决方案。您的任何问题，都将在48小时内得到明确的反馈。
  %p 此外，合生基因为您提供的中、英文目录将成为您身边最可靠的技术手册。欢迎来电、来函索取。
  %p 公司网站：www.syngentech.com.cn
  %p 联系我们：北京市昌平区中关村生命科学园创新大厦
  %p 邮编：102206
  %p 销售热线：400-680-3200
  %p 联系热线：+86-010-80767807
  %p 技术部联系邮箱：tech@syngentech.com.cn
  %p 市场部联系邮箱：sales@syngentech.com.cn
  %p 行政部联系邮箱：office@syngentech.com.cn
  %p 信息部联系邮箱：info@syngentech.com.cn
  %p 人力资源部联系邮箱：hr@syngentech.com.cn
  %img.am-img-responsive.am-margin-bottom-lg{src: '{{ "/images/about-4.2.jpg" | prepend: site.url.assets }}'}
