---
layout: default
title: 联系我们
---
.am-container
  %h1.am-margin-top 联系我们
  %img{src: '{{ "/images/about-4.1.jpg" | prepend: site.url.assets }}', width: '100%', height: '360'}
  %p.text-indent 无论您在实验中遇到什么问题，您都可以通过多种方式与合生基因取得联络并寻求帮助。我们的技术人员会热忱、高效、专业、迅捷地与您分享他们丰富的技术经验，同时合生基因将在第一时间根据您的问题提供有针对性的、切实可行的解决方案。您的任何问题，都将在48小时内得到明确的反馈。
  %p.text-indent 此外，合生基因为您提供的中、英文目录将成为您身边最可靠的技术手册。欢迎来电、来函索取。

  %h2 联系方式
  %ul
    %li
      门户网站：
      %a{href: 'http://syngen.tech'} http://syngen.tech
    %li 联系地址：北京市昌平区中关村生命科学园创新大厦
    %li 邮政编码：102206
    %li
      联系电话
      %ul
        %li 销售热线：400-680-3200
        %li 联系热线：+86-010-80767807

    %li
      电子邮箱
      %ul
        %li 技术部：tech@syngentech.com.cn
        %li 市场部：sales@syngentech.com.cn
        %li 行政部：office@syngentech.com.cn
        %li 信息部：info@syngentech.com.cn
        %li 人力资源部：hr@syngentech.com.cn
  %img.am-margin-bottom-lg{src: '{{ "/images/about-4.2.jpg" | prepend: site.url.assets }}', width: '100%', height: '250'}
