---
layout: default
title: 工业合作/代理加盟
---
.am-container
  %h1.am-margin-top-xl 工业合作/代理加盟
  %img.am-img-responsive{src: '{{ "/images/about-3.1.jpg" | prepend: site.url.assets }}'}
  %h2 工业合作——
  %strong “中国制造 · 国际品质”BioGeek™品牌生物试剂助力生命科学！
  %ul
    %li 科研服务
  %p
    合生基因
    %sup &reg;
    现已建设完成集互联网平台、生产、研发、临床等全产业合成生物学生产与服务体系。专业的科研团队和服务团队可根据您的需求，定制完备的科研解决方案。
  %ul
    %li 试剂定制
  %p
    合生基因
    %sup &reg;
    可根据您的需求，定制开发新生物试剂或对现有产品进行优化以满足您的生产需求。
  %h2 代理加盟——
  %strong 我们一起携手，以中国制造打动世界！
  %p
    合生基因
    %sup &reg;
    本着工匠精神打造BioGeek
    %sup TM
    品牌生物试剂，追求极致品质。我们相信“质量是产品的生命、品质是成功的前提”。
  %p
    合生基因
    %sup &reg;
    现面向全球诚招合作伙伴，我们一起携手，助力全球生命科学研究，以中国制造打动世界！
  %p
    您可致电：400-680-3200转811，或将您的要求发送至邮箱：
    %a{href: 'mailto:sales@syngentech.com.cn'} sales@syngentech.com.cn
  %img.am-img-responsive.am-margin-bottom-lg{src: '{{ "/images/about-3.2.jpg" | prepend: site.url.assets }}'}
