---
layout: default
title: 招贤纳士
---
.am-container
  %h1.am-margin-top 招贤纳士
  %img{src: '{{ "/images/about-2.1.jpg" | prepend: site.url.assets }}', width: '100%', height: '360'}
  %p.text-indent 企业的发展，离不开每一个员工的力量，员工的力量是企业的基石。合生基因提出了“人人都是专家，人人都是服务员”的企业内部文化，以提高员工水平，满足员工需求，奉献个人力量为目标，坚持以人为本，追求员工与企业，客户与企业的双赢发展。我们重视人才，我们培养人才，欢迎来到合生基因，一个开放、包容、进步、勤奋的团队，合生基因期待与您共创美好未来。
  %p
    合生基因期待着您的到来！请将您的简历发送至
    %a{href: 'mailto:hr@syngentech.com.cn'} hr@syngentech.com.cn
    ，并注明应聘职位。
  %hr
  %p 技术研发专员
  %p 人数：5名
  %p 工作地点: 北京
  %p 岗位职责：
  %p 负责技术研发，主要包括分子生物学、细胞生物学常规实验。
  %p 任职资格：
  %ol
    %ol
      %li 硕士学历及以上学历，生物科学，生物技术，生物工程等生命科学相关专业，本科及以上学历，具有分子生物学、细胞生物学相关技术岗位2年以上工作经验优先；
      %li 有较好的分子生物学、细胞生物学基础和实验经验，熟练掌握以下实验操作者优先：PCR扩增、核酸提取、载体构建、引物设计、细胞培养、细胞转染、病毒包装制备、基因组编辑等；
      %li 性格开朗，工作积极主动，踏实认真，能够承受一定工作压力, 善于团队协作；
      %li 具有较强的实验动手能力、较强的学习能力和接收新事物的能力；
      %li 熟练掌握电脑操作和office常用软件者优先；
      %li 具有良好的英文阅读能力，能够熟练查阅文献。英语六级通过者优先。
  %hr
  %p 模式动物技术研发专员
  %p 人数：5名工作地点：北京岗位职责：负责技术研发，主要包括动物实验基本知识和技能、分子生物学、细胞生物学常规实验。任职资格：
  %ol
    %ol
      %li 硕士学历及以上学历，生物科学，生物技术，生物工程等生命科学相关专业；
      %li 具备动物实验基本知识和技能（如小鼠的饲养管理、解剖和器官样品的获取、皮下/静脉注射等），有小鼠肿瘤实验经验的优先。
      %li 掌握细胞培养、流式细胞术、组织切片和免疫组化技术的优先。
      %li 性格开朗，工作积极主动，踏实认真，能够承受一定工作压力, 善于团队协作；
      %li 具有较强的实验动手能力、较强的学习能力和接收新事物的能力；
      %li 熟练掌握电脑操作和office常用软件者优先；
      %li 具有良好的英文阅读能力，能够熟练查阅文献。英语六级通过者优先。
  %hr
  %p 网站前端工程师
  %p 人数：3名
  %p 工作地点：北京
  %p 岗位职责：
  %ol
    %ol
      %li 参与公司内部系统模块的研发工作；
      %li 参与公司重点项目的研发，配合团队实现产品功能；
      %li 以主人翁的姿态参与项目的建设与发展。
  %p 任职资格：
  %ol
    %ol
      %li 本科及以上学历，背景不限，有责任心和良好的沟通能力；
      %li 熟悉 Javascript、HTML5、CSS3 等前端技术；
      %li
        掌握以下技术中至少一项（请在简历中注明），并对其他所有技术抱有学习的兴趣和激情：
        %br
        — NodeJS
        %br
        — D3.js
        %br
        — Angular.js
        %br
        — WebGL
      %li 崇尚开源，热爱前端，能够承受工作压力；
  %p 应聘要求：
  %ol
    %ol
      %ol 请在个人简历中说明每个项目经历的分工和心得，并附上项目的简要说明，如：
      %ol – 课程设计：请提交设计报告
      %ol – 开源项目：请提交仓库地址和项目主页（如 npmjs.com/biojs）
      %ol – 个人项目：请提交仓库地址或项目关键代码，并说明项目动机（motivation）
  %p 若有 Github/Bitbucket/Gitcafe 等账号，请将主页地址（如github.com/syngentech）一并附上。
  %hr
  %p 全栈工程师
  %p 人数：3名
  %p 工作地点：北京
  %p 岗位职责：
  %ol
    %ol
      %li 参与公司内部系统模块的研发工作；
      %li 参与公司重点项目的研发，配合团队实现产品功能；
      %li 以主人翁的姿态参与项目的建设与发展。
  %p 任职资格：
  %ol
    %ol
      %li 本科及以上学历，背景不限，有责任心和良好的沟通能力；
      %li 熟悉 Javascript、HTML5、CSS3 等前端技术；
      %li 掌握基本数据库知识，熟悉 Mysql 或 MongoDB；
      %li 了解和熟悉 Ruby on Rails 框架，并对 node.js 等其他语言下的全栈框架抱有兴趣；
      %li 崇尚开源，热爱 Ruby，能够承受工作压力。
  %p 应聘要求：
  %ol
    %ol 请在个人简历中说明每个项目经历的分工和心得，并附上项目的简要说明，如：
    %ol – 课程设计：请提交设计报告
    %ol – 开源项目：请提交仓库地址和项目主页（如 npmjs.com/biojs）
    %ol – 个人项目：请提交仓库地址或项目关键代码，并说明项目动机（motivation）
  %p 若有 Github/Bitbucket/Gitcafe 等账号，请将主页地址（如github.com/syngentech）一并附上。
  %hr
  %p 行政专员
  %p 人数：2名
  %p 工作地点：北京
  %p 岗位职责：
  %p 负责公司日常行政工作，主要包括组织、文案、行政事件处理等；
  %p 任职资格：
  %ol
    %ol
      %li 行政文秘等专业或生物专业擅长行政工作者，本科及以上学历，具有行政文秘相关岗位2年以上工作经验优先； 本科学历，相关行政工作1年以上工作经验；硕士学历，可无相关工作经验；
      %li 组织沟通能力强、业务熟练
      %li 能熟练 掌握文字编辑、排版和办公室软件的操作。
      %li 普通话标准流利，形象气质佳，亲和力强。
      %li 工作负责、主动、干练，反应灵敏，形象良好。
      %li 协助总经理管理部门工作，协调内部员工关系；
      %li 配合经理处理外部公共关系，参与公司活动的策划、组织工作；
      %li 完成经理指派任务，对于公司制定计划认真执行，发展业务团体；
      %li 负责人员招聘、调离
      %li 熟悉各类证件的年检审查
  %hr
  %p 市场营销专员
  %p 人数：5名
  %p 工作地点：北京
  %p 岗位职责：
  %ol
    %ol
      %li 负责所在区域内的销售工作，完成公司制定的各项销售任务；
      %li 搜集辖区内客户信息，开发新客户；
      %li 定期拜访客户，建立、发展及维护重点客户关系；
      %li 完成催款、收款，确保销售款项的回收，接受并协助处理客户投诉；
      %li 配合市场部做好所辖销售区域内的相关市场活动，收集市场信息并及时反馈给公司；
      %li 制定工作计划，定期进行工作总结、完成相关销售报告。
  %p 任职资格：
  %ol
    %ol
      %li 本科及以上学历，具有分子生物学相关行业销售2年以上工作经验优先；
      %li 本科学历，相关行业销售1年以上工作经验；
      %li 硕士学历，可无相关工作经验；
      %li 具备熟练的协调沟通能力、客户服务意识和团队合作精神；
      %li 工作积极主动，责任心强，思维敏捷，诚实可靠，并具有快速的学习能力；
      %li 具有较强的执行力和责任心，能够配合团队做好相关人员的培训工作；
      %li 基本的英语能力，能熟练使用计算机。
  %br
  %img.am-margin-bottom{src: '{{ "/images/about-2.2.jpg" | prepend: site.url.assets }}', width: '100%', height: '250'}
