---
layout: default
---
.am-slider.am-slider-default{'data-am-flexslider' => '{directionNav:false}'}
  %ul.am-slides
    %li
      %img{src: 'images/index1.jpg'}
    %li
      %img{src: 'images/index2.jpg'}
    %li
      %img{src: 'images/index3.jpg'}
    %li
      %img{src: 'images/index4.jpg'}
%ul.am-margin-top-lg.am-gallery.am-avg-sm-1.am-avg-md-2.am-avg-lg-4.am-gallery-default{'data-am-gallery' => '{pureview:true}', 'data-am-widget' => 'gallery'}
  %li
    .am-gallery-item
      %a{href: ''}
        %img.am-thumbnail{src: 'images/index5.jpg'}
  %li
    .am-gallery-item
      %a{href: ''}
        %img.am-thumbnail{src: 'images/index6.jpg'}
  %li
    .am-gallery-item
      %a{href: ''}
        %img.am-thumbnail{src: 'images/index7.jpg'}
  %li
    .am-gallery-item
      %a{href: ''}
        %img.am-thumbnail{src: 'images/index8.jpg'}
