---
layout: default
---
%img.am-img-responsive{src: 'images/index1.1.jpg'}
.am-container
  %br
  %h1.am-text-center 基因组编辑解决方案
  %hr
  %p.am-text-center 合生基因为您提供快速、高效、全方位、定制化的基因组编辑解决方案
  .am-avg-sm-2.am-avg-md-2.am-avg-lg-4.am-thumbnails.animate
    %li
      %a{href: '/solution-1.html'}
        %img.am-thumbnail{src: 'images/index-1.jpg'}
    %li
      %a{href: '/solution-2.html'}
        %img.am-thumbnail{src: 'images/index-2.jpg'}
    %li
      %a{href: '/solution-3.html'}
        %img.am-thumbnail{src: 'images/index-3.jpg'}
    %li
      %a{href: '/solution-4.html'}
        %img.am-thumbnail{src: 'images/index-4.jpg'}
    %li
      %a{href: '/solution-5.html'}
        %img.am-thumbnail{src: 'images/index-5.jpg'}
    %li
      %a{href: '/solution-6.html'}
        %img.am-thumbnail{src: 'images/index-6.jpg'}
    %li
      %a{href: '/solution-7.html'}
        %img.am-thumbnail{src: 'images/index-7.jpg'}
    %li
      %a{href: '/solution-8.html'}
        %img.am-thumbnail{src: 'images/index-8.jpg'}
  %h1.am-text-center 革命性靶向基因组编辑技术应用专家
  %hr
  %p.am-text-center 利用经合生基因优化和改造的CRISPR/Cas9系统、RNAi系统实现您预期的基因编辑需求
  %br
  #demo-slider-0.am-slider.am-slider-default{'data-am-flexslider': '{directionNav:false, controlNav: false}'}
    %ul.am-slides
      %li
        %img{src: 'images/index-9.jpg'}
      %li
        %img{src: 'images/index-10.jpg'}
  %br
  %h1.am-text-center 全方位基因组编辑服务与产品
  %hr
  %p.am-text-center 利用合成生物学、分子生物学、细胞生物学方法
  %br
  .am-g.animate.am-text-center
    .am-u-sm-6.am-u-md-6.am-u-lg-2
      %a{href: '/product-1.html'}
        %img{src: 'images/index-11.jpg', width: '84', height: '84'}
      %p
        %a{href: '/product-1.html'}
          CRISPR/CAS9
          %br
          载体设计与构建
        %br
    .am-u-sm-6.am-u-md-6.am-u-lg-2
      %a{href: '/product-2.html'}
        %img{src: 'images/index-12.jpg', width: '84', height: '84'}
      %p
        %a{href: '/product-2.html'}
          CRISPR/CAS9
          %br
          快速构建试剂盒
        %br
    .am-u-sm-6.am-u-md-6.am-u-lg-2
      %a{href: '/product-3.html'}
        %img{src: 'images/index-13.jpg', width: '84', height: '84'}
      %p
        %a{href: '/product-3.html'}
          CRISPR/CAS9
          %br
          活性检测
        %br
    .am-u-sm-6.am-u-md-6.am-u-lg-2
      %a{href: '/product-4.html'}
        %img{src: 'images/index-14.jpg', width: '84', height: '84'}
      %p
        %a{href: '/product-4.html'}
          gRNA
          %br
          文库构建
        %br
    .am-u-sm-6.am-u-md-6.am-u-lg-2
      %a{href: '/product-5.html'}
        %img{src: 'images/index-15.jpg', width: '84', height: '84'}
      %p
        %a{href: '/product-5.html'}
          &nbsp;&nbsp;&nbsp;RNAi
          %br
          载体设计与构建
        %br
    .am-u-sm-6.am-u-md-6.am-u-lg-2
      %a{href: '/product-6.html'}
        %img{src: 'images/index-16.jpg', width: '84', height: '84'}
      %p
        %a{href: '/product-6.html'}
          RNAi Sponge
          %br
          载体设计与构建
        %br
    .am-u-sm-6.am-u-md-6.am-u-lg-2
      %a{href: '/product-7.html'}
        %img{src: 'images/index-17.jpg', width: '84', height: '84'}
      %p
        %a{href: '/product-7.html'}
          RNAi文库构建
        %br
    .am-u-sm-6.am-u-md-6.am-u-lg-2
      %a{href: '/product-8.html'}
        %img{src: 'images/index-18.jpg', width: '84', height: '84'}
      %p
        %a{href: '/product-8.html'}
          细胞系工程改造
        %br
    .am-u-sm-6.am-u-md-6.am-u-lg-2
      %a{href: '/product-9.html'}
        %img{src: 'images/index-19.jpg', width: '84', height: '84'}
      %p
        %a{href: '/product-9.html'}
          慢病毒包装
        %br
    .am-u-sm-6.am-u-md-6.am-u-lg-2
      %a{href: '/product-10.html'}
        %img{src: 'images/index-20.jpg', width: '84', height: '84'}
      %p
        %a{href: '/product-10.html'}
          基因工程鼠
        %br
    .am-u-sm-6.am-u-md-6.am-u-lg-2
      %a{href: '/product-11.html'}
        %img{src: 'images/index-21.jpg', width: '84', height: '84'}
      %p
        %a{href: '/product-11.html'}
          基因合成
        %br
    .am-u-sm-6.am-u-md-6.am-u-lg-2
      %a{href: '/product-12.html'}
        %img{src: 'images/index-22.jpg', width: '84', height: '84'}
      %p
        %a{href: '/product-12.html'}
          合成生物学
          %br
          技术服务外包
        %br
  %br
  %h1.am-text-center 新一波基因编辑服务来袭
  %hr
  %p.am-text-center 利用合成生物学方法，快速高效的满足个性化定制的基因编辑服务解决不同需求的实验方案
  %br
  #demo-slider-0.am-slider.am-slider-default{'data-am-flexslider': '{directionNav:false, controlNav: false}'}
    %ul.am-slides
      %li
        %img{src: 'images/index-23.jpg'}
      %li
        %img{src: 'images/index-24.jpg'}
  %br
%img.am-img-responsive{src: 'images/index-25.jpg'}
