---
layout: default
---
#demo-slider-0.am-slider.am-slider-default{'data-am-flexslider': '{directionNav:false}'}
  %ul.am-slides
    %li
      %img{src: 'images/index1.jpg'}
    %li
      %img{src: 'images/index2.jpg'}
    %li
      %img{src: 'images/index3.jpg'}
    %li
      %img{src: 'images/index4.jpg'}
%br
.am-avg-sm-1.am-avg-md-2.am-avg-lg-4.am-thumbnails
  %li
    %a{href: ''}
      %img.am-thumbnail{src: 'images/index5.jpg'}
  %li
    %a{href: ''}
      %img.am-thumbnail{src: 'images/index6.jpg'}
  %li
    %a{href: ''}
      %img.am-thumbnail{src: 'images/index7.jpg'}
  %li
    %a{href: ''}
      %img.am-thumbnail{src: 'images/index8.jpg'}
