---
layout: default
title: 工艺开发
---

.am-container{style: "max-width: 960px"}
  %img.am-img-responsive{src: '{{ "/images/PD-1.png" | prepend: site.domain.assets }}'}
  %h1 工艺开发
  %p 以基因治疗重组病毒开发及生产为核心，专注于开发稳定性高、成本低且适合规模化生产的病毒生产工艺。
  %img.am-img-responsive{src: '{{ "/images/PD-2.png" | prepend: site.domain.assets }}'}
  %p 结合自身一体化的工艺研发和药物生产能力，助力生物医药企业加快完成药物临床申报，使药物研发迅速从早期临床研究推进到商业化生产阶段。
