---
layout: default
---
.am-container
  .article
    %h1 gRNA文库构建
    %img.am-img-responsive{src: 'images/product-4.1.jpg'}
    %p gRNA文库的建立将为重要基因功能的筛选、疾病机制研究及药物研发等方面提供新的动力，大大加快人类功能基因组研究计划的进展。合生基因可为客户定制针对特定基因分类的gRNA文库（包括全基因组文库、lncRNA文库、细胞凋亡、细胞增殖、信号通路、离子通道、核受体相关等文库）。如果需要对gRNA文库进行病毒包装，请参考我公司病毒包装服务内容及相应报价，量大价格优惠。
    %p &nbsp;
    %p.am-text-center
      %strong
        欢迎致电4006803200，或发送邮件
        %a{:href => "service@syngentech.com.cn"} service@syngentech.com.cn
        至咨询，合生基因技术工程师将为您竭心服务。
    %img.am-img-responsive{src: '/images/product-4.2.jpg'}
