---
layout: default
---
.am-container
  .article
    %h1 CRISPR/Cas9 活性检测
    %img.am-img-responsive{src: '/images/product-3.1.jpg'}
    %p
      利用CRISPR/Cas9系统进行基因编辑的gRNA序列是通过各个gRNA设计网站中预测得到的，这些gRNA是否有功能往往需要通过具体的实验验证才能得到，而获得基因编辑的细胞系或小鼠的周期长达几个月甚至半年，因此如何能够快速、准确的验证CRISPR/Cas9系统是否有效成为开展基因功能研究的关键。为此，合生基因提供了多种CRISPR/Cas9功能检测方案：
      %p
      1、利用合生基因自主开发的gRNA活性检测试剂盒可以快速检测您所设计的核酸酶Cas9系统、切刻酶Cas9系统是否有效，若未检测到荧光表达信号，则设计的gRNA肯定无法在基因组中进行敲除；同时可以通过流式细胞仪对敲除效率进行定量分析。
      %br
      2、利用错配酶法快速检测对基因组目标靶点是否成功编辑,并可粗略判断基因敲除效率。
      %br
      3、利用测序技术，真实检测靶点序列的变化，直观判断突变情况。
    %hr
    %h2 一、荧光活性检测法
    %p 合生基因开发了可以用荧光蛋白表达情况检测Cas9及gRNA内源活性的检测试剂盒，该试剂盒中荧光报告载体中的荧光报告基因EYFP或mKate被终止密码子提前终止，这种截短型的EYFP或mKate没有活性，为检测gRNA及Cas9活性，可将Cas9/gRNA识别的靶位点插入到终止密码子之后，并在其后加入EYFP或mKate基因的末端序列。在Cas9和gRNA的作用下，靶点位置的双链DNA被切割形成DSB，细胞通过同源重组效应形成有活性的荧光蛋白，最终可通过荧光显微镜或流式细胞仪来检测荧光强度是否增强来判断Cas9及gRNA的活性及敲除效率。
    %h3 技术路线一：
    %div{align: 'center'}
      %img.am-img-responsive{src: '/images/product-3.2.png', width: '449', height: '279'}
    %h3 技术路线二：
    %div{align: 'center'}
      %img.am-img-responsive{src: '/images/product-3.3.png', width: '445', height: '227'}
    %h3 荧光观察及流式细胞检测结果：
    %div{align: 'center'}
      %img.am-img-responsive{src: '/images/product-3.4.png', width: '459', height: '401'}
    %h2 二、错配酶法
    %p 通过对修饰后的靶序列进行PCR，经变性、退火后，将会形成含有错误配对的DNA双链，将经过错配酶切割后的产物进行凝胶电泳，即可反映出CRISPR/Cas9系统的切割活性。
    .am-cf
      %p.am-align-right
        %img.am-img-responsive{src: '/images/product-3.5.png', width: '488', height: '493'}
      %h2 三、套峰检测法
      %p 对修饰后的靶序列进行PCR并测序，通过分析Spacer区域套峰情况来评价CRISPR/Cas9系统的活性。
    %p.am-text-center
      %strong
        欢迎致电4006803200，或发送邮件
        %a{href: 'mailto:service@syngentech.com.cn'} service@syngentech.com.cn
        至咨询，合生基因技术工程师将为您竭心服务。
    %img.am-img-responsive{src: '/images/product-3.6.jpg'}
    %br
