---
layout: default
---
.am-container
  .article
    %h1 Tag Archives: 肿瘤，蛋白
    %a{href: '/blog-child2.html'}
      %img.am-img-responsive{src: 'images/blog2.jpg'}
    %a{href: '/blog-child2.html'}
      %h1 Nature：肿瘤抑制蛋白竟驱动恶性癌症
    %small
      Posted on
      %a{href: '/blog-child2.html'} 2015年9月16日
      by
      %a{href: '/author-luyangli.html', rel: 'author'} Luyang Li
    %p 近日，来自宾夕法尼亚大学等处的科学家们研究发现，恶性肿瘤的生长及DNA序列未发生改变的基因活性的变化和突变的p […]
