---
layout: default
---
.am-container
  .article
    %h1 Tag Archives: 论坛
    %a{href: '/blog-child10.html'}
      %img.am-img-responsive{src: 'images/blog10.jpg'}
    %a{href: '/blog-child10.html'}
      %h1 首届合成生物学青年学者论坛在京拉开帷幕
    %small
      Posted on
      %a{href: '/blog-child10.html'} 2015年6月2日
      by
      %a{href: '/author-luyangli.html', rel: 'author'} Luyang Li
  %p 2015年5月23日首届合成生物学青年学者论坛（Synthetic Biology Young Scholar […]
