---
layout: default
---
.am-container
  .article
    %h1 Tag Archives: Cas9晶体
    %a{href: '/blog-child3.html'}
      %img.am-img-responsive{src: 'images/blog3.jpg'}
    %a{href: '/blog-child3.html'}
      %h1 新型Cas9晶体结构得到解析
    %small
      Posted on
      %a{href: '/blog-child3.html'} 2015年9月4日
      by
      %a{href: '/author-luyangli.html', rel: 'author'} Luyang Li
    %p 8月27日，美国麻省理工学院（MIT）张锋博士课题组在《Cell》杂志上发表了一篇名为《Crystal Str […]
