---
layout: default
---
.am-container
  .article
    %h1 Tag Archives: CRISPR-Cas9
    %a{href: '/blog-child4.html'}
      %img.am-img-responsive{src: 'images/blog4.jpg'}
    %a{href: '/blog-child4.html'}
      %h1 CRISPR-Cas9：通往美丽新世界的钥匙还是潘朵拉魔盒？
    %small
      Posted on
      %a{href: '/blog-child4.html'} 2015年8月20日
      by
      %a{href: '/author-luyangli.html', rel: 'author'} Luyang Li
    %p 2015年7月22日，美国著名科技类杂志《连线》刊载了一篇由Amy Maxmen撰写的题为《Easy DNA […]
