---
layout: default
---
.am-container
  .article
    %h1 Tag Archives: CRISPR/Cas9技术
    %a{href: '/blog-child5.html'}
      %img.am-img-responsive{src: 'images/blog5.jpg'}
    %a{href: '/blog-child5.html'}
      %h1 像开关灯一样控制基因编辑？光活化的CRISPR-Cas9系统
    %small
      Posted on
      %a{href: '/blog-child5.html'} 2015年8月5日
      by
      %a{href: '/author-luyangli.html', rel: 'author'} Luyang Li
    %p 自2012年CRISPR-Cas9技术在学术界崭露头角，便凭借基因改造能力和基因治疗潜力，扮演着基因编辑领域受 […]
