---
layout: default
---
.am-container
  .article
    %h1 Tag Archives: 生命科学
    %a{href: '/blog-child9.html'}
      %img.am-img-responsive{src: 'images/blog9.jpg'}
    %a{href: '/blog-child9.html'}
      %h1 第三届数学、计算机与生命科学交叉研究青年学者论坛在京举行
    %small
      Posted on
      %a{href: '/blog-child9.html'} 2015年6月2日
      by
      %a{href: '/author-luyangli.html', rel: 'author'} Luyang Li
    %p 2015年5月16-17日第三届数学、计算机与生命科学交叉研究青年学者论坛在北京中国科学院数学与系统科学研究院 […]
