---
layout: biogeek/menu-en
title: Reagents for NGS
---
.biogeek-banner.screen-height{style: 'background-image: url({{ "/images/biogeek/ngs/ngs-pic.jpg" | prepend: site.url.assets }})'}

.am-container.am-margin-vertical-xl.am-text-center
  %h2.am-margin-top-xl Coming soon ...
  %hr
  %p Compatible with automatic workstations

#biogeek-ngs-puzzle.biogeek-puzzle.am-container
  %ul.am-center.am-avg-sm-3.am-avg-md-5
    %li.am-hied-sm-only
      %img.am-img-responsive{src: '{{ "/images/t1.jpg" | prepend: site.url.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/t2.jpg" | prepend: site.url.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/t3.jpg" | prepend: site.url.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/t4.jpg" | prepend: site.url.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/t5.jpg" | prepend: site.url.assets }}'}
    %li
      %img.am-img-responsive{src: '{{ "/images/t6.jpg" | prepend: site.url.assets }}'}
      %a
        %span.am-margin-sm Mag-Nucleotide Purification Kit
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/t7.jpg" | prepend: site.url.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/t8.jpg" | prepend: site.url.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/t9.jpg" | prepend: site.url.assets }}'}
    %li
      %img.am-img-responsive{src: '{{ "/images/t10.jpg" | prepend: site.url.assets }}'}
      %a
        %span.am-margin-sm Mag-Plasmid Prep Kit</br>Magenetic bead-based plasmid purification kit
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/t11.jpg" | prepend: site.url.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/t12.jpg" | prepend: site.url.assets }}'}
    %li
      %img.am-img-responsive{src: '{{ "/images/t13.jpg" | prepend: site.url.assets }}'}
      %a
        %span.am-margin-sm Mag-Nucleotide Fragment Selection Kit
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/t14.jpg" | prepend: site.url.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/t15.jpg" | prepend: site.url.assets }}'}

.am-container.am-margin-vertical-xl.am-text-center
  %h2.am-margin-top-xl Excellence
  %hr
  %p High efficiency and cost effective

.biogeek-banner.am-vertical-align.am-text-center{style: 'height: 450px; background-image: url({{ "/images/biogeek/ngs/ngs-adv1.jpg" | prepend: site.url.assets }})'}
  .am-vertical-align-middle.am-text-white.am-padding-bottom-lg
    %h2.am-text-xxxl Biogeek<sup>TM</sup> Magenetic Beads-based Nucleotide Purification Kit
    %p.am-text-lg High recovery
    -# %a{href: ''}Find out more>

.am-container.am-margin-vertical-xl.am-text-center
  %h2.am-margin-top-xl High performance
  %hr
  %p With great power comes great responsibility

.biogeek-banner.am-vertical-align.am-margin-bottom-xl.am-text-center{style: 'height: 450px; background-image: url({{ "/images/biogeek/ngs/ngs-adv2.jpg" | prepend: site.url.assets }})'}
  .am-vertical-align-middle.am-text-white.am-padding-bottom-lg
    %h2.am-text-xxxl Biogeek<sup>TM</sup> Magenetic Bead-based Plasmid Purification Kit
    %p.am-text-lg High recovery and high purity
    -# %a{href: ''}Find out more>
