---
layout: biogeek/product
title: IMag 片段筛选（磁珠）试剂盒
title_html: IMag<sup>TM</sup> 片段筛选（磁珠）试剂盒
image: /images/biogeek/product/GP.jpg
---
.am-container.am-margin-top-xl
  .am-margin-bottom-xl.am-g
    .am-cf
      .am-u-md-4
        %p.am-align-left
          %img.am-img-responsive{src: '{{ "/images/Pngs3.jpg" | prepend: site.url.assets }}', alt: 'IMag 片段筛选（磁珠）试剂盒', width: '286', height: '502'}
      .am-u-md-8
        %h2.am-margin-top-lg 产品说明
        %p.am-margin-bottom-xl IMag<sup>TM</sup>片段筛选试剂盒适用于高通量测序文库(NGS)构建中DNA片段大小快速分选和回收。试剂盒中的结合缓冲液中含有超顺磁珠，根据磁珠悬浮液和样品的体积比可选择性结合DNA片段。经过磁性分离和乙醇清洗，低盐洗脱缓冲液或无核酸酶水洗脱的高纯度的DNA片段可被直接用于下游应用。纯化后的核酸片段不含有核苷酸，引物，接头，酶和盐等污染物。
    .am-g
      .am-u-md-11.am-u-md-centered
        %table.am-table.am-table-bordered.am-table-compact.am-table-centered.am-text-middle
          %tr{:style => "background:#f9f9f9"}
            %th 产品名称
            %th 货号
            %th 规格
          %tr
            %td.am-text-middle{:rowspan => "8", :style=>" width:200px"}
              %p.am-margin-top{:align => "center"} IMag<sup>TM</sup> 片段筛选试剂盒
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} BG30301V
            %td{"am-text-middle" => "", :rowspan => "2"}
              %p.am-margin-top{:align => "center"} 5mL
            %tr
          %tr{:style => "background:#f9f9f9"}
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} BG30301S
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 60mL
            %tr
          %tr
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} BG30301M
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 450mL
            %tr
          %tr
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} BG30301L
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 1L
            %tr
  %hr
  .am-margin-top-xl.am-margin-bottom-xl
    %h2{style: 'margin-top: 0'} 产品特性
    .am-u-md-12.am-u-md-centered
      %p 无需切胶，直接回收，操作简便。
      %p 可自由选择回收片段大小范围。
      %p 手工或自动化工作站都可使用。
  %hr
  .am-g.am-margin-top-xl
    %h2.am-margin-left-xl 应用
    .am-u-md-12.am-u-md-centered
      %p.am-margin-left-xl
        %strong ·&nbsp;二代测序（NGS）建库时打断后的 DNA片段，连接接头后的 DNA片段回收
      %p.am-margin-left-xl
        %strong ·&nbsp;PCR产物的选择性或非选择性回收
  %hr
