---
layout: biogeek/product
title: IMag<sup>TM</sup> 质粒提取（磁珠）试剂盒
title_html: IMag<sup>TM</sup> 质粒提取（磁珠）试剂盒
image: /images/biogeek/product/GP.jpg
---
.am-container.am-margin-top-xl
  .am-margin-bottom-xl.am-g
    .am-cf
      .am-u-md-4
        %p.am-align-left
          %img.am-img-responsive{src: '{{ "/images/Polymerase-Green.jpg" | prepend: site.url.assets }}', alt: 'BioGeek GeneTaq DNA 聚合酶', width: '286', height: '502'}
      .am-u-md-8
        %h2.am-margin-top-lg 产品说明
        %p.am-margin-bottom-xl IMag<sup>TM</sup>高通量质粒提取试剂盒采用磁分离技术，能够从大肠杆菌中分离纯化高质量的质粒DNA。该试剂盒首先采用碱裂解法将细胞裂解，然后通过改变条件使磁珠可逆的结合和释放质粒DNA，从而达到提取质粒DNA的目的。
    .am-g
      .am-u-md-11.am-u-md-centered
        %table.am-table.am-table-bordered.am-table-compact.am-table-centered.am-text-middle
          %tr{:style => "background:#f9f9f9"}
            %th 产品名称
            %th 货号
            %th 规格
          %tr
            %td.am-text-middle{:rowspan => "6", :style=>" width:200px"}
              %p.am-margin-top{:align => "center"} IMag<sup>TM</sup> 质粒提取试剂盒
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} BG30101S
            %td{"am-text-middle" => "", :rowspan => "2"}
              %p.am-margin-top{:align => "center"} 384 R
            %tr
          %tr{:style => "background:#f9f9f9"}
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} BG30101M
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 4000 R
            %tr
          %tr
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} BG30101L
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 40000 R
            %tr
  %hr
  .am-margin-top-xl.am-margin-bottom-xl
    %h2{style: 'margin-top: 0'} 产品特性
    .am-u-md-12.am-u-md-centered
      %p 耗时少：质粒DNA提取周期在40分钟左右。
      %p 操作简便：提取过程只需离心一次。
      %p 无毒无害：试剂中不含有氯仿，酚等有毒物质。
      %p 效果稳定：OD260/OD280稳定在1.8-2.0之间，产量较高。
      %p 自动化：可配合国内外各类磁棒式核酸提取仪或核酸提取工作站。
  %hr
  .am-g.am-margin-top-xl
    %h2.am-margin-left-xl 应用
    .am-u-md-12.am-u-md-centered
      %p.am-margin-left-xl
        %strong ·&nbsp;荧光DNA测序（包括毛细管电泳）
      %p.am-margin-left-xl
        %strong ·&nbsp;PCR扩增
      %p.am-margin-left-xl
        %strong ·&nbsp;转化
      %p.am-margin-left-xl
        %strong ·&nbsp;限制酶消化
      %p.am-margin-left-xl
        %strong ·&nbsp;体外转位子插入
  %hr
