---
layout: biogeek/product
title: IMag 质粒提取（磁珠）试剂盒
title_html: IMag<sup>TM</sup> 质粒提取（磁珠）试剂盒
image: /images/biogeek/product/GP.jpg
---
%div{style: 'display: none'}
  %h2 IMag<sup>TM</sup> 质粒提取（磁珠）试剂盒的产品说明：
  %h2 IMag<sup>TM</sup> 质粒提取（磁珠）试剂盒的产品特性：
  %h2 IMag<sup>TM</sup> 质粒提取（磁珠）试剂盒的产品应用：
  %h2 IMag<sup>TM</sup> 质粒提取（磁珠）试剂盒的订购方式
.am-container.am-margin-top-xl
  .am-margin-bottom-xl.am-g
    .am-cf
      .am-u-md-4
        %p.am-align-left
          %img.am-img-responsive{src: '{{ "/images/ngs1.jpg" | prepend: site.domain.assets }}', alt: 'IMag 质粒提取（磁珠）试剂盒', width: '286', height: '502'}
      .am-u-md-8
        %h2.am-margin-top-lg 产品说明
        %p.am-margin-bottom-xl IMag<sup>TM</sup> 高通量质粒提取试剂盒采用磁分离技术，能够从大肠杆菌中分离纯化高质量的质粒 DNA。该试剂盒首先采用碱裂解法将细胞裂解，然后通过改变条件使磁珠可逆的结合和释放质粒 DNA，从而达到提取质粒 DNA 的目的。
    .am-g
      .am-u-md-11.am-u-md-centered
        %table.am-table.am-table-bordered.am-table-compact.am-table-centered.am-text-middle
          %tr{:style => "background:#f9f9f9"}
            %th 产品名称
            %th 货号
            %th 规格
            %th 价格
            %th 说明书下载
          %tr
            %td.am-text-middle{:rowspan => "6", :style=>" width:200px"}
              %p.am-margin-top{:align => "center"} IMag<sup>TM</sup> 质粒提取试剂盒
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} BG30101S
            %td{"am-text-middle" => "", :rowspan => "2"}
              %p.am-margin-top{:align => "center"} 384 R
            %td{"am-text-middle" => "", :rowspan => "2"}
              %p.am-margin-top{:align => "center"} ¥2399.00
            %td.am-text-middle{:rowspan => "6"}
              %p.am-margin-top{:align => "center"}
                %a{href: '{{ "/documents/IMag-Plasmid-Prep-Kit.pdf" | prepend: site.domain.assets }}'} 下载
            %tr
          %tr{:style => "background:#f9f9f9"}
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} BG30101M
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 4000 R
            %td{"am-text-middle" => "", :rowspan => "2"}
              %p.am-margin-top{:align => "center"} ¥19800.00
            %tr
          %tr
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} BG30101L
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 40000 R
            %td{"am-text-middle" => "", :rowspan => "2"}
              %p.am-margin-top{:align => "center"} ¥189000.00
            %tr
  %hr
  .am-margin-top-xl.am-margin-bottom-xl
    %h2{style: 'margin-top: 0'} 产品特性
    .am-u-md-12.am-u-md-centered
      %p 耗时少：质粒 DNA 提取周期在 40 分钟左右。
      %p 操作简便：提取过程只需离心一次。
      %p 无毒无害：试剂中不含有氯仿，酚等有毒物质。
      %p 效果稳定：OD260/OD280 稳定在 1.8-2.0 之间，产量较高。
      %p 自动化：可配合国内外各类磁棒式核酸提取仪或核酸提取工作站。
  %hr
  .am-g.am-margin-top-xl
    %h2.am-margin-left-xl 应用
    .am-u-md-12.am-u-md-centered
      %p.am-margin-left-xl
        %strong ·&nbsp;荧光 DNA 测序（包括毛细管电泳）
      %p.am-margin-left-xl
        %strong ·&nbsp;PCR 扩增
      %p.am-margin-left-xl
        %strong ·&nbsp;转化
      %p.am-margin-left-xl
        %strong ·&nbsp;限制酶消化
      %p.am-margin-left-xl
        %strong ·&nbsp;体外转位子插入
  %hr
