---
layout: biogeek/product
title: IMag 核酸纯化（磁珠）试剂盒
title_html: IMag<sup>TM</sup> 核酸纯化（磁珠）试剂盒
image: /images/biogeek/product/GP.jpg
---
%div{style: 'display: none'}
  %h2 IMag<sup>TM</sup> 核酸纯化（磁珠）试剂盒的产品说明：
  %h2 IMag<sup>TM</sup> 核酸纯化（磁珠）试剂盒的产品特性：
  %h2 IMag<sup>TM</sup> 核酸纯化（磁珠）试剂盒的产品应用：
  %h2 IMag<sup>TM</sup> 核酸纯化（磁珠）试剂盒的订购方式
.am-container.am-margin-top-xl
  .am-margin-bottom-xl.am-g
    .am-cf
      .am-u-md-4
        %p.am-align-left
          %img.am-img-responsive{src: '{{ "/images/ngs2.jpg" | prepend: site.url.assets }}', alt: 'IMag 核酸纯化（磁珠）试剂盒', width: '286', height: '502'}
      .am-u-md-8
        %h2.am-margin-top-lg 产品说明
        %p.am-margin-bottom-xl IMag<sup>TM</sup>片段纯化（磁珠）试剂盒是利用固相磁珠技术对核酸片段进行高通量纯化的。该试剂盒采用一种特殊缓冲液促使100bp以上的DNA片段结合在磁珠上，然后通过一个简单的洗脱流程将将其中的引物，核苷酸，盐类以及酶等成分去除，最终获得高质量的纯化片段。回收效率达到90%以上。该过程操作简单、快速，适用于自动化核酸纯化平台。
    .am-g
      .am-u-md-11.am-u-md-centered
        %table.am-table.am-table-bordered.am-table-compact.am-table-centered.am-text-middle
          %tr{:style => "background:#f9f9f9"}
            %th 产品名称
            %th 货号
            %th 规格
          %tr
            %td.am-text-middle{:rowspan => "8", :style=>" width:200px"}
              %p.am-margin-top{:align => "center"} Imag<sup>TM</sup> 核酸纯化试剂盒
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} BG30201V
            %td{"am-text-middle" => "", :rowspan => "2"}
              %p.am-margin-top{:align => "center"} 5mL
            %tr
          %tr{:style => "background:#f9f9f9"}
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} BG30201S
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 60mL
            %tr
          %tr
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} BG30201M
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 450mL
            %tr
          %tr
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} BG30201L
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 1L
            %tr
  %hr
  .am-margin-top-xl.am-margin-bottom-xl
    %h2{style: 'margin-top: 0'} 产品特性
    .am-u-md-12.am-u-md-centered
      %p 适用范围广，回收效率高，对于100 bp以上的DNA片段回收效率在90%以上。
      %p 样品体积范围广，不需要离心。
      %p 操作简单快速，20min完成核酸纯化。
      %p 实现核酸纯化高通量化和自动化。
  %hr
  .am-g.am-margin-top-xl
    %h2.am-margin-left-xl 应用
    .am-u-md-12.am-u-md-centered
      %p.am-margin-left-xl
        %strong ·&nbsp;克隆
      %p.am-margin-left-xl
        %strong ·&nbsp;引物步移
      %p.am-margin-left-xl
        %strong ·&nbsp;片段分析
      %p.am-margin-left-xl
        %strong ·&nbsp;基因分型
      %p.am-margin-left-xl
        %strong ·&nbsp;SNP检测
  %hr
