---
layout: default
title: 第二代 DNA 测序样品制备试剂
---
.ngs-pic
.am-container.ngs-slogan
  %p.p-title 潜心运筹 · 静待硕果
  %hr
  %p.p-text 支持全自动工作站的第二代 DNA 测序样品制备试剂 · 省时省力更省心
.am-container
  %ul.am-center.am-avg-sm-3.am-avg-md-5.second-pic-sprite
    %li.am-hied-sm-only
      %img.am-img-responsive{src: '{{ "/images/t1.jpg" | prepend: site.url.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/t2.jpg" | prepend: site.url.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/t3.jpg" | prepend: site.url.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/t4.jpg" | prepend: site.url.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/t5.jpg" | prepend: site.url.assets }}'}
    %li{:style => "position:relative"}
      %a#tlink6{:href => "#", :style => "display:block;position:relative"}
        %img#timg6.am-img-responsive{src: '{{ "/images/t6.jpg" | prepend: site.url.assets }}'}
        %span.am-margin-sm{:style => "position:absolute;left:0;bottom:0;color:#fff;font-size:16px"}
          Mag-Nucleotide Purification Kit 核酸纯化（磁珠）试剂盒
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/t7.jpg" | prepend: site.url.assets }}'}
    %li
      %a{href: ''}
        %img.am-img-responsive{src: '{{ "/images/t8.jpg" | prepend: site.url.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/t9.jpg" | prepend: site.url.assets }}'}
    %li{:style => "position:relative"}
      %a#tlink10{:href => "#", :style => "display:block;position:relative"}
        %img#timg10.am-img-responsive{src: '{{ "/images/t10.jpg" | prepend: site.url.assets }}'}
        %span.am-margin-sm{:style => "position:absolute;left:0;bottom:0;color:#fff;font-size:16px"}
          Mag-Plasmid Prep Kit</br>质粒提取（磁珠）试剂盒
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/t11.jpg" | prepend: site.url.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/t12.jpg" | prepend: site.url.assets }}'}
    %li{:style => "position:relative"}
      %a#tlink13{:href => "#", :style => "display:block;position:relative"}
        %img#timg13.am-img-responsive{src: '{{ "/images/t13.jpg" | prepend: site.url.assets }}'}
        %span.am-margin-sm{:style => "position:absolute;left:0;bottom:0;color:#fff;font-size:16px"}
          Mag-Nucleotide Fragment Selection Kit核酸片段选择（磁珠）试剂盒
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/t14.jpg" | prepend: site.url.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/t15.jpg" | prepend: site.url.assets }}'}
.am-container.ngs-slogan
  %p.p-title 磁 · 吸引 · 汇聚
  %hr
  %p.p-text 可控制+无污染+高效率+低成本 · 多重优势保障测序样品质量
.ngs-adv1.am-vertical-align.am-text-center
  .am-u-sm-10.am-u-md-8.am-u-sm-centered.am-vertical-align-middle.am-margin
    %p.p-title
      Biogeek
      %sup{style: 'margin: 0 0 0 -20px'} TM
      核酸纯化（磁珠）试剂盒
    %p.p-text 精纯品质 · 卓尔不群
    %a{href: ''}进一步了解>
.am-container.ngs-slogan
  %p.p-title 集珍萃华 · 余韵不绝
  %hr
  %p.p-text 高优品质的试剂原料铸就顶级产品 · 前沿敏锐的学术嗅觉对接尖端技术
.ngs-adv2.am-vertical-align.am-text-center
  .am-u-sm-10.am-u-md-8.am-u-sm-centered.am-vertical-align-middle.am-margin
    %p.p-title
      Biogeek
      %sup{style: 'margin: 0 0 0 -20px'} TM
      质粒提取（磁珠）试剂盒
    %p.p-text 广泛支持 · 锐意争锋
    %a{href: ''}进一步了解>
.am-g.am-margin-top-xl
  %ul.am-u-md-11.am-u-md-centered.icon-list.first-footer.am-margin-top-xl
    %li.am-u-sm-6.am-u-md-3
      %img{src: '{{ "/images/s1.png" | prepend: site.url.assets }}'}
      %h4.am-margin-top.p-title 科研服务
      %span.p-text 专业团队助力您的生命科学
      %a{href: ''}进一步了解
    %li.am-u-sm-6.am-u-md-3
      %img{src: '{{ "/images/s2.png" | prepend: site.url.assets }}'}
      %h4.am-margin-top.p-title 定制开发
      %span.p-text 为满足您的特殊实验，定向提供解决方案
      %a{href: ''}进一步了解
    %li.am-u-sm-6.am-u-md-3
      %img{src: '{{ "/images/s3.png" | prepend: site.url.assets }}'}
      %h4.am-margin-top.p-title 服务至上
      %span.p-text 细致入微的售前、售后服务
      %a{href: ''}进一步了解
    %li.am-u-sm-6.am-u-md-3
      %img{src: '{{ "/images/s4.png" | prepend: site.url.assets }}'}
      %h4.am-margin-top.p-title 合作洽谈
      %span.p-text 全球代理、工业开发，我们携手前行
      %a{href: ''}进一步了解
.am-margin-top.product-list
  .am-u-md-10.am-u-md-centered.am-g-collapse
    %p.am-margin-top.am-padding-bottom-sm
      %strong.am-margin-left.am-padding-top-sm{style: 'display:block'} Biogeek 产品列表
    %ul.am-g.am-u-md-centered.icon-list.am-g-collapse
      %li.am-u-sm-6.am-u-md-3
        %ul.am-margin-top-sm.list
          %li
            %strong
              %a{href: '{{ "/clone" | prepend: site.url.biogeek }}'}分子克隆
          %li.am-margin-top-xs
            %a{href: '{{ "/cell/bg10102" | prepend: site.url.biogeek }}'}
              · Gene
              %i Taq
              %sup{style: 'margin: 0 0 0 -4px'} TM
              DNA Polymerase
          %li.am-margin-top-xs
            %a{href: '{{ "/cell/bg10104" | prepend: site.url.biogeek }}'}
              · Gene
              %i Taq
              %sup{style: 'margin: 0 0 0 -4px'} TM
              2X Master Mix
          %li.am-margin-top-xs
            %a{href: '{{ "/cell/bg10202" | prepend: site.url.biogeek }}'}
              · Quick Ligase
              %sup{style: 'margin: 0 0 0 -4px'} TM
              Kit
          %li.am-margin-top-xs
            %a{href: '{{ "/cell/bg10201" | prepend: site.url.biogeek }}'}
              · T4 DNA Ligase
          %li.am-margin-top-xs
            %a{href: '{{ "/cell/bg10301" | prepend: site.url.biogeek }}'}· Pfu DNA Polymerase
      %li.am-u-sm-6.am-u-md-3
        %ul.am-margin-top-sm.list
          %li
            %strong
              %a{href: '{{ "/cell" | prepend: site.url.biogeek }}'}· 细胞培养
          %li.am-margin-top-xs
            %a{href: ''} · Transfection Kit
          %li
            %a{href: ''} &nbsp; 细胞转染试剂
          %li.am-margin-top-xs
            %a{href: ''}
          %li.am-margin-top-xs
            %a{href: ''} · Lentivirus Concentration
          %li
            %a{href: ''} Solution Kit慢病毒浓缩试剂盒
          %li
            %a{href: ''} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          %li
            %a{href: ''} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      %li.am-u-sm-6.am-u-md-3
        %ul.am-margin-top-sm.list
          %li
            %strong
              %a{href: '{{ "/ngs" | prepend: site.url.biogeek }}'}· NGS
          %li.am-margin-top-xs
            %a{href: ''} · Mag-Nucleotide Purification
          %li
            %a{href: ''} &nbsp;&nbsp;Kit 核酸纯化（磁珠）试剂盒
          %li.am-margin-top-xs
            %a{href: ''} · Mag-Nucleotide Fragment
          %li.am-margin-top-xs
            %a{href: ''} &nbsp;&nbsp;Selection Kit 核酸片段选择（磁&nbsp;&nbsp;&nbsp;珠）试剂盒
          %li.am-margin-top-xs
            %a{href: ''} · Mag-Plasmid Prep Kit
          %li
            %a{href: ''} &nbsp;&nbsp;质粒提取（磁珠）试剂盒
      %li.am-u-sm-6.am-u-md-3
        %ul.am-margin-top-sm.list
          %li
            %strong
              %a{href: ''} 蛋白表达
%script{:src => "{{ '/javascripts/biogeek.js' | prepend: site.url.assets }}"}
