---
layout: biogeek/menu
title: 第二代 DNA 测序样品制备试剂
---
.biogeek-banner.screen-height{style: 'background-image: url({{ "/images/biogeek/ngs/ngs-pic.jpg" | prepend: site.domain.assets }})'}

.am-container.am-margin-vertical-xl.am-text-center
  %h2.am-margin-top-xl 潜心运筹 · 静待硕果
  %hr
  %p 支持全自动工作站的第二代 DNA 测序样品制备试剂 · 省时省力更省心

#biogeek-ngs-puzzle.biogeek-puzzle.am-container
  %ul.am-center.am-avg-sm-3.am-avg-md-5
    %li.am-hied-sm-only
      %img.am-img-responsive{src: '{{ "/images/t1.jpg" | prepend: site.domain.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/t2.jpg" | prepend: site.domain.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/t3.jpg" | prepend: site.domain.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/t4.jpg" | prepend: site.domain.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/t5.jpg" | prepend: site.domain.assets }}'}
    %li
      %img.am-img-responsive{src: '{{ "/images/t6.jpg" | prepend: site.domain.assets }}'}
      %a{href: '{{ "/ngs/bg30201" | prepend: site.domain.biogeek }}'}
        %span.am-margin-sm Mag-Nucleotide Purification Kit 核酸纯化(磁珠)试剂盒
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/t7.jpg" | prepend: site.domain.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/t8.jpg" | prepend: site.domain.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/t9.jpg" | prepend: site.domain.assets }}'}
    %li
      %img.am-img-responsive{src: '{{ "/images/t10.jpg" | prepend: site.domain.assets }}'}
      %a{href: '{{ "/ngs/bg30101" | prepend: site.domain.biogeek }}'}
        %span.am-margin-sm Mag-Plasmid Prep Kit</br>质粒提取（磁珠）试剂盒
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/t11.jpg" | prepend: site.domain.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/t12.jpg" | prepend: site.domain.assets }}'}
    %li
      %img.am-img-responsive{src: '{{ "/images/t13.jpg" | prepend: site.domain.assets }}'}
      %a{href: '{{ "/ngs/bg30301" | prepend: site.domain.biogeek }}'}
        %span.am-margin-sm Mag-Nucleotide Fragment Selection Kit 核酸片段选择(磁珠)试剂盒
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/t14.jpg" | prepend: site.domain.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/t15.jpg" | prepend: site.domain.assets }}'}

.am-container.am-margin-vertical-xl.am-text-center
  %h2.am-margin-top-xl 磁 · 吸引 · 汇聚
  %hr
  %p 可控制+无污染+高效率+低成本 · 多重优势保障测序样品质量

.biogeek-banner.am-vertical-align.am-text-center{style: 'height: 450px; background-image: url({{ "/images/biogeek/ngs/ngs-adv1.jpg" | prepend: site.domain.assets }})'}
  .am-vertical-align-middle.am-text-white.am-padding-bottom-lg
    %h2.am-text-xxxl 核酸纯化（磁珠）试剂盒
    %p.am-text-lg 精纯品质 · 卓尔不群
    -# %a{href: ''}进一步了解>

.am-container.am-margin-vertical-xl.am-text-center
  %h2.am-margin-top-xl 集珍萃华 · 余韵不绝
  %hr
  %p 高优品质的试剂原料铸就顶级产品 · 前沿敏锐的学术嗅觉对接尖端技术

.biogeek-banner.am-vertical-align.am-margin-bottom-xl.am-text-center{style: 'height: 450px; background-image: url({{ "/images/biogeek/ngs/ngs-adv2.jpg" | prepend: site.domain.assets }})'}
  .am-vertical-align-middle.am-text-white.am-padding-bottom-lg
    %h2.am-text-xxxl 质粒提取（磁珠）试剂盒
    %p.am-text-lg 广泛支持 · 锐意争锋
    -# %a{href: ''}进一步了解>
