---
layout: biogeek/product-en
title: GeneTaq DNA Polymerase
title_html: Gene<i>Taq</i><sup>TM</sup> DNA Polymerase
image: /images/biogeek/product/GP.jpg
---
.am-container.am-margin-top-xl
  .am-margin-bottom-xl.am-g
    .am-cf
      .am-u-md-4
        %p.am-align-left
          %img.am-img-responsive{src: '{{ "/images/Polymerase-Green.jpg" | prepend: site.url.assets }}', alt: 'BioGeek GeneTaq DNA 聚合酶', width: '286', height: '502'}
      .am-u-md-8
        %h2.am-margin-top-lg Description
        %p.am-margin-bottom-xl Gene<i>Taq</i><sup>TM</sup> DNA polymerase is a thermostable <i>Taq</i> DNA polymerase that possesses a 5’ →3’ polymerase activity, a 5´→3’ exonuclease activity and a 3’ terminal deoxynucleotidyl transferase activity (addition of single dATP to the duplex DNA). It has been optimized for use in rapid amplification of DNA from trace amounts of starting material, regardless of a template’s GC content.
    .am-g
      .am-u-md-11.am-u-md-centered
        %table.am-table.am-table-bordered.am-table-compact.am-table-centered.am-text-middle
          %tr{:style => "background:#f9f9f9"}
            %th product
            %th Catalog
            %th Size
            %th Price
            %th Download
          %tr
            %td.am-text-middle{:rowspan => "6", :style=>" width:200px"}
              %p.am-margin-top{:align => "center"} GeneTaq<sup>TM</sup> DNA Polymerase with Green Reaction Buffer
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} BG10101S
            %td{"am-text-middle" => "", :rowspan => "2"}
              %p.am-margin-top{:align => "center"} 100 U
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} ¥83.00
              %p{:align => "center"}
            %td.am-text-middle{:rowspan => "6"}
              %p.am-margin-top{:align => "center"}
                %a{href: '{{ "/documents/GeneTaq-DNA-Polymerase-Green-V1.0.2.pdf" | prepend: site.url.assets }}'} Instruction
            %tr
          %tr{:style => "background:#f9f9f9"}
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} BG10101M
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 500 U
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} ¥350.00
            %tr
          %tr
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} BG10101L
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 2500 U
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} ¥1500.00
            %tr

          %tr
            %td.am-text-middle{:rowspan => "6"}
              %p.am-margin-top{:align => "center"} GeneTaq<sup>TM</sup> DNA Polymerase with Colorless Reaction Buffer
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} BG10102S
            %td{"am-text-middle" => "", :rowspan => "2"}
              %p.am-margin-top{:align => "center"} 100 U
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} ¥83.00
              %p{:align => "center"}
            %td.am-text-middle{:rowspan => "6"}
              %p.am-margin-top{:align => "center"}
                %a{href: '{{ "/documents/GeneTaq-DNA-Polymerase-Coloress-V1.0.2.pdf" | prepend: site.url.assets }}'} Instruction
              %tr

          %tr{:style => "background:#f9f9f9"}
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} BG10102M
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 500 U
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} ¥350.00
            %tr
          %tr
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} BG10102L
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 2500 U
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} ¥1500.00
            %tr
  %hr
  .am-margin-top-xl.am-margin-bottom-xl
    %h2{style: 'margin-top: 0'} Features
    .am-u-md-12.am-u-md-centered
      %p
        %strong ·High purity
      %p The physical purity is greater than 99% as determined by SDS-PAGE.
      %p
        %strong ·Low bacterial DNA contamination
      %p A bacterial TaqMan qPCR assay targeting 16S rRNA was performed with at least 5 ul GeneTaq<sup>TM</sup> DNA polyperase as a template. The level of DNA contamination in GeneTaq<sup>TM</sup> DNA polyperase has been estimated at less than 10 genome equivalents of bacterial DNA per unit of the enzyme.
      %p
        %strong ·High efficiency
      %p The extension times are generally 30 seconds per kb for complex genomic samples, but can be reduced to 10 seconds per kb for simple templates such as plasmid, bacterial and viral DNA.
  %hr
  .am-g.am-margin-top-xl
    %h2.am-margin-left-xl Applications
    .am-u-md-12.am-u-md-centered
      %p.am-margin-left-xl
        %strong ·&nbsp;Routine PCR amplification of DNA fragments up to 5 kb
      %p.am-margin-left-xl
        %strong ·&nbsp;Generating PCR products with 3'-dA overhangs for TA cloning
      %p.am-margin-left-xl
        %strong ·&nbsp;Colony PCR
  .am-margin-top-xl
    %hr
