---
layout: biogeek/product-en
title: pfu DNA Polymerase
title_html: <i>pfu</i> DNA Polymerase
image: /images/biogeek/product/PP.jpg
---

.am-container.am-margin-top-xl
  .am-margin-top-xl.am-margin-bottom-xl.am-g
    .am-cf
      .am-u-md-4
        %p.am-align-left
          %img.am-img-responsive{src: '{{ "/images/pfu.jpg" | prepend: site.domain.assets }}', alt: 'BioGeek pfu DNA 聚合酶', width: '286', height: '202'}
      .am-u-md-8
        %table.am-table.am-table-bordered.am-table-compact.am-table-centered.am-text-middle
          %tr{:style => "background:#f9f9f9"}
            %th Product
            %th Catalog
            %th Size
            %th Price
            %th Download
          %tr
            %td.am-text-middle{:rowspan => "4", :style=>" width:150px"}
              %p.am-margin-top pfu DNA Polymerase
            %td
              %p.am-margin-top BG10301S
            %td
              %p.am-margin-top 100U
            %td
              %p.am-margin-top ¥80.00
            %td.am-text-middle{:rowspan => "3"}
              %p.am-margin-top{:align => "center"}
                %a{href: '{{ "/documents/pfu-DNA-Polymerase-V1.0.3.pdf" | prepend: site.domain.assets }}'} Instruction
          %tr{:style => "background:#f9f9f9"}
            %td
              %p.am-margin-top BG10301M
            %td
              %p.am-margin-top 500U
            %td
              %p.am-margin-top ¥283.00
          %tr
            %td
              %p.am-margin-top BG10301L
            %td
              %p.am-margin-top 2500U
            %td
              %p.am-margin-top ¥1300.00
  %h2.am-margin-top-sm Description
  %p.am-margin-bottom-xl
    %i pfu DNA Polymerase is ideal for high-fidelity PCR amplifications. High fidelity is provided by the 3'→5' exonuclease activity (proofreading activity), which immediately removes misincorporated nucleotides at the 3' end of the growing DNA strand. With our optimized buffer system, BioGeek<sup>TM</sup> pfu DNA Polymerase results in ultra-low error rates.
  %hr
    .am-margin-top-xl.am-margin-bottom-xl
      %h2{style: 'margin-top: 0'} Features
      .am-u-md-12.am-u-md-centered
        %p
          %strong ·High purity
        %p The physical purity is greater than 99% as determined by SDS-PAGE.
        %p
          %strong ·Low bacterial DNA contamination
        %p A bacterial TaqMan qPCR assay targeting 16S rRNA was performed with at least 5 ul BioGeek<sup>TM</sup> pfu DNA Polymerase as a template. The level of DNA contamination in BioGeek<sup>TM</sup> pfu DNA Polymerase has been estimated at less than 10 genome equivalents of bacterial DNA per unit of the enzyme.

        %p
          %strong ·High fidelity
        %p More than 30 times higher fidelity than Taq DNA polymerase.
  %hr
  .am-g.am-margin-top-xl
    %h2.am-margin-left-xl Applications
    .am-u-md-12.am-u-md-centered
      %p.am-margin-left-xl
        %strong ·&nbsp;Routine or high fidelity PCR
      %p.am-margin-left-xl
        %strong ·&nbsp;Blunt end cloning
  .am-margin-top-xl
    %hr
    .am-g
