---
layout: biogeek/menu-en
title: Molecular cloning
---
.biogeek-banner.screen-height{style: 'background-image: url({{ "/images/biogeek/clone/molecular-pic.jpg" | prepend: site.url.assets }})'}

.am-container.am-margin-vertical-xl.am-text-center
  %h2.am-margin-top-xl We offer powerful and versatile cloning tools for the critical step in your experiment
  %hr
  %p Our high quality cloning bioreagents allow you to finish the critical step in a quick and cost-effective way

#biogeek-clone-puzzle.biogeek-puzzle.am-container
  %ul.am-center.am-avg-sm-3.am-avg-md-5
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/1.jpg" | prepend: site.url.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/2.jpg" | prepend: site.url.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/3.jpg" | prepend: site.url.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/4.jpg" | prepend: site.url.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/5.jpg" | prepend: site.url.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/6.jpg" | prepend: site.url.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/7.jpg" | prepend: site.url.assets }}'}
    %li
      %img.am-img-responsive{src: '{{ "/images/8.jpg" | prepend: site.url.assets }}'}
      %a{href: '{{ "/en/biogeek/clone/bg10202" | prepend: site.url.root }}'}
        %span.am-margin-sm Quick Ligase<sup>TM</sup> Kit
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/9.jpg" | prepend: site.url.assets }}'}
    %li
      %img.am-img-responsive{src: '{{ "/images/10.jpg" | prepend: site.url.assets }}'}
      %a{href: '{{ "/en/biogeek/clone/bg10104" | prepend: site.url.root }}'}
        %span.am-margin-sm Gene<i>Taq</i><sup>TM</sup> 2 x Master Mix
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/11.jpg" | prepend: site.url.assets }}'}
    %li
      %img.am-img-responsive{src: '{{ "/images/12.jpg" | prepend: site.url.assets }}'}
      %a{href: '{{ "/en/biogeek/clone/bg10201" | prepend: site.url.root }}'}
        %span.am-margin-sm T4 DNA Ligase
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/13.jpg" | prepend: site.url.assets }}'}
    %li
      %img.am-img-responsive{src: '{{ "/images/14.jpg" | prepend: site.url.assets }}'}
      %a{href: '{{ "/en/biogeek/clone/bg10301" | prepend: site.url.root }}'}
        %span.am-margin-sm pfu DNA Polymerase
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/15.jpg" | prepend: site.url.assets }}'}

.am-container.am-margin-vertical-xl.am-text-center
  %h2.am-margin-top-xl Faster，Higher，Stronger
  %hr
  %p Finishing an experiment from overnight to 5 mins - We spare your mind for more critical thinking

.biogeek-banner.am-text-center{style: 'height: 450px;background-image: url({{ "/images/biogeek/clone/sadv1.jpg" | prepend: site.url.assets }})'}
  .am-vertical-align{style: 'height:450px; background-color: rgba(0,0,0,0.2)'}
    .am-vertical-align-middle.am-text-white
      %h2.am-text-xxxl Quick Ligase<sup>TM</sup> Kit
      %p.am-text-lg Less labor · High efficiency
      %a{href: '{{ "/en/biogeek/clone/bg10202" | prepend: site.url.root }}'} Find out more >

.am-container.am-margin-vertical-xl.am-text-center
  %h2.am-margin-top-xl About routine PCR
  %hr
  %p What if we have to use trace amounts of starting materials for amplification template, for example, DNA from soil, milk or blood?

.biogeek-banner.am-vertical-align.am-margin-bottom-xl.am-text-center{style: 'height: 450px; background-image: url({{ "/images/biogeek/clone/sadv2.jpg" | prepend: site.url.assets }})'}
  .am-vertical-align-bottom.am-text-white.am-padding-bottom-sm
    %h2.am-text-xxxl Gene<i>Taq</i><sup>TM</sup> DNA Polymerase
    %a{href: '{{ "/en/biogeek/clone/bg10102" | prepend: site.url.root }}'} Find out more >
