<footer class="site-footer am-text-xs">
  <div class="am-container am-padding-top-lg">
    <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
      <h3>Synthetic Biology</h3>
      <p>Synthetic biology, as one of the most popular frontiers, is an interdisciplinary branch of biology and engineering aiming to design and construct new biological parts, devices, and systems, or redesign existing natural biological systems for useful purposes. Nowadays, synthetic biology has been applied to a number of areas such as health, energy, the environment, agriculture, etc. The development and innovation of synthetic biology  will change our lives in the forseeable future, leading to cheaper drugs, 'green' means to fuel our cars and targeted targeted therapies for diseases.  </p>
    </div>
    <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
      <h3>SyngenTech</h3>
      <p>SyngenTech is a biotechnology company focused on applying synthetic biology to scientific research and public healthcare. Since its establishment, SyngenTech has been committed to providing researchers around the world with high-quality, innovative technical services and products. Its services and products，as created by scientists for scientists, are designed to cover the whole industrial chain for synthetic biology, including various bioreagents, a sharing repository for genetic elements, high-quality technical services and clinical healthcare. </p>
    </div>
    <div class="am-u-sm-12 am-u-md-9 am-u-lg-4">
      <h3>Switching language</h3>
      <div>
        {% capture realUrl %}{{ page.url | replace_first: '/en/', '/' }}{% endcapture %}
        <a href="{{ realUrl | prepend: site.domain.root }}">Chinese</a>
        <span class="am-margin-horizontal-xs">|</span>
        <a href="{{ realUrl | prepend: '/en' | prepend: site.domain.root |}}">English</a>
      </div>
      <h3>Contact</h3>
      <ul class="am-nav">
        <li>Tel:</li>
        <li class="am-margin-left-lg">400-680-3200</li>
        <li>Email:</li>
        <li class="am-margin-left-lg">service@syngen.tech</li>
        <li>Address:</li>
        <li class="am-margin-left-lg">G floor of Northern Life Square, Zhong-Guan-Cun Life Science Park, Changping District, Beijing</li>
      </ul>
    </div>
    <div class="am-u-sm-12 am-u-md-3 am-u-lg-2">
      <img class="am-img-responsive" src='{{ "/images/index26.jpg" | prepend: site.domain.assets }}'>
    </div>
  </div>
  <div class="am-container am-padding-bottom-xs">
    <div class="am-text-center">All rights reserved &copy; Beijing Syngentech Co., LTD. · Beijing ICP No.14043945</div>
  </div>
</footer>
<script src="http://assets.syngentech.com.cn/libs/bragi/0.3.1/bragi.js"></script>
<script src="{{ '/javascripts/main-20180921.js' | prepend: site.domain.assets }}"></script>
