<footer class="site-footer am-text-xs">
  <div class="am-container am-padding-top-lg">
    <div class="am-u-sm-12 am-u-md-3 am-u-lg-3">
      <h3>合成生物学</h3>
      <p>合成生物学是进入本世纪以来刚刚发展起来的一门新兴交叉学科，它是在基于对生命规律认识的基础上，利用工程化的思想，通过人工方式设计、制造或改造DNA等生物分子，来构建和优化生物系统，使其能够处理信息、制造材料、生产能源、提供食物、改善人类健康和环境等，已经成为生命科学中最受关注的前沿学科方向之一。</p>
    </div>
    <div class="am-u-sm-12 am-u-md-3 am-u-lg-3">
      <h3>合生基因</h3>
      <p>北京合生基因科技有限公司是国内领先的专注于合成生物学在科研和医药健康领域应用的生物技术公司。公司将秉持“科教兴国、产业报国、健康强国”理念，以“在过程中寻找机会、在发展中解决问题、在创新中获得效益”为思路，以发展民族生物产业为己任，努力成为集合成生物学技术研发、科研服务和产品销售于一体的新型生物医药技术型企业。</p>
    </div>
    <div class="am-u-sm-12 am-u-md-4 am-u-lg-4">
      <h3>切换语言</h3>
      <div>
        {% capture realUrl %}{{ page.url | replace_first: '/en/', '/' }}{% endcapture %}
        <a href="{{ realUrl | prepend: site.domain.root }}">简体中文</a>
        <span class="am-margin-horizontal-xs">|</span>
        <a href="{{ realUrl | prepend: '/en' | prepend: site.domain.root |}}">English</a>
      </div>
      <h3>联系我们</h3>
      <ul class="am-nav">
        <li>联系热线：010-80767807;400-680-3200</li>
        <li>服务邮箱：service@syngen.tech</li>
        <li>公司地址：北京市昌平区中关村生命科学园生命广场北侧一层</li>
      </ul>
    </div>
    <div class="am-u-sm-12 am-u-md-2 am-u-lg-2">
      <img class="am-img-responsive" src='{{ "/images/index26.jpg" | prepend: site.domain.assets }}'>
    </div>
  </div>
  <div class="am-container am-padding-bottom-xs">
    <div class="am-text-center">版权所有 &copy; 北京合生基因科技有限公司 · 京ICP备14043945号</div>
  </div>
</footer>
<script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://cdn.amazeui.org/amazeui/2.4.2/js/amazeui.js"></script>
<script src="{{ '/javascripts/main-20180522.js' | prepend: site.domain.assets }}"></script>
