<header class="am-topbar am-topbar-inverse am-topbar-fixed-top">
  <div class="am-container">
    <h1 class="am-topbar-brand am-show-sm-only">
      <a href="#" class="am-text-ir" style="background-image: url({{ '/images/logo-white.png' | prepend: site.domain.assets }});">logo</a>
    </h1>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-default am-show-sm-only" data-am-offcanvas="{target: '#offcanvas'}">
      <span class="am-sr-only">导航切换</span>
      <span class="am-icon-bars"></span>
    </button>

    <div class="am-collapse am-topbar-collapse">
      <ul class="am-nav am-nav-pills am-topbar-nav" style="width: 100%;">
        <h1 class="am-topbar-brand">
          <a href="{{ '/' | prepend: site.domain.root }}" class="am-text-ir" style="background-image: url({{ '/images/logo-white.png' | prepend: site.domain.assets }});">logo</a>
        </h1>
        <li class="am-dropdown">
          <a href="javascript:;" class="am-dropdown-toggle">关于我们</a>
          <ul class="am-dropdown-content">
            <li><a href="{{ '/about' | prepend: site.domain.root }}">企业简介</a></li>
            <li><a href="{{ '/hire' | prepend: site.domain.root }}">招贤纳士</a></li>
            <li><a href="{{ '/cooperate' | prepend: site.domain.root }}">合作加盟</a></li>
            <li><a href="{{ '/contact' | prepend: site.domain.root }}">联系我们</a></li>
          </ul>
        </li>
        <!-- <li><a href="{{ '/process_development/' | prepend: site.domain.root }}">工艺开发</a></li> -->
        <!-- <li><a href="{{ '/biopharmaceutical_R_and_D/' | prepend: site.domain.root }}">新药研发</a></li> -->
        <li class="am-dropdown">
          <a href="{{ '/service' | prepend: site.domain.root }}" class="am-dropdown-toggle">科研服务</a>
          <ul class="am-dropdown-content full-width">
            <div class="am-container">

              <div class="am-u-md-2">
                <p>病毒载体</p>
                <ul class="am-nav">
                  <li><a href="{{ '/service/product/LV/' | prepend: site.domain.root }}">慢病毒包装</a></li>
                  <li><a href="{{ '/service/product/adenovirus/' | prepend: site.domain.root }}">腺病毒包装</a></li>
                  <li><a href="{{ '/service/adeno-associated-virus/' | prepend: site.domain.root }}">腺相关病毒包装</a></li>
                </ul>
              </div>
              <div class="am-u-md-3">
                <p>CRISPR/Cas9基因编辑</p>
                <ul class="am-nav">
                  <li><a href="{{ '/service/solution/' | prepend: site.domain.root }}">基因编辑</a></li>
                  <li><a href="{{ '/service/product/CRISPR-design/' | prepend: site.domain.root }}">CRISPR/Cas9载体设计与构建</a></li>
                  <li><a href="{{ '/service/solution/knock-down/' | prepend: site.domain.root }}">基因敲除细胞株</a></li>
                  <li><a href="{{ '/service/product/CRISPR-activity/' | prepend: site.domain.root }}">CRISPR/Cas9活性检测</a></li>
                  <li><a href="{{ '/service/product/gRNA-library/' | prepend: site.domain.root }}">gRNA文库构建</a></li>
                  <li><a href="{{ '/service/BE4' | prepend: site.domain.root }}">单碱基编辑</a></li>
                  <li><a href="{{ '/service/solution/high-throughput-edting/' | prepend: site.domain.root }}">高通量基因编辑</a></li>
                </ul>
              </div>
              <div class="am-u-md-2">
                <p>RNAi基因沉默</p>
                <ul class="am-nav">
                  <li><a href="{{ '/service/solution/silencing/' | prepend: site.domain.root }}">基因沉默</a></li>
                  <li><a href="{{ '/service/product/RNAi-design/' | prepend: site.domain.root }}">RNAi载体设计与构建</a></li>
                  <li><a href="{{ '/service/product/miRNA-sponge-design/' | prepend: site.domain.root }}">miRNA sponge 抑制载体设计与构建</a></li>
                  <li><a href="{{ '/service/product/shRNA-library/' | prepend: site.domain.root }}">shRNA文库构建</a></li>
                </ul>
              </div>
              <div class="am-u-md-3">
                <p>细胞功能实验</p>
                <ul class="am-nav">
                  <li><a href="{{ '/service/MSS/' | prepend: site.domain.root }}">临床肿瘤学综合科研服务</a></li>
                  <li><a href="{{ '/service/cell-phenotype/' | prepend: site.domain.root }}">细胞生物学功能鉴定服务</a></li>
                </ul>
              </div>
              <div class="am-u-md-2">
                <p>其他服务</p>
                <ul class="am-nav">
                  <li><a href="{{ '/service/product/gene-synthesis/' | prepend: site.domain.root }}">基因合成</a></li>
                  <li><a href="{{ '/service/product/transgenic-mice/' | prepend: site.domain.root }}">基因工程鼠</a></li>
                </ul>
              </div>

            </div>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</header>

<!--Offcanvas shown on small screens -->
<div id="offcanvas" class="am-offcanvas">
  <div class="am-offcanvas-bar">
    <div class="am-offcanvas-content">
      <ul class="am-list" id="offcanvas-collapse">
        <li class="am-panel">
          <div class="am-padding-sm am-padding-horizontal">
            <a href="{{ '/' | prepend: site.domain.root }}">首页</a>
          </div>
        </li>
        <li class="am-panel">
          <div class="am-padding-sm am-padding-horizontal">
            <a href="{{ site.domain.service }}">技术服务</a>
            <i class="am-icon-caret-down am-fr" data-am-collapse="{parent: '#offcanvas-collapse', target: '#offcanvas-service'}"></i>
          </div>
          <ul class="am-list am-collapse" id="offcanvas-service">
            <li class="am-panel">
              <div>
                <div class="am-padding-sm am-padding-horizontal">
                  <a href="javascript:;">病毒载体</a>
                  <i class="am-icon-caret-down am-fr" data-am-collapse="{parent: '#offcanvas-service', target: '#offcanvas-vector'}"></i>
                </div>
              </div>
              <ul class="am-list am-collapse" id="offcanvas-vector">
                <li><a href="{{ '/service/product/LV/' | prepend: site.domain.root }}">慢病毒包装</a></li>
                <li><a href="{{ '/service/product/adenovirus/' | prepend: site.domain.root }}">腺病毒包装</a></li>
                <li><a href="{{ '/service/adeno-associated-virus/' | prepend: site.domain.root }}">腺相关病毒包装</a></li>
              </ul>
            </li>
            <li class="am-panel">
              <div>
                <div class="am-padding-sm am-padding-horizontal">
                  <a href="javascript:;">CRISPR/Cas9基因编辑</a>
                  <i class="am-icon-caret-down am-fr" data-am-collapse="{parent: '#offcanvas-service', target: '#offcanvas-cas9'}"></i>
                </div>
              </div>
              <ul class="am-list am-collapse" id="offcanvas-cas9">
                <li><a href="{{ '/service/solution/' | prepend: site.domain.root }}">基因编辑</a></li>
                <li><a href="{{ '/service/product/CRISPR-design/' | prepend: site.domain.root }}">CRISPR/Cas9载体设计与构建</a></li>
                <li><a href="{{ '/service/solution/knock-down/' | prepend: site.domain.root }}">基因敲除细胞株</a></li>
                <li><a href="{{ '/service/product/CRISPR-activity/' | prepend: site.domain.root }}">CRISPR/Cas9活性检测</a></li>
                <li><a href="{{ '/service/product/gRNA-library/' | prepend: site.domain.root }}">gRNA文库构建</a></li>
                <li><a href="{{ '/service/BE4' | prepend: site.domain.root }}">单碱基编辑</a></li>
                <li><a href="{{ '/service/solution/high-throughput-edting/' | prepend: site.domain.root }}">高通量基因编辑</a></li>
              </ul>
            </li>
            <li class="am-panel">
              <div>
                <div class="am-padding-sm am-padding-horizontal">
                  <a href="javascript:;">RNAi基因沉默</a>
                  <i class="am-icon-caret-down am-fr" data-am-collapse="{parent: '#offcanvas-service', target: '#offcanvas-silencing'}"></i>
                </div>
              </div>
              <ul class="am-list am-collapse" id="offcanvas-silencing">
                <li><a href="{{ '/service/solution/silencing/' | prepend: site.domain.root }}">基因沉默</a></li>
                <li><a href="{{ '/service/product/RNAi-design/' | prepend: site.domain.root }}">RNAi载体设计与构建</a></li>
                <li><a href="{{ '/service/product/miRNA-sponge-design/' | prepend: site.domain.root }}">miRNA sponge 抑制载体设计与构建</a></li>
                <li><a href="{{ '/service/product/shRNA-library/' | prepend: site.domain.root }}">shRNA文库构建</a></li>
              </ul>
            </li>
            <li class="am-panel">
              <div>
                <div class="am-padding-sm am-padding-horizontal">
                  <a href="javascript:;">细胞功能实验</a>
                  <i class="am-icon-caret-down am-fr" data-am-collapse="{parent: '#offcanvas-service', target: '#offcanvas-cell'}"></i>
                </div>
              </div>
              <ul class="am-list am-collapse" id="offcanvas-cell">
                <li><a href="{{ '/service/MSS/' | prepend: site.domain.root }}">临床肿瘤学综合科研服务</a></li>
                <li><a href="{{ '/service/cell-phenotype/' | prepend: site.domain.root }}">细胞生物学功能鉴定服务</a></li>
              </ul>
            </li>
            <li class="am-panel">
              <div>
                <div class="am-padding-sm am-padding-horizontal">
                  <a href="javascript:;">其他服务</a>
                  <i class="am-icon-caret-down am-fr" data-am-collapse="{parent: '#offcanvas-service', target: '#offcanvas-other'}"></i>
                </div>
              </div>
              <ul class="am-list am-collapse" id="offcanvas-other">
                <li><a href="{{ '/service/product/gene-synthesis/' | prepend: site.domain.root }}">基因合成</a></li>
                <li><a href="{{ '/service/product/transgenic-mice/' | prepend: site.domain.root }}">基因工程鼠</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="am-panel">
          <div class="am-padding-sm am-padding-horizontal">
            <!-- <a href="{{ '/biopharmaceutical_R_and_D/' | prepend: site.domain.root }}">新药研发</a> -->
          </div>
        </li>
        <li class="am-panel">
          <div class="am-padding-sm am-padding-horizontal">
            <!-- <a href="{{ '/process_development/' | prepend: site.domain.root }}">工艺开发</a> -->
          </div>
        </li>
        <li class="am-panel">
          <div class="am-padding-sm am-padding-horizontal">
            <a href="#">关于我们</a>
            <i class="am-icon-caret-down am-fr" data-am-collapse="{parent: '#offcanvas-collapse', target: '#offcanvas-about'}"></i>
          </div>
          <ul class="am-list am-collapse" id="offcanvas-about">
            <li><a href="{{ '/about' | prepend: site.domain.root }}">企业简介</a></li>
            <li><a href="{{ '/hire' | prepend: site.domain.root }}">招贤纳士</a></li>
            <li><a href="{{ '/cooperate' | prepend: site.domain.root }}">合作加盟</a></li>
            <li><a href="{{ '/contact' | prepend: site.domain.root }}">联系我们</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
