<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="syngentech, geshare, CRISPR/Cas9, CIRSPR, Cas9, Gene Editing, Gene Knock Out, Gene Elements Order, Plasmid Purchase, Technical Service, Biology Technical Solution">
<meta name="description" content="SyngenTech is a one-stop service platform consisting of Biology Technical Service, Optimized Biological Reagents and Gene Element Share/Order.">
<title>{% if page.title.head %}{{ page.title.head }}{% elsif page.title %}{{ page.title }}{% else %}SyngenTech{% endif %}</title>

<link rel="shortcut icon" type="image/png" href="{{ '/images/logo.png' | prepend: site.url.assets }}" />
<link rel="alternate" type="application/rss+xml" title="SyngenTech" href="{{ "/feed.xml" | prepend: site.url.root }}">
<link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.4.2/css/amazeui.css"/>
<link rel="stylesheet" href="{{ '/stylesheets/main.css' | prepend: site.url.assets }}">

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?cc8bb42304c088d15e5bdf8c544a4645";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
