<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{% if page.title %}{{ page.title }}{% else %}合生基因{% endif %}</title>

<link rel="alternate" type="application/rss+xml" title="合生基因" href="{{ "/feed.xml" | prepend: site.url.root }}">
<link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.4.2/css/amazeui.css"/>
<link rel="stylesheet" href="{{ '/stylesheets/main.css' | prepend: site.url.assets }}">

<!-- Start of KF5 supportbox script -->
<script src="//assets.kf5.com/supportbox/main.js" id="kf5-provide-supportBox" kf5-domain="syngentech.kf5.com"></script>
<!-- End of KF5 supportbox script -->
