<header class="am-topbar am-topbar-inverse am-topbar-fixed-top">
  <div class="am-container">
    <h1 class="am-topbar-brand">
      <a href="#" class="am-text-ir">logo</a>
    </h1>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-default am-show-sm-only" data-am-offcanvas="{target: '#offcanvas'}">
      <span class="am-sr-only">导航切换</span>
      <span class="am-icon-bars"></span>
    </button>

    <div class="am-collapse am-topbar-collapse">
      <ul class="am-nav am-nav-pills am-topbar-nav">
        <li class="am-dropdown"><a href="/index.html">&nbsp;首页&nbsp;</a></li>
        <li class="am-dropdown"><a href="www.syngentech.com.cn">基因山</a></li>
        <li class="am-dropdown">
          <a href="www.syngentech.com.cn" class="am-dropdown-toggle">BioGeek</a>
          <ul class="am-dropdown-content">
            <li><a href="www.syngentech.com.cn">分子克隆</a></li>
            <li><a href="www.syngentech.com.cn">细胞培养</a></li>
            <li><a href="www.syngentech.com.cn">NGS</a></li>
            <li><a href="www.syngentech.com.cn">蛋白表达</a></li>
          </ul>
        </li>
        <li class="am-dropdown">
          <a href="/service/index.html" class="am-dropdown-toggle">合生基因</a>
          <ul class="am-dropdown-content">
            <li class="list">
              <a href="/service/solution/solution">解决方案</a>
              <ul class="list-content am-nav">
                <li><a href="/service/solution/solution-1">基因敲除</a></li>
                <li><a href="/service/solution/solution-2">LncRNA敲除</a></li>
                <li><a href="/service/solution/solution-3">非定点基因整合</a></li>
                <li><a href="/service/solution/solution-4">基因敲入</a></li>
                <li><a href="/service/solution/solution-5">基因沉默</a></li>
                <li><a href="/service/solution/solution-6">转录激活</a></li>
                <li><a href="/service/solution/solution-7">转录抑制</a></li>
                <li><a href="/service/solution/solution-8">高通量基因编辑</a></li>
              </ul>
            </li>
            <li class="list">
              <a href="/service/product/product">服务与产品</a>
              <ul class="list-content am-nav">
                <li><a href="/service/product/product-1">CRISPR/Cas9 载体设计与构建</a></li>
                <li><a href="/service/product/product-2">CRISPR/Cas9 快速构建试剂盒</a></li>
                <li><a href="/service/product/product-3">CRISPR/Cas9 活性检测</a></li>
                <li><a href="/service/product/product-4">gRNA文库构建</a></li>
                <li><a href="/service/product/product-5">RNAi 载体设计与构建</a></li>
                <li><a href="/service/product/product-6">miRNA sponge 抑制载体设计与构建</a></li>
                <li><a href="/service/product/product-7">shRNA文库构建</a></li>
                <li><a href="/service/product/product-8">细胞系工程改造服务</a></li>
                <li><a href="/service/product/product-9">慢病毒包装</a></li>
                <li><a href="/service/product/product-10">基因工程鼠</a></li>
                <li><a href="/service/product/product-11">基因合成</a></li>
                <li><a href="/service/product/product-12">合成生物学技术服务外包</a></li>
          </ul>
            </li>
          </ul>
        </li>
        <li class="am-dropdown am-disabled"><a href="www.syngentech.com.cn">合生健康</a></li>
        <li class="am-dropdown"><a href="/blog/index.html">&nbsp;博客&nbsp;</a></li>
        <li class="am-dropdown">
          <a href="#" class="am-dropdown-toggle">关于我们</a>
          <ul class="am-dropdown-content">
            <li><a href="/about-1">企业简介</a></li>
            <li><a href="/about-2">招贤纳士</a></li>
            <li><a href="/about-3">工业合作/代理加盟</a></li>
            <li><a href="/about-4">联系我们</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</header>

<!--点击button后的内容-->
<div id="offcanvas" class="am-offcanvas">
  <div class="am-offcanvas-bar">
    <div class="am-offcanvas-content">
      <ul class="am-list admin-sidebar-list" id="offcanvas-collapse">
        <li class="am-panel">
          <div class="am-padding-sm">
            <i class="am-margin-left"><a href="/index.html">首页</a></i>
          </div>
        </li>
        <li class="am-panel">
          <div class="am-padding-sm">
            <i class="am-margin-left"><a href="www.syngentech.com.cn">基因山</a></i>
          </div>
        </li>
        <li class="am-panel">
          <div class="am-padding-sm">
            <i class="am-margin-left" ><a href="www.syngentech.com.cn">BioGeek</a></i>
            <i class="am-icon-caret-down am-fr am-margin-right" data-am-collapse="{parent: '#offcanvas-collapse', target: '#offcanvas-Biogeek'}"></i>
          </div>
          <ul class="am-list am-collapse admin-sidebar-sub" id="offcanvas-Biogeek">
            <li class="border-style-one"><a href="www.syngentech.com.cn">分子克隆</a></li>
            <li class="border-style-one"><a href="www.syngentech.com.cn">细胞培养</a></li>
            <li class="border-style-one"><a href="www.syngentech.com.cn">NGS</a></li>
            <li class="border-style-one"><a href="www.syngentech.com.cn">蛋白表达</a></li>
          </ul>
        </li>
        <li class="am-panel">
          <div class="am-padding-sm">
            <i class="am-margin-left" ><a href="/service/index.html">合生基因</a></i>
            <i class="am-icon-caret-down am-fr am-margin-right" data-am-collapse="{parent: '#offcanvas-collapse', target: '#offcanvas-Serve'}"></i>
          </div>
          <ul class="am-list am-collapse admin-sidebar-sub" id="offcanvas-Serve">
            <li class="am-panel">
              <div class="am-padding-sm border-style-one">
                <i class="am-margin-left"><a href="/service/solution/solution.html">解决方案</a></i>
                <i class="am-icon-caret-down am-fr am-margin-right" data-am-collapse="{parent: '#offcanvas-Serve', target: '#offcanvas-solution'}"></i>
              </div>
              <ul class="am-list am-collapse admin-sidebar-sub color-style" id="offcanvas-solution">
                <li class="border-style-two"><a href="/service/solution/solution-1">基因敲除</a></li>
                <li class="border-style-two"><a href="/service/solution/solution-2">LncRNA敲除</a></li>
                <li class="border-style-two"><a href="/service/solution/solution-3">非定点基因整合</a></li>
                <li class="border-style-two"><a href="/service/solution/solution-4">基因敲入</a></li>
                <li class="border-style-two"><a href="/service/solution/solution-5">基因沉默</a></li>
                <li class="border-style-two"><a href="/service/solution/solution-6">转录激活</a></li>
                <li class="border-style-two"><a href="/service/solution/solution-7">转录抑制</a></li>
                <li class="border-style-two"><a href="/service/solution/solution-8">高通量基因编辑</a></li>
              </ul>
            </li>
            <li class="am-panel">
              <div class="am-padding-sm border-style-one">
                <i class="am-margin-left " ><a href="/service/product/product.html">服务与产品</a></i>
                <i class="am-icon-caret-down am-fr am-margin-right" data-am-collapse="{parent: '#offcanvas-Serve', target: '#offcanvas-product'}"></i>
              </div>
              <ul class="am-list am-collapse admin-sidebar-sub color-style" id="offcanvas-product">
                <li class="border-style-two"><a href="/service/product/product-1">CRISPR/Cas9 载体设计与构建</a></li>
                <li class="border-style-two"><a href="/service/product/product-2">CRISPR/Cas9 快速构建试剂盒</a></li>
                <li class="border-style-two"><a href="/service/product/product-3">CRISPR/Cas9 活性检测</a></li>
                <li class="border-style-two"><a href="/service/product/product-4">gRNA文库构建</a></li>
                <li class="border-style-two"><a href="/service/product/product-5">RNAi 载体设计与构建</a></li>
                <li class="border-style-two"><a href="/service/product/product-6">miRNA sponge 抑制载体设计与构建</a></li>
                <li class="border-style-two"><a href="/service/product/product-7">shRNA文库构建</a></li>
                <li class="border-style-two"><a href="/service/product/product-8">细胞系工程改造服务</a></li>
                <li class="border-style-two"><a href="/service/product/product-9">慢病毒包装</a></li>
                <li class="border-style-two"><a href="/service/product/product-10">基因工程鼠</a></li>
                <li class="border-style-two"><a href="/service/product/product-11">基因合成</a></li>
                <li class="border-style-two"><a href="/service/product/product-12">合成生物学技术服务外包</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="am-panel">
          <div class="am-padding-sm">
            <i class="am-margin-left"><a href="/blog/index.html">博客</a></i>
          </div>
        </li>
        <li class="am-panel">
          <div class="am-padding-sm">
            <i class="am-margin-left"><a href="#/">关于我们</a></i>
            <i class="am-icon-caret-down am-fr am-margin-right" data-am-collapse="{parent: '#offcanvas-collapse', target: '#offcanvas-about'}"></i>
          </div>
          <ul class="am-list am-collapse admin-sidebar-sub" id="offcanvas-about">
            <li class="border-style-one"><a href="/about-1.html">企业简介</a></li>
            <li class="border-style-one"><a href="/about-2.html">招贤纳士</a></li>
            <li class="border-style-one"><a href="/about-3.html">工业合作/代理加盟</a></li>
            <li class="border-style-one"><a href="/about-4.html">联系我们</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
