<header class="am-topbar am-topbar-inverse am-topbar-fixed-top">
  <div class="am-container">
    <h1 class="am-topbar-brand am-show-sm-only">
      <a href="#" class="am-text-ir" style="background-image: url({{ '/images/logo-white.png' | prepend: site.url.assets }});">logo</a>
    </h1>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-default am-show-sm-only" data-am-offcanvas="{target: '#offcanvas'}">
      <span class="am-sr-only">导航切换</span>
      <span class="am-icon-bars"></span>
    </button>

    <div class="am-collapse am-topbar-collapse">
      <ul class="am-nav am-nav-pills am-topbar-nav am-nav-justify" style="max-width: 960px;">
        <h1 class="am-topbar-brand">
          <a href="#" class="am-text-ir" style="background-image: url({{ '/images/logo-white.png' | prepend: site.url.assets }});">logo</a>
        </h1>
        <li><a href="{{ '/' | prepend: site.url.root }}">首页</a></li>
        <li><a href="http://www.geshare.com.cn" target="_blank">基因山</a></li>
        <li class="am-dropdown">
          <a href="{{ site.url.biogeek }}" class="am-dropdown-toggle">BioGeek试剂</a>
          <ul class="am-dropdown-content">
            <li class="list">
              <a href="{{ '/clone' | prepend: site.url.biogeek }}">分子克隆</a>
              <ul class="list-content am-nav">
                <li><a href="{{ '/clone/bg10102' | prepend: site.url.biogeek }}">GeneTaq<sup>TM</sup> DNA 聚合酶</a></li>
                <li><a href="{{ '/clone/bg10110' | prepend: site.url.biogeek }}">2 × <i>Taq</i> Master Mix</a></li>
                <li><a href="{{ '/clone/bg10201' | prepend: site.url.biogeek }}">T4 DNA 连接酶</a></li>
                <li><a href="{{ '/clone/bg10202' | prepend: site.url.biogeek }}">Quick Ligase<sup>TM</sup></a></li>
                <li><a href="{{ '/clone/bg10301' | prepend: site.url.biogeek }}">pfu DNA聚合酶</a></li>
                <li><a href="{{ '/clone/bg10401' | prepend: site.url.biogeek }}">2 × Eva Green Master Mix</a></li>
              </ul>
            </li>
            <li class="list">
              <a href="{{ '/cell' | prepend: site.url.biogeek }}">细胞培养</a>
              <ul class="list-content am-nav">
                <li><a href="{{ '/cell/LC-kit' | prepend: site.url.biogeek }}">Lentivirus Concentration Kit</a></li>
                <li><a href="{{ '/cell/bg20201' | prepend: site.url.biogeek }}">EpFect<sup>TM</sup> 转染试剂</a></li>
                <li><a href="{{ '/cell/bg20301' | prepend: site.url.biogeek }}">Polybrene（聚凝胺）</a></li>
              </ul>
            </li>
            <li class="list">
              <a href="{{ '/ngs' | prepend: site.url.biogeek }}">NGS</a>
              <ul class="list-content am-nav">
                <li><a href="{{ '/ngs/bg30101' | prepend: site.url.biogeek }}">IMag<sup>TM</sup> 质粒提取</a></li>
                <li><a href="{{ '/ngs/bg30201' | prepend: site.url.biogeek }}">IMag<sup>TM</sup> 核酸纯化</a></li>
                <li><a href="{{ '/ngs/bg30301' | prepend: site.url.biogeek }}">IMag<sup>TM</sup> 片段筛选</a></li>
              </ul>
            </li>
            <!-- <li><a href="{{ '/glair' | prepend: site.url.biogeek }}">蛋白表达</a></li> -->
          </ul>
        </li>
        <li class="am-dropdown">
          <a href="{{ site.url.service }}" class="am-dropdown-toggle">技术服务</a>
          <ul class="am-dropdown-content">
            <li class="list">
              <a href="{{ '/solution' | prepend: site.url.service }}">解决方案</a>
              <ul class="list-content am-nav">
                <li><a href="{{ '/solution/knock-down' | prepend: site.url.service }}">基因敲除</a></li>
                <li><a href="{{ '/solution/lncRNA-knock-down' | prepend: site.url.service }}">LncRNA敲除</a></li>
                <li><a href="{{ '/solution/non-site-specific-integration' | prepend: site.url.service }}">非定点基因整合</a></li>
                <li><a href="{{ '/solution/knock-in' | prepend: site.url.service }}">基因敲入</a></li>
                <li><a href="{{ '/solution/silencing' | prepend: site.url.service }}">基因沉默</a></li>
                <li><a href="{{ '/solution/activation' | prepend: site.url.service }}">转录激活</a></li>
                <li><a href="{{ '/solution/inhibition' | prepend: site.url.service }}">转录抑制</a></li>
                <li><a href="{{ '/solution/high-throughput-edting' | prepend: site.url.service }}">高通量基因编辑</a></li>
              </ul>
            </li>
            <li class="list">
              <a href="{{ '/product' | prepend: site.url.service }}">服务产品</a>
              <ul class="list-content am-nav">
                <li><a href="{{ '/product/CRISPR-design' | prepend: site.url.service }}">CRISPR/Cas9 载体设计与构建</a></li>
                <li><a href="{{ '/product/CRISPR-construction' | prepend: site.url.service }}">CRISPR/Cas9 快速构建试剂盒</a></li>
                <li><a href="{{ '/product/CRISPR-activity' | prepend: site.url.service }}">CRISPR/Cas9 活性检测</a></li>
                <li><a href="{{ '/product/gRNA-library' | prepend: site.url.service }}">gRNA文库构建</a></li>
                <li><a href="{{ '/product/RNAi-design' | prepend: site.url.service }}">RNAi 载体设计与构建</a></li>
                <li><a href="{{ '/product/miRNA-sponge-design' | prepend: site.url.service }}">miRNA sponge 抑制载体设计与构建</a></li>
                <li><a href="{{ '/product/shRNA-library' | prepend: site.url.service }}">shRNA文库构建</a></li>
                <li><a href="{{ '/product/cell-line-transform' | prepend: site.url.service }}">细胞系工程改造服务</a></li>
                <li><a href="{{ '/product/LV' | prepend: site.url.service }}">慢病毒包装</a></li>
                <li><a href="{{ '/product/transgenic-mice' | prepend: site.url.service }}">基因工程鼠</a></li>
                <li><a href="{{ '/product/gene-synthesis' | prepend: site.url.service }}">基因合成</a></li>
                <li><a href="{{ '/product/synbio-service' | prepend: site.url.service }}">合成生物学技术服务外包</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="javascript:;">合生健康</a></li>
        <li><a href="{{ site.url.blog }}">博客</a></li>
        <li class="am-dropdown">
          <a href="javascript:;" class="am-dropdown-toggle">关于我们</a>
          <ul class="am-dropdown-content">
            <li><a href="{{ '/about' | prepend: site.url.root }}">企业简介</a></li>
            <li><a href="{{ '/hire' | prepend: site.url.root }}">招贤纳士</a></li>
            <li><a href="{{ '/cooperate' | prepend: site.url.root }}">工业合作/代理加盟</a></li>
            <li><a href="{{ '/contact' | prepend: site.url.root }}">联系我们</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</header>

<!--Offcanvas shown on small screens -->
<div id="offcanvas" class="am-offcanvas">
  <div class="am-offcanvas-bar">
    <div class="am-offcanvas-content">
      <ul class="am-list" id="offcanvas-collapse">
        <li class="am-panel">
          <div class="am-padding-sm am-padding-horizontal">
            <a href="{{ '/' | prepend: site.url.root }}">首页</a>
          </div>
        </li>
        <li class="am-panel">
          <div class="am-padding-sm am-padding-horizontal">
            <a href="http://www.geshare.com.cn" target="_blank">基因山</a>
          </div>
        </li>
        <li class="am-panel">
          <div class="am-padding-sm am-padding-horizontal">
            <a href="{{ site.url.biogeek }}">BioGeek试剂</a>
            <i class="am-icon-caret-down am-fr" data-am-collapse="{parent: '#offcanvas-collapse', target: '#offcanvas-biogeek'}"></i>
          </div>
          <ul class="am-list am-collapse" id="offcanvas-biogeek">
            <li class="am-panel">
              <div>
                <div class="am-padding-sm am-padding-horizontal ">
                  <a href="{{ '/clone' | prepend: site.url.biogeek }}">分子克隆</a>
                  <i class="am-icon-caret-down am-fr" data-am-collapse="{parent: '#offcanvas-biogeek', target: '#offcanvas-clone'}"></i>
                </div>
              </div>
              <ul class="am-list am-collapse" id="offcanvas-clone">
                <li><a href="{{ '/clone/bg10102' | prepend: site.url.biogeek }}">GeneTaq<sup>TM</sup> DNA 聚合酶</a></li>
                <li><a href="{{ '/clone/bg10110' | prepend: site.url.biogeek }}">2 × <i>Taq</i> Master Mix</a></li>
                <li><a href="{{ '/clone/bg10201' | prepend: site.url.biogeek }}">T4 DNA 连接酶</a></li>
                <li><a href="{{ '/clone/bg10202' | prepend: site.url.biogeek }}">Quick Ligase<sup>TM</sup></a></li>
                <li><a href="{{ '/clone/bg10301' | prepend: site.url.biogeek }}">pfu DNA聚合酶</a></li>
              </ul>
            </li>
            <li class="am-panel">
              <div>
                <div class="am-padding-sm am-padding-horizontal ">
                  <a href="{{ '/cell' | prepend: site.url.biogeek }}">细胞培养</a>
                  <i class="am-icon-caret-down am-fr" data-am-collapse="{parent: '#offcanvas-biogeek', target: '#offcanvas-cell'}"></i>
                </div>
              </div>
              <ul class="am-list am-collapse" id="offcanvas-cell">
                <li><a href="{{ '/cell/LC-kit' | prepend: site.url.biogeek }}">Lentivirus Concentration Kit</a></li>
                <li><a href="{{ '/cell/bg20201' | prepend: site.url.biogeek }}">EpFect<sup>TM</sup> 转染试剂</a></li>
                <li><a href="{{ '/cell/bg20301' | prepend: site.url.biogeek }}">Polybrene（聚凝胺）</a></li>
              </ul>
            </li>
            <li><a href="{{ '/ngs' | prepend: site.url.biogeek }}">NGS</a></li>
              <!-- <li><a href="{{ '/glair' | prepend: site.url.biogeek }}">蛋白表达</a></li> -->
          </ul>
        </li>
        <li class="am-panel">
          <div class="am-padding-sm am-padding-horizontal">
            <a href="{{ site.url.service }}">技术服务</a>
            <i class="am-icon-caret-down am-fr" data-am-collapse="{parent: '#offcanvas-collapse', target: '#offcanvas-service'}"></i>
          </div>
          <ul class="am-list am-collapse" id="offcanvas-service">
            <li class="am-panel">
              <div>
                <div class="am-padding-sm am-padding-horizontal ">
                  <a href="{{ '/solution' | prepend: site.url.service }}">解决方案</a>
                  <i class="am-icon-caret-down am-fr" data-am-collapse="{parent: '#offcanvas-service', target: '#offcanvas-solution'}"></i>
                </div>
              </div>
              <ul class="am-list am-collapse" id="offcanvas-solution">
                <li><a href="{{ '/solution/knock-down' | prepend: site.url.service }}">基因敲除</a></li>
                <li><a href="{{ '/solution/lncRNA-knock-down' | prepend: site.url.service }}">LncRNA敲除</a></li>
                <li><a href="{{ '/solution/non-site-specific-integration' | prepend: site.url.service }}">非定点基因整合</a></li>
                <li><a href="{{ '/solution/knock-in' | prepend: site.url.service }}">基因敲入</a></li>
                <li><a href="{{ '/solution/silencing' | prepend: site.url.service }}">基因沉默</a></li>
                <li><a href="{{ '/solution/activation' | prepend: site.url.service }}">转录激活</a></li>
                <li><a href="{{ '/solution/inhibition' | prepend: site.url.service }}">转录抑制</a></li>
                <li><a href="{{ '/solution/high-throughput-edting' | prepend: site.url.service }}">高通量基因编辑</a></li>
              </ul>
            </li>
            <li class="am-panel">
              <div>
                <div class="am-padding-sm am-padding-horizontal ">
                  <a href="{{ '/product' | prepend: site.url.service }}">服务与产品</a>
                  <i class="am-icon-caret-down am-fr" data-am-collapse="{parent: '#offcanvas-service', target: '#offcanvas-product'}"></i>
                </div>
              </div>
              <ul class="am-list am-collapse" id="offcanvas-product">
                <li><a href="{{ '/product/CRISPR-design' | prepend: site.url.service }}">CRISPR/Cas9 载体设计与构建</a></li>
                <li><a href="{{ '/product/CRISPR-construction' | prepend: site.url.service }}">CRISPR/Cas9 快速构建试剂盒</a></li>
                <li><a href="{{ '/product/CRISPR-activity' | prepend: site.url.service }}">CRISPR/Cas9 活性检测</a></li>
                <li><a href="{{ '/product/gRNA-library' | prepend: site.url.service }}">gRNA文库构建</a></li>
                <li><a href="{{ '/product/RNAi-design' | prepend: site.url.service }}">RNAi 载体设计与构建</a></li>
                <li><a href="{{ '/product/miRNA-sponge-design' | prepend: site.url.service }}">miRNA sponge 抑制载体设计与构建</a></li>
                <li><a href="{{ '/product/shRNA-library' | prepend: site.url.service }}">shRNA文库构建</a></li>
                <li><a href="{{ '/product/cell-line-transform' | prepend: site.url.service }}">细胞系工程改造服务</a></li>
                <li><a href="{{ '/product/LV' | prepend: site.url.service }}">慢病毒包装</a></li>
                <li><a href="{{ '/product/transgenic-mice' | prepend: site.url.service }}">基因工程鼠</a></li>
                <li><a href="{{ '/product/gene-synthesis' | prepend: site.url.service }}">基因合成</a></li>
                <li><a href="{{ '/product/synbio-service' | prepend: site.url.service }}">合成生物学技术服务外包</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="am-panel">
          <div class="am-padding-sm am-padding-horizontal">
            <a href="{{ site.url.blog }}">博客</a>
          </div>
        </li>
        <li class="am-panel">
          <div class="am-padding-sm am-padding-horizontal">
            <a href="#">关于我们</a>
            <i class="am-icon-caret-down am-fr" data-am-collapse="{parent: '#offcanvas-collapse', target: '#offcanvas-about'}"></i>
          </div>
          <ul class="am-list am-collapse" id="offcanvas-about">
            <li><a href="{{ '/about' | prepend: site.url.root }}">企业简介</a></li>
            <li><a href="{{ '/hire' | prepend: site.url.root }}">招贤纳士</a></li>
            <li><a href="{{ '/cooperate' | prepend: site.url.root }}">工业合作/代理加盟</a></li>
            <li><a href="{{ '/contact' | prepend: site.url.root }}">联系我们</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
