<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{% if page.title %}{{ page.title }}{% else %}SyngenTech{% endif %}</title>

<link rel="shortcut icon" type="image/png" href="{{ '/images/logo.png' | prepend: site.url.assets }}" />
<link rel="alternate" type="application/rss+xml" title="SyngenTech" href="{{ "/feed.xml" | prepend: site.url.root }}">
<link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.4.2/css/amazeui.css"/>
<link rel="stylesheet" href="{{ '/stylesheets/main.css' | prepend: site.url.assets }}">

<!-- Start of OneAPM Bi script -->
<script type='text/javascript'>window.BWEUM||(BWEUM={});BWEUM.info = {"stand":true,"agentType":"browser","agent":"bi-collector.oneapm.com/static/js/bw-send-411.4.5.js","beaconUrl":"bi-collector.oneapm.com/beacon","licenseKey":"I2uA6~fJi2uBfi2v","applicationID":2274596};</script>
<script type="text/javascript" src="//bi-collector.oneapm.com/static/js/bw-loader-411.4.5.js"></script>
<!-- End of OneAPM Bi script -->
<!-- Start of KF5 supportbox script -->
<script src="//assets.kf5.com/supportbox/main.js" id="kf5-provide-supportBox" kf5-domain="syngentech.kf5.com"></script>
<!-- End of KF5 supportbox script -->
