<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="{% if page.keywords %}{{ page.keywords | join: ", " }}{% else %}合生基因, 基因山, CRISPR/Cas9, CRISPR, Cas9, 基因编辑, 基因敲除, 基因元件获取, 质粒购买, 技术服务, 生物技术解决方案{% endif %}" />
<meta name="description" content="合生基因推出病毒载体与包装服务/shRNA/miRNA/Cas9/基因过表达/诱导表达/病毒可在2-3周生成并交付/欢迎致4006803200或发送邮件至service@syngen.tech咨询" />
<title>{% if page.title.head %}{{ page.title.head }}{% elsif page.title %}{{ page.title }}{% else %}合生基因{% endif %}</title>

<link rel="shortcut icon" type="image/png" href="{{ '/images/logo.png' | prepend: site.url.assets }}" />
<link rel="alternate" type="application/rss+xml" title="合生基因" href="{{ "/feed.xml" | prepend: site.url.root }}">
<link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.4.2/css/amazeui.css"/>
<link rel="stylesheet" href="{{ '/stylesheets/main.css' | prepend: site.url.assets }}">

<!-- Start of OneAPM Bi script -->
<script type='text/javascript'>window.BWEUM||(BWEUM={});BWEUM.info = {"stand":true,"agentType":"browser","agent":"bi-collector.oneapm.com/static/js/bw-send-411.4.5.js","beaconUrl":"bi-collector.oneapm.com/beacon","licenseKey":"I2uA6~fJi2uBfi2v","applicationID":2274596};</script>
<script type="text/javascript" src="//bi-collector.oneapm.com/static/js/bw-loader-411.4.5.js"></script>
<!-- End of OneAPM Bi script -->
<!-- Start of KF5 supportbox script -->
<script src="//assets.kf5.com/supportbox/main.js" id="kf5-provide-supportBox" kf5-domain="syngentech.kf5.com"></script>
<!-- End of KF5 supportbox script -->

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?cc8bb42304c088d15e5bdf8c544a4645";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
