---
layout: service
title:
  head: 腺相关病毒载体|腺相关病毒|腺病毒包装|腺病毒-合生基因
  body: 腺相关病毒
image:
  header: /images/service-adeno-associated-virus-header.jpg
keywords: [腺病毒包装, 北京腺病毒包装, 腺病毒包装周期, 合生基因]
---

%p 重组腺相关病毒（Recombinant Adeno-associated Virus, rAAV）是一种功能强大、用途广泛的病毒类载体。AAV属于微小病毒科、依赖病毒属的单链DNA病毒，其基因组大小约为 4.7kb。

%h2 结构
%img.am-img-responsive.am-center{src: '{{ "/images/service-adeno-associated-virus-1.jpg" | prepend: site.domain.assets }}'}

%h2 特性
%ol
  %li 较高的生物安全级别：rAAV是缺陷型病毒载体，目前尚未发现rAAV能够导致疾病
  %li 较强的基因转导能力：rAAV对分裂/非分裂细胞均有较高的转导效率，实现其携带基因的表达
  %li 独特的组织特异性：不同血清型rAAV能够对不同组织进行特异性转导，实现精准的体内表达
  %li 持久的表达潜能：rAAV能够长期稳定存在于宿主细胞中，具有持久的表达潜力

%h2 服务流程
%img.am-img-responsive.am-center{src: '{{ "/images/service-adeno-associated-virus-2.jpg" | prepend: site.domain.assets }}'}

%h2 实例
.am-g
  .am-u-sm-7
    %img.am-img-responsive{src: '{{ "/images/service-adeno-associated-virus-3.jpg" | prepend: site.domain.assets }}'}
  .am-u-sm-5
    %img.am-img-responsive{src: '{{ "/images/service-adeno-associated-virus-4.jpg" | prepend: site.domain.assets }}'}
%p 多种血清型搭配组织特异性启动子，帮助您提升基因转导效率，实现更精确的基因沉默/基因编辑研究
.am-g
  .am-u-sm-6
    %img.am-center{height: 300, src: '{{ "/images/service-adeno-associated-virus-5.jpg" | prepend: site.domain.assets }}'}
  .am-u-sm-6
    %img.am-center{height: 300, src: '{{ "/images/service-adeno-associated-virus-6.jpg" | prepend: site.domain.assets }}'}
%p 高效感染中枢神经系统的rAAV搭配光遗传学、神经元示踪表达元件，让体内神经生物学研究倍加顺畅

%h2 产品
%h3 合生基因rAAV系列产品
%img.am-img-responsive.am-center{src: '{{ "/images/service-adeno-associated-virus-7.jpg" | prepend: site.domain.assets }}'}
%h3 现货列表（部分）
%img.am-img-responsive.am-center{src: '{{ "/images/service-adeno-associated-virus-8.jpg" | prepend: site.domain.assets }}'}
%p 合生基因将持续更新rAAV产品目录，敬请关注
