---
layout: service
title: 腺相关病毒
image:
  header: /images/service-adeno-associated-virus-h.png
  footer: /images/service-adeno-associated-virus-f.png
keywords: [腺病毒包装, 北京腺病毒包装, 腺病毒包装周期, 合生基因]
---

%div{style: 'display: none'}
  %h2 腺相关病毒产品概述
  %h2 腺相关病毒产品特点

%h2 产品概述
%p 腺相关病毒（AAV）是目前发现的一类结构最简单的单链DNA复制缺陷型病毒，基因组约为4.7 kb，包括上下游两个开放阅读框（ORF）及两侧的反向末端重复序列（ITR）。
%p 重组腺相关病毒载体（rAAV）源于非致病性的野生型腺相关病毒，其作为一种安全、广谱、持久、高效、高特异性的基因操作工具，在生物学领域中被广泛使用。

%h2 产品特点
%ol
  %li 安全性高：目前未发现AAV对人体有致病性；
  %li 免疫原性低：感染AAV的细胞，很少被免疫系统清除；
  %li 感染谱广：几乎所有处于分裂和非分裂的细胞均可被AAV感染；
  %li 扩散性强：可穿透血脑屏障，是最理想的神经元和胶质细胞感染工具；
  %li 高稳定性：对氯仿等试剂有抗性；
  %li 特异性强：rAAV有十几种常用血清型，对不同的脏器有较高的识别及感染能力；
  %li 表达时间长：rAAV在宿主中以附加体存在于细胞核，分裂不旺盛的组织中可持续表达5个月。

%h2 产品规格
%table.am-table.am-table-bordered.am-table-radius.am-table-centered
  %thead
    %tr
      %th 服务编号
      %th 服务类型
      %th
        病毒滴度
        %small （vg/mL）
      %th
        服务周期
        %small （不包含载体构建）
      %th 交付内容
  %tbody
    %tr
      %td HS-AAV-0001A
      %td 过表达AAV
      %td 10<sup>10</sup>
      %td 6~8周
      %td 1 mL病毒液+等量阴性对照病毒液
    %tr
      %td HS-AAV-0001B
      %td 过表达AAV
      %td 10<sup>11</sup>
      %td 6~8周
      %td 1 mL病毒液+等量阴性对照病毒液
    %tr
      %td HS-AAV-0002A
      %td RNA干扰AAV
      %td 10<sup>11</sup>
      %td 6~8周
      %td 1 mL病毒液+等量阴性对照病毒液

%h2 服务说明
%ol
  %li 您须提供目的基因（注明过表达或干扰）名称、ID 号、序列信息，以便设计载体构建方案；
  %li 为保证产品质量，您提供的目的基因（或干扰序列），需插入到我公司优化的腺病毒系统；
  %li 目的基因序列不应超过2 kb ，若超出2 kb，则病毒滴度会下降.
