---
layout: service
title: 单碱基编辑
image:
  header: /images/service-BE4-header.png
keywords: [单碱基编辑, 合生基因]
---

%div{style: 'display: none'}
  %h2 单碱基编辑概述
  %h2 单碱基编辑技术原理
  %h2 单碱基编辑产品特点
  %h2 单碱基编辑产品规格
  %h2 单碱基编辑服务说明

%h2 概述
%p 基因编辑是自 80 年代末发展起来的一种分子生物学技术。它是一种通过一定的途径实现人为修改特定基因的技术。早期的基因编辑主要是利用 DNA 同源重组原理,通过设计同源片段替代靶基因片段,从而达到基因编辑的目的。目前应用比较成功的基因敲除技术主要有:Zinc-finger、TALEN、CRISPR/Cas9。
%p CRISPR(Clustered Regularly Interspaced Short Palindromic Repeats)/Cas(CRISPR-Associated)是一种由 RNA 指导的 Cas 核酸酶对靶向基因进行特定 DNA 修饰的技术。它是细菌和古生菌为了应对噬菌体和外源质粒的不断攻击而演化来的获得性免疫防御机制。 CRISPR/Cas 系统可实现高效的基因敲除、敲入、替换及转录水平的调控。
%p 然而,针对单个碱基突变的基因的修正,传统 CRISPR/Cas 系统的表现却不尽如人意。由于DNA 双链断裂时,细胞更倾向于利用非同源末端修复(HENJ)原理对 DNA 进行修复,因而利用同源重组(HDR)进行的单个碱基的替换过程往往十分低效。而单碱基编辑器(BE)系统的出现成功攻克了这一技术壁垒,实现了高效且安全的单个碱基的替换编辑。
%p BE4 单碱基编辑器是目前最先进的可实现单个碱基精准替换的基因编辑工具,编辑过程中不产生 DSB,仅需一个 DNA 单链切口就能实现单碱基精准编辑,可有效避免编辑过程中产生基因组损伤。
%p BE4 单碱基编辑器通过在传统 CRISPR-Cas9 系统中的 Cas9n(D10A)蛋白上融合胞嘧啶脱氨基酶 APOBEC1 及尿嘧啶糖基化酶抑制剂 UGI,可实现安全、高效、高特异性、高保真性的 C to T 的碱基替换编辑。
%img.am-img-responsive.am-center{src: '{{ "/images/service-BE4-1.png" | prepend: site.domain.assets }}'}

%h2 技术原理
%p CRISPR/Cas 系统的工作原理是通过人工优化的具有引导作用的单链 gRNA(Guide RNA)引导核酸酶 Cas 蛋白在与 gRNA 配对的靶位点处剪切双链 DNA,引起 DNA 双链断裂(DSB),进而利用生物体内非同源末端修复机制(NHEJ)或同源重组机制(HDR)修复 DNA,实现基因的敲除、敲入、替换及转录水平的调控。
%img.am-img-responsive.am-center{src: '{{ "/images/service-BE4-2.png" | prepend: site.domain.assets }}'}
%p BE4 系统的工作原理是通过人工优化的具有引导作用的单链 gRNA (Guide RNA)引导核酸酶 Cas 蛋白、胞嘧啶脱氨基酶 APOBEC1 及尿嘧啶糖基化酶抑制剂 UGI 的融合物到达并绑定在与 gRNA 配对的靶位点处,然后利用胞嘧啶脱氨基酶对靶位点出的胞嘧啶 C 进行水解脱氨基作用,将其转变为尿嘧啶 U,之后再通过细胞自身的 DNA 修复机制将编辑产生的尿嘧啶 U 进一步转换为胸腺嘧啶 T,从而实现 C to T 单碱基替换的过程。
%img.am-img-responsive.am-center{src: '{{ "/images/service-BE4-3.png" | prepend: site.domain.assets }}'}
%img.am-img-responsive.am-center{src: '{{ "/images/service-BE4-4.png" | prepend: site.domain.assets }}'}

%h2 产品特点
%ol
  %li 编辑过程不依赖 DSB 及 donor template,可有效减少编辑过程中产生的基因组损伤。
  %li 极低的 Indel 引入率,可显著降低基因失活几率。
  %li 高度窄缩的基因编辑活性窗口范围,至多对两个碱基进行编辑。
  %li 极低的脱靶率,可实现高度保真的基因编辑结果。5. 极高的产物纯度,C to T 产物比率 > 80%。
  %li 较高的编辑效率,C to T 碱基替换编辑效率高达 50%。
%img.am-img-responsive.am-center{src: '{{ "/images/service-BE4-5.png" | prepend: site.domain.assets }}'}

%h2 产品规格
%img.am-img-responsive.am-center{src: '{{ "/images/service-BE4-6.png" | prepend: site.domain.assets }}'}

%h2 服务说明
%ol
  %li 您须提供目的基因名称、ID 号、序列信息,以便设计载体构建方案;
  %li 我们将为您提供经单碱基编辑后的序列的测序结果验证。
