---
layout: service
title: 细胞性状检测
image:
  header: /images/service-cell-phenotype-h.png
  footer: /images/service-cell-phenotype-f.png
keywords: [细胞增殖曲线, 细胞凋亡, MTT检测, CCK-8检测, Transwell迁移, Transwell侵袭, 合生基因]
---

%div{style: 'display: none'}
  %h2 细胞增殖检测
  %h2 细胞毒性检测
  %h2 细胞迁移检测
  %h2 细胞侵袭检测
  %h2 细胞支原体检测
  %h2 细胞分型

%h2 细胞增殖/毒性检测
%p CCK-8（或MTT）可用于简便而准确的细胞增殖和毒性分析，主要原理是在活细胞生长和增殖的过程中，线粒体内的脱氢酶可将WST-8（或MTT）还原为水溶性的橙黄色（或蓝紫色）甲瓒产物，生成的甲瓒产物数量与活细胞的数量成正比，可间接测定活细胞数量。
%img.am-img-responsive.am-center{width: 360, src: '{{ "/images/service-cell-phenotype-1.png" | prepend: site.url.assets }}'}
%p.am-text-center
  CCK-8法检测药物对目的细胞的IC
  %sub 50

%h2 细胞迁移/侵袭检测
%p 细胞迁移是正常细胞的基本功能之一，也是活细胞普遍存在的一种运动形式，胚胎发育、血管生成、伤口愈合、免疫反应、炎症反应、动脉粥样硬化、癌症转移等过程都涉及细胞迁移，检测方法包括划痕实验和Transwell实验。
细胞侵袭是指细胞向局部侵犯。细胞侵袭实验可用来研究细胞核胞外基质之间的相互作用。可用铺有Matrigel胶的Transwell小室检测细胞的侵袭能力。
%ul
  %strong{style: 'margin-left:-2em'} 服务说明：
  %li 客户提供：细胞株、药物处理方案、药品；
  %li 合生提供：基因实验步骤、原始数据、数据分析结果、结题报告；
.am-g
  .am-u-sm-offset-2.am-u-md-offset-3.am-u-sm-4.am-u-md-3
    %img.am-img-responsive{src: '{{ "/images/service-cell-phenotype-2.1.png" | prepend: site.url.assets }}'}
  .am-u-sm-4.am-u-md-3.am-u-end
    %img.am-img-responsive{src: '{{ "/images/service-cell-phenotype-2.2.png" | prepend: site.url.assets }}'}
%p.am-text-center 细胞迁移实验对照组（左）及实验组（右）
.am-g
  .am-u-sm-offset-2.am-u-md-offset-3.am-u-sm-4.am-u-md-3
    %img.am-img-responsive{src: '{{ "/images/service-cell-phenotype-3.1.png" | prepend: site.url.assets }}'}
  .am-u-sm-4.am-u-md-3.am-u-end
    %img.am-img-responsive{src: '{{ "/images/service-cell-phenotype-3.2.png" | prepend: site.url.assets }}'}
%p.am-text-center 细胞侵袭实验对照组（左）及实验组（右）

%h2 细胞支原体检测
%p 合生基因支原体检测应用PCR反应技术，对支原体16S rRNA基因保守区域的特异性片段进行扩增，能检测包括M.orale、M.arginini、M.hyorhinis和M.Fermentans 等在内的多种常见支原体。仅需2uL细胞培养基上清，数小时内可得到结果。

%h2 细胞分型
%p STR分型是一种用来做亲缘分析的方法，它的原理是在一单管中同时扩增多个多态性DNA片段。STR位点是由不同数目重复单元组成的重复DNA序列。每一个STR位点均能被扩增且扩增产物标记上不同颜色的荧光，使得扩增产物很容易通过片段大小和颜色来区分。
%p STR分型检测快速、经济、易于自动化，能得到明确可重复的数据，且数据格式适合建立一个标准参考数据库。因此成为ATCC制定细胞鉴定标准的指定方法。
%ul
  %strong{style: 'margin-left:-2em'} 服务说明：
  %li 客户提供：细胞（不少于3×106个）或基因组（不少于1 μg）；
  %li 合生提供：检测报告及原始数据。
