---
layout: service
title: 细胞生物学功能鉴定服务
image:
  header: /images/service-cell-phenotype-header.jpg
keywords: [细胞增殖曲线, 细胞凋亡, MTT检测, CCK-8检测, Transwell迁移, Transwell侵袭, 合生基因]
---

%h2 克隆形成能力检测
%p 克隆形成能力是检测细胞群体依赖性和增殖能力特性的有效方法之一，贴壁后的细胞不一定每个都能增殖和形成克隆，而形成克隆的细胞必为贴壁和有增殖活力的细胞。通过对克隆形成的计数，对细胞的增殖潜力做定量分析，从而了解细胞的增殖能力和独立生存能力。
%img.am-img-responsive.am-center{src: '{{ "/images/service-cell-phenotype-1.jpg" | prepend: site.domain.assets }}'}
.am-text-sm.am-text-center 细胞克隆形成检测服务数据示例

%h2 细胞周期检测
%p 细胞周期是指细胞从一次分裂完成开始到下一次分裂结束所经历的全过程，分为间期与分裂期两个阶段。间期又分为三期，即DNA合成前期（G1期）、DNA合成期（S期）与DNA合成后期（G2期）。最常用的检测细胞周期的方法是PI(碘化丙啶）和Annexin V（磷脂结合蛋白）。这两种检测方式可以将处于不同时期的细胞区分开来，然后再通过流式细胞术检测兴趣基因干扰对肿瘤细胞周期的影响情况。
%img.am-img-responsive.am-center{src: '{{ "/images/service-cell-phenotype-2.jpg" | prepend: site.domain.assets }}'}
.am-text-sm.am-text-center 细胞周期检测数据示例

%h2 细胞凋亡检测
%p 与细胞周期检测相似，检测细胞凋亡最常用的方法是PI(碘化丙啶）和Annexin V（磷脂结合蛋白）。这两种检测方式可以将处于不同时期的细胞区分开来，再通过流式细胞术检测兴趣基因干扰对肿瘤细胞凋亡的影响情况。
%img.am-img-responsive.am-center{src: '{{ "/images/service-cell-phenotype-3.jpg" | prepend: site.domain.assets }}'}
.am-text-sm.am-text-center 细胞凋亡检测数据示例

%h2 细胞增殖检测
%p 目前，细胞增殖广泛应用于抗肿瘤药物筛选、细胞毒性试验以及肿瘤放射敏感性测定等领域，检测细胞增殖的方式有MTT、CCK-8等，此项服务用来检测兴趣基因的表达水平对肿瘤细胞生长状况的影响。
%img.am-img-responsive.am-center{src: '{{ "/images/service-cell-phenotype-4.jpg" | prepend: site.domain.assets }}'}
.am-text-sm.am-text-center 细胞增殖检测数据示例

%h2 Transwell细胞迁移能力检测
%p 肿瘤转移是恶性肿瘤生物学特征之一，肿瘤细胞的迁移和侵袭都属于肿瘤细胞恶性行为，因而掌握肿瘤细胞侵袭和转移的机制十分重要。检测细胞迁移和侵袭的研究方法主要有划痕实验、诱导转移（Transwell）实验等。常用Transwell小室来完成迁移实验，用铺有基质的Transwell小室来完成侵袭实验。此项服务通过调控兴趣基因的表达水平检测兴趣基因对肿瘤细胞迁移能力的影响。
%img.am-img-responsive.am-center{src: '{{ "/images/service-cell-phenotype-5.jpg" | prepend: site.domain.assets }}'}
.am-text-sm.am-text-center Transwell细胞迁移能力检测数据示例

%h2 Transwell细胞侵袭能力检测
%p 肿瘤转移是恶性肿瘤生物学特征之一，肿瘤细胞的迁移和侵袭都属于肿瘤细胞恶性行为，因而掌握肿瘤细胞侵袭和转移的机制十分重要。检测细胞迁移和侵袭的研究方法主要有划痕实验、诱导转移（Transwell）实验等。常用Transwell小室来完成迁移实验，用铺有基质的Transwell小室来完成侵袭实验。此项服务通过调控兴趣基因的表达水平检测兴趣基因对肿瘤细胞侵袭能力的影响。
%img.am-img-responsive.am-center{width: 360, src: '{{ "/images/service-cell-phenotype-6.jpg" | prepend: site.domain.assets }}'}
.am-text-sm.am-text-center Transwell细胞侵袭检测数据示例

%h2 细胞支原体检测
%p 合生基因支原体检测应用PCR反应技术，对支原体16S rRNA基因保守区域的特异性片段进行扩增，能检测包括M.orale、M.arginini、M.hyorhinis和M.Fermentans 等在内的多种常见支原体。仅需2 μL细胞培养基上清，数小时内可得到结果。

%h2 细胞分型
%p STR分型是一种用来做亲缘分析的方法，它的原理是在一单管中同时扩增多个多态性DNA片段。STR位点是由不同数目重复单元组成的重复DNA序列。每一个STR位点均能被扩增且扩增产物标记上不同颜色的荧光，使得扩增产物很容易通过片段大小和颜色来区分。
%p STR分型检测快速、经济、易于自动化，能得到明确可重复的数据，且数据格式适合建立一个标准参考数据库。因此成为ATCC制定细胞鉴定标准的指定方法。

%ul
  %strong{style: 'margin-left:-2em'} 服务说明：
  %li 客户提供：细胞（不少于3×10<sup>6</sup>个）或基因组（不少于1 μg）；
  %li 合生提供：检测报告及原始数据。
