---
layout: service
title: 定制化质粒构建
image:
  header: /images/service-custom-plasmid-h.png
  footer: /images/service-custom-plasmid-f.png
keywords: [质粒构建步骤, 质粒的构建, 构建质粒, 质粒定点突变, 合生基因]
---

%div{style: 'display: none'}
  %h2 定制化质粒构建
  %h2 点突变载体构建
  %h2 过表达载体构建
  %h2 基因克隆服务

%h2 点突变载体构建
%p 合生基因针对客户的实验要求，可以对质粒载体进行单个或多个核苷酸突变改造，构建为含有核苷酸/氨基酸点突变的质粒载体。对于一般序列，30 bp范围内的任意碱基突变均按照1次点突变构建服务进行收费。

%h2 基因克隆载体构建
%p 合生基因可以根据客户提供的模板（基因组、总cDNA、目的基因PCR产物及质粒等），将目的片选克隆至目标质粒中。
%p 若客户不能提供基因克隆的模板，合生基因可以通过基因合成的方式，合成目的序列，插入克隆载体pUC57或客户要求的骨架载体上。

%h2 过表达载体构建
%p 合生基因针对客户实验要求，我们可以通过把目的基因插入包含表达元件（启动子、终止子等）及筛选标记（荧光标记、抗性标记等）的质粒骨架中，构建哺乳动物，大肠杆菌等物种的基因过表达质粒载体。
