---
layout: default
title: service
---
%img.am-img-responsive{src: '{{ "/images/index1.1.jpg" | prepend: site.url.assets }}'}
.am-container
  %br
  %h1.am-text-center 基因组编辑解决方案
  %hr
  %p.am-text-center 合生基因为您提供快速、高效、全方位、定制化的基因组编辑解决方案
  .am-avg-sm-2.am-avg-md-2.am-avg-lg-4.am-thumbnails.animate
    %li
      %a{href: '{{ "/solution/knockdown" | prepend: site.url.service }}'}
        %img.am-thumbnail{src: '{{ "/images/index-1.jpg" | prepend: site.url.assets }}'}
    %li
      %a{href: '{{ "/solution/LncRNA-knockdown" | prepend: site.url.service }}'}
        %img.am-thumbnail{src: '{{ "/images/index-2.jpg" | prepend: site.url.assets }}'}
    %li
      %a{href: '{{ "/solution/nonsite-specific-integration" | prepend: site.url.service }}'}
        %img.am-thumbnail{src: '{{ "/images/index-3.jpg" | prepend: site.url.assets }}'}
    %li
      %a{href: '{{ "/solution/knockin" | prepend: site.url.service }}'}
        %img.am-thumbnail{src: '{{ "/images/index-4.jpg" | prepend: site.url.assets }}'}
    %li
      %a{href: '{{ "/solution/silencing" | prepend: site.url.service }}'}
        %img.am-thumbnail{src: '{{ "/images/index-5.jpg" | prepend: site.url.assets }}'}
    %li
      %a{href: '{{ "/solution/Activation" | prepend: site.url.service }}'}
        %img.am-thumbnail{src: '{{ "/images/index-6.jpg" | prepend: site.url.assets }}'}
    %li
      %a{href: '{{ "/solution/inhibition" | prepend: site.url.service }}'}
        %img.am-thumbnail{src: '{{ "/images/index-7.jpg" | prepend: site.url.assets }}'}
    %li
      %a{href: '{{ "/solution/high-editing" | prepend: site.url.service }}'}
        %img.am-thumbnail{src: '{{ "/images/index-8.jpg" | prepend: site.url.assets }}'}
  %h1.am-text-center 革命性靶向基因组编辑技术应用专家
  %hr
  %p.am-text-center 利用经合生基因优化和改造的CRISPR/Cas9系统、RNAi系统实现您预期的基因编辑需求
  %br
  #demo-slider-0.am-slider.am-slider-default{'data-am-flexslider' => '{directionNav:false, controlNav: false}'}
    %ul.am-slides
      %li
        %img{src: '{{ "/images/index-9.jpg" | prepend: site.url.assets }}'}
      %li
        %img{src: '{{ "/images/index-10.jpg" | prepend: site.url.assets }}'}
  %br
  %h1.am-text-center 全方位基因组编辑服务与产品
  %hr
  %p.am-text-center 利用合成生物学、分子生物学、细胞生物学方法
  %br
  .am-g.animate.am-text-center
    .am-u-sm-6.am-u-md-6.am-u-lg-2
      %a{href: '{{ "/product/CRISPR-design" | prepend: site.url.service }}'}
        %img{src: '{{ "/images/index-11.jpg" | prepend: site.url.assets }}', width: '84', height: '84'}
      %p
        %a{href: '{{ "/product/CRISPR-design" | prepend: site.url.service }}'}
          CRISPR/CAS9
          %br
          载体设计与构建
        %br
    .am-u-sm-6.am-u-md-6.am-u-lg-2
      %a{href: '{{ "/product/CRISPR-construction" | prepend: site.url.service }}'}
        %img{src: '{{ "/images/index-12.jpg" | prepend: site.url.assets }}', width: '84', height: '84'}
      %p
        %a{href: '{{ "/product/CRISPR-construction" | prepend: site.url.service }}'}
          CRISPR/CAS9
          %br
          快速构建试剂盒
        %br
    .am-u-sm-6.am-u-md-6.am-u-lg-2
      %a{href: '{{ "/product/CRISPR-activity" | prepend: site.url.service }}'}
        %img{src: '{{ "/images/index-13.jpg" | prepend: site.url.assets }}', width: '84', height: '84'}
      %p
        %a{href: '{{ "/product/CRISPR-activity" | prepend: site.url.service }}'}
          CRISPR/CAS9
          %br
          活性检测
        %br
    .am-u-sm-6.am-u-md-6.am-u-lg-2
      %a{href: '{{ "/product/gRNA-library" | prepend: site.url.service }}'}
        %img{src: '{{ "/images/index-14.jpg" | prepend: site.url.assets }}', width: '84', height: '84'}
      %p
        %a{href: '{{ "/product/gRNA-library" | prepend: site.url.service }}'}
          gRNA
          %br
          文库构建
        %br
    .am-u-sm-6.am-u-md-6.am-u-lg-2
      %a{href: '{{ "/product/RNAi-design" | prepend: site.url.service }}'}
        %img{src: '{{ "/images/index-15.jpg" | prepend: site.url.assets }}', width: '84', height: '84'}
      %p
        %a{href: '{{ "/product/RNAi-design" | prepend: site.url.service }}'}
          &nbsp;&nbsp;&nbsp;RNAi
          %br
          载体设计与构建
        %br
    .am-u-sm-6.am-u-md-6.am-u-lg-2
      %a{href: '{{ "/product/miRNA-sponge-design" | prepend: site.url.service }}'}
        %img{src: '{{ "/images/index-16.jpg" | prepend: site.url.assets }}', width: '84', height: '84'}
      %p
        %a{href: '{{ "/product/miRNA-sponge-design" | prepend: site.url.service }}'}
          RNAi Sponge
          %br
          载体设计与构建
        %br
    .am-u-sm-6.am-u-md-6.am-u-lg-2
      %a{href: '{{ "/product/shRNA-library" | prepend: site.url.service }}'}
        %img{src: '{{ "/images/index-17.jpg" | prepend: site.url.assets }}', width: '84', height: '84'}
      %p
        %a{href: '{{ "/product/shRNA-library" | prepend: site.url.service }}'}
          RNAi文库构建
        %br
    .am-u-sm-6.am-u-md-6.am-u-lg-2
      %a{href: '{{ "/product/cell-line-transform" | prepend: site.url.service }}'}
        %img{src: '{{ "/images/index-18.jpg" | prepend: site.url.assets }}', width: '84', height: '84'}
      %p
        %a{href: '{{ "/product/cell-line-transform" | prepend: site.url.service }}'}
          细胞系工程改造
        %br
    .am-u-sm-6.am-u-md-6.am-u-lg-2
      %a{href: '{{ "/product/LV" | prepend: site.url.service }}'}
        %img{src: '{{ "/images/index-19.jpg" | prepend: site.url.assets }}', width: '84', height: '84'}
      %p
        %a{href: '{{ "/product/LV" | prepend: site.url.service }}'}
          慢病毒包装
        %br
    .am-u-sm-6.am-u-md-6.am-u-lg-2
      %a{href: '{{ "/product/transgenic-mice" | prepend: site.url.service }}'}
        %img{src: '{{ "/images/index-20.jpg" | prepend: site.url.assets }}', width: '84', height: '84'}
      %p
        %a{href: '{{ "/product/transgenic-mice" | prepend: site.url.service }}'}
          基因工程鼠
        %br
    .am-u-sm-6.am-u-md-6.am-u-lg-2
      %a{href: '{{ "/product/gene-synthesis" | prepend: site.url.service }}'}
        %img{src: '{{ "/images/index-21.jpg" | prepend: site.url.assets }}', width: '84', height: '84'}
      %p
        %a{href: '{{ "/product/gene-synthesis" | prepend: site.url.service }}'}
          基因合成
        %br
    .am-u-sm-6.am-u-md-6.am-u-lg-2
      %a{href: '{{ "/product/synbio-serve" | prepend: site.url.service }}'}
        %img{src: '{{ "/images/index-22.jpg" | prepend: site.url.assets }}', width: '84', height: '84'}
      %p
        %a{href: '{{ "/product/synbio-serve" | prepend: site.url.service }}'}
          合成生物学
          %br
          技术服务外包
        %br
  %br
  %h1.am-text-center 新一波基因编辑服务来袭
  %hr
  %p.am-text-center 利用合成生物学方法，快速高效的满足个性化定制的基因编辑服务解决不同需求的实验方案
  %br
  #demo-slider-0.am-slider.am-slider-default{'data-am-flexslider' => '{directionNav:false, controlNav: false}'}
    %ul.am-slides
      %li
        %img{src: '{{ "/images/index-23.jpg" | prepend: site.url.assets }}'}
      %li
        %img{src: '{{ "/images/index-24.jpg" | prepend: site.url.assets }}'}
  %br
%img.am-img-responsive{src: '{{ "/images/index-25.jpg" | prepend: site.url.assets }}'}
