---
layout: service
title: 临床肿瘤学综合科研服务
image:
  header: /images/service-MSS-header.jpg
keywords: [临床肿瘤学, 综合科研服务, 合生基因]
---

%h2 临床肿瘤学研究对科研的意义
%p 恶性肿瘤已成为危害人民健康和生命的主要疾病，居死亡病因中的首位，成为人类的主要杀手。因此肿瘤学研究是当前生物科学和医学研究的重点领域之一。合生基因可以为您提供不同肿瘤模型的基因功能研究，包括肿瘤细胞克隆形成能力、增殖、凋亡、周期、迁移及侵袭等多个方向。合生基因具有完备的生产平台，支持个性化服务，全面满足您的科研需求。

%h2 临床肿瘤学研究思路
%img.am-img-responsive.am-center{src: '{{ "/images/service-MSS-1.jpg" | prepend: site.url.assets }}'}

%h2 服务项目
%p 确定肿瘤类型和兴趣基因后，合生基因为您提供多样化的细胞水平检测，包括细胞克隆形成能力、周期、凋亡、增殖、迁移、侵袭等多项实验服务。
%table.am-table.am-table-bordered.am-table-compact.am-table-centered.am-text-middle
  %tr{:style => "background:#f9f9f9"}
    %th 服务类型
    %th{:colspan => "2"} 服务名称
  %tr
    %td{:rowspan => "2"} 基础服务项目
    %td 克隆形成能力检测
    %td 细胞增殖检测
  %tr
    %td 细胞凋亡检测
    %td 细胞周期检测
  %tr
    %td 拓展服务项目
    %td Transwell细胞迁移
    %td Transwell细胞侵袭

%h3 克隆形成能力检测
%p 克隆形成能力是检测细胞群体依赖性和增殖能力特性的有效方法之一，贴壁后的细胞不一定每个都能增殖和形成克隆，而形成克隆的细胞必为贴壁和有增殖活力的细胞。通过对克隆形成的计数，对细胞的增殖潜力做定量分析，从而了解细胞的增殖能力和独立生存能力。
%img.am-img-responsive.am-center{src: '{{ "/images/service-MSS-2.jpg" | prepend: site.url.assets }}'}

%h3 细胞周期检测
%p 细胞周期是指细胞从一次分裂完成开始到下一次分裂结束所经历的全过程，分为间期与分裂期两个阶段。间期又分为三期，即DNA合成前期（G1期）、DNA合成期（S期）与DNA合成后期（G2期）。最常用的检测细胞周期的方法是PI(碘化丙啶）和Annexin V（磷脂结合蛋白）。这两种检测方式可以将处于不同时期的细胞区分开来，然后再通过流式细胞术检测兴趣基因干扰对肿瘤细胞周期的影响情况。
%img.am-img-responsive.am-center{src: '{{ "/images/service-MSS-3.jpg" | prepend: site.url.assets }}'}

%h3 细胞凋亡检测
%p 与细胞周期检测相似，检测细胞凋亡最常用的方法是PI(碘化丙啶）和Annexin V（磷脂结合蛋白）。这两种检测方式可以将处于不同时期的细胞区分开来，再通过流式细胞术检测兴趣基因干扰对肿瘤细胞凋亡的影响情况。
%img.am-img-responsive.am-center{src: '{{ "/images/service-MSS-4.jpg" | prepend: site.url.assets }}'}

%h3 细胞增殖检测
%p 目前，细胞增殖广泛应用于抗肿瘤药物筛选、细胞毒性试验以及肿瘤放射敏感性测定等领域，检测细胞增殖的方式有MTT、CCK-8等，此项服务用来检测兴趣基因的表达水平对肿瘤细胞生长状况的影响。
%img.am-img-responsive.am-center{src: '{{ "/images/service-MSS-5.jpg" | prepend: site.url.assets }}'}

%h3 Transwell细胞迁移能力检测
%p 肿瘤转移是恶性肿瘤生物学特征之一，肿瘤细胞的迁移和侵袭都属于肿瘤细胞恶性行为，因而掌握肿瘤细胞侵袭和转移的机制十分重要。检测细胞迁移和侵袭的研究方法主要有划痕实验、诱导转移（Transwell）实验等。常用Transwell小室来完成迁移实验，用铺有基质的Transwell小室来完成侵袭实验。此项服务通过调控兴趣基因的表达水平检测兴趣基因对肿瘤细胞迁移能力的影响。
%img.am-img-responsive.am-center{src: '{{ "/images/service-MSS-6.jpg" | prepend: site.url.assets }}'}

%h3 Transwell细胞侵袭能力检测
%p 肿瘤转移是恶性肿瘤生物学特征之一，肿瘤细胞的迁移和侵袭都属于肿瘤细胞恶性行为，因而掌握肿瘤细胞侵袭和转移的机制十分重要。检测细胞迁移和侵袭的研究方法主要有划痕实验、诱导转移（Transwell）实验等。常用Transwell小室来完成迁移实验，用铺有基质的Transwell小室来完成侵袭实验。此项服务通过调控兴趣基因的表达水平检测兴趣基因对肿瘤细胞侵袭能力的影响。
%img.am-img-responsive.am-center{width: 320, src: '{{ "/images/service-MSS-7.jpg" | prepend: site.url.assets }}'}

%h2 作用机制研究
%p 如果想要进一步对兴趣基因的上下游相关信号通路或机制进行研究，可对其分子相关性、功能相关性、直接作用进行研究，采用的方式有芯片检测、生物信息分析、定量PCR（qPCR）、Western-blot（WB）等。
%img.am-img-responsive.am-center{src: '{{ "/images/service-MSS-8.jpg" | prepend: site.url.assets }}'}

%h2 服务优势
%img.am-img-responsive.am-center{src: '{{ "/images/service-MSS-9.jpg" | prepend: site.url.assets }}'}
