//reset
.icon-list li {
  list-style: none;
  text-align: center;
 }
.icon-list img {
  max-height: 120px;
 }
.am-margin-right-xl {
  margin-right: 6.9rem;
 }
@media screen {
   .am-topbar-nav > li > a:after{
     border-bottom: none;
   }
   .am-topbar {
     margin-bottom: 0rem;
   }
 }
a {
   text-decoration: none;
 }
a:focus {
   outline: none;
 }
 // Biogeek
$color:#383838;
.background {
  background-size: cover;
  background-position: center;
}
.first-home-banner {
  @extend.background;
  height: 592px;
  color: $color;
}
.first-sprite p {
  text-align: center;
  color: $color;
  font-weight: 500;
}
.first-sprite ul.u-footer {
  h4{
    color: $color;
    font-weight: 500;
  }
  span {
    color: #808080;
    width: 160px;
    height: 100px;
    display: block;
    margin: 0 auto;
    margin-top: -15px;
  }
}
.adv {
  background-position: center;
  background-size: 100% 100%;
  height: 450px;
}
.adv-p-title {
  color: #fff;
  font-weight: 200;
}
.adv-p-text {
  color: #fff;
  text-align: center;
  vertical-align: center;
}
.first-adv1 {
  @extend.adv-p-title;
  @extend.adv-p-text;
}
.max {
  max-width: 1200px;
}
.first-adv2 {
  @extend.adv-p-title;
  @extend.adv-p-text;
}
.slogan-p-title {
  color: #444;
  font-weight: 500;
  letter-spacing:1px;
}
.slogan-p-text {
  color: #666;
  font-weight: 200;
}
.first-slogan1 {
  margin-bottom: 30px;
  margin-top: 70px;
  text-align: center;
  .p-title {
    @extend.slogan-p-title
  }
  .p-text {
    @extend.slogan-p-text
  }
}
.first-slogan2 {
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;
  .p-title {
    @extend.slogan-p-title
  }
  .p-text {
    @extend.slogan-p-text
  }
}
.product-list {
  background: #efefef;
  p{
    border-bottom: solid 3px #fff;
  }
  .list li{
    text-align: left;
  }
  .title {
    color: #000
  }
}
// second
.pic {
  background-position: center;
  background-size: cover;
  height: 592px;
}
.p {
  .p-title {
    color: #444;
    font-weight: 500;
    letter-spacing: 1px;
  }
  .p-text {
    color: #666;
    font-weight: 200;
  }
}
.slogan {
  margin-bottom: 70px;
  margin-top:70px;
  text-align: center;
}
.molecular-slogan {
  @extend.p;
  @extend.slogan
}
.ngs-slogan {
  @extend.p;
  @extend.slogan
}
.cellular-slogan {
  @extend.p;
  @extend.slogan
}
.adv {
  background-position: center;
  background-size: cover;
  height: 450px;
  color: #fff;
}
.molecular-adv1 {
  .masking {
    background: rgba(0,0,0,0.3);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
  }
  @extend.adv
}
//third
.productlist {
  background-position: center;
  background-size: cover;
  height: 592px;
  position: relative;
  .diamond {
    background:#EC5C44;
    border-radius:0 20px 20px 0;
    color:#fff;
  }
}
.product {
  background:#eee;
  border-radius:10px;
  padding-top:10px;
}
.pimg {
  width: 75%;
  height: 75%;
}
.article {
  margin-top: 50px;
}
.special {
  background: #eee;
  border-radius: 20px;
  .text {
    border-bottom:solid 3px #fff;
  }
}
.product {
  width: 75%;
  height: 75%;
}
.link {
  display: block;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  height: 175px;
}
#slink6 {
  @extend.link;
  background-image: url(../images/s6.jpg);
}
#slink6:hover {
  display:block;
  background: #f00 !important;
}
#slink10 {
  @extend.link;
  background-image: url(../images/s10.jpg);
}
#slink10:hover {
  display:block;
  background: #0f0 !important;
}
