.biogeek-banner {
  background-size: cover;
  background-position: bottom center;

  .am-vertical-align-middle,
  .am-vertical-align-bottom {
    width: 99%; //to solve the problem of browser compatibility
  }
}

.biogeek-puzzle {
  ul li {
    position: relative;

    a {
      position:absolute;
      left:0;
      top:0;
      width: 100%;
      height: 100%;
      border-radius: 5px;
    }

    span {
      position: absolute;
      left: 0;
      bottom: 0;
      color: #fff;
    }
  }
}

#biogeek-cell-puzzle {
  ul li:nth-child( 6):hover a { background-color: #0A8CE0; }
  ul li:nth-child(10):hover a { background-color: #CE6E08; }
}

#biogeek-clone-puzzle {
  ul li:nth-child( 8):hover a { background-color: #A219C9; }
  ul li:nth-child(10):hover a { background-color: #CE6E08; }
  ul li:nth-child(12):hover a { background-color: #E0CE08; }
  ul li:nth-child(14):hover a { background-color: #21C516; }
}

#biogeek-ngs-puzzle{
  ul li:nth-child( 6):hover a { background-color: #CE6E08; }
  ul li:nth-child(10):hover a { background-color: #0A8CE0; }
  ul li:nth-child(13):hover a { background-color: #B40808; }
}

.product-list {
  background: #efefef;

  p, h2 {
    border-bottom: solid 3px #fff;
  }

  .list li{
    text-align: left;
  }

  .title {
    color: #000
  }
}

//third
.productlist {
  background-size: cover;
  background-position: bottom center;
  height: 370px;
  position: relative;
  .diamond {
    background:#EC5C44;
    border-radius:0 20px 20px 0;
    color:#fff;
  }
}
.product {
  width: 75%;
  height: 75%;
}
.blank {
  height: 60px;
}
.box-border {
  background: #eee;
  border-radius: 20px;
}
.cong {
  position: absolute;
  bottom: 6%;
}
.color-zong {
  background:#EC5C44;
  border-radius: 20px;
  color:#fff;
  max-width: 550px;
}
.am-vertical-align-bottom {
    display: inline-block !important;

}
