$purple: rgb(81,52,102);
$white: #fff;
$black: #000;

/**
 * Global header
 */

.am-topbar-inverse {
  font-size:0.9em;
  background-color: $purple;
  border-color: $purple;
}

.am-topbar {
  .am-text-ir {
    display: block;
    margin: 7px;
    height: 36px;
    width: 36px;
    background: no-repeat left center;
    background-size: 36px 36px;
  }
  .am-dropdown-content:after  { border-bottom-color: rgba($purple, 0.9); }
  .am-dropdown-content:before { border-bottom-color: rgba($purple, 0.9); }
  .am-dropdown-content {
    position:absolute;
    top: 80%;
    background-color: rgba($purple, 0.6);
    border-color:rgba($purple, 0.7);
    a {
      display: block;
      padding: 6px 20px;
      font-weight: 400;
      color: darken($white, 15%);
    }
    a:hover {
      background-color: rgba($purple, 0.9);
      color: $white;
    }
  }
}

.am-offcanvas {
  a { color: lighten($black, 20%); }
  ul ul { border-left: 16px solid white; }
}

.list{
  position: relative;
  .list-content{
    width:300px;
    background-color: rgba($purple, 0.6);
    position:absolute;
    left:100%;
    top:-40%;
    border-color:rgba($purple, 0.7);
    display: none;
  }
}

/**
 * Global footer
 */

.site-footer {
  background-color: $purple;
  color: darken($white, 25%);

  h3 { color: darken($white, 15%); }
}

/**
 * Layout specific
 */

#service {
  p { text-indent: 2em; }
}
.img-style {
  height: 370px;
  background-size: cover;
  background-position: -100px right;
  display: block;
}
/**
 * blog
 */

.bg-style {
  margin-top: 50px;
  .am-container {
    max-width: 900px;
    box-shadow: 0 0 10px 0 #cfcfcf;
    .cm {
      max-width: 800px;
      padding: 50px 50px;
      margin: 0 auto;
    }
  }
}
