$purple: rgb(81,52,102);
$white: #fff;
$black: #000;

/**
 * Site header
 */
.am-topbar-inverse {
  font-size:0.9em;
  background-color: $purple;
  border-color: $purple;
}
.am-topbar {
  .am-text-ir {
    display: block;
    margin-right: 10px;
    height: 50px;
    width: 36px;
    background: no-repeat left center;
    -webkit-background-size: 36px 36px;
    background-size: 36px 36px;
  }
  .am-dropdown-content:after  { border-bottom-color: rgba($purple,0.9); }
  .am-dropdown-content:before { border-bottom-color: rgba($purple,0.9); }
  .am-dropdown-content {
    position:absolute;
    top: 80%;
    background-color: rgba($purple,0.6);
    border-color:rgba($purple,0.7);
    a {
      display: block;
      padding: 6px 20px;
      font-weight: 400;
      color: darken($white, 15%);
    }
    a:hover {
      background-color: rgba($purple,0.9);
      color: $white;
    }
  }
}
.am-offcanvas-content {
  a {
    color: lighten($black,20%);
  }
  .border-style-one { border-left: 6px solid rgba($black,0.5); }
  .border-style-two { border-left: 6px solid rgba($purple,0.9); }
  .admin-sidebar-sub a:hover {
    background-color: rgba($black,0.3);
  }
  .color-style a:hover {
    background-color: rgba($purple,0.3);
  }
}
.list{
  position: relative;
  .list-content{
    width:300px;
    background-color: rgba($purple,0.6);
    position:absolute;
    left:100%;
    top:-40%;
    border-color:rgba($purple,0.7);
    display: none;
  }
}

/**
 * Site footer
 */
.site-footer {
  background-color: $purple;
  font-size: 0.75em;
  color: darken($white,25%);
  .title-style{
    color: darken($white,15%);
  }
  .text-style {
    text-indent: 2em;
  }
 }

 /**
  * Site service.index
  */
.animate {
  a {
    color: #333;
  }
}
