p {font-size: 1em;}
.text-style { text-indent: 2em; }

/**
 * Site blog
 */

.am-pagination {
  .am-active {
    a {
      background-color: rgb(81,52,102);
      border-color: rgb(81,52,102);
    }
    a:hover {
      background-color: #4d3261;
      border-color: #4d3261;
    }
  }
}

/**
 * Site serve
 */

.animate {
  a {
    color: #333;
  }
}
