---
layout: default-en
title: Technical Services
---
:scss
  .animate {
    a { color: #333; }
  }

%img.am-img-responsive{src: '{{ "/images/index1.1.jpg" | prepend: site.url.assets }}', alt: '合生基因'}
.am-container
  %br
  %h1.am-text-center Genome Editing
  %hr
  %p.am-text-center SyngenTech offers rapid, efficient and custom services in all aspects of genome modifications
  .am-avg-sm-2.am-avg-md-2.am-avg-lg-4.am-thumbnails.animate
    %li
      %a{href: '{{ "/en/service/solution/knock-down" | prepend: site.url.root }}'}
        %img.am-thumbnail{src: '{{ "/images/index-1.jpg" | prepend: site.url.assets }}', alt: '基因敲入'}
    %li
      %a{href: '{{ "/en/service/solution/lncRNA-knock-down" | prepend: site.url.root }}'}
        %img.am-thumbnail{src: '{{ "/images/index-2.jpg" | prepend: site.url.assets }}', alt: 'LncRNA敲除'}
    %li
      %a{href: '{{ "/en/service/solution/non-site-specific-integration" | prepend: site.url.root }}'}
        %img.am-thumbnail{src: '{{ "/images/index-3.jpg" | prepend: site.url.assets }}', alt: '非定点基因敲除'}
    %li
      %a{href: '{{ "/en/service/solution/knock-in" | prepend: site.url.root }}'}
        %img.am-thumbnail{src: '{{ "/images/index-4.jpg" | prepend: site.url.assets }}', alt: '基因敲入'}
    %li
      %a{href: '{{ "/en/service/solution/silencing" | prepend: site.url.root }}'}
        %img.am-thumbnail{src: '{{ "/images/index-5.jpg" | prepend: site.url.assets }}', alt: '基因沉默'}
    %li
      %a{href: '{{ "/en/service/solution/activation" | prepend: site.url.root }}'}
        %img.am-thumbnail{src: '{{ "/images/index-6.jpg" | prepend: site.url.assets }}', alt: '转录激活'}
    %li
      %a{href: '{{ "/en/service/solution/inhibition" | prepend: site.url.root }}'}
        %img.am-thumbnail{src: '{{ "/images/index-7.jpg" | prepend: site.url.assets }}', alt: '转录抑制'}
    %li
      %a{href: '{{ "/en/service/solution/high-throughput-edting" | prepend: site.url.root }}'}
        %img.am-thumbnail{src: '{{ "/images/index-8.jpg" | prepend: site.url.assets }}', alt: '高通量基因编辑'}
  %h1.am-text-center The specialist in targeted genome editing
  %hr
  %p.am-text-center SyngenTech takes advantage of the optimized CRISPR/Cas9 and RNAi systems to fulfil your requirement
  %br
  #demo-slider-0.am-slider.am-slider-default{'data-am-flexslider' => '{directionNav:false, controlNav: false}'}
    %ul.am-slides
      %li
        %img{src: '{{ "/images/index-9.jpg" | prepend: site.url.assets }}', alt: 'RNAi基因沉默服务'}
      %li
        %img{src: '{{ "/images/index-10.jpg" | prepend: site.url.assets }}', alt: 'CRISPR/CAS9基因编辑服务'}
  %br
  %h1.am-text-center Full range of technical services and products for genome editing
  %hr
  %p.am-text-center SyngenTech makes use of a combination of knowledge covering synthetic biology, molecular biology, and cell biology
  %br
  .am-g.animate.am-text-center
    .am-u-sm-6.am-u-md-6.am-u-lg-2
      %a{href: '{{ "/en/service/product/CRISPR-design" | prepend: site.url.root }}'}
        %img{src: '{{ "/images/index-11.jpg" | prepend: site.url.assets }}', alt: 'CRISPR/CAS9载体设计与构建', width: '84', height: '84'}
      %p
        %a{href: '{{ "/en/service/product/CRISPR-design" | prepend: site.url.root }}'}
          Vector design and construction
          %br
          for CRISPR/Cas9 system
        %br
    .am-u-sm-6.am-u-md-6.am-u-lg-2
      %a{href: '{{ "/en/service/product/CRISPR-construction" | prepend: site.url.root }}'}
        %img{src: '{{ "/images/index-12.jpg" | prepend: site.url.assets }}', alt: 'CRISPR/CAS9快速构建试剂盒', width: '84', height: '84'}
      %p
        %a{href: '{{ "/en/service/product/CRISPR-construction" | prepend: site.url.root }}'}
          Quick cloning kits
          %br
          for CRISPR/Cas9 system
        %br
    .am-u-sm-6.am-u-md-6.am-u-lg-2
      %a{href: '{{ "/en/service/product/CRISPR-activity" | prepend: site.url.root }}'}
        %img{src: '{{ "/images/index-13.jpg" | prepend: site.url.assets }}', alt: 'CRISPR/CAS9活性检测', width: '84', height: '84'}
      %p
        %a{href: '{{ "/en/service/product/CRISPR-activity" | prepend: site.url.root }}'}
          Activity test
          %br
          for CRISPR/Cas9 system
        %br
    .am-u-sm-6.am-u-md-6.am-u-lg-2
      %a{href: '{{ "/en/service/product/gRNA-library" | prepend: site.url.root }}'}
        %img{src: '{{ "/images/index-14.jpg" | prepend: site.url.assets }}', alt: 'gRNA文库构建', width: '84', height: '84'}
      %p
        %a{href: '{{ "/en/service/product/gRNA-library" | prepend: site.url.root }}'}
          gRNA
          %br
          library construction
        %br
    .am-u-sm-6.am-u-md-6.am-u-lg-2
      %a{href: '{{ "/en/service/product/RNAi-design" | prepend: site.url.root }}'}
        %img{src: '{{ "/images/index-15.jpg" | prepend: site.url.assets }}', alt: 'RNAi载体设计与构建', width: '84', height: '84'}
      %p
        %a{href: '{{ "/en/service/product/RNAi-design" | prepend: site.url.root }}'}
          &nbsp;&nbsp;&nbsp;Vector design and construction
          %br
          for RNAi
        %br
    .am-u-sm-6.am-u-md-6.am-u-lg-2
      %a{href: '{{ "/en/service/product/miRNA-sponge-design" | prepend: site.url.root }}'}
        %img{src: '{{ "/images/index-16.jpg" | prepend: site.url.assets }}', alt: 'RNAi Sponge载体设计与构建', width: '84', height: '84'}
      %p
        %a{href: '{{ "/en/service/product/miRNA-sponge-design" | prepend: site.url.root }}'}
          Vector design and construction
          %br
          for RNAi Sponge
        %br
  .am-g.animate.am-text-center
    .am-u-sm-6.am-u-md-6.am-u-lg-2
      %a{href: '{{ "/en/service/product/shRNA-library" | prepend: site.url.root }}'}
        %img{src: '{{ "/images/index-17.jpg" | prepend: site.url.assets }}', alt: 'RNAi文库构建', width: '84', height: '84'}
      %p
        %a{href: '{{ "/en/service/product/shRNA-library" | prepend: site.url.root }}'}
          RNAi library construction
        %br
    .am-u-sm-6.am-u-md-6.am-u-lg-2
      %a{href: '{{ "/en/service/product/cell-line-transform" | prepend: site.url.root }}'}
        %img{src: '{{ "/images/index-18.jpg" | prepend: site.url.assets }}', alt: '细胞系工程改造', width: '84', height: '84'}
      %p
        %a{href: '{{ "/en/service/product/cell-line-transform" | prepend: site.url.root }}'}
          Cell line engineering
        %br
    .am-u-sm-6.am-u-md-6.am-u-lg-2
      %a{href: '{{ "/en/service/product/LV" | prepend: site.url.root }}'}
        %img{src: '{{ "/images/index-19.jpg" | prepend: site.url.assets }}', alt: '慢病毒包装', width: '84', height: '84'}
      %p
        %a{href: '{{ "/en/service/product/LV" | prepend: site.url.root }}'}
          Lentivirus packaging
        %br
    .am-u-sm-6.am-u-md-6.am-u-lg-2
      %a{href: '{{ "/en/service/product/transgenic-mice" | prepend: site.url.root }}'}
        %img{src: '{{ "/images/index-20.jpg" | prepend: site.url.assets }}', alt: '基因工程鼠', width: '84', height: '84'}
      %p
        %a{href: '{{ "/en/service/product/transgenic-mice" | prepend: site.url.root }}'}
          Transgenetic mouse
        %br
    .am-u-sm-6.am-u-md-6.am-u-lg-2
      %a{href: '{{ "/en/service/product/gene-synthesis" | prepend: site.url.root }}'}
        %img{src: '{{ "/images/index-21.jpg" | prepend: site.url.assets }}', alt: '基因合成', width: '84', height: '84'}
      %p
        %a{href: '{{ "/en/service/product/gene-synthesis" | prepend: site.url.root }}'}
          Gene synthesis
        %br
    .am-u-sm-6.am-u-md-6.am-u-lg-2
      %a{href: '{{ "/en/service/product/synbio-service" | prepend: site.url.root }}'}
        %img{src: '{{ "/images/index-22.jpg" | prepend: site.url.assets }}', alt: '合成生物学技术服务外包', width: '84', height: '84'}
      %p
        %a{href: '{{ "/en/service/product/synbio-service" | prepend: site.url.root }}'}
          Technical services
        %br
  %br
  %h1.am-text-center A new wave of technical services and products for genome editing
  %hr
  %p.am-text-center By means of synthetic biology, SyngenTech provides a whole package of custom technical services and products to fulfil your various requirements
  %br
  #demo-slider-0.am-slider.am-slider-default{'data-am-flexslider' => '{directionNav:false, controlNav: false}'}
    %ul.am-slides
      %li
        %img{src: '{{ "/images/index-23.jpg" | prepend: site.url.assets }}', alt: 'CRISPR/CAS9载体快速构建'}
      %li
        %img{src: '{{ "/images/index-24.jpg" | prepend: site.url.assets }}', alt: '细胞系工程建设'}
  %br
%img.am-img-responsive{src: '{{ "/images/index-25.jpg" | prepend: site.url.assets }}'}
