---
layout: default-en
title: Technical Services
---
:scss
  .animate {
    a { color: #333; }
  }

%img.am-img-responsive{src: '{{ "/images/index-en-1.1.jpg" | prepend: site.url.assets }}', alt: '合生基因'}
.am-container
  %br
  %h1.am-text-center Genome Editing
  %hr
  %p.am-text-center SyngenTech offers rapid, efficient and custom services in all aspects of genome modifications
  .am-avg-sm-2.am-avg-md-2.am-avg-lg-4.am-thumbnails.animate
    %li
      %a{href: '{{ "/en/service/solution/knock-down" | prepend: site.url.root }}'}
        %img.am-thumbnail{src: '{{ "/images/index-en-1.jpg" | prepend: site.url.assets }}', alt: '基因敲入'}
    %li
      %a{href: '{{ "/en/service/solution/lncRNA-knock-down" | prepend: site.url.root }}'}
        %img.am-thumbnail{src: '{{ "/images/index-en-2.jpg" | prepend: site.url.assets }}', alt: 'LncRNA敲除'}
    %li
      %a{href: '{{ "/en/service/solution/non-site-specific-integration" | prepend: site.url.root }}'}
        %img.am-thumbnail{src: '{{ "/images/index-en-3.jpg" | prepend: site.url.assets }}', alt: '非定点基因敲除'}
    %li
      %a{href: '{{ "/en/service/solution/knock-in" | prepend: site.url.root }}'}
        %img.am-thumbnail{src: '{{ "/images/index-en-4.jpg" | prepend: site.url.assets }}', alt: '基因敲入'}
    %li
      %a{href: '{{ "/en/service/solution/silencing" | prepend: site.url.root }}'}
        %img.am-thumbnail{src: '{{ "/images/index-en-5.jpg" | prepend: site.url.assets }}', alt: '基因沉默'}
    %li
      %a{href: '{{ "/en/service/solution/activation" | prepend: site.url.root }}'}
        %img.am-thumbnail{src: '{{ "/images/index-en-6.jpg" | prepend: site.url.assets }}', alt: '转录激活'}
    %li
      %a{href: '{{ "/en/service/solution/inhibition" | prepend: site.url.root }}'}
        %img.am-thumbnail{src: '{{ "/images/index-en-7.jpg" | prepend: site.url.assets }}', alt: '转录抑制'}
    %li
      %a{href: '{{ "/en/service/solution/high-throughput-edting" | prepend: site.url.root }}'}
        %img.am-thumbnail{src: '{{ "/images/index-en-8.jpg" | prepend: site.url.assets }}', alt: '高通量基因编辑'}
  %h1.am-text-center The specialist in targeted genome editing
  %hr
  %p.am-text-center SyngenTech takes advantage of the optimized CRISPR/Cas9 and RNAi systems to fulfil your requirement
  %br
  .am-slider.am-slider-d2{'data-am-widget' => 'slider', 'data-am-slider' => '{directionNav:false, controlNav: false}'}
    %ul.am-slides
      %li
        .am-g.am-text-left{style: 'background: url({{ "/images/index-en-9.jpg" | prepend: site.url.assets }}) center no-repeat #fbfbfb'}
          .am-u-lg-6.am-u-md-6.am-hide-sm-only
            %p &nbsp;
          .am-u-md-6.am-u-lg-6.am-hide-sm-only
            %h2.am-margin-top-xl RNAi
            %p RNA interference (RNAi) is a conserved biological process in which small RNA molecules inhibit gene expression, typically by causing the destruction of specific mRNA molecules. RNAi has been widely used in functional genomics, gene therapy, drug screening, signal transduction pathway analysis, protein-protein interactions, etc. SyngenTech is committed to providing the superior and most convenient RNAi tools for researchers. Our one-stop service include the upstream custom shRNA, miRNA and miRNA sponge expression vectors to the downstream gene silencing stable cell lines.</p>
          .am-u-sm-12.am-show-sm-only.fc
            %h2.am-margin-top-xl RNAi
            %p RNA interference (RNAi) is a conserved biological process in which small RNA molecules inhibit gene expression, typically by causing the destruction of specific mRNA molecules. RNAi has been widely used in functional genomics, gene therapy, drug screening, signal transduction pathway analysis, protein-protein interactions, etc. SyngenTech is committed to providing the superior and most convenient RNAi tools for researchers. Our one-stop service include the upstream custom shRNA, miRNA and miRNA sponge expression vectors to the downstream gene silencing stable cell lines.</p>
      %li
        .am-g.am-text-left{style: "background: url({{'/images/index-en-10.jpg' | prepend: site.url.assets}}) center no-repeat #fbfbfb"}
          .am-u-lg-6.am-u-md-6.am-hide-sm-only
            %p &nbsp;
          .am-u-md-6.am-u-lg-6.am-hide-sm-only
            %h2.am-margin-top-xl CRISPR/Cas9
            %p.am-margin-bottom-xxxl CRISPR/Cas9 system has revolutionized genome editing, and has been widely used in different fields. Our experienced team in genome editing using CRISPR/Cas9 system ensures that you receive professional services tailored to your needs. We will offer one-stop service for CRISPR/Cas9 related genome editing technologies from experiment design to data analysis.
          .am-u-sm-12.am-show-sm-only.fc
            %h2.am-margin-top-xl CRISPR/Cas9
            %p.am-margin-bottom-xxxl CRISPR/Cas9 system has revolutionized genome editing, and has been widely used in different fields. Our experienced team in genome editing using CRISPR/Cas9 system ensures that you receive professional services tailored to your needs. We will offer one-stop service for CRISPR/Cas9 related genome editing technologies from experiment design to data analysis.

  %h1.am-text-center Full range of technical services and products for genome editing
  %hr
  %p.am-text-center SyngenTech makes use of a combination of knowledge covering synthetic biology, molecular biology, and cell biology
  %br
  .am-g.animate.am-text-center
    .am-u-sm-6.am-u-md-6.am-u-lg-2
      %a{href: '{{ "/en/service/product/CRISPR-design" | prepend: site.url.root }}'}
        %img{src: '{{ "/images/index-11.jpg" | prepend: site.url.assets }}', alt: 'CRISPR/CAS9载体设计与构建', width: '84', height: '84'}
      %p
        %a{href: '{{ "/en/service/product/CRISPR-design" | prepend: site.url.root }}'}
          Vector design and construction
          %br
          for CRISPR/Cas9 system
        %br
    .am-u-sm-6.am-u-md-6.am-u-lg-2
      %a{href: '{{ "/en/service/product/CRISPR-construction" | prepend: site.url.root }}'}
        %img{src: '{{ "/images/index-12.jpg" | prepend: site.url.assets }}', alt: 'CRISPR/CAS9快速构建试剂盒', width: '84', height: '84'}
      %p
        %a{href: '{{ "/en/service/product/CRISPR-construction" | prepend: site.url.root }}'}
          Quick cloning kits
          %br
          for CRISPR/Cas9 system
        %br
    .am-u-sm-6.am-u-md-6.am-u-lg-2
      %a{href: '{{ "/en/service/product/CRISPR-activity" | prepend: site.url.root }}'}
        %img{src: '{{ "/images/index-13.jpg" | prepend: site.url.assets }}', alt: 'CRISPR/CAS9活性检测', width: '84', height: '84'}
      %p
        %a{href: '{{ "/en/service/product/CRISPR-activity" | prepend: site.url.root }}'}
          Activity test
          %br
          for CRISPR/Cas9 system
        %br
    .am-u-sm-6.am-u-md-6.am-u-lg-2
      %a{href: '{{ "/en/service/product/gRNA-library" | prepend: site.url.root }}'}
        %img{src: '{{ "/images/index-14.jpg" | prepend: site.url.assets }}', alt: 'gRNA文库构建', width: '84', height: '84'}
      %p
        %a{href: '{{ "/en/service/product/gRNA-library" | prepend: site.url.root }}'}
          gRNA
          %br
          library construction
        %br
    .am-u-sm-6.am-u-md-6.am-u-lg-2
      %a{href: '{{ "/en/service/product/RNAi-design" | prepend: site.url.root }}'}
        %img{src: '{{ "/images/index-15.jpg" | prepend: site.url.assets }}', alt: 'RNAi载体设计与构建', width: '84', height: '84'}
      %p
        %a{href: '{{ "/en/service/product/RNAi-design" | prepend: site.url.root }}'}
          &nbsp;&nbsp;&nbsp;Vector design and construction
          %br
          for RNAi
        %br
    .am-u-sm-6.am-u-md-6.am-u-lg-2
      %a{href: '{{ "/en/service/product/miRNA-sponge-design" | prepend: site.url.root }}'}
        %img{src: '{{ "/images/index-16.jpg" | prepend: site.url.assets }}', alt: 'RNAi Sponge载体设计与构建', width: '84', height: '84'}
      %p
        %a{href: '{{ "/en/service/product/miRNA-sponge-design" | prepend: site.url.root }}'}
          Vector design and construction
          %br
          for RNAi Sponge
        %br
  .am-g.animate.am-text-center
    .am-u-sm-6.am-u-md-6.am-u-lg-2
      %a{href: '{{ "/en/service/product/shRNA-library" | prepend: site.url.root }}'}
        %img{src: '{{ "/images/index-17.jpg" | prepend: site.url.assets }}', alt: 'RNAi文库构建', width: '84', height: '84'}
      %p
        %a{href: '{{ "/en/service/product/shRNA-library" | prepend: site.url.root }}'}
          RNAi library construction
        %br
    .am-u-sm-6.am-u-md-6.am-u-lg-2
      %a{href: '{{ "/en/service/product/cell-line-transform" | prepend: site.url.root }}'}
        %img{src: '{{ "/images/index-18.jpg" | prepend: site.url.assets }}', alt: '细胞系工程改造', width: '84', height: '84'}
      %p
        %a{href: '{{ "/en/service/product/cell-line-transform" | prepend: site.url.root }}'}
          Cell line engineering
        %br
    .am-u-sm-6.am-u-md-6.am-u-lg-2
      %a{href: '{{ "/en/service/product/LV" | prepend: site.url.root }}'}
        %img{src: '{{ "/images/index-19.jpg" | prepend: site.url.assets }}', alt: '慢病毒包装', width: '84', height: '84'}
      %p
        %a{href: '{{ "/en/service/product/LV" | prepend: site.url.root }}'}
          Lentivirus packaging
        %br
    .am-u-sm-6.am-u-md-6.am-u-lg-2
      %a{href: '{{ "/en/service/product/transgenic-mice" | prepend: site.url.root }}'}
        %img{src: '{{ "/images/index-20.jpg" | prepend: site.url.assets }}', alt: '基因工程鼠', width: '84', height: '84'}
      %p
        %a{href: '{{ "/en/service/product/transgenic-mice" | prepend: site.url.root }}'}
          Transgenetic mouse
        %br
    .am-u-sm-6.am-u-md-6.am-u-lg-2
      %a{href: '{{ "/en/service/product/gene-synthesis" | prepend: site.url.root }}'}
        %img{src: '{{ "/images/index-21.jpg" | prepend: site.url.assets }}', alt: '基因合成', width: '84', height: '84'}
      %p
        %a{href: '{{ "/en/service/product/gene-synthesis" | prepend: site.url.root }}'}
          Gene synthesis
        %br
    .am-u-sm-6.am-u-md-6.am-u-lg-2
      %a{href: '{{ "/en/service/product/synbio-service" | prepend: site.url.root }}'}
        %img{src: '{{ "/images/index-22.jpg" | prepend: site.url.assets }}', alt: '合成生物学技术服务外包', width: '84', height: '84'}
      %p
        %a{href: '{{ "/en/service/product/synbio-service" | prepend: site.url.root }}'}
          Technical services
        %br
  %br
  %h1.am-text-center A new wave of technical services and products for genome editing
  %hr
  %p.am-text-center By means of synthetic biology, SyngenTech provides a whole package of custom technical services and products to fulfil your various requirements
  %br
  .am-slider.am-slider-d2{'data-am-widget' => 'slider', 'data-am-slider' => '{directionNav:false, controlNav: false}'}
    %ul.am-slides
      %li
        .am-g.am-text-left{style: 'background: url({{ "/images/index-en-23.jpg" | prepend: site.url.assets }}) center no-repeat #fbfbfb'}
          .am-u-lg-6.am-u-md-6.am-hide-sm-only
            %p &nbsp;
          .am-u-md-6.am-u-lg-6.am-hide-sm-only
            %h2.am-margin-top-xl Quick cloning kits for CRISPR/Cas9 system
            %p.am-margin-bottom-xxxl SyngenTech provides custom CRISPR/Cas9 vectors to allow you to edit and engineer the genomic locus of your choice. Meanwhile, we developed quick cloning kits tailored to your needs for genome editing.
            %p &nbsp;
          .am-u-sm-12.am-show-sm-only.fc
            %h2.am-margin-top-xl Quick cloning kits for CRISPR/Cas9 system
            %p.am-margin-bottom-xxxl SyngenTech provides custom CRISPR/Cas9 vectors to allow you to edit and engineer the genomic locus of your choice. Meanwhile, we developed quick cloning kits tailored to your needs for genome editing.
            %p &nbsp;
      %li
        .am-g.am-text-left{style: "background: url({{'/images/index-en-24.jpg' | prepend: site.url.assets}}) center no-repeat #fbfbfb"}
          .am-u-lg-6.am-u-md-6.am-hide-sm-only
            %p &nbsp;
          .am-u-md-6.am-u-lg-6.am-hide-sm-only
            %h2.am-margin-top-xl Cell Line Engineerin
            %p Cell line engineering is a versatile tool for studying gene function, tumor treatment, biopharmaceutical research and many other applications. However, the difficult and time-consuming task of generating cell lines can sometimes be a rate-limiting step for a promising project. SyngenTech provides one-stop services for cell line engineering using CRISPR/Cas9 technology or the lentiviral packaging system. Our featured services include generating knockout cell lines, site-specific and non-site-specific knock-in cell lines.
          .am-u-sm-12.am-show-sm-only.fc
            %h2.am-margin-top-xl Cell Line Engineerin
            %p Cell line engineering is a versatile tool for studying gene function, tumor treatment, biopharmaceutical research and many other applications. However, the difficult and time-consuming task of generating cell lines can sometimes be a rate-limiting step for a promising project. SyngenTech provides one-stop services for cell line engineering using CRISPR/Cas9 technology or the lentiviral packaging system. Our featured services include generating knockout cell lines, site-specific and non-site-specific knock-in cell lines.
%img.am-margin-top-xl.am-img-responsive{src: '{{ "/images/index-25.jpg" | prepend: site.url.assets }}'}
