---
layout: service-en
title: Transcriptional activation
image:
  header: /images/solution-6.1.jpg
  footer: /images/solution-6.4.jpg
---

%h2.am-margin-bottom-xs Introduction
%p.am-margin-top-0 To increase gene expression at the transcriptional level is one of the various applications for the CRISPR/Cas9 system, namely CRISPRa (CRISPR/Cas9 mediated transcriptional activation). By tagging a transcriptional activator to dead Cas9 (dCas9), a mutated Cas9 lacking endonuclease activity, site-specific activation of gene expression can be achieved in a RNA-guided manner.
%p Compared to gene overexpression by introducing exogenous DNA to cells, which may cause genome instability, the CRISPRa system activates the endogenous gene expression, thus reduces irreversible mutations of the genome. On the other hand, unlike the traditional “gain of function” experiment, in which some cDNAs can be difficult cloned from a cDNA library, the CRISPRa system only requires little sequence information for gRNA design. More importantly, multiple gRNAs can be used to control multiple genes simultaneously or to enhance the efficiency of regulating the same gene target.
%p SyngenTech uses VP64 as a transcriptional activator fused with dCas9. VP64, a universal activator, can help recruit RNA Polymerase II for transcriptional activation.
%hr
%h2.am-margin-xs Scheme of transcriptional activation using CRISPRa technology
%p.am-margin-top-0 VP64, anchored to a specific gene locus by the CRISPR/dCas9 pathway, recruits RNA Polymerase II for downstream transcriptional activation.
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/solution-6.2.jpg" | prepend: site.domain.assets }}', alt: '技术原理', width: '461', height: '184'}
%hr
%h2.am-margin-xs Solutions
%p.am-margin-top-0 SyngenTech provides one-stop service for transcriptional activation using CRISPRa technology, including the upstream experimental design to the downstream preparation of stable cell lines. Our optimized dCas9-VP64 system can be used to activate the expression of any endogenous gene or combination of them in mammalian cells. We also developed whole genome transcriptional activation technology for gene functional study and target gene screening using custom gRNA libraries. We will offer you custom and top-quality services at unbeatable prices.
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/solution-en-6.3.jpg" | prepend: site.domain.assets }}', alt: '解决方案', width: '467', height: '323'}
