---
layout: service
title: High throughput genome editing
image:
  header: /images/solution-8.1.jpg
  footer: /images/solution-8.5.jpg
---

%h2.am-margin-bottom-xs Introduction
%p.am-margin-top-0 Due to the development of high throughput sequencing and bioinformatics, researchers have been able to complete the genome sequencing in a relatively short time. However, to delineate complex genome, especially the functions of different genes, still remains to be a big challenge. Over the past decades, genetic screening using RNAi technology has revolutionized the fields of basic biological research, functional genomics, and drug development and discovery. Currently the CRISPR/Cas9 system that is discovered in Streptococcus pyogenes has been widely used to perform large-scale screening in mammalian cells. The CRISPR/Cas9 system is a robust genome editing technology based on the RNA-programmed DNA cleaving activity of the Cas9 nuclease. High throughput screening based on the CRISPR/Cas9 system includes genome-wide knockout approaches and related strategies using modified forms of Cas9 to cause gene knockdown or transcriptional activation in a non-mutagenic manner. Commonly, positive selection experiments are designed to identify perturbations that confer resistance to a drug, toxin or pathogen. For example, in the screen for host genes that are essential for the intoxication of cells by anthrax toxin, most gRNAs are depleted owing to the strong selective pressure of anthrax toxin, and only a small number of cells survive, which are transduced with gRNAs that introduce a protective mutation. In negative selection, the goal is to identify perturbations that cause cells to be depleted during selection, such perturbations typically affect genes that are necessary for survival under the chosen selective pressure. One important application of negative selection screens is the identification of gene perturbations that selectively target cancer cells that harbor known oncogenic mutations, which provide targets for cancer therapy. The CRISPR/Cas9 system can edit mammalian genomes in an efficient manner. When combined with deep sequencing, it allows the rapid identification of causal mutations and has a broad range of research applications.
%hr
%h2.am-margin-xs Scheme of high throughput genome editing using CRISPR/Cas9 system
%p.am-margin-top-0 A gRNA library is synthesized according to the predicted target genes, and transduced into your choice of cells with lentivirus as a carrier. Under the chosen selective pressure, the abundance of different gRNAs will be substantially changed as determined by deep sequencing technology, from which we can infer the possible functional genes.
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/solution-8.2.jpg" | prepend: site.url.assets }}', alt: '技术原理', width: '504', height: '844'}
%hr
%h2.am-margin-xs Solutions
%p.am-margin-top-0 SyngenTech provides custom shRNA and gRNA libraries, including those used for whole genome-wide gene silencing, gene knockout, and transcriptional activation and inhibition. Meanwhile, we can help you with the screening for drug target genes using high throughput genome editing technology. We will offer you custom and top-quality services at unbeatable prices.
%div{align: 'center'}
  %img.am-img-responsive.am-margin-bottom-xl{src: '{{ "/images/solution-8.3.jpg" | prepend: site.url.assets }}', width: '720', height: '188'}
  %img.am-img-responsive{src: '{{ "/images/solution-8.4.jpg" | prepend: site.url.assets }}', width: '720', height: '867'}
