---
layout: service-en
title: Solutions
image:
  header: /images/solution1.jpg
  footer: /images/solution4.jpg
---

%p Genome editing is a type of genetic engineering in which DNA is inserted, replaced, or removed from a genome using artificially engineered nucleases, or "molecular scissors". The nucleases create specific double-strand breaks (DSBs) at desired locations in the genome that will be repaired by natural processes of homologous recombination (HR) and non-homologous end-joining (NHEJ), during which the host genome is modified. There are currently three families of engineered nucleases being used: Zinc finger nucleases (ZFN), Transcription Activator-Like Effector-based Nucleases (TALEN), the CRISPR/Cas9 system.
%p Unlike ZFN and TALEN directly binding to the specific DNA sequence to generate a DSB, the Cas9 nuclease in CRISPR/Cas9 system was directed by gRNAs to induce site-specific cleavage in complex genome, which makes the cloning work much easier and low cost compared to the other two techniques. Simply by designing functional gRNAs targeting different gene locus, the genome can be cut at any corresponding locations. Besides, the adaptability of CRISPR/Cas9 system widens its potential applications in many different ways. For example, a modified Cas9 endonuclease can make the system cut a single strand in a double strand DNA, which substantially reduces the chromosome rearrangements caused by NHEJ. Another adaptable application involves anchoring other functional proteins to Cas9 to study their interactions with DNA.
%p All the superior advantages of CRISPR/Cas9 technology makes it one of the Science’s Top-10 Breakthroughs of 2013. And many variants of this system are still under development in labs around the world.
%hr
%p CRISPR/Cas9 system has revolutionized genome editing, and has been widely used in different fields. For scientific studies, CRISPR/Cas9 system can help make engineered cell lines and model animals in a quick and cost-effective fashion. In biomedicine, CRISPR/Cas9 system improves the accuracy for identifying functional pathogenetic genes. Beyond that, it has been used in genetic breeding to increase yields and quality.
%hr
%img.am-img-responsive{src: '{{ "/images/solution-en-2.jpg" | prepend: site.domain.assets }}', alt: '解决方案的子页面详解'}
%p Our experienced team in genome editing using CRISPR/Cas9 system ensures that you receive professional services tailored to your needs. We will offer one-stop service for CRISPR/Cas9 related genome editing technologies from experiment design to data analysis.
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/solution-en-3.jpg" | prepend: site.domain.assets }}', alt: '解决方案', width: '294', height: '479'}
