---
layout: service-en
title: Site-specific gene knock-in
image:
  header: /images/solution-4.1.jpg
  footer: /images/solution-4.4.jpg
---

%h2.am-margin-bottom-xs Introduction
%p.am-margin-top-0 Site-specific gene knock-in is a genetic technique in which exogenous DNA is integrated into a host genome at a specific locus (gain of function) by genome editing technologies. The primitive methods for gene knock-in replies on random integration or the transposon system. However, off-target effect and the variance of copy numbers in both methods can cause the disruption of other genes, leading to the differential expression profiles in the same cell lineage. Site-specific gene knock-in using CRISPR/Cas9 system substantially reduces the off-target effect and genetic background noise in cells and provides a promising approach for targeted gene therapy by artificially replacing the dysfunctional gene fragment with a functional one.
%hr
%h2.am-margin-xs Scheme of site-specific gene knock-in using CRISPR/Cas9 technologies
%p.am-margin-top-0 Cas9 nuclease is guided by the designed gRNA molecule to cut at a specific gene locus. The resulting DSB will then be spontaneously repaired by HR in which the target gene is integrated to the host genome.
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/solution-4.2.jpg" | prepend: site.url.assets }}', alt: '基因敲入', width: '513', height: '387'}
%hr
%h2.am-margin-xs Solutions
%p.am-margin-top-0 SyngenTech provides one-stop service for generation of Site-specific gene knock-in cell lines or model animals using CRISPR/Cas9 technology, including the upstream gRNA design and CRISPR/Cas9 vector construction to the downstream genotyping and breeding to homozygosis. You can also outsource parts of this complex process to us. We will offer you custom and top-quality services at unbeatable prices.
%img.am-img-responsive{src: '{{ "/images/solution-en-4.3.jpg" | prepend: site.url.assets }}', alt: '解决方案'}
