---
layout: service-en
title: Non site-specific gene knock-in
image:
  header: /images/solution-en-3.1.jpg
  footer: /images/solution-3.4.jpg
---

%h2.am-margin-bottom-xs Introduction
%p.am-margin-top-0 SyngenTech uses lentivirus as a carrier for delivering of exogenous DNA into genomes. Lentivirus is an HIV-1-based retrovirus that effectively transduces both dividing and non-dividing mammalian cells. Having been widely used in cell engineering, Lentivirus transduction provides stable, long-term expression of target genes in a wide range of host cells. Compared to other retroviral system, lentivirus vectors results in a higher viral titer and efficient expression of the gene of interest.
%hr
%h2.am-margin-xs Scheme of non site-specific gene knock-in using Lentivirus as a carrier
%p.am-margin-top-0 Lentiviral particles transduce cells by injection of their genome along with the target gene (single-stranded RNA, ssRNA). A reverse transcriptase then converts the ssRNA genome into double-stranded DNA that is randomly integrated into the host genome, and replicated and transcribed as the host genome does.
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/solution-3.2.jpg" | prepend: site.domain.assets }}', alt: '技术原理', width: '682', height: '281'}
%hr
%h2.am-margin-xs Solutions
%p.am-margin-top-0 SyngenTech provides one-stop service for generation of specific stable cell lines using lentivirus as carrier, including the upstream vector construction to the downstream genotyping. Our service allows you to choose a constitutive or inducible promoter for gene (mRNA, miRNA, shRNA) expression. You can also outsource parts of this complex process to us. We will offer you custom and top-quality services at unbeatable prices.
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/solution-en-3.3.jpg" | prepend: site.domain.assets }}', alt: '解决方案', width: '294', height: '479'}
