---
layout: service
title: RNA silencing
image:
  header: /images/solution-5.1.jpg
  footer: /images/solution-5.4.jpg
---

%h2.am-margin-bottom-xs Introduction
%p.am-margin-top-0 RNA interference (RNAi) is a conserved biological process in which small RNA molecules (~20nt) inhibit gene expression, typically by causing the destruction of specific mRNA molecules. The RNAi pathway is initiated by the enzyme Dicer, which process double-stranded RNA (dsRNA) molecules into mature small interfering RNA (siRNA). The siRNA molecule is incorporated to the (RNA-induced silencing complex) RISC and induces cleavage by RISC at the target mRNA.
%p Small hairpin RNA (shRNA) is an artificial RNA molecule with a tight hairpin turn that can be processed to functional siRNA by cellular machineries. Compared to the chemically synthesized siRNA, shRNA has the following advantages: (a) a longer inhibition effect as it has a relatively low rate of degradation and turnover; (b) expression of shRNA in cells is typically accomplished by delivery of plasmids or through viral or bacterial vectors with a potent RNA polymerase III promoter, which makes it cost-effective and efficient; (c) stable shRNA expression can be achieved by generating stable cell lines.
%p microRNA (miRNA) is an endogenous small RNA molecule involved in regulation of gene expression. Chemically synthesized miRNA, with sequence being optimized through long history of evolution, results in more efficient RNA interference compared to the artificial shRNA even they function through the same pathway.
%p RNAi has been widely used in functional genomics, gene therapy, drug screening, signal transduction pathway analysis, protein-protein interactions, etc.
%hr
%h2.am-margin-xs Scheme of RNA silencing technology
%p.am-margin-top-0 The RNAi pathway is initiated by the enzyme Dicer, which process double-stranded RNA (dsRNA) molecules into mature small interfering RNA (siRNA). The siRNA molecule is incorporated to the (RNA-induced silencing complex) RISC and induces cleavage or translational inhibition by RISC at the target mRNA recognized by the siRNA molecule.
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/solution-5.2.png" | prepend: site.url.assets }}', alt: '技术原理', width: '725', height: '432'}
%h2.am-margin-xs Solutions
%p.am-margin-top-0 SyngenTech is committed to providing the superior and most convenient RNAi tools for researchers. Our one-stop service include the upstream custom shRNA, miRNA and miRNA sponge expression vectors to the downstream gene silencing stable cell lines. You can also outsource parts of this complex process to us. We will offer you custom and top-quality services at unbeatable prices.
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/solution-5.3.jpg" | prepend: site.url.assets }}', alt: '解决方案', width: '586', height: '408'}
