---
layout: biogeek/menu-en
title: Biogeek
---
.biogeek-banner.screen-height.am-vertical-align.am-text-center{style: 'background-image: url({{ "/images/biogeek/index-banner-1.jpg" | prepend: site.url.assets }})'}
  .am-vertical-align-bottom
    .am-margin-bottom-xxxl.am-padding-bottom-xl
      %h1.am-text-xxxl SyngenTech · Biogeek
      %p.am-text-lg The desire for perfection drives us to innovate

%ul.am-gallery.am-avg-sm-2.am-avg-md-4.am-gallery-default{'data-am-widget' => 'gallery'}
  %li
    .am-gallery-item
      %a{href: '{{ "/en/biogeek/clone" | prepend: site.url.root }}'}
        %img{src: '{{ "/images/biogeek/clone-en.jpg" | prepend: site.url.assets }}'}
  %li
    .am-gallery-item
      %a{href: '{{ "/en/biogeek/cell" | prepend: site.url.root }}'}
        %img{src: '{{ "/images/biogeek/cell-en.jpg" | prepend: site.url.assets }}'}
  %li
    .am-gallery-item
      %a{href:'{{ "/en/biogeek/ngs" | prepend: site.url.root }}'}
        %img{src: '{{ "/images/biogeek/ngs-en.jpg" | prepend: site.url.assets }}'}
  %li
    .am-gallery-item
      %img{src: '{{ "/images/biogeek/protein-en.jpg" | prepend: site.url.assets }}'}

.am-container.am-margin-vertical-xl.am-text-center
  %h2.am-margin-top-xl High quality Biogeek reagents make science easier for you
  %hr.am-margin-bottom-xl
  .am-u-sm-6.am-u-md-3
    %img{src: '{{ "/images/j1.png" | prepend: site.url.assets }}'}
    %p.am-text-lg.am-margin-top-lg
      %strong Superior raw materials
  .am-u-sm-6.am-u-md-3
    %img{src: '{{ "/images/j2.png" | prepend: site.url.assets }}'}
    %p.am-text-lg.am-margin-top-lg
      %strong Excellent tenologies
  .am-u-sm-6.am-u-md-3
    %img{src: '{{ "/images/j3.png" | prepend: site.url.assets }}'}
    %p.am-text-lg.am-margin-top-lg
      %strong High efficiency
  .am-u-sm-6.am-u-md-3
    %img{src: '{{ "/images/j4.png" | prepend: site.url.assets }}'}
    %p.am-text-lg.am-margin-top-lg
      %strong Detailed reports
  .am-u-sm-6.am-u-md-3
    %img{src: '{{ "/images/j5.png" | prepend: site.url.assets }}'}
    %p.am-text-lg.am-margin-top-lg
      %strong Consistency
  .am-u-sm-6.am-u-md-3
    %img{src: '{{ "/images/j6.png" | prepend: site.url.assets }}'}
    %p.am-text-lg.am-margin-top-lg
      %strong Custom bioreagents
  .am-u-sm-6.am-u-md-3
    %img{src: '{{ "/images/j7.png" | prepend: site.url.assets }}'}
    %p.am-text-lg.am-margin-top-lg
      %strong Strict QC
  .am-u-sm-6.am-u-md-3
    %img{src: '{{ "/images/j8.png" | prepend: site.url.assets }}'}
    %p.am-text-lg.am-margin-top-lg
      %strong Versatile services

.biogeek-banner.am-vertical-align.screen-height{style: 'height: px; background-image: url({{ "/images/biogeek/index-banner-2.jpg" | prepend: site.url.assets }})'}
  .am-vertical-align-middle
    .am-container.am-text-white.am-padding-vertical-xxxl
      .am-u-sm-12.am-u-md-offset-4.am-u-md-8.am-u-lg-offset-6.am-u-lg-6
        %h2.am-text-xxxl Simplism · Efficiency
        %p.am-text-lg The relentless pursuit of simplism, high efficiency and perfection makes us scrupulous about every detail of our products.

.am-container.am-text-center.am-margin-vertical-xl
  %h2.am-margin-top-xl Curiosity · Innovation
  %hr
  %p Our curiosity towards nature enables us to develop innovative products for your research

  .am-g-collapse.am-padding
    .am-u-sm-12.am-u-md-5
      %a{href: '{{ "/en/biogeek/clone/bg10110" | prepend: site.url.root }}'}
        %img.am-img-responsive{src: '{{ "/images/star.jpg" | prepend: site.url.assets }}'}
    .am-u-sm-12.am-u-md-7
      .am-u-sm-6.am-u-md-4
        %a{href: '{{ "/en/biogeek/clone/bg10102" | prepend: site.url.root }}'}
          %img.am-img-responsive{src: '{{ "/images/star1.jpg" | prepend: site.url.assets }}'}
      .am-u-sm-6.am-u-md-4
        %a{href: '{{ "/en/biogeek/clone/bg10202" | prepend: site.url.root }}'}
          %img.am-img-responsive{src: '{{ "/images/star2.jpg" | prepend: site.url.assets }}'}
      .am-u-sm-6.am-u-md-4
        -# %a{href: ''}
        %img.am-img-responsive{src: '{{ "/images/star3.jpg" | prepend: site.url.assets }}'}
      .am-u-sm-6.am-u-md-4
        -# %a{href: ''}
        %img.am-img-responsive{src: '{{ "/images/star4.jpg" | prepend: site.url.assets }}'}
      .am-u-sm-6.am-u-md-4
        -# %a{href: ''}
        %img.am-img-responsive{src: '{{ "/images/star5.jpg" | prepend: site.url.assets }}'}
      .am-u-sm-6.am-u-md-4
        %a{href: '{{ "/en/biogeek/clone/bg10301" | prepend: site.url.root }}'}
          %img.am-img-responsive{src: '{{ "/images/star6.jpg" | prepend: site.url.assets }}'}

.am-container.am-text-center.am-margin-vertical-xl
  %h2.am-margin-top-xl Relentless pursuit of details
  %hr
  .am-u-sm-12.am-u-sm-centered{style: "max-width: 800px;"}
    Strict QC guarantees the quality of products delivered to you, and ensures that consistent experiment results will be obtained.

.biogeek-banner.am-vertical-align.am-margin-vertical-xl{style: 'height: 450px; background-image: url({{ "/images/biogeek/index-banner-3.jpg" | prepend: site.url.assets }})'}
  .am-vertical-align-middle
    .am-container.am-text-white.am-padding-vertical-xxxl
      .am-u-sm-12.am-u-md-offset-4.am-u-md-8.am-u-lg-offset-6.am-u-lg-6
        %h2.am-text-xxxl SyngenTech · BioGeek
        %p.am-text-lg Based on the Company's current mission - Committed to providing scientists around the world with high-quality, innovative technical services and products - SyngeTech will continue to focus on improving its R&D ability to address unmet needs in various scientific fields, especially in synthetic biology.

.am-container.am-margin-vertical-xl
  %blockquote
    %p “I felt like a scientific geek when I first used BioGeek reagents. Their quality is even better than those from international biotechnology companies."</p
    %small ——Jiwen from a molecular biology lab
  %blockquote
    %p "When I received a trial product from a salesman, I found the packaging was pretty good. Then the quality really startled me after several uses. Most importantly, their technicians gave me very useful advice on the genome editing service they offered me."</p
    %small ——Zhangxin from a cell biology lab
  %blockquote
    %p "In comparison with bioreagents from other companies, BioGeek offers more cost effective, consistent and efficient products"
    %small ——Xiangqin from a biotechnology company
  %blockquote
    %p "High quality products! Amazing services!"
    %small ——Xingyue from a cell biology lab
