---
layout: post
image: /images/blog1.jpg
---
.am-container
  .article
    %br
    %a{href: '/blog-child1.html'}
      %img.am-img-responsive{src: 'images/blog1.jpg'}
    %a{href: '/blog-child1.html'}
      %h1 合生基因参展中关村生命科学园15周年庆
    %small
      Posted on
      %a{href: '/blog-child1.html'} 2015年10月19日
      by
      %a{href: '/author-luyangli.html', rel: 'author'} Luyang Li
    %p 9月18日，2015年中关村生命科学园发展论坛在京成功召开。本次会议以“创新赢未来”为主题，会议主要内容为介绍和总结中关村生命科学园区内科研机构及企业在2014年的阶段发展概况，并且对园区的未来发展进行了展望。北京合生基因科技有限公司受邀参展此次论坛。
    %div{align: 'center'}
      %img.am-img-responsive{src: 'images/blog-child1.1.jpg', width: '766', height: '430'}
      %br
      %img.am-img-responsive{src: 'images/blog1.jpg', width: '766', height: '430'}
    %p 论坛召开过程中，北京生命科学研究所（NIBS）所长王晓东院士、北京市昌平区委常委兼副区长苏贵光、中关村科技园区管委会副主任宣鸿和中关村发展集团党委书记兼董事长许强全程出席，并从多个角度分别进行了演讲。演讲结束后，论坛承办方向与会各单位展示了《中关村生命科学园发展状况调查报告2014》。报告人首先对NIBS、北京蛋白质组研究中心（BPRC）及北京合生基因科技有限公司等学术科研型机构/企业在2014年的阶段发展情况进行了总结与汇报，随后对其他入园科研机构和企业进行了概述。
    %div{align: 'center'}
      %img.am-img-responsive{src: 'images/blog-child1.2.jpg', width: '346', height: '575'}
    %p 在本次论坛中，北京合生基因科技有限公司作为生命园在孵企业中的一员积极参与十五周年大会的初期准备工作，全力配合大会筹备组的安排，大会期间认真学习会议精神尤其对讲到的新政策和规定有了更深入的认识，并在会后不断思考，努力树立企业的新形象。
    %p 北京合生基因科技有限公司作为国内第一家专注于合成生物学在科研和医药健康领域应用的生物技术公司，始终秉持“科教兴国、产业报国、健康强国”理念，竭诚发展民族生物产业，并努力开创集合成生物学技术研发、科研服务和产品销售于一体的技术型生物医药企业新模式。vv
    %p 借此机会，合生基因愿顺应“大众创业、万众创新”的潮流和趋势，为生命科学在中国的发展做出自己的一份努力。
    %small
      Posted in
      %a{href: '/category1.html'} 公司资讯
      %a{href: '/category2.html'} 行业动态
    %hr
    %br
    %ul.am-pagination
      %li.am-pagination-prev.am-disabled
        %a{href: '#'} &laquo; Prev
      %li.am-pagination-next
        %a{href: '/blog-child2.html'} Natur... &raquo;
