---
layout: post
image: /images/blog12.jpg
---
.am-container
  .article
    %br
    %a{href: '{{ "/2015/05/06/syngen-service" | prepend: site.url.blog }}'}
      %img.am-img-responsive{src: '{{ "/images/blog12.jpg" | prepend: site.url.assets }}'}
    %a{href: '{{ "/2015/05/06/syngen-service" | prepend: site.url.blog }}'}
      %h1 合生基因-合成生物学专家/未来生物技术服务提供者
    %small
      Posted on
      %a{href: '{{ "/2015/05/06/syngen-service" | prepend: site.url.blog }}'} 2015年5月6日
      by Luyang Li
    %p 2014年8月，国内第一家专注于合成生物学在科研和医药健康领域应用的生物技术公司——北京合生基因科技有限公司（Beijing Syngentech Co., LTD.）于北京中关村生命科学园成立。
    %p 合生基因致力于为全球生命科学研究者提供世界一流的个性化合成生物学技术服务解决方案。目前，合生基因围绕基因编辑问题，推出了包括基因敲除、lncRNA敲除、基因定点敲入、基因非定点整合、基因沉默、转录激活、转录抑制、高通量基因编辑等解决方案。同时，为满足不同实验需求也相继推出了与基因编辑相关的产品与服务，主要包括高通量基因功能筛查与药物抗性筛选服务、CRISPR-Cas9载体设计与构建服务及试剂盒、shRNA/miRNA载体设计与构建服务及试剂盒、细胞系工程改造订制服务、gRNA活性检测试剂盒、慢病毒包装、gRNA文库构建、基因合成服务、基因工程鼠、合生试剂等。
    %p 与此同时，合生基因专注于面向生物医药方向的合成生物学新技术开发，用于个性化基因检测、药物靶标筛选，以及治疗肿瘤与癌症的新技术途径。合生基因愿意与全球科研工作者一道，精诚合作、用心服务，探索新型生物技术服务模式和生物医药研发模式，为实现合成生物学技术产业化而努力。
    %hr
    %br
    %ul.am-pagination
      %li.am-pagination-prev
        %a{href: '{{ "/2015/05/20/BITs-8th-AWCC" | prepend: site.url.blog }}'} &laquo; 第八届世界...
      %li.am-pagination-next.am-disabled
        %a{href: '#'} Next &raquo;
