---
layout: post
image: /images/blog3.jpg
title: 新型Cas9晶体结构得到解析
tags: [Cas9晶体]
---
.am-container
  .article
    %br
    %a{href: '{{ "/2015/09/04/New-Cas9-crystal-analysis" | prepend: site.url.blog }}'}
      %img.am-img-responsive{src: '{{ "/images/blog3.jpg" | prepend: site.url.assets }}'}
    %a{href: '{{ "/2015/09/04/New-Cas9-crystal-analysis" | prepend: site.url.blog }}'}
      %h1 新型Cas9晶体结构得到解析
    %small
      Posted on
      %a{href: '{{ "/2015/09/04/New-Cas9-crystal-analysis" | prepend: site.url.blog }}'} 2015年9月4日
      by Luyang Li
    %p 8月27日，美国麻省理工学院（MIT）张锋博士课题组在《Cell》杂志上发表了一篇名为《Crystal Structure of Staphylococcus aureus Cas9》的学术论文，论文内容是金黄色葡萄球菌Cas9（SaCas9）的晶体结构解析。这是继Martin J.A.今年6月22日刊载于《Nature》期刊上的一篇探究性论文之后，又一篇针对SaCas9进行的学术研究。
    %p 目前在学术界中较为广泛使用的CRISPR-Cas9系统中的Cas9蛋白为酿脓链球菌Cas9复合物（StCas9），它由1368个氨基酸组成。由于StCas9的分子量较大，编码DNA的序列较长，因此慢病毒、腺相关病毒（AAV）等方法难以将StCas9和其他表达元件的基因片段包装到同一个病毒颗粒中。SaCas9仅由1053个氨基酸构成，编码DNA的长度仅为StCas9的76%，在一定程度上降低了病毒包装的负荷，从而拓宽了CRISPR-Cas9在病毒整合领域的研究前景。
    %p 此外，张峰博士还通过实验证明：SaCas9与StCas9的核酸酶活性和打靶效率相当，仅存在PAM序列不同的区别。而SaCas9蛋白晶体结构的成功解析也为创造更精简的基因编辑工具蛋白提供了研发空间，并可能在将来应用于基因治疗领域，为人类基因健康带来福音。
    %p
      文献地址：
      %a{href: 'http://dx.doi.org/10.1016/j.cell.2015.08.007'} http://dx.doi.org/10.1016/j.cell.2015.08.007
    %br
    %small
      tag
      %a{href: '{{ "/tag" | prepend: site.url.blog }}'} Cas9晶体
    %hr
    %br
    %ul.am-pagination
      %li.am-pagination-prev
        %a{href: '{{ "/2015/09/16/Nature-tumor-inhibitor-protein" | prepend: site.url.blog }}'} &laquo; Natur...
      %li.am-pagination-next
        %a{href: '{{ "/2015/08/20/CRISPR-Cas9-danger-or-good" | prepend: site.url.blog }}'} CRISP... &raquo;
