---
layout: post
image: /images/blog4.jpg
---
.am-container
  .article
    %br
    %a{href: '/blog-child4.html'}
      %img.am-img-responsive{src: 'images/blog4.jpg'}
    %a{href: '/blog-child4.html'}
      %h1 CRISPR-Cas9：通往美丽新世界的钥匙还是潘朵拉魔盒？
    %small
      Posted on
      %a{href: '/blog-child4.html'} 2015年8月20日
      by
      %a{href: '/author-luyangli.html', rel: 'author'} Luyang Li
    %p 2015年7月22日，美国著名科技类杂志《连线》刊载了一篇由Amy Maxmen撰写的题为《Easy DNA Editing Will Remake the World. Buckle Up.》的文章。作者在文中对基因编辑技术的演化历程进行了总结，并详细叙述了CRISPR-Cas9技术的诞生过程以及在学术、商业等领域中围绕CRISPR-Cas9技术产生的重要事件。同时，作者也透过文字表达了隐忧——CRISPR-Cas9技术推进基因编辑事业突飞猛进的同时，是否也会带来难以预料的弊端？
    %p 从2013年Doudna博士在《Science》杂志上首次提出利用细菌CRISPR-Cas9系统，到2013年张锋博士提出将CRISPR-Cas9技术应用于人类细胞基因编辑，直至整个学术界追逐着CRISPR-Cas9技术并近乎为之疯狂的今天，CRISPR-Cas9技术已经发展为可以对众多物种的基因信息进行编辑和改造的强大工具，而’CRISPR-Cas9’这个英文组合词无疑已经成为了众多科学家眼中的’万能钥匙’。在广大学者眼中，CRISPR-Cas9能够开启一扇跨越时代的门，生活在门的另一端的人类可以任意添加、删除或重塑生命体的基因组。癌症被攻克，传染病源灭绝，粮食大幅增产，人类生活在不受饥饿、疾病和能源枯竭困扰的完美世界。
    %p 然而，完全掌握CRISPR-Cas9技术后，人类却无法彻底高枕无忧，弊端总是与利益辩证地共存。当便捷又廉价的CRISPR-Cas9技术不再贴有’学术’的专属标签，当每个人都可以通过搜索引擎中列举的简单方法进行物种基因编辑，我们还能否把握人类社会乃至整个生态系统的平衡？非法进行学术研究引发的伦理违背、害虫灭绝引起的生态系统失衡、伪装成普通流感病毒的个性化致命基因以及用于战争的基因生化武器等等，都可能是滥用基因编辑技术给世界带来的棘手问题。这些问题一旦发生，CRISPR-Cas9技术无疑将成为包藏祸患的潘朵拉魔盒。
    %p 因此，必须建立完善的监管制度，用于规范日新月异的CRISPR-Cas9技术应用，无论在学术还是商业领域。实际上，David Baltimore等遗传学家已经在基因编辑技术刚刚崭露头角之时，在Asilomar会议上对基因编辑技术的应用前景表示了一定的担忧。过往的数十年间，众多科学家通过发表论文、召开生物学会议等方式就已经发生和可能发生的基因编辑相关问题进行了报道和讨论，并提出了一系列监管制度和解决方案。
    %p 科学的力量是无穷的，科学的结果是难以预期的。针对CRISPR-Cas9技术应用的监管和规范将如何扶正基因编辑领域的发展是显而易见的，正如原文标题一般：我们即将进入被DNA编辑技术重塑的全新世界，请系好安全带。
    %p
      文献地址：
      %a{href: 'http://www.wired.com/2015/07/crispr-dna-editing-2/'} http://www.wired.com/2015/07/crispr-dna-editing-2/
    %small
      Posted in
      %a{href: 'category2.html'} 行业动态
      and tagged
      %a{href: '/tag3.html'}  CRISPR-Cas9.
    %hr
    %br
    %ul.am-pagination
      %li.am-pagination-prev
        %a{href: '/blog-child3.html'} &laquo; 新型Cas9晶体...
      %li.am-pagination-next
        %a{href: '/blog-child5.html'} 像开关灯... &raquo;
