---
layout: post
image: /images/blog10.jpg
title: 首届合成生物学青年学者论坛在京拉开帷幕
tags: [合成生物学 合生基因 论坛]
---
.am-container
  .article
    %br
    %a{href: '{{ "/2015/06/02/the-first-SynBio-YSF" | prepend: site.url.blog }}'}
      %img.am-img-responsive{src: '{{ "/images/blog10.jpg" | prepend: site.url.assets }}'}
    %a{href: '{{ "/2015/06/02/the-first-SynBio-YSF" | prepend: site.url.blog }}'}
      %h1 首届合成生物学青年学者论坛在京拉开帷幕
    %small
      Posted on
      %a{href: '{{ "/2015/06/02/the-first-SynBio-YSF" | prepend: site.url.blog }}'} 2015年6月2日
      by Luyang Li
    %p
      2015年5月23日首届
      %a{href: 'http://bioinfo.au.tsinghua.edu.cn/CSSB/forum/index.html'} 合成生物学青年学者论坛（Synthetic Biology Young Scholar Forum, SynBioYSF）
      在北京清华大学举行。
    %p 本次会议旨在加强从事合成生物学研究青年学者之间的联系，交流设计、制造和定量化研究合成生命系统的最新成果，了解合成生物学国际发展动态和研究热点，促进合成生物学基础理论研究与应用实践的发展。大会吸引了众多国内外在合成生物学领域取得突出成果的青年科学家参加，会中北京大学欧阳颀老师、中国科学院赵国屏老师、哈佛大学尹鹏老师、清华大学汪小我老师、北京大学魏文胜老师、斯坦福大学Lei Stanley Qi老师等国内外著名专家学者作为大会特邀嘉宾分别做了非常精彩的演讲和报告，主题涵盖细胞代谢工程、合成基因元件与基因线路工程、基因组合成与编辑、哺乳动物细胞工程、合成生物学使能技术平台开发等领域的基础理论和应用研究。大会学术气氛十分浓厚。
    %p 北京合生基因科技有限公司作为赞助商参与此次大会，展台吸引了大批与会专家学者驻足交流。
    %img.am-img-responsive{src: '{{ "/images/blog-child10.1.jpg" | prepend: site.url.assets }}'}
    %br
    .am-g
      .am-u-sm-12.am-u-md-6.am-u-lg-6
        %img.am-img-responsive{src: '{{ "/images/blog-child10.2.jpg" | prepend: site.url.assets }}'}
        %p &nbsp;
      .am-u-sm-12.am-u-md-6.am-u-lg-6
        %img.am-img-responsive{src: '{{ "/images/blog-child10.3.jpg" | prepend: site.url.assets }}'}
        %p &nbsp;
    %br
    %p 特邀专家
    %p 娄春波 &nbsp;&nbsp;&nbsp; 中国科学院微生物研究所
    %p 欧阳颀 &nbsp;&nbsp;&nbsp; 北京大学
    %p Peng Yin &nbsp;&nbsp; Harvard University
    %p Stanley Qi Lei &nbsp; Stanford University
    %p 汪小我 &nbsp;&nbsp; 清华大学
    %p 魏平 &nbsp;&nbsp;&nbsp; 北京大学
    %p 魏文胜 &nbsp;&nbsp; 北京大学
    %p 杨弋 &nbsp;&nbsp;&nbsp; 华东理工大学
    %p 叶海峰 &nbsp;&nbsp; 华东师范大学
    %p 朱听 &nbsp;&nbsp;&nbsp; 清华大学
    %p 赵国屏 &nbsp;&nbsp; 中国科学院合成生物学重点实验室
    %small
      tag
      %a{href: '{{ "/tag" | prepend: site.url.blog }}'} 合成生物学，合成基因，论坛
    %hr
    %br
    %ul.am-pagination
      %li.am-pagination-prev
        %a{href: '{{ "/2015/06/02/the-third-MCB" | prepend: site.url.blog }}'} &laquo; 第三届数学...
      %li.am-pagination-next
        %a{href: '{{ "/2015/05/20/BITs-8th-AWCC" | prepend: site.url.blog }}'} 第八届世界... &raquo;
