---
layout: post
image: /images/blog7.jpg
---
.am-container
  .article
    %br
    %a{href: '/blog-child7.html'}
      %img.am-img-responsive{src: '/images/blog7.jpg'}
    %a{href: '/blog-child7.html'}
      %h1 生物信息学与智能信息处理2015学术年会
    %small
      Posted on
      %a{href: '/blog-child7.html'} 2015年7月1日
      by
      %a{href: '/author-luyangli.html', rel: 'author'} Luyang Li
    %p 由中国人工智能学会主办，中国人工智能学会生物信息学与人工生命专业委员会和厦门大学承办的生物信息学与智能信息处理2015学术年会，于2015年6月17日至19日在厦门成功举行。北京市合生基因科技有限公司如邀参加展会，展示了为生物行业量身打造信息化解决方案、巩固了已有合作关系，还发掘了大批潜在客户，为开拓市场奠定了基础。
    %div{align: 'center'}
      %img.am-img-responsive{src: '/images/blog-child7.1.jpg', width: '747', height: '512'}
    %p 生物信息学与智能信息处理2015学术年会的宗旨是，为广大从事生物信息学、合成生物学、人工生命及其他与生命科学相关的智能信息处理研究的专家学者和研究生人员提供一个学术交流平台，推动我国生物信息学、人工生命与合成生物学、智能信息处理的发展和进一步交叉。本次会议阵容强大，中国人工智能学会生物信息学与人工生命专业委员会主任、清华大学张学工教授担任会议主席；清华大学汪小我副教授、中国科学技术大学汪增福教授担任程序委员会主席；厦门大学吴顺祥教授、王颖副教授及天津大学邹权研究员担任会议组织委员会主席。会议邀请美国南加州大学、清华大学的Michael Waterman院士和厦门大学副校长韩家淮院士做大会报告，并邀请清华大学陈挺教授、张长水教授、北京大学魏平教授作特邀报告，另从投稿中选择了37个口头报告。来自全国各大学和研究机构的代表约110人参加了会议，就生物信息学、合成生物学与人工生命相关的各个方面研究进展进行广泛的学术交流。会议将就邀请信息科学和生命学科领域著名的国内外专家做大会特邀报告，并分多个主题对相关领域的最新研究进展和动向进行大会报告、分会报告和张贴报告交流。
    %div{align: 'center'}
      %img.am-img-responsive{src: '/images/blog-child7.2.jpg', width: '750', height: '514'}
    %p 历时3天（6月17-19日）的展会，北京合生基因科技有限公司作为赞助商参与此次大会，展台吸引了大批与会专家学者驻足交流。
    %div{align: 'center'}
      %img.am-img-responsive{src: '/images/blog-child7.3.jpg', width: '750', height: '514'}
    %br
    %small
      Posted in
      %a{href: '/category1.html'} 公司资讯
      %a{href: '/category2.html'} 行业动态
    %hr
    %br
    %ul.am-pagination
      %li.am-pagination-prev
        %a{href: '/blog-child6.html'} &laquo; 2015第...
      %li.am-pagination-next
        %a{href: '/blog-child8.html'} 第二届全国... &raquo;
