---
layout: post
image: /images/blog2.jpg
title: Nature：肿瘤抑制蛋白竟驱动恶性癌症
tags: [肿瘤 蛋白]
---
%p 近日，来自宾夕法尼亚大学等处的科学家们研究发现，恶性肿瘤的生长及DNA序列未发生改变的基因活性的变化和突变的p53蛋白质直接相关，相关研究结果刊登于国际著名杂志《Nature》上。
%p TP53是所有人类癌症中频繁突变的基因，它可以编码一种名为p53的肿瘤抑制蛋白。p53通常会通过调节细胞分裂的循环来抑制肿瘤发生，同时也会通过维持正常细胞的生长和分裂速度来达到抑制癌症的目的；当细胞内发生可修复的DNA损伤时，p53还会产生一系列保护效应来修复细胞DNA损伤。而TP53基因的突变会破坏p53蛋白的正常功能，并且使得携带损伤DNA的细胞继续分裂，直至引发癌症。
%p 为了理解功能获得（gain-of-function，GOF）的突变p53蛋白如何发挥作用，研究人员调查了携带不同类型GOF p53的病人机体肿瘤衍生的癌细胞系的功能，来观察这些突变p53蛋白与癌细胞基因组的结合位点。研究者Berger表示，我们发现突变p53会结合且激活一系列以组蛋白甲基化及乙酰化作用为典型的表观遗传相关基因，如编码表观遗传酶类的基因MLL1、MLL2和MOZ，并引起全基因组范围的甲基化和乙酰化作用，最终导致细胞复制失控和癌症发生。
%p 研究人员在文章中阐明了隐藏在GOF p53突变的肿瘤恶化过程中的新型表观遗传机制。特定类型的癌症可能以某些非常规突变而持续发展，对这些非常规调节蛋白进行基因敲除或活性抑制时，突变体GOF p53肿瘤细胞并不能够肆意地进行复制。
%p
  文献地址：
  %a{href: 'http://www.nature.com/nature/journal/v525/n7568/full/nature15251.html'} http://www.nature.com/nature/journal/v525/n7568/full/nature15251.html
