---
layout: post
image: /images/blog11.jpg
title: BITs-8th-AWCC
---
.am-container
  .article
    %br
    %a{href: '{{ "/2015/05/20/BITs-8th-AWCC" | prepend: site.url.blog }}'}
      %img.am-img-responsive{src: '{{ "/images/blog11.jpg" | prepend: site.url.assets }}'}
    %a{href: '{{ "/2015/05/20/BITs-8th-AWCC" | prepend: site.url.blog }}'}
      %h1 第八届世界癌症大会——合生基因精彩亮相
    %small
      Posted on
      %a{href: '{{ "/2015/05/20/BITs-8th-AWCC" | prepend: site.url.blog }}'} 2015年5月20日
      by Luyang Li
    %p
      2015年5月17日,
      %a{href: 'http://www.bitcongress.com/cancer2015/cn/default.asp'} 第八届世界癌症大会
      （WCC 2015）在北京国际会议中心圆满落下帷幕。本届展会吸引了有来自美国、英国、法国、日本、印度、新加坡、俄罗斯等30多个国家和地区的企业参与。合生基因作为本次大会的唯一赞助商取得了圆满成功。
    %img.am-img-responsive{src: '{{ "/images/blog-child11.1.jpg" | prepend: site.url.assets }}'}
    %p 合生基因致力于为全球生命科学研究者提供世界一流的个性化合成生物学技术服务，主要服务和产品包括高通量基因功能筛查与药物抗性筛选服务、CRISPR-Cas9载体设计与构建服务及试剂盒、shRNA/miRNA载体设计与构建服务及试剂盒、细胞系工程改造订制服务、gRNA活性检测试剂盒、慢病毒包装、gRNA文库构建、基因合成服务、基因工程鼠、合生试剂等。
    %p 与此同时，合生基因专注于面向生物医药方向的合成生物学新技术开发，用于个性化基因检测、药物靶标筛选，以及治疗肿瘤与癌症的新技术途径。合生基因愿意与全球科研工作者一道，精诚合作、用心服务，探索新型生物技术服务模式和生物医药研发模式，为实现合成生物学技术产业化而努力。
    %hr
    %p 5月15日举行的乳腺癌分论坛中，合生基因首席执行官应邀进行了关于第三代基因编辑技术——CRISPR/Cas9的相关报告，吸引了众多国内外学者聆听。
    .am-g
      .am-u-sm-12.am-u-md-6.am-u-lg-6
        %img.am-img-responsive{src: '{{ "/images/blog-child11.2.jpg" | prepend: site.url.assets }}', width: '465', height: '263'}
        %p &nbsp;
      .am-u-sm-12.am-u-md-6.am-u-lg-6
        %img.am-img-responsive{src: '{{ "/images/blog-child11.3.jpg" | prepend: site.url.assets }}', width: '465', height: '263'}
        %p &nbsp;
    %hr
    %p 会展期间，前来咨询的国内外客户络绎不绝，合生基因专业的工作人员仔细全面的对来访客户进行了详细的介绍。
    .am-g
      .am-u-sm-12.am-u-md-6.am-u-lg-6
        %img.am-img-responsive{src: '{{ "/images/blog-child11.4.jpg" | prepend: site.url.assets }}', width: '465', height: '349'}
        %p &nbsp;
      .am-u-sm-12.am-u-md-6.am-u-lg-6
        %img.am-img-responsive{src: '{{ "/images/blog-child11.5.jpg" | prepend: site.url.assets }}', width: '465', height: '349'}
        %p &nbsp;
      %p 合生基因在本次大会上以突出的表现、卓越的技术水平获得了无数赞誉，整体性的各大解决方案更是吸引全场眼球，旨在为国内外科研工作者提供优质、可靠、高效的个性化服务。我们期待在之后的2015年合成生物学青年学者论坛上，与您再聚。
      %hr
      %br
      %ul.am-pagination
        %li.am-pagination-prev
          %a{href: '{{ "/2015/06/02/the-first-SynBio-YSF" | prepend: site.url.blog }}'} &laquo; 首届合成...
        %li.am-pagination-next
          %a{href: '{{ "/2015/05/06/syngen-service" | prepend: site.url.blog }}'} 合生基因... &raquo;
