---
layout: post
image: /images/blog56.jpg
title: Cell Stem Cell：原始细胞类型或并不会影响诱导多能干细胞分化为血液细胞
---
:css
 .blog56 .indent {
   text-indent: 2em;
 }

%div.blog56
 %img.am-img-responsive{src: '{{ "/images/blog-child56.1.png" | prepend: site.url.assets }}'}
 %p.indent 将细胞重编程为血液细胞的效力被认为依赖于原始细胞的类型及重编程的方法，近日刊登于国际杂志 Cell Stem Cell 上的一项研究报告中，来自日本京都大学 iPS 细胞研究所 (CiRA) 的研究人员通过研究表示，这种假设实际上是表观遗传效应的结果，这也就表明，生成细胞（原始细胞）和重编程方法对于血液制造是可行的。
 %p.indent 细胞重编程包括利用一种类型的细胞来制造另一种类型的细胞，从理论上来讲，所有的细胞都能够被重编程，但有研究证据表明，原始细胞可以影响其被重编程后形成的细胞类型；但一般情况下，原始细胞可以从供体机体中很容易获得，并且作为四种类型细胞中的一种，即成纤维细胞、角化细胞、外围和脐带血及牙髓细胞；全世界的实验室目前都能够利用不同的原始细胞来制造诱导多能干细胞系（ iPS 细胞系），而原始细胞的潜在影响往往对于再生医学及其它应用具有深远的意义，研究者认为，我们应当根据所要得到的细胞类型来选择不同的细胞系。
 %p.indent 另外一个促进 iPS 细胞系分化效率的主要因素就是制造 iPS 细胞的方法，目前很多方法可用，但研究者表示，最常见的方法还是反转录病毒、游离型质粒及仙台病毒方法；血液是由扮演多种功能的多种类型细胞组成的群体，其中包括携带氧气、伤口愈合、抵御感染等，然而临床级别血液的产生依然是重编程研究领域的主要目标，为了调查在细胞分化过程中原始细胞转变成为造血细胞的贡献，研究者 Yoshida 的实验室利用原始细胞及多种重编程的方法对 iPS 细胞系进行了深入的调查。
 %p.indent 有意思的是，研究者发现，上述所有的因素都并不会产生明显的效应，相反，特定基因的表达和 DNA 甲基化就可以作为指示原始细胞被转化成为造血细胞系效率较好的指示器，研究者 Masatoshi Nishizawa 说道，我们发现，IFG2 基因可以标记重编程为造血细胞的开始阶段，而且生长激素 IFG2 （胰岛素样生长因子2 ）的高表达往往可以指示iPS细胞开始转化成为造血细胞，尽管 IGF2 本身和造血作用并不直接相关，但其摄入往往和基因表达增加直接相关。
 %p.indent 尽管 IGF2 可以标记分化为造血细胞的开始阶段，但 iPS 细胞 DNA 的甲基化特性往往可以标志细胞分化的完成过程，在重编程期间细胞分化的完成往往和较低异常的甲基化表现直接相关，相比其它原始细胞而言，血液原始细胞往往会表现出较低水平的异常甲基化状况，而这或许就可以解释为何过去的科学家都认为原始细胞可以反映将 iPS 细胞分化为造血细胞系的效率。
 %p.indent 本文研究表明，利用多种分子因素或许就可以评估不同细胞系的分化潜能，而这将加速 iPS 细胞走向临床应用的速度，研究者 Nishizawa 期待本文研究或可作为基础来帮助评估细胞的分化潜能，研究者认为，实际上每一种类型的细胞都有着自己特殊的模式和特性。
 %p Epigenetic Variation between Human Induced Pluripotent Stem Cell Lines Is an Indicator of Differentiation Capacity doi:10.1016/j.stem.2016.06.019 Masatoshi Nishizawa1, 2, Kazuhisa Chonabayashi1, 2, Masaki Nomura1, Azusa Tanaka1, Masahiro Nakamura1, Azusa Inagaki1, Misato Nishikawa1, Ikue Takei1, Akiko Oishi1, Koji Tanabe1, Mari Ohnuki1, Hidaka Yokota1, Michiyo Koyanagi-Aoi1, Keisuke Okita1, Akira Watanabe1, 3, Akifumi Takaori-Kondo2, Shinya Yamanaka1, 3, 4, Yoshinori Yoshida1, Variation in the differentiation capacity of induced pluripotent stem cells (iPSCs) to specific lineages is a significant concern for their use in clinical applications and disease modeling. To identify factors that affect differentiation capacity, we performed integration analyses between hematopoietic differentiation performance and molecular signatures such as gene expression, DNA methylation, and chromatin status, using 35 human iPSC lines and four ESC lines. Our analyses revealed that hematopoietic commitment of PSCs to hematopoietic precursors correlates with IGF2 expression level, which in turn depends on signaling-dependent chromatin accessibility at mesendodermal genes. Maturation capacity for conversion of PSC-derived hematopoietic precursors to mature blood associates with the amount and pattern of DNA methylation acquired during reprogramming. Our study therefore provides insight into the molecular features that determine the differential capacities seen among human iPSC lines and, through the predictive potential of this information, highlights a way to select optimal iPSCs for clinical applications.

