---
layout: post
image: /images/blog20.jpg
title: Nature：怎样找回初恋的美好记忆？
---
%h2 ＃神经生物学最新进展＃
%p 早期阿尔茨海默症（Alzheimer’s Disease, AD）患者会遗忘最近所经历的事情，然而 MIT 的研究者通过刊登在《Nature》上的一篇研究论文表示，这些’被遗忘的记忆’仍然储存在大脑中，而 AD 患者面临的困扰是无法提取并浏览这些记忆。研究者表示，利用光遗传学方法刺激小鼠大脑，可以帮助患早期阿尔茨海默症的小鼠提取近期记忆。这为开发用于逆转阿尔茨海默症的新型疗法提供了新思路。
%img.am-img-responsive{src: '{{ "/images/blog-child20.1.png" | prepend: site.url.assets }}'}
%p 研究者 Susumu Tonegawa 表示，实际上早期 AD 患者的记忆并未被删除，而是处于此阶段的大脑缺乏检索记忆的功能，并且在研究中利用小鼠模型证明了此观点。早在 2012 年，研究者就利用光敏蛋白—紫红质通道蛋白对健康小鼠大脑中与恐惧记忆相关的记忆痕迹细胞进行标记，并利用光遗传技术对携带标记的记忆痕迹细胞进行刺激，受到刺激的小鼠就会产生与受刺激细胞所编码产生的记忆密切相关的行为（比如恐惧、焦虑）。同样地，当研究者将阿尔茨海默症小鼠首次置入暗箱中，同时激活小鼠机体中编码恐惧经历的痕迹蛋白，受刺激的 AD 小鼠迅速表现出恐惧行为，证明了其记忆并非被大脑’删除’，而是在无刺激的情况下难以提取。
%p 通常，当记忆产生时，记忆痕迹细胞会与新生树突棘进行记忆’同步’；然而此过程或许并不会在阿尔茨海默症小鼠体内发生，表明 AD 大脑中的记忆痕迹细胞没有接受来自大脑内嗅皮层感知信息，从而无法进行记忆’同步’。Tonegawa 表示，我们需要向大脑提供正确的自然线索，以确保激活’迷茫’的记忆痕迹细胞。
%p 研究者尝试通过建立内嗅皮层和海马体之间的新型连接来重拾‘丢失记忆‘。为了达到这一目的，他们用光刺激了 AD 小鼠大脑中与恐惧记忆相关并能够与海马体中记忆痕迹细胞产生关联的内嗅皮层细胞，并在三小时后对受刺激小鼠进行了行为测试。结果显示，将小鼠首次置于暗箱中时，它们能够检索到’被遗忘’的恐惧记忆，同时其大脑中的痕迹细胞存在多种树突棘结构，即实现了针对 AD 小鼠的记忆唤醒。
%img.am-img-responsive{src: '{{ "/images/blog-child20.2.png" | prepend: site.url.assets }}'}
%p
  欢迎大家关注我们的公众号，
  %a{href: '{{site.url.biogeek}}'}生物极客
%img.am-img-responsive{src: '{{ "/images/blog-child15.6.png" | prepend: site.url.assets }}'}
