---
layout: post
image: /images/blog58.jpg
title: 王晓东实验室发现细胞色素 Ｃ 释放的新机理
---
:css
 .blog58 .indent {
   text-indent: 2em;
 }
%div.blog58
 %p.indent  2016年7月21日，nibs 王晓东实验室和张志远实验室合作在 《Molecular cell》 杂志发表题为 “A Small Molecule That Protects the Integrity of the Electron Transfer Chain Blocks the Mitochondrial Apoptotic Pathway” 的封面文章。该论文首次报道了一个小分子化合物通过靶向作用线粒体电子传递链抑制细胞凋亡。
 %img.am-center.am-img-responsive{src: '{{ "/images/blog-child58.1.png" | prepend: site.url.assets }}'}
 %p.indent  20年前，王晓东实验室发现电子传递链的组成分子之一细胞色素 C 从线粒体释放到细胞质后，可以激活促凋亡蛋白酶 caspase 。继而他们进一步发现了细胞色素 C 激活 caspase 的生化路径。但是，细胞色素 C 在凋亡刺激下从线粒体释放的机制仍然是凋亡研究领域一个尚未解决的问题。前人的研究，尤其是已逝的 Stanley Korsmeyer 在哈佛医学院的实验室的研究阐释，当 Bax 和 Bak 蛋白被 Bim 或 tBid 等 BH3-only 蛋白激活后，可能成为细胞色素 C 从线粒体释放的“通道”。Bax 和 Bak 形成寡聚化的蛋白复合体，这些复合体被认为是细胞色素 C 经过的通道或孔。
 %p.indent  王晓东实验室建立了一个凋亡的细胞体系，通过诱导表达 Bim 或 tBid ，可强烈诱导细胞同步凋亡。利用这个体系，他们阐明了线粒体蛋白酶 OMA1 通过切割 OPA1 导致线粒体内膜嵴的重构，并且这些线粒体事件是细胞色素 C 释放所必须的（Jiang et al., PNAS,2014）。他们还利用这个细胞凋亡系统对一个包含二十多万个化合物的化合物库进行化合物筛选。然后对其中能够抑制细胞凋亡的化合物进行分析和药物化学的改进，得到了一个高活性的化合物。这个化合物可以抑制细胞色素 Ｃ 释放和 OMA1 激活但不抑制 Bax 和 Bak 激活，表明它作用在线粒体内部。
 %p.indent  在本期 Molecular cell 的封面文章中，作者发现这个化合物的靶蛋白是电子传递链的组成蛋白之一，琥珀酸脱氢酶亚基 B(SDHB) 。这个化合物通过与 SDHB 共价结合，抑制细胞凋亡过程中电子传递链超复合体的解聚，使电子传递链在 Bax 和 Bak 激活后仍保持功能。这个化合物能够在凋亡刺激下使细胞保持生长，这类化合物在这篇文章中还是首次报道。此外，它还在大鼠的帕金森疾病模型中表现出显著疗效。
 %p.indent  王晓东实验室的博士后蒋显是本文的第一作者。其他作者包括王晓东实验室的英郑欣博士，潘辰杰和代苗苗，张志远实验室的张志远博士，李黎，黄少强和闫博，蛋白质中心的陈涉博士和李琳，何万中实验室的李明，以及蒋辉博士。王晓东博士为本文的通讯作者。此项研究由科技部和北京市政府资助，在北京生命科学研究所完成。
