---
layout: post
image: /images/blog31.jpg
title: 手把手教你做 real-time PCR（二）
---
%p
  大家好，前天我们一起学习了
  %a{href: '{{ "/clone/bg10401" | prepend: site.url.biogeek }}'}real time PCR 
  后，大家有没有掌握了 real time PCR 的基本概念那？
%p 首先让我们来一起复习一下~~
%p So 问题来了，什么是 Ct 值？
%p 今天我们主要来学习学习 real time PCR 实验部分，首先我们来学习，如何提取 RNA。
%p RNA 中，最害怕的就是被降解，这里大程跟大家推荐一些常见的操作手段。
%p 如何更好的提取 RNA？
%h2 一、防止 RNA 酶污染的措施
%p 1. 所有的玻璃器皿均应在使用前于 180℃ 的高温下干烤 6hr 或更长时间。
%p 2. 塑料器皿可用 0.1% DEPC 水浸泡或用氯仿冲洗（注意：有机玻璃器具因可被氯仿腐蚀，故不能使用）。
%p 3. 有机玻璃的电泳槽等，可先用去污剂洗涤，双蒸水冲洗，乙醇干燥，再浸泡在 3% H<sub>2</sub>O<sub>2</sub> 室温 10min，然后用 0.1% DEPC 水冲洗，晾干。
%p 4. 配制的溶液应尽可能的用 0.1% DEPC，在 37℃ 处理 12hr 以上。然后用高压灭菌除去残留的 DEPC。不能高压灭菌的试剂， 应当用 DEPC 处理过的无菌双蒸水配制，然后经 0.22μm 滤膜过滤除菌。
%p 5.操作人员戴一次性口罩、帽子、手套，实验过程中手套要勤换。
%p 6. 设置 RNA 操作专用实验室，所有器械等应为专用。
%h2 二、常用的 RNA 酶抑制剂
%p 1. 焦磷酸二乙酯（DEPC）：是一种强烈但不彻底的 RNA 酶抑制剂。它通过和 RNA 酶的活性基团组氨酸的咪唑环结合使蛋白质变性，从而抑制酶的活性。
%img.am-img-responsive{src: '{{ "/images/blog-child31.1.png" | prepend: site.url.assets }}'}
%p 2. 异硫氰酸胍：目前被认为是最有效的 RNA 酶抑制剂，它在裂解组织的同时也使 RNA 酶失活。它既可破坏细胞结构使核酸从核蛋白中解离出来，又对 RNA 酶有强烈的变性作用。
%p 3. 氧钒核糖核苷复合物：由氧化钒离子和核苷形成的复合物，它和 RNA 酶结合形成过渡态类物质，几乎能完全抑制 RNA 酶的活性。
%p 4. RNA 酶的蛋白抑制剂（RNasin）：从大鼠肝或人胎盘中提取得来的酸性糖蛋白。RNasin 是 RNA 酶的一种非竞争性抑制剂，可以和多种 RNA 酶结合，使其失活。
%p 5. 其它：SDS、尿素、硅藻土等对 RNA 酶也有一定抑制作用。
%p 因为 DEPC 不加选择的修饰蛋白质和 RNA，因此在分离和纯化 RNA 过程中不能使用，而且它与一些缓冲液(例如 Tri )不能相容。在所有 RNA 实验中，最关键的因素是分离得到全长的 RNA。而实验失败的主要原因是核糖核酸酶（RNA 酶）的污染。RNA 酶可耐受多种处理而不被灭活，如煮沸、高压灭菌等。研究人员造成的污染：RNA 酶最主要的潜在污染源是研究人员的手。因此进行 RNA 实验时应勤换手套。但 DEPC 能与胺和巯基反应,因而 含 Tris 和 DTT 的试剂不能用 DEPC 处理。
%p 那么如何提取 RNA？
%img.am-img-responsive{src: '{{ "/images/blog-child31.2.png" | prepend: site.url.assets }}'}
%p 这里小编总结了使用 Trizol 法的方法：
%p 动植物总 RNA 提取 -Trizol 法
%p Trizol 法适用于人类、动物、植物、微生物的组织或培养细菌，样品量从几十毫克至几克。用 Trizol 法提取的总 RNA 绝无蛋白和 DNA 污染。 RNA 可直接用于 Northern 斑点分析，斑点杂交， Poly(A)+ 分离，体外翻译，RNase 封阻分析和分子克隆。 在收集到生物材料之后，最好能即刻进行 RNA 制备工作。若需暂时储存，则应以液氮将生物材料急速冷冻后，储存于 -80℃ 冷冻柜。在制备 RNA 时，将储存于冷冻柜的材料取出，立即以加入液氮研磨的方式打破细胞，不可以先行解冻，以避免 RNase 的作用。
%p 1、将组织在液N中磨成粉末后，再以 50-100mg 组织加入 1ml Trizol 液研磨，注意样品总体积不能超过所用 Trizol 体积的 10%；提取细胞 RNA 时，先离心沉淀细胞，每 5-10 × 10<sup>6</sup> 个细胞加 1ml Trizol 后，反复用枪吹打或剧烈振荡以裂解细胞；
%p 2、将上述组织或细胞的 Trizol 裂解液转入 EP 管中,在室温 15~30℃ 下放置 5 分钟；然后以每 1ml Trizol 液加入 0.2ml 的比例加入氯仿，盖紧离心管，用手剧烈摇荡离心管 15 秒。 在室温下（15℃～30℃）放置 2～3 分钟后，12000g（2℃～8℃）离心 15 分钟；
%p 3、取上层水相（离心后，混合物将分离为底层为浅红的、中层为酚-氯仿相、上层为无色的水相。RNA 包含在水相中，水相的体积约相当于所加的 Trizol 试剂量的 60%）于一新的离心管，按每 1ml Trizol 液加 0.5ml 异丙醇的比例加入异丙醇，室温（15℃～30℃）放置 10 分钟，12000g（2℃～8℃）离心 10 分钟。 【如果希望分离 DNA 或蛋白质，保留中层和下层酚-氯仿相，有机相能保存在 4°C 一夜】
%p 4、弃去上清液（RNA 沉淀为一层如凝胶样透明的小块附在管底和管壁），按每 1ml Trizol 液加入至少 1ml 的比例加入 75%乙醇进行洗涤，涡旋混匀， 4℃下 7500g 离心 5 分钟【RNA能够在–20°C保存在 75%乙醇中至少 1 年，4°C保存至少 1周】
%p 5、小心弃去上清液，让沉淀的 RNA 在室温下自然干燥或真空干燥 5-10 分钟，注意不要干燥过分，否则会使 RNA 失去溶解性，导致 A260/280 ratio <1.6。
%p 6、加适量 Rnase-free water  溶解 RNA 沉淀，用枪头反复吸取混匀，55–60℃ 水浴 10-15min。进行下游实验或 -70℃ 保存备用。
%p 7、RNA 可进行 mRNA 分离，或贮存于 70% 乙醇并保存于 -70℃。
%p
  %strong [注意]
%p 1、整个操作要带口罩及一次性手套，并尽可能在低温下操作。另外，提取上清这步一定要小心，靠近沉淀的部分一定要舍得不要，要不然会有蛋白质污染，影响比值
%p 2、加氯仿前的匀浆液可在 -70℃ 保存一个月以上，RNA 沉淀在 70% 乙醇中可在 4℃ 保存一周，-20℃ 保存一年。
%p 大家有没有什么问题那？
%p
  欢迎大家关注
  %a{href: '{{site.url.biogeek}}'} 生物极客
%img.am-img-responsive{src: '{{ "/images/blog-child29.17.png" | prepend: site.url.assets }}'}
