---
layout: post
image: /images/blog22.jpg
title: 如何使用 pubmed 加速你的研究？By 大程
---
%p 大家好，今天生物极客公众号推出合生学院视频教程系列，手把手演示~~今天让我们来关注如何使用 pubmed，更好的寻找文献，小伙伴们，有没有对期待想对文献进行精炼，只寻找特定杂志，特定影响因子的文章呀？小伙伴们，感不感兴趣如何在 pubmed 按照图片进行快速学习和检索那？
%p
  点开下面的视频，让我们一起来学习吧
%div
  %embed.am-center{:allowFullScreen => "true", :allowScriptAccess => "always", :height => "470", :quality => "high", :src => "http://static.video.qq.com/TPout.swf?vid=h0188pb3w73&auto=0", :type => "application/x-shockwave-flash", :width => "650"}
%p
  欢迎大家关注我们的公众号，
  %a{href: '{{site.url.biogeek}}'}生物极客
%img.am-img-responsive{src: '{{ "/images/blog-child15.6.png" | prepend: site.url.assets }}'}
