---
layout: post
image: /images/blog32.jpg
title: 聊聊“乙醇沉淀”那点事儿
---
%p 小伙伴们，大家好，小长假过去了，大家玩的可还开心？
%p
  上次我们一起聊了关于
  %a{href: '{{ "/clone/bg10401" | prepend: site.url.biogeek }}'}real-time PCR
  和提取 RNA 的步骤和方法，今天我们一起来聊聊乙醇沉淀那些事儿。一起看看
%p 乙醇沉淀要比质粒小提早上 50 年，当我们想要特定的去除溶液中含有的盐离子或者将 DNA 用新的溶液悬浮的时候，乙醇或者异丙醇可以用来实现这个目的。阳离子可以和 DNA 骨架的负电荷中和，从而沉淀出 DNA。

%p 史海趣谈
%p 首先让我们看看乙醇沉淀的历史，乙醇沉淀是由 Rockefeller 研究所的 Lionel Alloway 发明，事实上，这一技术的发现，也为接下来 DNA 是遗传物质奠定了基础。
%p 他的研究工作主要是涉及研究如何在体外将S型肺炎链球菌转化为 R 型肺炎链球菌。在当时，转化只能够使用 热激死亡的完整细胞实现。经过很多次尝试，Alloway 在 1932 年报道，他可以通过将 S 型链球菌热激，然后通过离心去除其他成分，过滤后，可以实现相应的转化。
%p 不过最后一步也引起很大的争议，很多科学家认为可能由于偶然的 S 型透过过滤膜实现。
%p Alloway 成功清除需要使用完整细胞作为转化因子的需求，最终导致 DNA 作为遗传物质的发现。但是并不是所有制备的转化因子可以发挥作用。而且转化的效率很低。Alloway 几乎非常肯定的认识到主要是由于活性物质的稀释导致的。因此 Alloway 开始尝试不同的方法裂解肺炎链球菌寻求最大的富集活性成分。1933 年的一天，Alloway 描述到，当加入乙醇后，一个粘稠的沉淀出现。正是这个粘稠的物质，后来被证为 DNA，从而揭开了分子生物学的大幕。
%p 那么如何进行乙醇沉淀？
%p 这里小编整理了分子克隆第四版的相关技术步骤。
%p 1.	首先估计 DNA 液体的体积。
%p 2.	调整单价阳离子的浓度，如果是溶解在 TE buffer 中，需要将过高的盐离子稀释。或者加入适当的离子。不同的离子有不同的方法，我们会在后面详述。如果终体积大于 400ul，最好是分多次进行了沉淀，或者使用在离心机中允许使用的更大管子。
%p 3.	混匀溶液，精确加入 2 倍体积预冷的乙醇溶液。混匀。将溶液放于冰上促进 DNA 沉淀的形成。通常 15-30min 的时间是足够的，不过当 DNA 片段的大小过小（<100bp）或者当量特别小的时候，至少需要将时间增加到 1h，同时加入 MgCl<sub>2</sub>  到最终浓度 0.01M.DNA 可以在乙醇溶液中保存在 0 度或者 -20 度无限长时间。同时可选择的加入 carrier 帮助沉淀。
.am-g.am-margin-top-lg
  .am-u-md-11.am-u-md-centered
    %table.am-table.am-table-bordered.am-table-compact.am-table-centered.am-text-middle
      %tr{:style => "background:#f9f9f9"}
        %th Carrier
        %th 工作浓度
        %th 优势和不足

      %tr
        %td{"am-text-middle" => "", :rowspan => "2"}
          %p.am-margin-top{:align => "center"} Yeast tRNA
        %td.am-text-middle{:rowspan => "2"}
          %p.am-margin-top{:align => "center"} 10-20ug/mL
        %td.am-text-middle{:rowspan => "2"}
          %p.am-margin-top{:align => "center"} 便宜。但是不能再接下来如果有激酶或者末端转移酶的反应中。
        %tr
      %tr{:style => "background:#f9f9f9"}
        %td.am-text-middle{:rowspan => "2"}
          %p.am-margin-top{:align => "center"} Glycogen
        %td.am-text-middle{:rowspan => "2"}
          %p.am-margin-top{:align => "center"} 50ug/mL
        %td.am-text-middle{:rowspan => "2"}
          %p.am-margin-top{:align => "center"} 在当DNA在乙酸铵或者异丙醇中使用，在酶反应中，并不与DNA竞争，但是可以干扰DNA 和蛋白之间的相互作用。
        %tr
      %tr
        %td.am-text-middle{:rowspan => "2"}
          %p.am-margin-top{:align => "center"} Linear polyarylamide
        %td.am-text-middle{:rowspan => "2"}
          %p.am-margin-top{:align => "center"} 10-20ug/ml
        %td.am-text-middle{:rowspan => "2"}
          %p.am-margin-top{:align => "center"} 非常有效的中和载体。但是只能在沉淀非常低量的DNA时，（pg级别）时候使用。
        %tr
%p 4、低温离心。对于大多数的沉淀来说，离心 10min 是足够的，但是对于低浓度和小片段而言，往往离心的时间更长更好。
%p 5、仔细的去除上清。注意不要触及底部沉淀。同时沉淀也可能看不到。使用吸管将壁上的液体也吸去。最好将上清保留，最终确认提取出 DNA 后再丢弃。
%p 6、加入一半管子容量的 70% 乙醇，最大转速离心 2min。
%p 7、重复第五步。
%p 8、在室温中打开管盖挥发乙醇
%p 9、使用 TE buffer 溶解沉淀，同时仔细冲洗管壁。1 体积的异丙醇可以用来替换 2 体积的乙醇，异丙醇沉淀法的优势在于体积更小。但是异丙醇更难挥发。因此更难去除。另外一些盐也会随着异丙醇一起沉淀出来。因此如果体积不是非常必须的因素，并不推荐异丙醇沉淀。
%p
  欢迎大家关注
  %a{href: '{{site.url.biogeek}}'} 生物极客
%img.am-img-responsive{src: '{{ "/images/blog-child29.17.png" | prepend: site.url.assets }}'}
