---
layout: post
image: /images/blog48.png
title: 谷歌有Alph*aGo*，合生有Ng*Ago*！
---
:css
  .color{color:#CE3F63}
  .nowarp{white-space: nowrap;}

%h2 超越 CRISPR/Cas9 的基因编辑技术来了！
%p NgAgo=National Gene-editing Approach Generates Opportunities
%p{:style=>'text-indent:2em'} NgAgo 的全名为 Natronobacterium gregoryi Argonaute，对单链 DNA（ssDNA） 以及具有负超螺旋结构的双链 DNA（dsDNA）具有剪切能力。与 Cas9 需要 sgRNA 引导有所不同，能够引导 NgAgo 识别靶点序列的核酸序列是长度为 23~25 nt 的单链 DNA（gDNA），因此可以通过直接合成比 gRNA 的结构更简单的 gDNA 序列导入细胞，无需构建 gRNA 表达质粒。此外， gDNA-NgAgo 对靶点的识别与结合不受 PAM 序列的限制，因此极大地提高了此工具对于高 AT 含量序列等难以设计 gRNA 的基因序列的编辑能力。
%div.am-g
  %div.am-u-md-6
    %span NgAgo载体预定
    %ul
      %li 价格：420元/个
      %li 周期：2-3周
      %li
        骨架：
        %span.color CMV-NLS-NgAgo-NLS-AmpR
  %div.am-u-md-6
    %img.am-img-responsive{src: '{{ "/images/blog-child48.1.png" | prepend: site.url.assets }}'}
%p NgAgo慢病毒包装
%p - 包含NgAgo表达系统的慢病毒颗粒
%p - 价格：1000元/例
%p - 周期：2-4周
%table.am-table
  %thead
    %tr
      %th 名称
      %th 周期
      %th 规则
  %tbody
    %tr
      %td NgAgo非定点整合细胞系
      %td.nowarp 3至4月
      %td 细胞株由您提供，我们在经您同意后开展细胞系工程改造服务
    %tr
      %td NgAgo定点敲入细胞系
      %td.nowarp 3至4月
      %td 如我们成功完成合同所述细胞系工程改造研发服务内容，您可以使用我们提供的该细胞系进行相关学术研究
    %tr
      %td 细胞株由您提供，我们在经您同意后开展细胞系工程改造服务
      %td.nowarp 3至4月
      %td 如我们未能成功完成合同所述细胞系工程改造服务内容，会向您提供服务过程中的全部实验数据，并通过协商方式与确定确定后续合作方式

%img.am-img-responsive{src: '{{ "/images/blog-child48.2.png" | prepend: site.url.assets }}'}
%p{:style=>'text-align:center;color:#ce3f63'} 您的NgAgo正在路上,请准备接收......

%img.am-img-responsive{src: '{{ "/images/blog-child48.3.png" | prepend: site.url.assets }}'}
