---
layout: post
image: /images/blog51.jpg
title: 如何绘制漂亮的多序列比对图片？<small>#每天进步一点点#</small>
---
:css
 p{text-indent:2em;}
 p.content{text-indent:0;}
%p <strong> 先给大家讲个小故事，</strong>有一种只生长在中国最东边的竹子—毛竹，精心培育，悉心照料，4年不过长3厘米，十分缓慢……
%img.am-img-responsive{src: '{{ "/images/blog-child51.1.png" | prepend: site.url.assets }}'}
%p 但是！第五年开始，每天就要生长足足 30 厘米！6 周就可以长到 15 米！
%p 4年 3 厘米，6 周 15 米…看似不可思议，只是因为 4 年里毛竹将根深深扎在土壤里，绵延数百米！
%p 我们身边也有这样的人，即使拼命，也看不到成果;即使不被人理解也坚持到底…当人们看到都以为他们很不幸或者是傻子的时候，却不知道他们不是不成长，只是在扎根！很深很深的根！等到时机成熟，就会一发不可收拾，登上遥不可及的巅峰！
%p 请不要放弃，人生需要储备…要知道，多少人，没熬过那三厘米……
%img.am-img-responsive{src: '{{ "/images/blog-child51.2.jpg" | prepend: site.url.assets }}'}
%p 现在信息非常发达，当我们每天了解 N 多实验室发了N 多文章，歆羡的同时，是否需要静下心来想想，如何培养自己？
%p 学习毛竹，公众号持续推出“每天进步一点点”系列，拒绝标题党，拒绝无用信息，扎实每天进步一点点！
%p 各个行业的大牛们，在给我们展现优美的数据时候，绘图功能往往也令我们刮目相看，小编最近也遇到如何绘制漂亮的多序列比对图片的苦恼，今天，我们的#进步一点点#围绕如何绘制多序列比对图片来开展~~
%img.am-img-responsive{src: '{{ "/images/blog-child51.3.png" | prepend: site.url.assets }}'}
%p Clustal 在多序列比对方面可谓是得天独厚，其中 clustal Ω 可以将成百上千的序列在一个小时内比对。
%p Clustal X 是经典版，我们主要围绕他来开展。
%img.am-img-responsive{src: '{{ "/images/blog-child51.4.png" | prepend: site.url.assets }}'}
%img.am-img-responsive{src: '{{ "/images/blog-child51.5.png" | prepend: site.url.assets }}'}
%img.am-img-responsive{src: '{{ "/images/blog-child51.6.png" | prepend: site.url.assets }}'}
%p.content 然后按照指示，进行一步一步的安装：
%p.content 点击 File ：选择载入序列：
%img.am-img-responsive{src: '{{ "/images/blog-child51.7.png" | prepend: site.url.assets }}'}
%img.am-img-responsive{src: '{{ "/images/blog-child51.8.png" | prepend: site.url.assets }}'}
%p.content 是不是很好看那？
%p.content 那么是否可以生成进化树？
%p.content 当然可以！
%p.content 我们选择 aligment 下的 do complete alignment
%img.am-img-responsive{src: '{{ "/images/blog-child51.9.png" | prepend: site.url.assets }}'}
%p.content 然后我们使用 treeview 软件就可以观察：
%img.am-img-responsive{src: '{{ "/images/blog-child51.10.png" | prepend: site.url.assets }}'}
