---
layout: post
image: /images/blog14.jpg
title: 《中国青年》杂志报道合生基因CEO创业之路
---
%p 2016年2月3日，《中国青年》杂志发表了一篇标题为“蒋云：不怕你不干，就怕你不想”的文章，主要讲述了北京合生基因科技有限公司首席执行官-蒋云的创业之路。
%p 蒋云在大学时期，兴趣广泛，掌握了许多的生物学知识，奠定了创业的基础；经历了毕业之际的一波三折，积累了创业的资本，并于2014年7月参与筹划组建了国内第一家专注于合成生物学应用于科研和医药健康领域的公司—北京合生基因科技有限公司。
%p 公司致力于为全球生命科学研究者提供世界一流的个性化合成生物学技术服务与科研产品。合生基因布局合成生物学全产业链，推出包括生物试剂 （BioGeek<sup>TM</sup>）、基因元件共享（GE Share<sup>TM</sup>）、高端科研服务（SyngenTech<sup>TM</sup>）、临床医学（SyngenCare<sup>TM</sup>）等不同层次的产品与服务。
%p 目前，合生基因建设有技术部、市场部、行政部、信息部等。组建了一支由来自清华大学、中科院、浙江大学、英国埃塞克斯大学、中国农业大学、北京协和医学院、南开大学、吉林大学等国内外知名院校优秀人才组成的强大运营服务团队，其中硕士以上人员包括博士生8人（含博士后3人）、硕士生11人。
%p 合生基因以发展民族生物产业为己任，正在努力成为集合成生物学技术研发、科研服务和产品销售于一体的新型生物医药技术型企业。
