---
layout: post
image: /images/blog21.jpg
title: 喜贺合生基因获得“生物材料信息管理系统”软著
---
%p 近日，中华人民共和国国家版权局对北京合生基因科技有限公司提交的“生物材料信息管理系统”软件著作权认定为原始取得并予以登记，从颁证之日起，这项信息管理系统软件的版权将得到中国版权保护中心的有效保护。
%img.am-img-responsive{src: '{{ "/images/blog-child21.1.png" | prepend: site.url.assets }}'}
%p 合生基因技术部、市场部及信息部团队对国内当前的生物材料信息管理概况进行深入调研，并合理整合、分配资源，积极开展并高效完成了“生物材料信息管理系统”这项软件的核心开发，并且同时完成了周边软硬件的配置及调试，最终向国家版权保护中心提交了软件著作权申请。经过严格审核，合生基因最终正式获得软件著作权。
%p 合生基因将在生物技术服务、生物健康医疗以及生物材料信息保藏领域不懈努力，为促进生物科研及相关产业的进步贡献力量。
%img.am-img-responsive{src: '{{ "/images/blog-child21.2.png" | prepend: site.url.assets }}'}
%img.am-img-responsive{src: '{{ "/images/blog-child15.6.png" | prepend: site.url.assets }}'}
