---
layout: post
image: /images/blog57.jpg
title: 合成生物学：细菌递送药物
---
:css
 .blog57 .indent {
   text-indent: 2em;
 }
%div.blog57
 %p.indent 将细胞重编程为血液细胞的效力被认为依赖于原始细胞的类型及重编程的方法，近日刊登于国际杂志 Cell Stem Cell 上的一项研究报告中，来自日本京都大学 iPS 细胞研究所 (CiRA) 的研究人员通过研究表示，这种假设实际上是表观遗传效应的结果，这也就表明，生成细胞（原始细胞）和重编程方法对于血液制造是可行的。
 %p.indent 人类和细菌的寄生、共生关系历史悠久。现在，Din 等人利用合成生物学，改造细菌，实现了治疗疾病的目的。这些细菌在抵达目标位置时，会同步自发地裂解自杀，释放药物，一方面最大化药物递送效率，一方面最小化药物毒性。
 %p.indent 在人体中，某些部位适宜细菌生存——如肠的厌氧管腔。这些环境的一个共同特点是氧含量低。实体瘤中氧含量也相对低，因为肿瘤细胞增殖过快，对氧气需求增加，而肿瘤脉管系统结构和功能异常，血供不足。肿瘤的低氧区域相对免受免疫系统的攻击，适宜细菌定植和生长。
 %p.indent 一个多世纪以前，就有人提出，利用细菌来对抗癌症。1891年，William B. Coley 医生使用链球菌感染病人，企图激活免疫系统来对抗癌症。该方法备受争议，因为患者响应不一致，而且链球菌感染具有一定毒性。但随着对肿瘤微环境了解的深入，以及基因工程工具的出现，科学家们看到了产生更有效、低毒的链球菌的希望。现在，几个细菌菌株已被开发成癌症治疗剂，且它们在动物模型上效果显着。
 %p.indent 细菌可以通过竞争营养、分泌毒素和引发宿主的免疫反应来破坏病变组织。此外，经过基因工程化的细菌还具有其它抗肿瘤特性。相比于病毒（也在癌症治疗中有所使用），细菌携带非天然 DNA 的能力更强。细菌中可引入长达几千对碱基的 DNA 片段，大肠杆菌中可转入大于 300 kb 的人工染色体。因此，从理论上来说，细菌可以作为有效的药物递送载体，携带编码和调控治疗模式的基因回路。
 %p 癌症治疗的理想药物输送系统要满足两条要求：
 %p 1、选择性地把药物递送到肿瘤，以减少对健康组织的损害；
 %p 2、以可控的方式释放药物。Din 等人在尝试开发这样的系统时，采用了一种“群体感应”基因回路，使细菌彼此交流，群体性地对变化产生响应，调控基因表达。
 %p.indent 在之前的研究中，研究者们使用了合成生物学来构建大肠杆菌中的“群体感应”基因电路。LuxI、LuxR 和酰基高丝氨酸内酯（AHL）在该回路中具有重要作用。LuxI 酶催化 AHL 分子的合成，而 LuxR 则是 AHL 受体蛋白，可激活细菌群体感应转录效应。当细菌种群密度低，LuxR 表达水平较低，合成的 AHL 分子不会在细胞积聚，而是迅速扩散到胞外。当细菌密度增加时，由于胞外 AHL 浓度梯度，导致AHL在细胞内积累。一旦胞内 AHL 浓度达到一定阈值，AHL 分子与 LuxR 结合。反过来，LuxR 激活 PluxI 启动子，从而启动靶基因的表达。值得注意的是，AHL 可以穿过细胞膜扩散，所以群体细菌中的 AHL 浓度基本相同，确保了细菌群体中基因表达程序的同步执行。
 %p.indent 在目前的研究中，Din 等人使用该基因回路，控制鼠伤寒沙门氏菌的细菌毒素释放。在这个系统中，PluxI 促进编码四种蛋白的基因表达—— LuxI ；药物；荧光蛋白（帮助检测群体动态和药物释放），以及源自细菌病毒 φX174（图1）的裂解蛋白 E。当细菌群体密度达到临界值时，几乎所有细菌细胞中 PluxI 驱动的转录程序启动，导致细菌合成药物和裂解蛋白，随后细菌裂解，药物释放。群体中少数几个细菌能存活下来，进入下一个周期。结果是周期性的细菌裂解和药物递送。为了证实疗效，Din 等人使用这种细菌治疗肿瘤小鼠，发现细菌确实显示出同步周期性动态变化，且无论单用还是与化疗联用，都具有一定疗效。
 %img.am-center.am-img-responsive{src: '{{ "/images/blog-child57.1.jpeg" | prepend: site.url.assets }}'}
 %p.indent 图1 同步周期性裂解和药物释放。Din 等人在细菌内构建了基因回路，使细菌群体能同步周期性合成药物，并以裂解方式释放药物。a ，AHL 与其受体蛋白质 LuxR 的结合导致启动子 PluxI 的激活。PluxI 驱动编码 LuxI 的基因的表达，而 Luxl 催化AHL合成，从而形成前馈回路。该启动子也驱动编码细菌毒素（药物，杀伤肿瘤）的基因表达，以及蛋白质 E（细胞裂解蛋白）基因的表达。AHL 可以自由进出细胞（红色箭头）。当细菌群体的密度低，AHL 主要扩散出细胞，该回路不活跃。当细菌密度增加后，细胞内积聚 AHL ，大部分细胞中 AHL 浓度足以激活该回路。 b ，细菌同步裂解，释放药物。生存下来的少数细菌进入下一个周期。
 %p.indent 研究者们没有直接比较这种细菌与常规方法生产的、连续产生治疗蛋白的微生物的治疗效果。无论如何，这种新细菌与常规微生物疗法截然不同。首先，药物释放是通过细菌的群体性裂解释放的，而不是通过连续分泌的方式释放；第二，周期性裂解更为安全，因为把细菌数目控制在一定范围内，有助于防止引起全身性炎症的危险。
 %p.indent 尽管有这些特征，单靠细菌（是否工程化与否）是不可能根除肿瘤的。在目前的研究中，这种新细菌与化疗联用，并没有完全消灭肿瘤；18 天后，肿瘤开始复发，继续长大。如果想进一步提高疗效，就需要把这种新细菌和免疫疗法或其它更有效的抗癌药物联用。
 %p.indent 周期性药物释放对那些需要定期服药的病人，如糖尿病和高血压病人而言可能更有效。治疗非癌性疾病，也可能采用利用天然的病灶环境定植细菌的疗法。同样，研究者们也可以考虑设计一种可植入、半通透、小分子和蛋白质可通过，而细菌不能通过的容器来容纳工程化细菌。使用周期性裂解细菌治疗非癌症类疾病的一个难点在于，细菌裂解后产生的产物可能被血管吸收并累积，从而引起全身毒性效应。选择低毒的细菌菌株或创建减毒株（例如，通过删除编码内毒素的 msbB 基因）可以克服这个问题。(生物谷 Bioon.com )
 %span 原文检索：
 %p Shibin Zhou. (2016) Synthetic biology： Bacteria synchronized for drug delivery. Nature， 536(1038)：33-34.
