---
layout: post
image: /images/blog50.jpg
title: 合成生物学青年论坛 第一日 #精彩报告回顾#
---
:css
 p{text-indent:2em;}
 p.content{text-indent:0;}

%p 大家好，今天我们迎来的合成生物学领域的知识盛宴，让小编带领大家以来回顾今天科学家们精彩纷呈的报告吧~
%h3 特邀报告 王磊
%img.am-img-responsive{src: '{{ "/images/blog-child50.1.png" | prepend: site.url.assets }}'}
%p 来自UCSF的王磊教授主要研究的重点是非天然氨基酸。在2014年wang Lei课题组通过在蛋白中引入非天然氨基酸，从而实现蛋白质中间的共价增强。
%p 天然蛋白往往通过二硫键来共价偶联不同的侧链。Wang lei引入一个非天然氨基酸可以与邻近的cysteine反应，利用这个技术，他们实现了不可逆的结合affibody和对应的蛋白底物。
%span 小知识：
%p Affibody molecules are small proteins engineered to bind to a large number of target proteins or peptides with high affinity, imitating monoclonal antibodies, and are therefore a member of the family of antibody mimetics. Affibody molecules are used in biochemical research and are being developed as potential new biopharmaceutical drugs.
%p 不仅如此，还可以捕获多肽和蛋白质之间的作用，同时增强荧光蛋白的量子产率。在非天然氨基酸和自然氨基酸之间产生共价键，最重要的问题就是需要考虑非天然氨基酸的活性不能很强，不能够与游离的氨基酸发生反应，这样便无法通过翻译系统。同时也会引发很大的副反应。只有非天然氨基酸植入后，才能够与近邻的半胱氨酸反应。
%p 不过基于邻近反应可以相当于很大的提高浓度，从而提高反应的效率。
%img.am-img-responsive{src: '{{ "/images/blog-child50.2.png" | prepend: site.url.assets }}'}
%p.content 半胱氨酸的巯基是亲核基团，科学家们猜想可以引入弱的亲电基团从而共价偶联。
%img.am-img-responsive{src: '{{ "/images/blog-child50.3.png" | prepend: site.url.assets }}'}
%img.am-img-responsive{src: '{{ "/images/blog-child50.4.png" | prepend: site.url.assets }}'}
%p 特殊的 fact 基团通过四步化学合成制备出来，可以看到当浓度为1mM时候只有小于 5% 的活性，但是当增加到 10mM,便可以全部转换。
%p 对应的，细胞内游离的半胱氨酸的浓度是 19uM，不过通过邻近作用，可以极大的提高反应的浓度。在获得相应的反应后，科学家们将这一技术应用于 Zspa affibody，看是否可以结合特异的底物，并不影响 affibody 的功能。
%p 首先科学家们，将Asn36突变成fact，Asn6变成半胱氨酸。
%img.am-img-responsive{src: '{{ "/images/blog-child50.5.png" | prepend: site.url.assets }}'}
%img.am-img-responsive{src: '{{ "/images/blog-child50.6.png" | prepend: site.url.assets }}'}
%p.content 可以看到当两者都突变后，可以看到特异的作用条带。
%img.am-img-responsive{src: '{{ "/images/blog-child50.7.png" | prepend: site.url.assets }}'}
%p.content 不仅如此，科学家同时用来捕获细胞内的相互作用。
%span 参考文献：
%img.am-img-responsive{src: '{{ "/images/blog-child50.8.png" | prepend: site.url.assets }}'}
%h3 另外一位报告人是：UCSF 的 Xiaokun Shu
%img.am-img-responsive{src: '{{ "/images/blog-child50.9.png" | prepend: site.url.assets }}'}
%p Xiaokun Shu 是著名华人诺奖得主 钱永健的学生，主要关注点是基因编码的 sensor
%img.am-img-responsive{src: '{{ "/images/blog-child50.10.png" | prepend: site.url.assets }}'}
%p.content 在2015年的 Nature Methods 中，Xiaokun Shu 研究了单体远红外荧光蛋白。
%img.am-img-responsive{src: '{{ "/images/blog-child50.11.png" | prepend: site.url.assets }}'}
%p 荧光蛋白在细胞和分子生物学中扮演了重要的角色。2009年，Xiaokun Shu 在钱永健实验室做 Post 的时候，便在 science 发表远红外荧光蛋白的工作。
%p 使用远红外光，可以最小的被血红素，水和脂类吸收，因此可以具有非常好的穿透能力。在此之前，尚未有荧光蛋白可以超过 655nm
%img.am-img-responsive{src: '{{ "/images/blog-child50.12.png" | prepend: site.url.assets }}'}
%img.am-img-responsive{src: '{{ "/images/blog-child50.13.png" | prepend: site.url.assets }}'}
