---
layout: post
image: /images/blog33.jpg
title: 肿瘤免疫 PD-1 疗法究竟如何起作用？从组学水平回答免疫治疗新机制
---
%p PD-1 肿瘤免疫监测点阻断疗法对于黑色素瘤患者提供了良好的福音，但是随着研究的进一步的推进，人们发现有些患者对于肿瘤免疫疗法有着很好的反应预期，但是有一些患者却没有预期的应答，那么肿瘤患者体内的突变对于免疫疗效有着怎样的干扰？PD-1 免疫治疗主要是通过怎样的通路发挥作用的？
%img.am-img-responsive{src: '{{ "/images/blog-child33.8.png" | prepend: site.url.assets }}'}
%p 今天我们一起来走进最新一期 cell 的文章，学习如何从组学水平研究免疫应答与免疫治疗。
%img.am-img-responsive{src: '{{ "/images/blog-child33.1.png" | prepend: site.url.assets }}'}
%p PD-1 免疫阻断引起高效的抗黑色素瘤反应，提供了前所未有治疗预期。同时关于 PD-1 与其他药物连用的方法目前也正在开展过程中。然而有效的临床使用 anti-PD-1 抗体却被很高的固有抵抗所阻碍。但是我们对于固有抵抗的相关机制和临床预期仍然了解非常少。
%p 目前已知，在黑色素瘤中，在处理前包括处理导致的瘤内 T 细胞浸润与临床预期息息相关。
%p 支持抗 PD-1 疗法主要是通过激活抗肿瘤 T 细胞发挥作用。同时人们发现如果病人预先存在 MAPK 耐药性，则存在很差的 anti-PD-1 治疗预期，提示有可能肿瘤细胞获得 MAPK 药物抵抗从而耗竭 T 细胞和丢失抗原提成功能。
%p 同时与基因组测序数据相对应，整体的突变水平与肿瘤免疫治疗的预期息息相关。首先科学家们对于 38 个进行免疫治疗患者进行外显子测序。同时科学家们，对于反应组和未反应组，进行 RNA-seq。科学家们发现反应组相对于未反应组拥有更多的同义突变。
%img.am-img-responsive{src: '{{ "/images/blog-child33.2.png" | prepend: site.url.assets }}'}
%p 同时科学家们发现，一些突变明显可以改善生存预期。这是突变改善，而不是突变恶化。
%img.am-img-responsive{src: '{{ "/images/blog-child33.3.png" | prepend: site.url.assets }}'}
%p 因此，科学家们，将样本分为两类，一类是高突变 load，一类是低突变 load，可以发现高突变 load 与肿瘤反应息息相关。
%p
  那么究竟是哪些
  %a{href: '{{"/solution/high-throughput-edting" | prepend: site.url.service}}'}基因突变
  ，导致最终良好的预期？
%img.am-img-responsive{src: '{{ "/images/blog-child33.4.png" | prepend: site.url.assets }}'}
%p 科学家们发现 BRCA2 基因的突变在有反应的患者中被明显富集。同时突变的方式也是以 loss-of-function 为主。
%img.am-img-responsive{src: '{{ "/images/blog-child33.5.png" | prepend: site.url.assets }}'}
%p 在基因组水平惊喜的发现 BRCA2 后，科学家们，进行了 RNA-seq 数据分析：
%img.am-img-responsive{src: '{{ "/images/blog-child33.6.png" | prepend: site.url.assets }}'}
%p 科学家们，进行了相关的基因差异分析，GO 富集分析和 GSVA 分析。
%img.am-img-responsive{src: '{{ "/images/blog-child33.7.png" | prepend: site.url.assets }}'}
%p 科学家们发现间充质和炎症肿瘤表型与免疫治疗抵抗息息相关。
%p 最后科学家们，定义了抵抗的特征用于指导治疗：
%img.am-img-responsive{src: '{{ "/images/blog-child33.9.png" | prepend: site.url.assets }}'}
%p
  获取更多生物咨讯，请关注
  %a{href: '{{site.url.biogeek}}'} 生物极客
%img.am-img-responsive{src: '{{ "/images/blog-child29.17.png" | prepend: site.url.assets }}'}
