---
layout: post
image: /images/blog37.jpg
title: Nature：癌症的真相，你到底被忽悠了多久？
---
%p 是否真的需要最大化化疗剂量？
%p 耐药是否真的是一段时间之后才有？
%p 大家好~~又是新的一周，这周我们一同关注最新一期 Nature 上的评论“ Tumours are subject to the same rules of natural selection as any other living  thing. Clinicians are  now putting that knowledge to use. ”
%p 靶向药物等抗癌药物的研发，大大的提高了癌症病人的生存预期，这些靶向药物，顾名思义，是针对于特定基因突变导致肿瘤发生，看起来战胜癌症的预期已经为期不远，但是病人开始几乎不可避免的出现对药物的抵抗，病情开始复发。
%p 随着时间的迁移，科学家们开始认识到，问题的本质并不在于特定的突变，肿瘤耐药性的本质来源于进化本身。不幸的是，我们似乎在与地球上最大的自然力相对抗。
%p 科学家们，花费了很长时间才理解，当肿瘤细胞生长过程中，突变不断的积累发生，不同遗传背景的细胞不断出现。对药物具有抵抗作用的细胞存活下来，并且不断的扩增，可以说，肿瘤已经对药物产生了适应。由于肿瘤在体内往往可以存活几年，因此对于科学家而言，探究肿瘤细胞的适应过程，是一个艰辛的路程。
%p 不过由于第二代测序技术尤其是单细胞测序的出现，情况开始逐渐出现转机，科学家们，正在日益精确的描绘肿瘤进化的过程，找到癌症耐药性的根源，某种意义上，寻找如何克服和抵抗肿瘤的耐药性。
%p 随着治疗手段的不断丰富，科学家们，正在日益综合这些治疗手段从而与肿瘤耐药性相抗衡。
%p “肿瘤正在不断的进化和适应，我们也必须如此”，来自意大利多灵大学的 Bardelli 说道，去年，Bardelli 将课题组的研究方向转移到肿瘤的进化上来，他的研究团队对结直肠癌如何不断适应人体，产生耐药进行建模研究，“目前我们对于如何追踪和治疗癌症进化，有了非常惊喜的发现”，Bardelli 说道。
%p 肿瘤细胞拥有令人吃惊的突变，在 2012 年，当 Swanton 和他的科研团队对两个肾癌病人的多个组织活检样本进行测序的时候发现，即使是对于同一个病人，没有两个样品是完全一样的。科学家们不仅检查了肿瘤的初始病灶，而且对于侵袭的位置进行了测序，在每个病人当中，科学家们发现共有超过 100 种突变，只有大约三分之一的突变在所有的样品中都有。
%p 不同肿瘤样品之间的关系可以与进化学家眼中物种之间的相互关系等同，因此人们可以描绘出进化树，追踪继承者是否来源于同一个起源。在最开始的恶性细胞中出现的突变在进化树的树干部分，在所有的细胞中都可以找到，而后面出现的突变则只可以在树的枝叶部分发现。
%p “为了清除肿瘤，我们必须寻找到树干部分的突变” Swanton 等人说道。
%p 治疗一些关键突变的疗法目前已经被研究出来，往往可以在开始的时候，产生巨大的反应。但是后来抵抗还是会发生.一种方式是使用与特定治疗关联的组合疗法，来自约翰霍普金大学的 Bert Vogelstein 说道。他们发现两个靶向治疗，当他们不存在相同的抵抗机制的时候，完全可以控制侵袭癌症的发生。对于拥有很多突变的病人来说，往往三种治疗是需要的。
%p 科学家们已经开始在临床上测试多种靶向治疗的组合疗法。但是 Swanon 指出，对于大部分突变而言，并没有相应的靶向药物。组合目前已知的药物，往往会对病人产生很大的损害。因此目前 Swanton 等人将目标转移向免疫疗法，使用免疫系统清除肿瘤细胞。
%p 免疫系统通过监视细胞表面的 marker，鉴别出来相应的危险信号，在肿瘤细胞中突变的 DNA，往往会编码特定的抗原，从而被免疫系统识别。但是 Swanton 和他们的科研团队也在思考，是否免疫系统对来自树枝部分的抗原起作用？
%p 在三月份发表的文章中，他们对来自 TCGA 上的数据进行了分析，他们发现肺癌病人拥有更多的枝干突变，更高比例的枝干、树梢突变比例，如果免疫系统靶向枝干抗原，则可以击中大部分肿瘤细胞。
%p 研究工作仍然在婴儿期，不过 Swanton 等人正在开启一项临床试验，这项临床实验叫做 “TRACERx”，通过治疗追踪肿瘤进化。将会跟踪 850 个病人从肺癌诊断到治疗到全过程。
%p 将会不断的描述在他们肿瘤中的遗传变化，包括治疗如何影响这个过程。一旦拥有了数据，Swanton 等人希望能够获得更多的 funding 支持研究癌症的进化。
%p 应用进化的观点可以帮助免疫系统清除肿瘤，Robert 来自 Florida 的癌症学家，有着更加清晰的一个目标，让癌症与病人和平相处。Gatenby 开始使用数学模型对于如何最好的处理癌症进行计算，他的模型表明很多癌症学家的往往采取了一个错误的方法，通常来说，内科医生往往会给一个病人能忍受的最大剂量的化疗药物，尽可能的杀死最多的肿瘤细胞。目标是在抵抗发生前，清除掉肿瘤细胞。
%p 但是这些年的研究表明，在肿瘤被治疗前，肿瘤便已经拥有了药物抵抗细胞。不过抵抗细胞的群体所占的比重非常少，当病人使用较大剂量的化学疗法后，抵抗细胞所占的比重会明显增加。Gatenby 打个比喻，“当有雨的时候，伞是非常有用，但是当没有雨的时候，伞则变成了一个明显的负担” Gatenby 等人认为他可以使用易感细胞和抵抗细胞之间的竞争最大化治疗效果。
%p 最近他在小鼠上测试了两类乳腺癌细胞，当他们给予乳腺癌细胞最大剂量的化疗药物后，当治疗终止后，肿瘤细胞迅速的扩增起来。团队同时尝试间隔给药。另外一组则使用最高剂量的肿瘤化疗药物，但是当肿瘤缩小时候，停止给药，使用另外一个药物，如此往复。
%p 在 2015 年，Moffitt 癌症中心展开了一项研究探究是否适应性疗法有助于前列腺病人，医生通过监控病人体内的前列腺抗原（PSA）来反应治疗情况。在适应性疗法中，打开关闭循环由肿瘤反应所控制，Gatenby 同时期待利用分子和临床数据不断精进适应性模型。
%img.am-img-responsive{src: '{{ "/images/blog-child37.1.png" | prepend: site.url.assets }}'}
%p
  获取更多生物咨讯，请关注
  %a{href: '{{site.url.biogeek}}'} 生物极客
%img.am-img-responsive{src: '{{ "/images/blog-child29.17.png" | prepend: site.url.assets }}'}
