---
layout: post
image: /images/blog40.jpg
title: 如何从基因集中找到最想要的信息？基因集分析
---
%p 如果我们筛选得到一系列基因，我们如何富集其中相应的功能？什么因素影响基因集合的分析？
%p 全基因组关联分析对于鉴定与表型相关的一系列基因起到了关键的作用。最常使用的工具是 “Gene-set analysis” （基因集分析），也被称为 pathway 分析。通过全基因组关联分析获得的一系列基因集合，通过 gene set analysis  进一步确定与表型相关的相关生物学机制。
%p 科学家们，通过基因集分析获得了很多关于疾病的相关机制的理解。比如对于精神分裂症，发现与细胞内钙离子水平调节通路相关。在多种癌症中涉及到增长因子信号通路。
%p 目前有很多基因集分析的工具，但是每一种背后有不同的算法和统计学评价手段。如果我们不能充分的理解基因集分析的相关统计学特性，我们就极有可能得到错误的结果。
%p 今天大程带领大家一起来学习 Nature Review Genetics 上的一篇文章，全面的回顾目前已有的基因集分析工具，工具背后的统计学原理与统计学稳健性。
%p 工具背后的统计学结构
%p 在基因集分析过程中，基因集是指一群基因具有某些公共的特性，我们的目标是确定是否这个特性在表型中扮演重要或者关键的角色。尽管目前有很多不同的基因集分析工具，这些工具的统计学方法也不尽相同，但是这些工具的统计学思路大多一样。
%p GSA 工具具有两层结构，这里基因，而不是个体作为统计学单元，首先，我们来衡量表型和基因集中每一个基因之间的关系。因此产生了一个基因数据矩阵。
%p 这里横行表示的是基因，对应的是基因与表型关联的分数。
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/blog-child40.1.png" | prepend: site.url.assets }}'}
%p 同时我们获得不同基因是否属于我们感兴趣基因集的标签。如下表：
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/blog-child40.2.png" | prepend: site.url.assets }}'}
%p 接下来需要做的便是进行一个2值检验，检验基因集是否和基因关联评分之间存在相互关联。
%p 基因集分析工具的主要分类
%p 刚来我们讲到了基因集分析的关系，简单而言，就是一些基因是否在表型中显著，那么主要的基因集分析工具分为两类，第一类叫做 “self-contained GSA”，这些工具只考虑基因集中的相关基因，进行的零假设是基因集中的基因全部都与表型无关。
第二类叫做 “competitive GSA”,这类工具是假设基因集中的基因相比于其他基因而言，没有任何其他基因比基因集中的基因更与表型有关系。这类工具是假设基因集中的基因相比于其他基因而言，没有任何其他基因比基因集中的基因更与表型有关系。
%p 除了上面是否考虑其他基因这个问题外，针对于基因集统计假设的方法，具体分为三类：以均值为基础的，使用基因集分数的总和或者权重评分；第二类是以计数为基础的，通过对基因集合使用阈值，从而区分为显著和不显著基因，使用基因集中的显著基因数目作为统计量进行统计分析。第三类，是基于秩，首先将基因与基因关联的评分进行排序，计算基因集基因的排序是否统计显著。
%p 不同的 GSA 工具则是上面两大类方法的不同组合或者优化。零假设的类型极大的影响了分析的结果。下表是进行基因集分
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/blog-child40.3.png" | prepend: site.url.assets }}'}
%p 基因关联分数
%p 刚才我们讲到基因关联分数，那么如何具体衡量基因关联分数？
不同的基因关联分数对于不同的遗传模型具有不同的敏感程度，同时不同的基因关联评分也暗示对于生物问题的不同的假设。一般而言， GSA 工具使用基因的 P value 作为基因关联函数，或者基因中 SNP 的 P value 作为基因关联函数。这里面使用的是表型重排和基因重排方法。通过 GSA 方法，可以得到特定生物学过程和表型之间的关联。