---
layout: post
image: /images/blog36.jpg
title: 真的要锻炼身体了！！抗生素耐药机制远远超乎人们想象
---
%p 抗生素耐药正日益成为困扰人们健康的杀手，然而关于抗生素耐药的相关机制仍然不是非常清楚，来自法国的科学家在最新一期的 science 发文使用新型测序手段，发现许多抗生素调节 riboswitch 和 attenuator 元件存在于细菌基因组中。今天就让我们一起解读这篇 science 文献，领略大师的思维。
%img.am-img-responsive{src: '{{ "/images/blog-child36.1.png" | prepend: site.url.assets }}'}
%p Riboswitch 和 attenuator 是顺式 RNA 作用元件，存在于基因的 5’UTR 区域，可以通过感知关键代谢物，氨基酸，核酸和离子等调节基因的表达。这些 RNA 元件可以通过产生条件特意 terminator 终止转录本的生成，从而产生非成熟的转录本。
%img.am-img-responsive{src: '{{ "/images/blog-child36.2.png" | prepend: site.url.assets }}'}
%p 目前为止只有大约 25 类自然存在的 ribostiwch 被描述，他们大多数是通过比较基因组学进行发掘，进一步通过所控制的基因进行分析相应功能。然而目前为止没有实验手段能够促进全基因组水平发现 riboswtich，同时对于特定代谢物，也不存在有效手段鉴定自然中存在的特定 riboswtich 和 attenuators。
%img.am-img-responsive{src: '{{ "/images/blog-child36.3.png" | prepend: site.url.assets }}'}
%p 为了全基因组水平探究条件调控转录终止位点，科学家们使用 RNA 连接的方式，直接测序 3’ 末端从而探究相应的转录终止位点，那么如何验证相应的转录终止测序结果是可信的那？
%p 科学家们，使用掺入特定的 mRNA，作为内参，发现可以很大的发现他们的转录终止位点，同时科学家们，对预测的终止位点进行 map，其中一半以上在基因间区域。
%img.am-img-responsive{src: '{{ "/images/blog-child36.4.png" | prepend: site.url.assets }}'}
%p 可以很好的探究转录终止位点后，科学家们试图探究是否可以用于条件转录终止位点的研究，首先科学家们使用 RNA-seq 和 5 末端 RNA-seq 进行探究。
%img.am-img-responsive{src: '{{ "/images/blog-child36.5.png" | prepend: site.url.assets }}'}
%p 可以发现对于已知的 riboswtich 而言，可以发现特定的 riboswtich 作用元件位置。
%img.am-img-responsive{src: '{{ "/images/blog-child36.6.png" | prepend: site.url.assets }}'}
%p 整体而言，科学家们发现了 82 个潜在的调节元件，其中 64 个已经被报道，另外还发现 11 个并未被报道的条件终止位置。
%img.am-img-responsive{src: '{{ "/images/blog-child36.7.png" | prepend: site.url.assets }}'}
%p 接下来科学家们，针对于其他治病菌进行探究，L. monocytogenes 与前期相似，也发现多种 riboswtich 作用单元。
%p 尽管目前可以知道多种新的 riboswtich，但是无法知道特定的代谢物所对应的调节单元。科学家们，推测可以利用改变培养基的状态，比如多一种代谢物，或者少一种成分，对于的条件调节转录本就可以出现。
%img.am-img-responsive{src: '{{ "/images/blog-child36.8.png" | prepend: site.url.assets }}'}
%p 针对于 Lysine，科学家们发现已知的多种 riboswtich 对 lysisine 可以起相应，说明这种方法对于调节元件是一种非常好的探究方法。
%img.am-img-responsive{src: '{{ "/images/blog-child36.9.png" | prepend: site.url.assets }}'}
%p 对于 Term-seq 应用特定的代谢物作用元件探究后，科学家们针对口腔微生物，在相应的抗生物培养下，发现了多种调节单元，发现许多从未被报道的 riboswtich。
%img.am-img-responsive{src: '{{ "/images/blog-child36.10.png" | prepend: site.url.assets }}'}
%p 这些被调节的基因以多种已知或未知的方式，调节抗生素耐药。
%img.am-img-responsive{src: '{{ "/images/blog-child36.11.png" | prepend: site.url.assets }}'}
%p
  获取更多生物咨讯，请关注
  %a{href: '{{site.url.biogeek}}'} 生物极客
%img.am-img-responsive{src: '{{ "/images/blog-child29.17.png" | prepend: site.url.assets }}'}
