---
layout: post
image: /images/blog42.jpg
title: NgAgo 深入解读—生物原理篇
---
:css
  .red{
  color:red;
  font-weight:blod;
  }
  .blue{
  color:rgb(84,141,212);
  font-weight:blod;
  }
	
%p.blue 小伙伴们，大家好，韩春雨老师的 NgAgo 蛋白的发现，可谓一鸣惊人，瞬间火爆了大江南北，在我们感慨韩老师的惊人毅力与卓越的持之以恒精神的时候，不妨来重读14年给予韩老师伟大灵感的文献。
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/blog-child42.1.png" | prepend: site.url.assets }}'}
%p 14年3月来自西班牙的科学家们，在细菌中发现一种可以以 DNA 作为指引，切割 DNA 的 Ago 蛋白。
%p RNAi 干扰在真核生物中被广泛的发现，参与基因调节的各个功能，RNAi 主要是依赖于使用单链 RNA 分子与靶向的 RNA 互补配对，在 Ago 蛋白的参与下，进行干扰。然而，在原核生物中也发现多种类型的 Ago 蛋白，尽管通过生物信息分析可以发现 Ago 蛋白可能参与到宿主的防御过程中，但是对于 Ago 蛋白的具体机制，仍然不是很清楚。
来自西班牙的科学家们，研究了来自 Thermus thermophilus 中的 Ago 蛋白，发现 TtAgo 可以捕获外源 DNA，进一步切割质粒。
%p.red 首先科学家们，比较了多个不同的 HB27 菌株。
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/blog-child42.2.png" | prepend: site.url.assets }}'}
%p 科学家们发现对于可以有效转化的菌株，HB27EC 中含有 ago 蛋白的突变，当 HB27 缺失 Ago 蛋白人为导入 ago 蛋白的时候，可以发现，细菌的转化能力（质粒）大大降低。
%p.red 那么是否 Ago 蛋白是由于调节其他菌株中的蛋白，进而影响质粒的生存，还是直接干扰质粒？
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/blog-child42.3.png" | prepend: site.url.assets }}'}
%p 科学家们，对菌株进行了转录组的分析，发现当敲除 Ago 蛋白后，对于涉及到质粒的获取，质粒的防御等诸多蛋白，并未发现明显的改变。
%p 在 Ago 家族蛋白的启示下，科学家们，猜想 Ago 蛋白可能与相应的核酸相互作用，因此，科学家们，共纯化了 Ttago 蛋白相应的 RNA，这些 RNA 分布的长度变化很大，
%p.red 但是当发现 Ago 蛋白对应的 DNA 的时候，科学家们有了惊人的发现。
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/blog-child42.4.png" | prepend: site.url.assets }}'}
%p.red 科学家们发现，Ago 蛋白结合的 DNA 是从 11-25bp 分布的 ssDNA。
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/blog-child42.5.png" | prepend: site.url.assets }}'}
%p 当科学家们，把这些 ssDNA 进行 map 的时候，他们发现
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/blog-child42.6.png" | prepend: site.url.assets }}'}
%p 这些 ssDNA 可以 map 到多种区域，甚至包括 Ecoli 中的区域，比如 lacI。
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/blog-child42.7.png" | prepend: site.url.assets }}'}
%p 同时，科学家们，对获得的 ssDNA 进行比对，发现在5’端有明显的富集，其中第一个碱基为 C，第二个为 A，不过，科学家们也发现，如果将第一个碱基换成其他，对于 Ago 蛋白的活性没有太多的干扰。
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/blog-child42.8.png" | prepend: site.url.assets }}'}
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/blog-child42.9.png" | prepend: site.url.assets }}'}
%p 进一步科学家们，探究是否 TtAgo 可以用于探究体内质粒来源的 ssDNA 用于切割双链 DNA ，科学家们发现， TtAgo 能够线性化或者 nick 质粒，产生线性或者开的环状 DNA。而对于切割位点突变的 TtAgoDM 蛋白，则无法实现相应的功能。
%p 同时，TtAgo 蛋白是强烈的依赖于温度，ssDNA 对于的切割温度是 >20 度，而质粒 DNA 的切割温度需要 >=65 度
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/blog-child42.10.png" | prepend: site.url.assets }}'}
%p 同时，科学家们，也发现如果同时表达两条guide ssDNA，可以高效的线性化质粒
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/blog-child42.11.png" | prepend: site.url.assets }}'}
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/blog-child42.12.png" | prepend: site.url.assets }}'}
%p.red 那么为什么 TtAgo 可以切割质粒？
%p 1.首先负超螺旋可以帮助 DNA 复合体的形成，尤其是在很高的温度下。当AT富集区域进行结合的时候，可以发现可以帮助更好的进行切割。
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/blog-child42.13.png" | prepend: site.url.assets }}'}
%p 2.小编点评
%p.blue 14年的文章，为韩老师的工作，奠定了相应的基础，根据媒体报道，可以发现，当这篇文章发表后，包括北京大学魏文胜课题组在内的多个课题组，也试图将 TtAGo 进行实验，然而都发现无法很好的切割，但是韩老师，通过寻找正常温度下的菌株内的 Ago 蛋白，克服了温度这一限制。启示我们，很多时候，科研并不需要很多很复杂的设计，只是需要我们跨越思维里面的墙。

