---
layout: post
image: /images/blog54.jpg
title: 手把手教你使用 rosetta 进行药物设计<small>#每天进步一点点#</small>
---

:css
 .blog54 p {
  text-indent:2em;
 }
 .blog54 h3 {
  font-size:18px;
 }
%div.blog54
 %p
  小伙伴们，大家好，又到了
  %span #每天进步一点点#
  的时候了，科学没有捷径，进步没有妥协，只有我们不断坚持，才能收获成长，才能在不断的碰壁过程中不断前进。
  %p 小编高考失利，前往西部的一所高校，自己常常想，自己与他人的差距究竟在哪里？如今，好些年过去了，似乎自己并不能弥补相关的差距，又迎来了一个新的问题，土鳖与国外大实验室的差别究竟在哪里？除了一些客观因素外，（其实小编向来觉得客观因素真的没有想象中的大），更多的，小编觉得，国内压力较为轻松的环境，其实更像一场温水煮青蛙的比赛，而我们更多的在温水中败下阵来，今天过了还有明天，明天过了还有后天，恍恍惚惚，一天一天就这样过去了。
  %p 正如士兵突击中的班长所说，“不要混日子，小心日子混了你”，我们所需要的就是不断的 push 自己前进，前进，前进，其实你可以做的更好，你可以学的更多，你可以少玩一次手机，你可以少看一部电视剧，多锻炼一次，多静下心来好好学习！
  %h3 一、前言
  %p 言归正传，今天我们来一起学习如何使用 rosetta ，对尚未解析结构的蛋白，通过使用同源模建，进行相应的药物筛选和设计，当然这是一个非常大的东西，一次无法讲完，没有关系，记住我们的口号，每天进步一点点，我们一点点前进，要不了多久，你就是高手！！
  %img.am-img-responsive{src: '{{ "/images/blog-child54.1.png" | prepend: site.url.assets }}'}
  %p Rosetta 在蛋白质结构预测方面可谓大显身手，这次我们将从使用 Rosetta 进行蛋白的同源重建和小分子对接入手，了解 rosetta 相应的使用和相关的功能。<br>在同源重建过程中，未知的蛋白被称为 “target” ，已知的蛋白被称为 “template” ，已知的蛋白结构模板，可以帮助减少相应的构象搜索空间。在模板和目标并不相同的地方，通常使用 loop-build 来重构相应的地方，从而提高精度。当然，这个 loop ，并不是说柔软的区域，而是任何一个区域都可以被称为 loop 。<br>除了 rosetta ，另外就是大名鼎鼎的 Modeller ，也可以用作同源重建。<br>在使用 rosetta 进行完同源重建后，接下来需要进行的便是分子对接。
  %img.am-img-responsive{src: '{{ "/images/blog-child54.2.png" | prepend: site.url.assets }}'}
  %p 在 rosetta 中，没有预定的口袋寻找功能，因此可以通过预先的经验判断，或者一些常见的其他口袋寻找功能的软件进行搜索，比如 SUPRNET ， LIGSITE 和 PocketDepth 等。然后通过使用蒙特卡洛模拟抽样搜索相应的侧链构象，对于主链而言，则使用梯度下降的二面角进行搜索。
  %p 不仅如此，小分子的全部构象也需要使用，为什么要这样那？
  %p 因为很多蛋白-小分子之间的相互作用并不是简简单单的是锁钥模型，很有可能存在着相应的柔性对接，通过相应的柔性搜索，可以增加相应的准确性。
  %p 在 David baker 的一项工作中，对 85 种蛋白小分子进行评估，可以看到 64% 的预测模型小于 2A 误差。
  %p 除了 rosetta 之外，其他的还有很多小分子对接工具，比如 FlexX ，是使用几何哈希搜索，GOLD 是使用遗传算法，Glide 是使用 systematic sampling ，Dock 使用物理力场的评价函数，rosetta 则不同，是使用基于知识的概率统计函数进行打分。在一些比较性的研究中，很多结果表明，rosettaligand 的预测功能要好于其他软件。
  %img.am-img-responsive{src: '{{ "/images/blog-child54.3.png" | prepend: site.url.assets }}'}
  %h3 二、实验设计部分
  %p 这里选择与小分子共结晶有同源蛋白晶体的 T4 lysozyme 作为研究范例。在实验开始之前，需要进行同源序列搜索，获得好的同源序列晶体结构，对接下来的实验至关重要。
  %p 可以使用 BLAST 对于 PDB 库进行同源搜索，更精细的 PSI-BLAST 可以鉴定远家族的相关同源序列。
  %p 我们前几天介绍的 HMMER 也非常强大，使用隐马科夫模型进行多序列比对，可以更加精细寻找相应的序列。不过结构往往比序列更加的保守，可以使用 3D 折叠识别等来识别，比如 Phyre 等。
  %img.am-img-responsive{src: '{{ "/images/blog-child54.4.png" | prepend: site.url.assets }}'}
  %p 今天先总结到这里，小伙伴们，明天见~~




