---
layout: post
image: /images/blog35.jpg
title: 确认了！熬夜真的可以导致白血病！！！！跟 cell 一起学思维
---
%p 熬夜真的可以导致白血病吗？
%p 为什么白血病跟熬夜相关？
%p 大家好，今天小雨的北京带来一丝寒意，让我们一起来阅读最新一期 cell 上的第二篇文献，
%p Core Circadian Clock Genes Regulate Leukemia Stem Cells in AML
%img.am-img-responsive{src: '{{ "/images/blog-child35.8.png" | prepend: site.url.assets }}'}
%img.am-img-responsive{src: '{{ "/images/blog-child35.1.png" | prepend: site.url.assets }}'}
%p 急性髓系白血病（AML）是由造血干细胞或者前体细胞发生增长异常和分化障碍引起的，可以快速的增长。在白血病中，MLL 基因的重排导致涉及 Hox 基因等干细胞自我更新的相关基因得到激活。很多转录因子参与到这个激活的过程中，包括 hoxA9，mesi1 等，尽管白血病和正常的造血干细胞共享类似的自我更新和分化的 pathway，但是 LSC 仍然有一些转录上的不同，可以成为癌症治疗潜在的靶点。
%img.am-img-responsive{src: '{{ "/images/blog-child35.2.png" | prepend: site.url.assets }}'}
%p
  为了评估哪些转录因子可能参与到白血病的发生，科学家们使用
  %a{href: '{{ "/solution/silencing" | prepend: site.url.service }}'}shRNA
  进行 invivo screen，首先科学家们选择 MML-AF9，组成性表达 dsred 的小鼠作为白血病细胞的来源，他们更具备侵袭性，可以直接通过 c-kit 表面抗原和 dsred 阳性进行 facs 分选富集。是理想的筛选标记。
%p 考虑到 in vivo 筛选不同于常见的筛选，科学家们，首先寻找特定的转录因子作为 candidates。他们共选择了 152 个基因。设计了 770 个慢病毒 shRNA 质粒。
%p 经过筛选过后，科学家们，发现在骨髓样本中，一些基因的 shRNA，被明显的丢失，那么可能暗示这类基因极有可能参与白血病的发生。
%p 科学家们发现调节节律的基因，clock 和 Bmal1 被明显的富集出来。
%p 同时通过单独验证，也可以证明以上一点。
%img.am-img-responsive{src: '{{ "/images/blog-child35.3.png" | prepend: site.url.assets }}'}
%p 那么是否是由于 shRNA 的 off-target 导致？而不是由于基因本身参与这个过程那？
%p 科学家们，使用了 cDNA 进行 rescue 实验：
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/blog-child35.4.png" | prepend: site.url.assets }}'}
%p
  不仅如此，通过 crispr 对 clock 和 bmaI 进行
  %a{href: '{{ "/solution/knock-down" | prepend: site.url.service }}'}基因组编辑
  ，也可以发现相应的表型。
%p 那么为什么节律基因与白血病有关？
%p 是否造血干细胞也有生物节律？
%p 科学家们，首先使用生物节律控制药物，SR9011 对造血干细胞进行干扰，SR9011 是细胞核激素受体 Rev-erb 和 rev-erb β 的激活剂，对移植获得的 MLL-AF9 细胞进行 SR9011 处理 3 天，可以看到明显的药物引起的细胞活性的降低：
%img.am-img-responsive{src: '{{ "/images/blog-child35.5.png" | prepend: site.url.assets }}'}
%p 同时可以看到 Bmal1 基因表达的下调，不仅如此，参与白血病致病的相关基因也有明显下调。
%p 同时与上面的结论吻合，科学家们发现 clock 和 bmal1 的敲除可以引起形态上相应的改变，包括引起细胞细胞核的减小。
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/blog-child35.6.png" | prepend: site.url.assets }}'}
%p 同时如果使用流式细胞仪对细胞表面的干性 marker，可以看到有相应的下调。同时在细胞周期上，生物节律相关基因的敲除引起细胞周期阻断在 G0 和 G1 期，相应的 SG2 M 期则减少。
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/blog-child35.7.png" | prepend: site.url.assets }}'}
%p 小伙伴们，你们是否还熬夜那？快快养成良好的生活习惯吧~~~
%p
  获取更多生物咨讯，请关注
  %a{href: '{{site.url.biogeek}}'} 生物极客
%img.am-img-responsive{src: '{{ "/images/blog-child29.17.png" | prepend: site.url.assets }}'}
