---
layout: post
image: /images/blog27.jpg
title: 快讯：“小诺贝尔奖”出炉，CRISPR 大牛张锋与 Doudna 共同获奖
---
%p 加拿大盖尔德内尔基金会网站近日公布了 2016 年加拿大盖尔德内尔奖（Canada Gairdner Awards）的获得者名单，共有来自美国、德国、法国和加拿大的 7 名科学家摘取了该奖的三个子奖项。每位获奖者在获得 10 万加元奖金的同时，也“提升”了荣膺诺奖的几率。
%img.am-img-responsive{src: '{{ "/images/blog-child27.1.png" | prepend: site.url.assets }}'}
%p
  美国麻省理工学院（MIT）华人科学家张锋，美国加州大学伯克利分校（UC Berkeley）分子与细胞生物学教授 Jennifer Doudna，德国马普研究所（MPI）主任 Emmanuelle Charpentier，法国杜邦（DuPont）资深科学家 Philippe Horvath，美国北卡州立大学（NCSU）副教授 Rodolphe Barrangou 等 5 名
  %a{href: '{{ "/solution" | prepend: site.url.service }}'} 基因编辑
  技术“先锋”获得了加拿大盖尔德内尔国际奖。美国国立过敏与传染病研究所（NIAID）主任 Anthony Fauci 获得了加拿大盖尔德内尔全球健康奖。加拿大公共健康局（CPHA）特别顾问 Frank Plummer 获得了加拿大盖尔德内尔怀特曼奖。
%p 加拿大盖尔德内尔奖有“小诺贝尔奖”之称。迄今为止，在 300 多名已获奖者中，有 80 名在获此殊荣后荣膺诺贝尔生理学或医学奖。加拿大盖尔德内尔奖于 1959 年由加拿大盖尔德内尔基金会创设，主要奖励在世界医学领域有重大发现和贡献的科学家。加拿大盖尔德内尔奖每年评选出五名国际奖获得者、一名健康奖获得者及一名怀特曼奖获得者。
%p
  欢迎大家关注我们的公众号，
  %a{href: '{{site.url.biogeek}}'} 生物极客
%img.am-img-responsive{src: '{{ "/images/blog-child15.6.png" | prepend: site.url.assets }}'}
