---
layout: post
image: /images/blog53.jpg
title: 中山大学课题组 Cell 解析获得性免疫起源<small>#跟 CNS 学思维#</small>
---

:css
 p {
  margin-top:10px;
  margin-bottom:10px;
 }
 h3 {
 font-size:18px;
 font-weight: bold;
 }
%p 小伙伴们，大家好，今天我们来学习cell的一篇文章，既然我们的标题是#跟 CNS 学思维#，牛皮不是吹的，火车不是推的，既然是学习思维，无论我们在哪一个领域，无论我们是不是研究免疫，我们都可以从中学习有助于我们课题的思维方式。<br>废话不多说了，首先我们需要问第一个问题：<br>徐安龙教授是如何想到这个课题的？<br>为什么这个课题重要？<br>我们自己做课题时候，该如何设计课题？<br>第一个问题，如何想到这个课题，我们先来看看他们回答了什么问题：<br>如下图：
%img.am-img-responsive{src: '{{ "/images/blog-child53.1.png" | prepend: site.url.assets }}'}
%p 在哺乳动物中，抗体和T细胞受体的产生是通过 V（D）J 重组形成的：
%img.am-img-responsive{src: '{{ "/images/blog-child53.2.png" | prepend: site.url.assets }}'}
%p 就是说在初始淋巴器官，B 细胞在骨髓，T 细胞在胸腺中，以近乎随机的方式，重排 V JD 这三个基因片段，最终产生 Igs 和 TCR 上新的抗原结合区域。在 1987年 Susumu Tonegawa 由于发现产生抗体多样性的机制，而获得诺贝尔医学奖。
%img.am-img-responsive{src: '{{ "/images/blog-child53.3.png" | prepend: site.url.assets }}'}
%p 好，那问题来了，既然是在有颌脊椎动物才有这样的基因重排形成，那么在进化上，脊椎动物是如何获得这一系统的？
%h3 思维一：从进化的眼光看问题
%p
 徐安龙课题组长期致力于文昌鱼的免疫系统的研究，文昌鱼虽然是不起眼的小动物，但它是从低级
 %a{:href=>'http://baike.baidu.com/view/3868.htm'} 无脊椎动物
 进化到高等脊椎动物的中间过渡的动物，也是
 %a{:href=>'http://baike.baidu.com/view/17224.htm'} 脊椎动物
 祖先的模型。文昌鱼的摄食、排泄等机能都象无脊椎动物的形式，但血管系统、呼吸系统、神经系统和胚胎发生过程都有了脊椎动物的模样。
%img.am-img-responsive{src: '{{ "/images/blog-child53.4.png" | prepend: site.url.assets }}'}
%p 好，文昌鱼可以说是无脊椎动物到脊椎动物过渡的物种，那么如果说文昌鱼中发现有相应的系统，则对于免疫系统的进化有着非常高的认知，认知什么那？<br>这得从 VDJ 重组的机制上说起：<br>正如上面的图所示，
%img.am-img-responsive{src: '{{ "/images/blog-child53.5.png" | prepend: site.url.assets }}'}
%p RAG1 RAG2 复合体识别基因组上的 12RSS 和 23RSS 区域，然后切下来相应的片段，然后基因组通过 NHEJ 进行连接。这一系统非常类似转座子，那么是否真的是由转座子最初提供这一系统？虽然大家有着种种猜测，真正的证据才是需要的，而这就是本篇文章回答的问题。
%h3 思维二：正确使用基因组测序数据，加速发现研究
%p 很多课题组也做测序，但往往无法真正有效的发现背后所代表信息，而围绕某一具体问题，使用比较基因组的数据进行分析，则可以发现有价值的宝藏。
%img.am-img-responsive{src: '{{ "/images/blog-child53.6.png" | prepend: site.url.assets }}'}
%p 在 14年，徐安龙课题组就已经对文昌鱼的基因组进行了测序。<br>通过对基因组进行分析，他们发现了一个潜在的转座子元件。
%img.am-img-responsive{src: '{{ "/images/blog-child53.7.png" | prepend: site.url.assets }}'}
%span 在文昌鱼中，有完整的 TSD 和 TIR 序列。
%h3 思维三：体外重构思路证明相应猜想
%p 在拿到基因组相应的信息后，通过合理的设计相应的体外系统，验证类 RAG1 和 RAG2 蛋白从而探究相应的活性。
%img.am-img-responsive{src: '{{ "/images/blog-child53.8.png" | prepend: site.url.assets }}'}
%p 这里科学家们使用质粒上插入一个 polyA 阻断 GFP 的表达，如果具备相应的切割活性，则可以删除 PolyA ，进而表达 GFP 。
%img.am-img-responsive{src: '{{ "/images/blog-child53.9.png" | prepend: site.url.assets }}'}
%h3 总结起来：
%p 随着二代测序已经成为普通的实验技术，如何从数据中进行比较，尤其是对于传统生化课题组而言，围绕某一专业问题，使用专业眼光进行合理的数据挖掘，将是提升了有利空间。对于生物信息相应课题组，对于某一特意系统的注释分析和发掘，有助于其他课题组的工作开发，同时也是有益的探索。从思维上来讲，横向比较，求同存异，找出核心的关键是发现和探究了有力工具。

