---
layout: post
image: /images/blog24.jpg
title: T 细胞疗法治疗实体瘤获得巨大突破
---
%h2 问题
%p
  %strong 为什么 T 细胞免疫疗法治疗实体瘤效果不好？
%p.am-margin-bottom-xl
  %strong 科学家们如何克服这一障碍实现有效治疗？
%p 大家好，昨天我们一同学习了使用抗体增强 PD-L1 的疗效，在免疫治疗领域，除了抗体疗法外，最大的明星莫过于 T 细胞疗法，T 细胞疗法主要包括 CarT 和 TCR 疗法，然而，无论是 CarT 还是 TCR 都受到实体瘤的限制，今天我们一同来学习 Cancer Cell 上另外一篇文章，寻找新抗原打破免疫与物理障碍治疗胰导管癌。
%p 胰腺导管癌（PDA）空前的致死率一直居高不下，令人惊奇的是尽管胰腺导管癌也有一定的基因组不稳定性，但是相对于其他癌症来说，PDA 拥有更少的编码突变。
%p
  %strong 为什么胰腺导管癌反而是最可怕的癌症？
%p 胰腺导管癌通过多种途径增强肿瘤发生率，比如产生免疫抑制阻碍内源 CD8 T 细胞浸润和活性。有限的癌症抗原加上抑制的肿瘤免疫微环境对于胰腺导管癌的免疫阻断失灵起到关键性的作用。
%p
  %strong 胰腺导管癌是如何实现免疫抑制？
%p 首先胰腺导管癌通过物理屏障，阻碍 T 细胞进入。目前一些提高内源 T 细胞活性的疗法展现了一定虽然是比较瞬时的活性，比如通过疫苗诱导 mesothelin 特异的 T 细胞活化对于晚期 PDA 病人有一定效果，特定抑制 MDSCs 抑制性免疫细胞可以唤醒内源 T 细胞活性。
%p 突变蛋白是一类理想的靶向抗原，比如 KRASg12d 突变等，然而这一疗法罕有成功，有可能与 MHC 呈递活性低有关，另一类可以用于免疫治疗的抗原是异常表达的自身抗原，在发育过程中，针对于自身抗原的 T 细胞被清除，所以体内并未有高活性的 T 细胞库。
%p 但是人类的思维是无限的，我们可以寻找高活性的 TCR 导入到 T 细胞中。
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/blog-child24.1.png" | prepend: site.url.assets }}'}
%p 为了真实还原免疫环境和模拟免疫屏障，科学家们使用 Kras Trp53 p48 突变的杂交鼠（KPC）。
%p KPC 小鼠可以随机发展成胰腺上皮瘤，同时最终具备侵袭能力。通过组织染色可以清晰的看到胰腺导管癌中有相应的腺体状结构，丰富的免疫浸润，高致密的细胞外基质，与人的 KPC 疾病相比具备高的相似。
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/blog-child24.2.png" | prepend: site.url.assets }}'}
%p 同时 KPC 小鼠的 PDA 中也可以发现存在肝脏肺部纵膈的侵袭。
%p 这些证据表明这一小鼠模型是非常理想的动物模型。
%p
  为了更好的设计 T 细胞疗法，科学家们首先对于 PDA 组织样本和疾病模型样本进行组织染色，
  %a{href:'{{ "/solution/high-throughput-edting" | prepend: site.url.service }}'} 寻找潜在的抗原靶点
  。
%p 可以看到癌组织内和癌组织间有着很高的复杂性，很多可以作为免疫治疗的 target，包括 WT1，MUC1，ANXA2，其中 WT1 在正常胰腺组织中没有表达，主要表达在前侵袭和侵袭后的基质细胞中，MUC1 在正常的胰腺中有一定的表达。
%p
  ANXA2 在正常胰腺导管中有较低的表达，但是在
  %a{href: '{{ "/product/transgenic-mice" | prepend: site.url.service }}'} 动物模型
  和 PDA 病人中具备很高的表达，在比较了所有的可能的肿瘤抗原后，科学家们，认为 MSLN 在所有前侵袭，侵袭中的癌症组织中都有较高的表达，同时 MSLN 高表达的细胞具有细胞角蛋白的表达，同时高表达 Tp53。
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/blog-child24.3.png" | prepend: site.url.assets }}'}
  %img.am-img-responsive{src: '{{ "/images/blog-child24.4.png" | prepend: site.url.assets }}'}
  %img.am-img-responsive{src: '{{ "/images/blog-child24.5.png" | prepend: site.url.assets }}'}
%p 从上面的结果中，我们可以看到 MSLN 是一种较好的抗原靶点，Mesothelin 在一部分正常的组织中有表达，但是并不是必须的基因，在一些正常细胞比如胸腺等有表达。同时高表达 MSLN 的细胞更具侵袭力。
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/blog-child24.6.png" | prepend: site.url.assets }}'}
%p
  %strong 如何寻找对于 MSLN 高活力的 TCR？
%p 科学家们，使用了 MSLN-/- 的小鼠，使用腺病毒表达 MSLN，诱导活性 T 细胞表达，T 细胞特异针对于表位 343-352 和 484-492 等位置的克隆被分离出来。但是对于 406 到 414 位置正常的小鼠也可以产生相应的免疫反应。通过将从正常动物和缺失突变的小鼠中分离得到的 T 细胞克隆对比发现，MSLN 缺失的小鼠分离的 T 细胞克隆 TCR 链更稳定，具备更好的亲和力。
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/blog-child24.7.png" | prepend: site.url.assets }}'}
%p 科学家们，将获得的 TCR 序列通过慢病毒方式整合到 P14 T 细胞中，可以清晰的发现，MSLN 突变小鼠获得的 TCR，活性远远高于 wild type 的小鼠。
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/blog-child24.8.png" | prepend: site.url.assets }}'}
%p 为了评估 CD8 对于 TCR 活性的影响，科学家们在 CD8-TCR- 的细胞系中，组合整合 CD8 和 TCR，可以发现 CD8 对于 TCR74331 有明显的开关性的影响。说明 TCR1045 还可以应用于 CD4+T 细胞中。
%p 最终科学家们，得到了 TCR1045 这个高活性的 TCR 受体。
%p 接下来，激动人心的时刻就要到了，科学家们，将 TCR1045 应用于 T 细胞免疫治疗。可以看到 TCR1045 可以显著的延长存活率。
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/blog-child24.9.png" | prepend: site.url.assets }}'}
%p 肿瘤免疫日新月异的改变我们的生活，期待不远的将来，我们将获得重要的突破！
%p
  欢迎大家关注我们的公众号，
  %a{href: '{{site.url.biogeek}}'}生物极客
%img.am-img-responsive{src: '{{ "/images/blog-child15.6.png" | prepend: site.url.assets }}'}
