---
layout: post
image: /images/blog23.jpg
title: 重大突破！ 新型抗体逆转肿瘤微环境实现PD-L1免疫阻断
---
%p 小伙伴们大家好，阳春三月，繁花似锦，大家有没有觉得需要加深一下对文献的阅读呀，今天让我们来一起阅读最新一期 Cancer cell 上的中国科学家的工作，逆转肿瘤微环境，帮助 PD-L1 免疫阻断。
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/blog-child23.1.png" | prepend: site.url.assets }}'}
%p 程序性细胞死亡受体，（PD-1）和配体 PD-L1 信号通路在免疫检查点监控保护自身免疫上扮演重要的角色，越来越多的科学研究也表明，PD-1 信号也被肿瘤细胞用于逃避抗肿瘤免疫。
%p
  最近使用抗 PD-1 和 PD-L1 的单克隆抗体在一些类型的
  %a{href: '{{ "/solution/high-throughput-edting" | prepend: site.url.service }}'}癌症
  病人中展现了前所未有的良好反应，但是很遗憾，只有一部分被治疗的病人能够相应目前的免疫疗法，因此一个很关键的问题：
%p 如何确定免疫疗法中关键的响应因素？
%p 如何增加病人的反应比例？
%p 最近的临床试验表明，PD-1、PD-L1 的表达与对于 PD-1 和 PD-L1 的免疫治疗相应息息相关，同时，另外的一些课题组表明，出现肿瘤浸润淋巴细胞（TILs）是重要的 biomarker。有趣的人更早的研究表明 TILs 往往预示着更好的预后。
%p 但是肿瘤微环境倾向于抑制激活的 T 细胞，同时阻断 T 细胞活化。
%p 那么是否可以改变肿瘤微环境，激活肿瘤免疫？
%p 来自中科院生物物理所的科学家们，解决了这一国际难题！
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/blog-child23.2.png" | prepend: site.url.assets }}'}
%p 他们发现通过上调 LIGHT（淋巴毒素类似蛋白）可以活化 T 细胞，并且动员 T 细胞进入非淋巴组织，形成淋巴结类似结构。  是一种常见的共刺激分子，LIGHT 主要表达在未成熟的 DC 细胞和激活激活的 T 细胞上，如果强力表达 LIGHT 在肿瘤细胞上，可以推动形成淋巴结样结构，促进 T 细胞活化，导致 T 肿瘤消退。
%p LIGHT 作为配体蛋白可以结合两种不同的受体，首先是 HVEM，也叫作 TNFSF14，和 lymphotoxinβ 受体，LIGHT 结合 HVEM 可以向T细胞传递共刺激信号，同时 LIGHT 结合到 LTβR 受体，对于形成淋巴结样结构起到至关重要的作用。
%p 那么科学家在想，是否我们可以通过提高 LIGHT 的表达，促进肿瘤免疫，进一步活化 PD-L1 阻断？
%img.am-img-responsive{src: '{{ "/images/blog-child23.3.png" | prepend: site.url.assets }}'}
%p TILs 和 PD-L1 的表达是否对于免疫阻断起到关键的作用？为什么有的癌症病人起作用，有的癌症病人并不可以那？
%p 为了回答这一问题，科学家首先探究了 mouse tumor 细胞系的 PD-L1 的表达和对于抗 PD-L1 的相应，很有趣的是，他们发现细胞系 MC38 和 Ag104Ld 与临床上两种情况非常类似，他们都高表达 PD-L1，但是对于抗 PD-L1 的相应很不同。当使用干扰素刺激后，两种细胞都可以表达 PD-L1
%img.am-img-responsive{src: '{{ "/images/blog-child23.4.png" | prepend: site.url.assets }}'}
%p 说明两种肿瘤细胞系在 PD-L1 的机制上并不存在问题，不仅如此，通过抗 PD-L1 免疫治疗，肿瘤细胞的大小很不相同。
%img.am-img-responsive{src: '{{ "/images/blog-child23.5.png" | prepend: site.url.assets }}'}
%p 但是无论是体外和体内细胞实验，两者都可以高表达.
%img.am-img-responsive{src: '{{ "/images/blog-child23.13.png" | prepend: site.url.assets }}'}
%p 同时 MC38 细胞系中淋巴细胞比例更高，（CD3和CD8），同时科学家们，探究是否减少浸润淋巴细胞可以阻断肿瘤生长，科学家们使用小分子药物 FTY720，可以诱导 s1p 受体的内化，从而介导 SIP 受体降解，进而淋巴细胞无法从淋巴结中离开。
%p 当注入 FTY720 后，可以减少大约 90% 的外周淋巴细胞，当在 MC38 细胞系中注入 FTY720 后，抗 PD-L1 的抗体的抗体被完全降低。
%img.am-img-responsive{src: '{{ "/images/blog-child23.6.png" | prepend: site.url.assets }}'}
%p 通过建立上述免疫模型，科学家们探究是否增加肿瘤组织中的 TILs
%p 进一步提高 pD-L1 的疗效，比如在 Ag104Ld 模型中，可以增强相应的 TiLs 细胞，进而提高 PD-L1 的疗效，最初科学家们，使用重组 LIGHT 蛋白靶向肿瘤组织并未成功，由于 mLIGHT 并不稳定，而且容易发生聚集，虽然人源的 LIGHT 更加稳定，但是无法结合到 mouse 的 LIGHT 中，因此无法应用于实验动物模型，为寻找稳定且可以同时结合 mouse 和 human 的 LIGHT，科学家们，利用酵母表面筛选技术寻找更好版本 LIGHT。
%img.am-img-responsive{src: '{{ "/images/blog-child23.7.png" | prepend: site.url.assets }}'}
%p 通过易错PCR，科学家们选择可以更好结合受体的LIGHT版本，不仅如此，具有更高的热稳定性。
%img.am-img-responsive{src: '{{ "/images/blog-child23.8.png" | prepend: site.url.assets }}'}
%p 为了确定从酵母展示系统中分离得到的 hmLIGHT，具备很好的生物活性，科学家们首先制备 hmLIGHT 重组蛋白，首先他们验证到 hmLIGHT 可以结合到受体上。
%img.am-img-responsive{src: '{{ "/images/blog-child23.9.png" | prepend: site.url.assets }}'}
%p 同时科学家们发现 hmLIGHT 可以很好的激活细胞以剂量的方式促进 IFN 的表达。但是人源的 hLIGHT 只有有限的活性。
%p 不过，要想使用 hmLIGHT，还需要动一番脑筋，如果全身注射 hmLIGHT 则会引起很强的免疫反应，那么如何局部在肿瘤细胞部位发挥 LIGHT 的功能那？
%img.am-img-responsive{src: '{{ "/images/blog-child23.10.png" | prepend: site.url.assets }}'}
%p 科学家们设计融合 EGFR 抗体和 LIGHT 的联用抗体，联合抗体可以特异性的结合 EGFR 和 mHVEM，不仅如此，抗体可以诱导 IFN 的表达。
%img.am-img-responsive{src: '{{ "/images/blog-child23.11.png" | prepend: site.url.assets }}'}
%p 那么是否联用抗体真的可以促进肿瘤的消退那？
%p 我们可以看到
%img.am-img-responsive{src: '{{ "/images/blog-child23.12.png" | prepend: site.url.assets }}'}
%p 肿瘤大小并未得到增长。
%p 越来越多的中国科学家在免疫学崭露头角，我们期待更多的中国角色！！
%p
  欢迎大家关注我们的公众号，
  %a{href: '{{site.url.biogeek}}'}生物极客
%img.am-img-responsive{src: '{{ "/images/blog-child15.6.png" | prepend: site.url.assets }}'}
