---
layout: post
image: /images/blog19.jpg
title: 史上最全单细胞测序教程(三)
---
%h2 ＃史上最全单细胞测序第三讲-数据处理篇＃ By 大程
%p 大家好，学完前两讲后，有没有对于单细胞测序有一个初步的认识那？so~~问题来了，什么是 STRT?
%p
  想不起来了不要紧，关注
  %a{href: '{{site.url.biogeek}}'} 生物极客
  公众号，查看历史消息，可以了解单细胞测序的相关内容，前两讲，我们主要讲述了单细胞基因组测序和 RNA-seq 的相关技术细节，今天我们主要来聊一聊如何利用单细胞 RNA-seq 数据，进行数据挖掘？
%p 首先让我们来考虑一个非常关键性的问题，当我们如果想做单细胞测序，那么我们应该如何设计我们的实验？
%p 说的更直白一些，我们需要测多少细胞？测多深？
%p 单细胞 RNA-seq 为我们了解组织的组成等提供非常好的工具，而单细胞测序的效果也取决于我们到底测多少细胞，一般而言几百个细胞的单细胞测序不仅仅捕获常见的细胞成分，对于一些稀少的细胞类型也会测到，不过，需要考虑的情况是我们捕获细胞的方法是否具备一定的偏颇？比如不同类型细胞细胞的大小？细胞的形态？是否会对细胞的获取有所倾向？同时我们还需要实验产生的误差，我们需要估计我们所操作的成功率，由于 RNA 降解，细胞的凋亡等，这些数据将会被排除，我们初始选择的细胞个数往往会大于我们目标测序的细胞个数。
%p 那么第二个问题，我们需要测多深？
%p 如果我们使用 UMI 计数方法（ UMI 计数，是指在建库过程中，通过在引物上，增加随机序列，则对于同一种 mRNA 连上同样的 UMI 概率几乎为 0，则我们可以忽略由于 PCR 造成的误差，对于一种 mRNA，测到的 UMI 数量可以近似看成 mRNA 的表达个数），推荐至少每一个转录本至少覆盖 3-4 倍，确保一些低表达的 mRNA 不会因为 noise 而被忽略，一般而言，illumina 的一条 lane 中最终可以被使用的数据大概占 50%，另一些 reads 因为实验技术所限，为一些 adaptor 等无效序列。
%p 这里我们做一个计算题：
%p 一个细胞假设我们最终想得到大概 10000 种转录本的信息，那么对于一个 lane 而言（ nextseq 机器可以有 200million 条 reads ），那么可以测多少细胞那？200,000,000/10000/4/2=2500 大概可以测 2500 个细胞！好了，那我们假设如果我们获得了数据后，那我们该如何进行下一步的数据分析那？
%img.am-img-responsive{src: '{{ "/images/blog-child19.1.png" | prepend: site.url.assets }}'}
%p 首先我们需要对测序的质量进行评估，截去低质量部分，这里推荐的工具为 Fastqc，以往的文章中，大程跟大家介绍过 fastqc，还记得不？
%img.am-img-responsive{src: '{{ "/images/blog-child19.2.png" | prepend: site.url.assets }}'}
%p 这里小编推荐大家最终截取的长度需要大于 35bp，保证匹配的真实性，对质量进行评估后，我们需要进行匹配，常用的包括 BWA，bowtie 等，好了问题来了，我们选择什么作为 reference？
%p 如果我们选择基因组作为 reference，那么一个显著的问题是可能匹配到假基因等位置，影响我们的定量评估。
%p 使用转录组作为参考可以显著的减少比对空间，考虑到不同的剪切问题，如果我们对于不同转录本，没有要求的话，推荐大家使用多转录本 merge 的序列。注意了，注意了，注意了！！
%p 因为大部分单细胞测序主要是富集 3‘UTR 部分，那么如果我们使用 cufflink,就会造成很大的问题，当我们比对完后，需要确定每个转录本的表达量，前面我们说到UMI用于 RNA 的计数，在计数前，我们还需要对不同的 cell 进行滤过。
%img.am-img-responsive{src: '{{ "/images/blog-child19.3.png" | prepend: site.url.assets }}'}
%p 由于存在 RNA 降解等多种问题，这里我们需要考虑到去除一些低转录本等情况，同时我们还需要考虑去除低扩增效率的 cell 等。那么我们如何比较不同 cell 之间的差异那？首先需要做的便是归一化，这里跟大家介绍使用 spike-in RNA 进行归一化的方法，spike-in RNA 往往是我们在建库过程中使用的人为计数后，掺入的 RNA，可以帮助我们对不同 cell 之间的进行横向的比对，如果我们没有 spike-in 怎么办呐？也不必害怕，往往简单的将总共转录本进行计数，也是可以的。我们可以将所有的 cell 归一化到 reads 总数是中位数的细胞的 reads 总数中，或者将所有细胞归结成同样的 reads，被称为 down-sampling。
%img.am-img-responsive{src: '{{ "/images/blog-child19.4.png" | prepend: site.url.assets }}'}
%p 在获得不同细胞不同基因的表达后？我们该如何从中挖掘出我们想要的信息那？首先如果我们对一个组织或者器官等进行单细胞测序，我们首先能做的便是分析其中可能的细胞亚类。
%img.am-img-responsive{src: '{{ "/images/blog-child19.5.png" | prepend: site.url.assets }}'}
%p 我们可以使用主成分分析（PCA）等，对细胞群进行聚类分析，我们可以利用第一主成分，第二主成分等对细胞进行分类，如果我们想要了解精细的细胞类别，我们可以结合使用层次聚类方法。不过我们需要考虑由于 batch effect 造成的假阳性聚类问题等。另外还需要考虑由于细胞本身，比如细胞处于不同细胞周期造成的异质性，当然我们可以通过微流控技术在最开始的过程中，就减少可能存在的复制中的细胞，另外我们也可以对于 cell-cycle related 基因变化进行剔除。
%p 聚类中，一个比较难的地方，在于如何鉴定一些稀少的细胞类型，对于一些占比重 1% 以下的细胞，该如何进行聚类那？,
%p 近期有一个课题组通过首先使用 k-means 聚类方法寻找常见的细胞类型，进而对于 outlier 进行 screen 寻找。
%p 这个方法（RaceID）以高敏感性寻找到了一些在肠道中稀有的细胞群落。
%p 那么我们找到这些不同类型的细胞类型后，我们该干什么那？
%p 一个很关键的问题，我们需要鉴定一些 marker gene，比如我们可以使用差异基因分析工具，诸如 DESeq 等来推测相关 marker 基因知道下游的分析。
%p 大家有没有听懂那？
%p 参考文献：
%img.am-img-responsive{src: '{{ "/images/blog-child19.6.png" | prepend: site.url.assets }}'}
%p Tang, F., Barbacioru, C., Wang, Y., Nordman, E., Lee, C., Xu, N., Wang, X.,Bodeau, J., Tuch, B.B., Siddiqui, A., et al. (2009). mRNA-Seq whole-transcriptome analysis of a single cell. Nat. Methods6, 377–382.

%p
  欢迎大家关注我们的公众号，
  %a{href: '{{site.url.biogeek}}'}生物极客
%img.am-img-responsive{src: '{{ "/images/blog-child15.6.png" | prepend: site.url.assets }}'}
