---
layout: post
image: /images/blog29.jpg
title: 如何研究 lncRNA？＃合生学院 第二讲＃
---
%p
  大家好，今天我们一同走进
  %a{href: '{{ "/solution/lncRNA-knock-down" | prepend: site.url.service }}'} lncRNA 
  的领域，lncRNA 越来越引起人们的重视，在肿瘤的发生发展过程中，也被认为扮演重要的角色，那么如何使用 lncRNA 的表达数据进行大数据挖掘，发现背后潜在的规律？
%p 当我们遇到感兴趣的 lncRNA，如何进一步研究背后潜在的机制？
%p 我们可以通过下面的视频来学习一下
%div
  %embed.am-center{:allowFullScreen => "true", :allowScriptAccess => "always", :height => "502.5", :quality => "high", :src => "http://static.video.qq.com/TPout.swf?vid=n0190a4du0o&width=500&height=375&auto=0", :type => "application/x-shockwave-flash", :width => "670"}
%p.am-text-center 以下是课件 PPT，供大家阅读参考
%img.am-img-responsive{src: '{{ "/images/blog-child29.1.png" | prepend: site.url.assets }}'}
%img.am-img-responsive{src: '{{ "/images/blog-child29.2.png" | prepend: site.url.assets }}'}
%img.am-img-responsive{src: '{{ "/images/blog-child29.3.png" | prepend: site.url.assets }}'}
%img.am-img-responsive{src: '{{ "/images/blog-child29.4.png" | prepend: site.url.assets }}'}
%img.am-img-responsive{src: '{{ "/images/blog-child29.5.png" | prepend: site.url.assets }}'}
%img.am-img-responsive{src: '{{ "/images/blog-child29.6.png" | prepend: site.url.assets }}'}
%img.am-img-responsive{src: '{{ "/images/blog-child29.7.png" | prepend: site.url.assets }}'}
%img.am-img-responsive{src: '{{ "/images/blog-child29.8.png" | prepend: site.url.assets }}'}
%img.am-img-responsive{src: '{{ "/images/blog-child29.9.png" | prepend: site.url.assets }}'}
%img.am-img-responsive{src: '{{ "/images/blog-child29.10.png" | prepend: site.url.assets }}'}
%img.am-img-responsive{src: '{{ "/images/blog-child29.11.png" | prepend: site.url.assets }}'}
%img.am-img-responsive{src: '{{ "/images/blog-child29.12.png" | prepend: site.url.assets }}'}
%img.am-img-responsive{src: '{{ "/images/blog-child29.13.png" | prepend: site.url.assets }}'}
%img.am-img-responsive{src: '{{ "/images/blog-child29.14.png" | prepend: site.url.assets }}'}
%img.am-img-responsive{src: '{{ "/images/blog-child29.15.png" | prepend: site.url.assets }}'}
%img.am-img-responsive{src: '{{ "/images/blog-child29.16.png" | prepend: site.url.assets }}'}
%p
  欢迎大家关注我们的公众号，
  %a{href: '{{site.url.biogeek}}'} 生物极客
%img.am-img-responsive{src: '{{ "/images/blog-child29.17.png" | prepend: site.url.assets }}'}
