---
layout: post
image: /images/blog47.jpg
title: 施一公学生的博士毕业论文长啥样？
---
%p 大程
%p 大家好，俗话说的好，榜样的力量是无穷的，今天小编近水楼台先得月，跟大家一起拜读参与施一公教授多项重大成果的闫创业博士的博士论文。
%img.am-img-responsive{src: '{{ "/images/blog-child47.1.png" | prepend: site.url.assets }}'}
%p 清华大学生命学院博士闫创业，是保定一中 2005 届理科实验班毕业生。闫创业同学在 2004 年的全国生物奥赛中取得前四名荣获全国金奖，并入围全国生物冬令营，一举获得直接进入清华大学。
%img.am-img-responsive{src: '{{ "/images/blog-child47.2.png" | prepend: site.url.assets }}'}
%p 蛋白质晶体的解析是结构生物学中重要的步骤，闫博士主要着眼于大的复合体和膜蛋白的晶体解析，在博士论文中，闫博士主要是以多个复合体的解析来展示晶体解析中的相关开创性的进步。
%p 8月21日著名的《科学》杂志在线发表了施一公教授研究组的两篇具有里程碑意义的论文，这两篇论文宣布，得到了高分辨率的剪接体三维结构和剪接体对前体信使 RNA （核糖核酸）执行剪接的基本工作机理，从而将分子生物学的“中心法则”在分子机理的研究上大幅度向前推进，为研究老年痴呆症发病机理，开发高效药物提供了重要的分子基础。这一研究成果标志着人类对生命过程和本质的理解往前迈进了关键一步，是生物科学基础原理研究领域的重大突破，被誉为近 30 年中国在基础生命科学领域对世界科学做的最大贡献。　
%p{:style => "text-indent:2em"}  施一公介绍，在所有真核生物中，基因表达分第一步转录、第二部剪接和第三部翻译组成。目前，第一步与第三步中的关键催化机器 RNA 聚合酶与核糖体的结构解析已分别被授予 2006 年和 2009 年的诺贝尔化学奖。基因表达第二步中的关键分子机器剪接体的原子结构解析因其复杂性难度巨大，20 年来全世界许多一流实验室都在攻坚，却无突破。
%p{:style => "text-indent:2em"}  在施一公特意提到的这张幻灯片上，是 5 个年轻人的照片：闫创业、杭婧、万蕊雪，还有先期参与课题、已经留学的周丽君、周雨霖。前 3 个人是这两篇文章的共同第一作者。3 人中，年龄最大的闫创业不过 30 岁。正是这 3 个“毛头小子”，在施一公的带领下，破解了困扰科学界 30 年的世界级难题。
施一公把第一要素归结到 3 位弟子身上，他用了 3 个词形容他们：训练有素、有胆识、沉得住气。其中，闫创业在团队负责电镜样品数据收集、解析，他知道什么样的图像最适合收集。数据收集后的处理、分子建模也归他负责。这是闫创业的专长，他甚至为此专门写了个脚本，如何处理这些图像。从今年 4 月起，闫创业花了两个多月时间在搭建模型。“最大的惊喜来自小闫。”施一公说，因为此前人类对基因剪接体的认识精度只有 29 个埃米（1 埃即纳米的十分之一，10 的负 10 次方米），他跟闫创业说，只要做到 20 埃以内就可以。
%p{:style => "text-indent:2em"}  第一次，用粗的数据算，结果是 11 埃、12 埃，有戏！
%p{:style => "text-indent:2em"}  过了几天，算出 7 埃，施一公问闫创业，还能不能再往前推？他答：好！
%p{:style => "text-indent:2em"}  再过几天，算出 5.4 埃、5.3 埃！
%p{:style => "text-indent:2em"}  3.9 埃！最后是 3.6 埃！
%p{:style => "text-indent:2em"}  3.6 埃的分辨率是啥概念？几乎看到原子。而且这个 3.6 埃是平均值，局部达到 2.9 埃，核心部分在 3.0 埃到 3.3 埃之间。“整个 4 月，像是做白日梦一样！”施一公说，课题进展势如破竹，这在几个月之前想都不敢想。
%p{:style => "text-indent:2em"}  可是，之前有两年的时间，他们没有任何成果，过得又很苦，压力之大，外人无法想象。可就是这点，让老师格外赞赏，“他们很沉得住气，我特别不同意科研凭运气的说法，哪有运气，哪有捷径？”施一公说。
%p{:style => "text-indent:2em"}  在这项研究的最后冲刺阶段，3 个人跟着老师每天“玩儿命写论文”，半个月的时间里，早的时候写到凌晨两点，晚的时候写到凌晨五六点，整个团队处在亢奋状态中。在施一公看来，每名学生有自己的特点，他们最需要做的，就是充分发挥自己的能力特长，通过长期严格的科研训练，在一个领域里做到极致。而这一过程，只能靠在实验室和团队中，通过导师的指导和引领、师兄师姐与师弟师妹之间手把手教学，以及大量的训练才能完成，“这就是积累和传承。”施一公说。
月，像是做白日梦一样！”施一公说，课题进展势如破竹，这在几个月之前想都不敢想。
%p{:style => "text-indent:2em"}  “术业有专攻，小闫在这方面比我强。”施一公诚恳地说，2000 多幅图片，每幅图片上 100 多个单颗粒，没有好的方法，根本不可能尽快做出来。《科学》的论文一发表，就有一些国际上的知名团队想吸引闫创业加入。
%img.am-img-responsive{src: '{{ "/images/blog-child47.3.png" | prepend: site.url.assets }}'}
月，像是做白日梦一样！”施一公说，课题进展势如破竹，这在几个月之前想都不敢想。
%p{:style => "text-indent:2em"}  上图是闫创业博士的博士毕业论文的目录，我们可以看到思路非常清晰，而且深入浅出，连对结构生物学没有任何背景的小编，都跃跃欲试，想拿来读一读。
在最后的致谢中：
%img.am-img-responsive{src: '{{ "/images/blog-child47.4.png" | prepend: site.url.assets }}'}
%p 可以看到闫创业博士博采众长，分别从施一公老师，王佳伟老师，颜宁老师，王宏伟老师处学习，这些老师和伙伴们对闫创业博士的帮助和指导，可以归结为以下几类：
%ol
	%li 对问题深入的理解、敏锐的观察力
	%li 认真求实的态度
	%li 勤勉的工作态度，认真严格的科研精神
	%li 时刻保持最好的心态。
%p 史迈尔斯曾经说过，最伟大的人不是轻视日常小事的人，而是对这些事情予以缜密的注意并加以改进的人。我们相信中国有了施一公这样的团队，有了闫创业这样的博士，中国的科研复兴的希望就在前方！

