---
layout: post
image: /images/blog26.jpg
title: “自私”与“无私”，这是一个问题
---
%p 加州大学洛杉矶分校（UCLA）的研究员 Leonardo 和同事进行了一项关于识别与’善解人意’思维相关脑区的研究。该研究吸收了 20 名参与者，研究者为每个参与者安排了’任务’，并在参与者进行’任务’时使用功能磁共振成像（fMRI）进行脑部扫描。
%img.am-img-responsive{src: '{{ "/images/blog-child26.2.png" | prepend: site.url.assets }}'}  
%p 首先，参与者需要完成两个任务：一、观看视频时，刺痛手；二、观察其他人的各种表情（如高兴、悲伤、生气）并完成模仿。Leonardo 在此研究中发现，杏仁核、皮层和大脑的前脑岛区域参与了模仿他人与经历痛苦和情感；而前额叶皮层的背外侧和背内侧区域对行为和冲动控制起关键作用。
%p 随后，参与者进行了一项被称为“独裁者游戏”的任务，这项任务需要进行 24 轮，参与者每轮得到 10 美元，并需要作出决定：选择将钱保留，还是愿意分享给陌生人（提供陌生人的年龄和收入等相关信息）。
%p 研究者发现，分享钱数最低（平均每轮分享 1-3 美元）的参与者中，其部分前额叶皮层活动相对活跃。而与疼痛知觉、情感和模仿相关的脑部区域更活跃的人群给出了他们 75% 的资金。
%img.am-img-responsive{src: '{{ "/images/blog-child26.1.png" | prepend: site.url.assets }}'}
%p 接下来，研究者又招募了 58 名参与者进行第二项研究。所有参与者接受了 θ 波脉冲经颅磁刺激，以暂时削弱大脑中特定区域的活动。其中，38 名参与者的前额叶皮层背外侧或背内侧（对行为和冲动控制起关键作用）被’冻结’，其他 20 名参与者则受到针对大脑视觉区域的活性抑制。
%p 之后，上述 58 名参加者需要参与“独裁者游戏”，并且对游戏结果与参与者大脑区域所受刺激进行关联分析。研究者发现，降低前额叶皮层背外侧或背内侧的活跃度，可以让参与者更加慷慨，提升的比例达到了 50%！ Leonardo 说：“通常情况下，参与者会根据需求给予，但是那些脑部区域受到伤害后，患者将会暂时失去对社会的判断能力，进而影响他们的行为。抑制这一区域的活动，我们看到的参与者是多么的无私。”
%p 以上研究结论发表在《Human Brain Mapping and Social Neuroscience》中。
%p
  欢迎大家关注我们的公众号，
  %a{href: '{{site.url.biogeek}}'}生物极客
%img.am-img-responsive{src: '{{ "/images/blog-child15.6.png" | prepend: site.url.assets }}'}
