---
layout: post
image: /images/blog28.jpg
title: 咱们一起画彩虹！#“极客与 EvaGreen ”有奖试用活动#
---
%p
  各位小伙伴们，您的好友“
  %a{href: '{{ site.url.biogeek }}'} 生物极客（BioGeek  ）
  ”已经上线！时隔一周，大家是不是有些想念呢？为了回报各位小伙伴对合生基因的大力支持，本次的活动奖励可谓是“重量级”~不过这次在看到奖品之前，大家要先拥抱一下本次活动的主角——荧光定量 PCR 染料 EvaGreen~
%img.am-img-responsive{src: '{{ "/images/blog-child28.1.png" | prepend: site.url.assets }}'}
%h2 奖品目录
%p
  %strong 一等奖（以下任选 1 项）
%p
  ① 价值 420 元
  %a{href: 'http://www.geshare.com.cn'} 基因山
  质粒 1 份+ 50 基因山 G 积分
%p ② 价值 419 元小蚁运动相机 1 部+ 50 基因山 G 积分
%p ③ 价值 200 元京东 E 卡 2 张+ 50 基因山 G 积分
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/blog-child28.2.png" | prepend: site.url.assets }}'}
%p.am-text-center 小蚁运动相机
%p
  %strong 二等奖（以下任选 1 项）
%p ① 价值 199 元 14 寸休闲双肩背包+ 30 基因山 G 积分
%p ② 价值 199 元微软无线激光鼠标 1 只+ 30 基因山 G 积分
%p ③ 价值 200 元京东 E 卡 1 张+ 30 基因山 G 积分
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/blog-child28.3.png" | prepend: site.url.assets }}'}
%p.am-text-center 微软无线激光鼠标
%p
  %strong 三等奖（以下任选 1 项）
%p ① 价值 99 元小米体重秤 1 台 +20基因山 G 积分
%p ② 价值 99 元小米手环（黑色）1 条+20 基因山 G 积分
%p ③ 价值 100 元京东 E 卡+ 20 基因山 G 积分
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/blog-child28.4.png" | prepend: site.url.assets }}'}
%p.am-text-center 小米智能体重秤
%p
  %strong 优胜奖
%p ① 价值 18.8 元萌萌哒陶瓷杯 1 个+ 10 基因山 G 积分
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/blog-child28.5.png" | prepend: site.url.assets }}'}
  %img.am-img-responsive{src: '{{ "/images/blog-child28.7.png" | prepend: site.url.assets }}'}
  %img.am-img-responsive{src: '{{ "/images/blog-child28.8.png" | prepend: site.url.assets }}'}
%p.am-text-center 萌萌哒系列陶瓷杯
%p
  %strong 纪念奖（若干）
%p ① 5 元微信红包+合生微收纳盒 1 个+ 10 基因山 G 积分
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/blog-child28.6.png" | prepend: site.url.assets }}'}
%h2{style: 'color: #f00'} 为了让各位小伙伴顺利领奖，请大家仔细阅读活动说明～
%h2 活动说明
%p
  %strong 活动材料：
%p 生物极客（BioGeek）2 × EvaGreen Master Mix
%p
  %strong 活动规则：
%p 1.  发邮件至 service@syngen.tech（需要提供您的姓名、单位和地址哦~），申请 2 × EvaGreen Master Mix 试用装（请在 4月7日 前发起申请，每人限领 1 份哦~）；
%p 2.  利用生物极客（BioGeek）2 × EvaGreen Master Mix，配制 qPCR 反应体系（加入其它品牌同类产品的对照组会有加分！）；
%p 3.  模板及引物自选；
%p 4.  完成 qPCR 反应，导出荧光定量实验数据，并简单标注（越详细越好哦~）
%p
  %strong 特别提示：如果可以搭配作者与生物极客彩页、产品或客户专员的合照，肯定会有加分~
%p 5.  将实验条件、数据照片及结果分析等信息整理为“极客与 EvaGreen ”文档，在4月21日前发送至评委组邮箱：service@syngen.tech；
%p
  6.
  %strong 4月21日 至 4月23日
  为作品评审期，
  %strong 4月24日
  在微信群中进行颁奖。
%p 小伙伴们，还在犹豫什么？快发邮件至 service@syngen.tech 报名参加活动，我们会安排客户专员配送 EvaGreen 试用装哦！
%p
  欢迎大家关注我们的公众号，
  %a{href: '{{site.url.biogeek}}'} 生物极客
%img.am-img-responsive{src: '{{ "/images/blog-child15.6.png" | prepend: site.url.assets }}'}
