---
layout: post
image: /images/blog15.jpg
title: 史上最全单细胞测序教程(一)
---
%h2 ＃大程教你如何做单细胞测序＃
%p 小伙伴们，大家好，今天我们来开启一个新的话题，Single cell sequence，近来单细胞测序在探索生物过程、疾病机理等方面展现了前所未有的精度，通过对单细胞进行 DNA 和 RNAseq 我们得以高精度的了解单个细胞水平的体细胞突变情况，并且对于一个样本中细胞类型的组成和解析获得空前的认识。
%p 那么，我们如何开展单细胞测序?单细胞测序的原理是怎样的那?我们如何开展单细胞测序? 单细胞测序的数据处理与一般的 RNA-seq、DNA-seq 有何不同?
%p 在接下来的几次公众号文章和视频课程中，大程将给大家逐一细细讲来，有什么问题或建议欢迎大家与大程联系，我的微信号 mzqjcbx
%p 好的，言归正传，首先我们来看看如何获得单细胞，从而进行下一步的测序过程。
%img.am-img-responsive{src: '{{ "/images/blog-child15.1.png" | prepend: site.url.assets }}'}
%p 为了进行单细胞测序实验，首先我们需要分离出感兴趣的单细胞，比较常用的方法之一是使用流式细胞仪(FACS)方法进行分离，我们可以使用无限制的分选技术，从而可以获得随机样品，同时也可以选择散射性质等设置 sorting gate。不仅如此，我们还可以使用荧光标记的抗体获得细胞表面特异 marker 的细胞亚群，从而探究这一 sub group 细胞的特性。
%p 目前的技术允许同时检测多达 20 个参数，因此可以将单细胞分选到 96 或 384 孔板中进行接下来的单细胞测序。但是 FACS 也有缺点，首先需要较大的起始细胞量，同时可能导致有些孔中有两个，有些孔中没有细胞。
%p 显微操作技术提供了获得少量细胞的替代方法，我们可以通过直接特定位置摘取单个细胞进行测序。但是这种方法依赖于人工操作，无法实现高通量进行。
%p 最近，微流控技术在单细胞分选上展现良好的应用，微流控技术可以对整个过程进行良好的监控和处理。微流控的缺点主要在于固定的微流控芯片等。
%p 大家可以通过观察上图来看到每种方法的优缺点。
%p 在获得单细胞之后，对于 single cell DNA-seq，我们该如何开展下面的实验那?
%p 在多细胞生物体中，由于细胞存在着有丝分裂，在传代过程中 DNA 复制存在着各种各样的突变，这些突变通过积累最终可以导致癌症等多种疾病的方法，在生殖细胞发育过程中，也可以看到不同种基因组突变，包括替换、插入和删除、拷贝数变异、染色体结构重组等。这些过程，我们可以通过 single cell DNA-Seq 来了解，但是对于一个细胞而言，一个哺乳动物细胞，通常的 DNA 只有不到 10 pg，因此我们首先需要对全基因组进行扩增才能进行下一步的实验。
%p 目前的全基因组扩增技术(WGA)主要是通过 PCR、多重替换扩增技术(MDA)或两者的组 合来实现。
%p PCR 策略主要是通过使用随机引物进行扩增，然后引入通用 adaptor。
%img.am-img-responsive{src: '{{ "/images/blog-child-15.2.png" | prepend: site.url.assets }}'}
%p MDA 方法则利用具有链置换活性的 DNA 聚合酶，∅29 进行恒温扩增，这是一种滚环复制酶， 可以处理长达 10 Kb 的序列，一旦接触到前面结合的序列后，聚合酶可以释放前者 DNA，从而释放用于进一步的扩增。对于这两种方法，随机引物 PCR 方法实验更高水平的一致扩增， 但是覆盖度较低。MDA 方法由于 DNA 聚合酶的高保真性和高处理特性，可以实现较好的覆盖度也有利于 SNP 等精细实验，然而由于 GC 含量等影响，MDA 可能导致不一致扩增，Gcbias 比较大。因此 MDA 用于 CNV 检测等的假阳性概率比较大。华人科学家谢晓亮等人基于前两种方法提出综合两种方法的 MALBAC 方法，实现了高覆盖度的一致性扩增方法。
%p 通过增加互补末端引物使用滚换复制酶产生可以末端配对的 loop，被扩增出来的 DNA，由于末端配对，因此无法被称为接下来的模板，从而可以实现近乎线性的扩增，经过五轮线性扩增后，然后通过 PCR 进行指数级扩增，相对于 MDA 方法 31%-61% 的丢失率，MALBAC 方法只有 1% 的缺失覆盖率。
%p 同时对于 SNP 和 CNV 的检测的假阳性更低。
%p 其他的方法用于减少扩增时的不一致性则主要是通过减少反应体系，通过使用 nano-liter 级别的反应体系，增加有效的模板浓度，这类技术被称为 MIDAS 技术。
%img.am-img-responsive{src: '{{ "/images/blog-child-15.3.png" | prepend: site.url.assets }}'}
%img.am-img-responsive{src: '{{ "/images/blog-child-15.4.png" | prepend: site.url.assets }}'}
%p 这里有一份总结各类技术主要是使用方法的表格，方便大家使用。
%p 在获得单细胞基因组测序之后，首先我们需要监控 read 的质量剔除低质量的 reads，然后进行基因组的 map 工作等，通过矫正由于 GC 含量引起的误差之后，我们可以多种算法 breakpoint，CNV 等。
%p 这里向大家推荐 GATK 工具包，这个工具包包含了处理下一代测序和virant calling的线管技术。
%img.am-img-responsive{src: '{{ "/images/blog-child-15.5.png" | prepend: site.url.assets }}'}
%p 学会了 DNA-seq 的初级处理之后，我们如何对不同的细胞之间进行比较和聚类?进行详细的数据挖掘?我们如何进行 RNA-seq?
%p
  欢迎大家关注我们的公众号，
  %a{href: '{{site.url.biogeek}}'}生物极客
  ，接下来，大程将给大家一一讲来~~
%img.am-img-responsive{src: '{{ "/images/blog-child15.6.png" | prepend: site.url.assets }}'}
