---
layout: post
image: /images/blog17.jpg
title: CRISPR/Cas9专利纷争白热化，MIT与UC Berkeley针锋相对
---
%p
  提到
  %a{href: '{{ site.url.service }}'} CRISPR/Cas9
  基因编辑技术，我们不仅会想到神奇的基因“剪刀”，还会想到今后谁会是卖“剪刀”的人。近期，美国麻省理工（MIT）的华裔科学家张锋，美国加州大学伯克利分校（UC Berkeley）的科学家 Jennifer Doudna 和瑞典于默奥大学的科学家 Emmanuelle Charpentier 就 CRISPR/Cas9 的技术专利纠纷展开了长久而激烈的争夺。
%p
  相关报道称，Doudna 曾早于张锋6个月前就 CRISPR 技术向美国专利商标局（USPTO）递交过专利申请，而 MIT 方对此表示，首次实现 CRISPR-Cas9 技术用于动物
  %a{href: '{{ site.url.service }}'} DNA 编辑
  的是张锋博士的团队，而 Jennifer Doudna 团队和 Emmanuelle Charpentier 团队仅实现了在试管中对 DNA 片段进行编辑，这与张锋所得到的成果之间存在明显的技术差距。针对此事，美国专利商标局（USPTO）将对该专利权归属进行介入调查。
%p 据《Science》编辑透露，USPTO 将主持召开由法官评判组参与评判的评审会议，会议中将对 MIT 博德研究所和 UC Berkeley 的专利权主张进行审理和裁决。该评审会议将于本周四启动，审理过程可能将持续数月。
%p 《Science》还透露，MIT博德研究所的律师已在本月初致函 USPTO，表示其专利申请中所阐述的 CRISPR/Cas9 技术应用范围远超 Doudna 团队申请的保护范围，而且 Doudna 团队在专利申请中并未详细解释 CRISPR/Cas9 技术的具体操作。针对上述声明，UC Berkeley 发言人指责张峰团队在该项技术专利申请描述中扭曲事实，并且未经许可就使用了他人的技术。
%p CRISPR/Cas9 技术的商业前景曙光无限，各类资本疯狂涌入“基因剪刀”市场。CRISPR/Cas9 技术专利最终花落谁家，谁就将掌控这把世上最昂贵的剪刀。
%img.am-img-responsive{src: '{{ "/images/blog-child17.1.jpg" | prepend: site.url.assets }}'}
