---
layout: post
image: /images/blog49.jpg
title: 喜贺合生基因再获五项关键软著
---
:css
 p{text-indent:2em;}
 .sup { vertical-align: super; }
%p 从2015年10月至2016年3月底，北京合生基因科技有限公司陆续开发完成并发表了《合生账号系统》、《合生基因博客分享系统》、《基因元件共享平台》、《客户咨询系统》及《生物科研试剂交易平台》五项软件系统；近日，中华人民共和国国家版权局对北京合生基因科技有限公司提交的上述五项系统的软件著作权认定为原始取得并予以登记，从颁证之日起，这五项系统软件的版权将得到中国版权保护中心的有效保护。
.am-g
 .am-u-md-6
  %img.am-img-responsive{src: '{{ "/images/blog-child49.1.jpg" | prepend: site.url.assets }}'}
 .am-u-md-6
  %img.am-img-responsive{src: '{{ "/images/blog-child49.2.jpg" | prepend: site.url.assets }}'}
.am-g
 .am-u-md-6
  %img.am-img-responsive{src: '{{ "/images/blog-child49.3.jpg" | prepend: site.url.assets }}'}
 .am-u-md-6
  %img.am-img-responsive{src: '{{ "/images/blog-child49.4.jpg" | prepend: site.url.assets }}'}
.am-g
 .am-u-md-6
  %img.am-img-responsive{src: '{{ "/images/blog-child49.5.jpg" | prepend: site.url.assets }}'}
%p 为了优化公司内部事务及部门、员工管理体系，合生基因开发了合生账号系统并投入使用。合生账号系统按照部门特性，以账号为载体对企业员工进行划分，在实现部门内统一规划的同时，兼顾部门间的立体性协作，显著提升了内部运营透明度及工作效率。同时，整合于合生账号系统内部的博客分享系统能够第一时间整理、归纳并发布最新的相关领域进展，始终为企业长久保持创新意识及计划提供动力。
%p 合生基因在充分考察国内学术交流平台建设现状及用户需求度后，建设了国内首个基因元件共享平台—基因山，并在投入运营后收获了较高的用户评价。基因山致力于为全球生命科学研究者提供最专业最全面的基因元件分享与获取服务，实现学术成果推广及转化一体化，在促进学术交流的同事，更令生命科学研究一站式在线服务成为可能。
%p 随后，为进一步充实国产科研试剂的市场占有率及流通效率，合生基因规划并建设了生物科研试剂交易平台。同时，考虑到日益增加的业务量，以及因此产生的大量客户咨询，合生基因综合考虑了公司各业务平台的共性及特性，统一建立了客户咨询系统，优化了客户咨询、业务跟踪及服务反馈的整体流行，在一定程度上缓解了售前、售后及接待部门的工作压力。
%p 自2016年2月北京合生基因科技有限公司获得《生物材料信息管理系统》的软著起，至今已累计获得六项关键软件著作权。合生基因合生基因致力于为全球生命科学研究者提供世界一流的个性化合成生物学技术服务与科研产品。合生基因布局合成生物学全产业链，推出包括生物试剂 （BioGeek&trade;） 、基因元件共享平台 （GE Share&trade;） 、高端科研技术服务 （SyngenTech<span class="sup">&reg;</span>） 、医药健康研发平台 （SyngenCare&trade;） 等不同层次的产品与服务，为推动生命科学事业发展贡献一份力量。
