---
layout: post
image: /images/blog16.jpg
title: 病毒中也存在CRISPR系统？
---
%h2 ＃大程带你读CNS＃
%p 自从巨型病毒被发现后，巨型病毒所展现的一些特征挑战着目前人们对于病毒定义的一些基本认识，比如，他们复杂和巨大的基因组。可以被噬病毒体感染，同时在基因组内包含可以传播的线性噬病毒体基因元件等。
%p 来自法国的科学家们，系统的探究了噬病毒体Zamilon对于不同株巨型病毒的敏感性。发现他们可以感染B和C系巨型病毒，但是对于A系病毒不具备侵袭能力。
%p 那么A系巨型病毒是如何防御来自噬病毒体的感染那？为什么A系具备特定防御？巨大病毒是否拥有类似于CRISPR的系统？
%p 大程今天带大家一起阅读最新一起Nature中的文章，领略前沿科学的魅力。
%p 细菌和古细菌通过将质粒和噬菌体的DNA植入到基因组中实验对于他们的防御能力，原核细胞免疫主要包括阻止噬菌体的注入，通过自我识别的方式切开入侵的基因组，阻断噬菌体基因组复制等。比如限制性修饰系统和CRISPR系统。
%p
  %a{href: '{{site.url.service}}'} CRISPR系统
  通过植入短DNA片段，然后转录成RNA，进一步用于指导对于外源元件的防御，目前在48%的细菌和80%的古细菌中发现有CRISPR系统，同时CIRSPR系统本身也千差万别。目前为止除了细菌和古细菌之外，只在一种噬菌体中发现具有CIRPSR系统，噬菌体利用CRISPR系统帮助他们抑制宿主的免疫系统，帮助入侵细菌。
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/blog-child16.1.jpg" | prepend: site.url.assets }}'}
%p 巨型病毒可以在光学显微镜被观察，同时具有来自其他物种DNA元件的病毒，可以被噬病毒体侵袭，由于拟菌病毒跟细菌的基因组有些类似，因此科学家们猜想，是否拟菌病毒中也有CRISPR系统？
%p 带着这样的疑问，科学家们猜想拟菌病毒可能通过类CRISPR系统防御噬病毒体的侵袭，因此，科学家们使用最新鉴定出来的噬病毒体Zamilon作为模式物种进行研究，Zamilon侵袭Mimiviridae拟菌病毒，这类拟菌病毒包括三类亚系A，B，C，在前面的研究中，科学家们发现Zamilon可以感染全部的2种B，和全部的两种C，但是对于目前知道的2种A系不可以感染，根据这一结果，科学家们，首先收集了59种Acanthamoeba polyphagamimivirus (APMV) strains拟菌病毒，这类病毒可以被两种噬病毒体感染，59种包括28种A，8种B和23种C亚系列。
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/blog-child16.2.jpg" | prepend: site.url.assets }}'}
%p 从上图我们可以看到对于Sputnik3噬病毒体，59种病毒中都可以检测到相应的噬病毒DNA，但是对于Zamilon噬病毒体，在A系中无法检测到任何病毒DNA！！！
%p CRISPR系统最重要的特征是捕获外源DNA进入CRISPR array中，进一步抵抗外源DNA。为了鉴定潜在的CRISPR系统，科学家们对于45种拟菌病毒进行了测序，在A系列中他们发现Zamilon等同的序列！
%p 这提示极有可能这些位置就是可能的类CRISPR位置，对于周围的DNA序列，科学家们进行了比对和注释：
%img.am-img-responsive{src: '{{ "/images/blog-child16.3.jpg" | prepend: site.url.assets }}'}
%p 他们发现几乎和CRISPR系统极为类似的防御系统。为了对于不同元件进行验证，他们克隆出相应的元件，在Ecoli中验证相应的活性。
%h3 总结
%p
  科学家们，通过基因测序以及
  %a{href: '{{"/solution/knock-down" | prepend: site.url.service}}'} knockout
  和
  %a{href: '{{"/solution/knock-in" | prepend: site.url.service}}'} knockin
  验证了在巨型病毒中也有类似于古细菌和细菌中的防御系统，这启发我们深入的去思考？CRISPR系统究竟起源于何处？不同的防御系统有何相同有何不同？相信这些问题会随着科学的研究不断揭开的他们的面纱~~
%p{style:'font-size: 12px'}
  %strong 文章标题和摘要
%p{style:'font-size: 12px'} Nature. 2016 Mar 10;531(7593):249-52. doi: 10.1038/nature17146. Epub 2016 Feb 29.
%p
  %strong MIMIVIRE is a defence system in mimivirus that confers resistance to virophage.
%p{style:'font-size: 12px'} Author information
%p{style:'font-size: 12px'} Levasseur A, Bekliz M, Chabrière E, Pontarotti P, La Scola B, Raoult D.
%p{style:'font-size: 12px'}
  %strong Abstract
%p{style:'font-size: 12px'} Since their discovery, giant viruses have revealed several unique features that challenge the conventional definition of a virus, such as their large and complex genomes, their infection by virophages and their presence of transferable short element transpovirons. Here we investigate the sensitivity ofmimivirus to virophage infection in a collection of 59 viral strains and demonstrate lineage specificity in the resistance of mimivirus to Zamilon, a unique virophage that can infect lineages B and C of mimivirus but not lineage A. We hypothesized that mimiviruses harbour a defence mechanism resembling the clustered regularly interspaced short palindromic repeat (CRISPR)-Cas system that is widely present in bacteria and archaea. We performed de novo sequencing of 45 new mimivirus strains and searched for sequences specific to Zamilon in a total of 60 mimivirus genomes. We found that lineage A strains are resistant to Zamilon and contain the insertion of a repeated Zamilon sequence within an operon, here named the 'mimivirus virophage resistance element' (MIMIVIRE). Further analyses of the surrounding sequences showed that this locus is reminiscent of adefence mechanism related to the CRISPR-Cas system. Silencing the repeated sequence and the MIMIVIRE genes restores mimivirus susceptibility to Zamilon. The MIMIVIRE proteins possess the typical functions (nuclease and helicase) involved in the degradation of foreign nucleic acids. The viraldefence system, MIMIVIRE, represents a nucleic-acid-based immunity against virophage infection.
