---
layout: post
image: /images/blog38.jpg
title: Nature：如何设计新药？Autodock 分子对接指南（一）
---
%p
  %strong 如何设计新药？Autodock 分子对接指南（一）
%p 计算对接可以被用来预测结合构象和小分子结合到大分子的自由能。分子对接在研究大分子之间相互作用机制和结构辅助的药物设计上发挥重要的作用。这个方法可以很快速的筛选包含成千上万个化合物的药物文库。这个 protocol 包含 auto dock 软件对接和虚拟筛选的方法，包括一个抗癌靶点的基本分子对接，使用小分子库的虚拟筛选，选择性受体柔性的对接，和作用活性位点预测与极性水化作用对接。整个 protocol 需要 5h。
%p Introduction
%p 计算分子对接被广泛使用在研究蛋白-配体相互作用和药物发现上。通常，这个过程以一个已知的结构作为出发点，例如医学上的一个酶的结构。对接然后被用来预测小分子和靶标的结合构象和结合自由能。单次对接实验对于探究靶标的功能，虚拟筛选，大的文库进行对接和排序，对于鉴定有用的抑制剂非常有用。
%p Autodock 是一个开源计算分子对接和小分子到大分子受体的虚拟筛选软件。目前这个套装包括多个互补的工具：
%p Autodock Vina：是一种即用型分子对接程序，使用快速梯度优化构想搜索算法和简单的评分函数。
%p Autodock：基于经验自由能力场和快速 lamarckian 遗传算法的对接程序。
%p Raccoon2：虚拟筛选的交互图形界面和分析。
%p AutoDockTools（ADT）：图形交互界面，用来进行坐标准备，对接和分析。
%p AutoLigand：预测配体结合到受体的优化位点程序。
.am-cf
  %p.am-align-left
    %img.am-img-responsive{src: '{{ "/images/blog-child38.1.png" | prepend: site.url.assets }}'}
  %p Autodock套件包括源代码目前是开放的，被广泛的在研究和药物发现中使用。
%p 与其他方法的比较：
%p 目前多种学术和经济可用的计算配体对接程序可以使用。多种方法从来两个方面简化问题从而使计算可以被执行。首先，通过增加在系统上的限制减少构想空间。比如，刚性受体，固定的键角和键长。其次，简化的评分函数，通常基于经验结合自由能被用来快速构想搜索。
%p 这两种简化方法是非常严格的限制。如果更真实的构想搜索和能量预测是必要的，使用者必须使用工具例如分子动力学模拟或自由能干扰进行预测。
%p 这些工具对于计算对接方法是互补的，因为对接方法往往搜索更大的构想空间，但是高级方法在局部构想区域可以更加准确的预测构想和自由能。
%p 高级对接方法可以被用来改进因为需要快速评价而能量计算过于局限的情况。例如很多对接程序使用受体作为刚性模型，对于计算那些当结合上后蛋白质构想发生改变的情况并不适用。Autodock 包含可以明确选择受体侧链用来解释部分构象改变的情况。除此之外，有序的水分子通常介导配体和受体之间的相互作用，高级的方法对待选择水分子的方法已经被植入到 Autodock 中。这些高级方法在这个 protocol 中被讲述。
%p 很多报告不同对接程序的方法在 Sousa 等人的 review 中有所述及。对于不同的靶点，不同的方法可以实现不同的成功效率，但是通常来说这些方法对于处理一系列不同的蛋白配体来说非常相似，对于预测结合复合体自由能的误差大约在 2-3Kcal mol-1，如果在对接过程中，受体没有较大的移动。更好的结果可以得到通过精细调控对接方法和参数。
%p Protocol 的应用：
%p Autodock 套件被很多实验室所使用，在过去一年超过 1000 次引用，我们已经使用 autodock 与很多研究者合作解决不同的研究问题，Autodock 的第一个版本被用来探究底物结合到 aconitase，同时对接的构象被用来帮助理解理解晶体密度图和探究反应中的中间体。在接下来的几年几个类似的研究被报道。同时autodock程序被用来药物设计和虚拟筛选。Autoligand被用来鉴定成药位点，从而稳定蛋白-蛋白界面。共价对接被用来探究蛋白 tyrosine 磷酸酶抑制剂共价结合。
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/blog-child38.2.png" | prepend: site.url.assets }}'}
%p 实验设计：
%p Autodock 和 autodock Vina
%p 两个对接方法被平行的开发出来，用于不同的需求。开发者首先开发 autodock，被用于多种分子对接实验，最近开发出来 autodock vina 满足可以一键操作，并不需要太多实践经验的使用者。高度优化进行对接实验，使用已经被测试好的参数。目前这两种方法都是免费获取。Autodock vina 在大多数平台都是快速而有效的，而 autodock 需要额外的增强的系统中。
%p 这两种方法都被设计用来进行通用计算对接程序，通过接受 receptor 和 ligand 的坐标文件。预测合适的对接构象。通常来说，使用者从晶体结构和NMR中获取受体坐标。同时 ligand 坐标通过 SMILES 或者其他产生。
%p 因为搜索方法是随机的，一系列的对接构象被预测出来，然后他们被空间聚类从而分析结果之间的一致性。高度聚类的结果是构象搜索程序能够完全彻底覆盖可以被接触的构象空间。由于搜索的随机性，这个方法不能保证全局最小，对于这个原因，因此使用已知的相似复合体构象进行评估分子对接程序是必须的。
%p Autodock 和 autodock Vina 目前使用多种简化方法影响得到的结果。最显著的简化是使用刚性受体。这个估计减少了构象搜索的空间，允许他们被可靠的搜索，同时减少了计算每种构象的时间复杂度。当使用这些对接方法对于一个特定的受体，非常重要的是，必须考虑这些限制带来的影响。
%p 如果系统包含明显的受体移动，很多方法需要被使用，包括下面：
%p 1. 使用从受体-配体复合体中得到的受体结构，这个构象与我们想要的构象也许存在一定的关联。
%p 2. 与一系列不同的受体结构对接，这些不同的受体结构构象覆盖受体中期待的所有范围，这些可以通过多个结果确定或者模拟得到。
%p 3. 在对接过程中，使用 explicit receptor 侧链柔和度，如果相关的侧链的信息是得到的。
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/blog-child38.3.png" | prepend: site.url.assets }}'}
%p 使用 ADT 进行坐标准备
%p 成功的分子对接和虚拟筛选需要高度注意受体和配体的坐标质量，autodock 和 autodock vina 都使用了简化的分子表示方法，包括在 PDB 格式内，叫做 PDBQT。
%p 1. 统一的原子表示:这两种方法都需要坐标集合包括极性氢原子。Autodock 在对接过程中使用极性氢原子坐标。Autodock vina 使用他们指定不同分子间的氢键，但是在对接过程中并不适用显式水分子。
%p 2. 原子类型：这两个方法都需要简化类型的原子，包括鉴定芳香和脂肪碳原子，鉴定不同原子间的氢键。
%p 3. 原子电荷：autodock 使用 Gasteiger-Marsili 计算静电相互作用和去溶剂能量。Autodock vina 并不使用原子电荷。
%p 4. 配体柔性：这两种方法需要使用者指定配体分子中自由度的旋转，同时受体的侧链是柔和的。
%p 5. 搜索空间：这两种方法需要使用者指定对接 box，覆盖受体可以被搜索的周围。
%p ADT 提供可以从各种常见的格式中生成坐标文件的方法。同时还包含自动脚本可以批量将文库中的小分子进行转化。
%p 准备坐标文件是非常重要的环节，因为坐标的质量将会对对接的所有的结果产生深远的影响。经过准备后，检查坐标文件，观察质子化状态，从而判断是否与经验相符合。例如 ADT 对于金属离子提供电荷。因此电荷需要手动添加到 PDBQT 文件中。PDB 文件中受体坐标文件往往有很多挑战需要解决。多次检查确认生物单元是正确的，在文件中关键的残基和 loop 并没有丢失，如果你有很多可以替代的构象文件，但是你只能选择一个，你必须包含相关的辅因子和结构水。
%p 高级方法
%p 在 autodock 和 autodock vina 中的默认参数对于通常药物类似的配体而言，是高度有效的，他们被广泛的使用在虚拟筛选中。但是多次精炼被开发出来解决默认参数带来的相关问题。
%p 受体 柔性：在对接方法中，最大的限制可能是受体的刚性模型。Autodock 和 autodock vina 都允许选择受体侧链有限的柔和度。
%p 评分函数同时也使用各种简化能够影响这些结果。Autodock vina 评分函数是高度模糊的，包含球对称氢键势能，implicit hydrogens 和no electrostatic contribution。被证明这些对于有一般大小和组成的小分子非常有效。Autodock 力场包括
%p
  获取更多生物咨讯，请关注
  %a{href: '{{site.url.biogeek}}'} 生物极客
%img.am-img-responsive{src: '{{ "/images/blog-child29.17.png" | prepend: site.url.assets }}'}
