---
layout: default
---
.am-container
  .article
    %br
    %a{href: '/blog-child6.html'}
      %img.am-img-responsive{src: 'images/blog6.jpg'}
    %a{href: '/blog-child6.html'}
      %h1 2015第二届基因编辑研讨会在上海拉开帷幕
    %small
      Posted on
      %a{href: '/blog-child6.html'} 2015年7月1日
      by
      %a{href: '/author-luyangli.html', rel: 'author'} Luyang Li
    %p 由上海生物谷主办，合生基因赞助，梅斯医学和相关媒体支持的《2015(第二届)基因编辑研讨会》于2015年6月25日在上海好望角大饭店隆重开幕。北京合生基因科技有限公司作为赞助商如邀参加展会。
    %div{align: 'center'}
      %img.am-img-responsive{src: 'images/blog-child6.1.jpg', width: '750', height: '514'}
    %p 出席本次会议的嘉宾有来自中国科学院上海生命科学研究院的朱健康院士、上海交通大学吴强教授、华东师范大学生命科学学院刘明耀教授、温州医科大学谷峰教授、上海工业生物技术研发中心蒋宇副主任、北京大学分子医学所熊敬维教授、中科院上海神经科学研究所仇子龙研究员、广州医科大学中法霍夫曼免疫研究所刘继勇副教授。现场专家阵容十分强势，学术气氛十分浓郁，来自科研院校和医药领域的专家欢聚一堂，共同探讨了基因编辑国内外的研究进展、研究结果以及遇到的挑战等。基因编辑技术前景广阔，研究成果如雨后春笋般发表在许多顶级期刊杂志，其重要性显而易见，无庸赘述。但基因编辑技术仍存在各种各样的缺点和潜在的隐患，比如脱靶率高、容易突变等。近来，CRISPR技术风暴迅速席卷整个生命科学乃至医学基因编辑领域，广泛引起了科研工作者的极大兴趣，掀起基因编辑的热潮。当下常用的基因编辑技术主要有ZFNs、TALENs、CRISPR/Cas9等。多年来，科学家一直梦寐以求能够定点敲出或敲入基因以“随心所欲”地操作基因。目前的基因编辑是可以对基因组进行精确修饰的一种技术，可实现基因定点突变(删除与敲入)、多位点同时突变和小片段的缺失等。
    %div{align: 'center'}
      %img.am-img-responsive{src: 'images/blog-child6.2.jpg', width: '750', height: '514'}
      %br
      %img.am-img-responsive{src: 'images/blog-child6.3.jpg', width: '750', height: '514'}
    %p 历时2天（6月25-26日）的展会，北京合生基因科技有限公司作为赞助商参与此次大会，展台吸引了大批与会专家学者驻足参观交流。
    %small
      Posted in
      %a{href: '/category3.html'} 未分类
    %hr
    %br
    %ul.am-pagination
      %li.am-pagination-prev
        %a{href: '/blog-child5.html'} &laquo; 像开关灯...
      %li.am-pagination-next
        %a{href: '/blog-child7.html'} 生物信息学... &raquo;
