---
layout: biogeek/product
title: BioGeek Gene 2 x Master Mix
---
.am-g
  .productlist.am-vertical-align{style: 'background-image: url({{ "/images/biogeek/product/GM.jpg" | prepend: site.url.assets }})'}
    .am-vertical-align-bottom.am-padding.am-margin-bottom-lg.color-zone
      %p.am-margin-left.am-padding-right-sm.am-margin-top-sm.am-text-xxxl
        BioGeek<sup>TM</sup>
        &nbsp;Gene<i>Taq</i><sup>TM</sup>
        2 x Master Mix
.am-container.blank
.am-container.am-padding-top-sm.box-border
  .am-cf.am-g
    %p.am-align-left
      %img.product{src: '{{ "/images/th-product.png" | prepend: site.url.assets }}'}
    %p.am-margin-right-xl.am-margin-top-xl
      Gene<i>Taq</i><sup>TM</sup>
      2×Master Mix是一种加入了 Gene<i>Taq</i><sup>TM</sup>
      DNA聚合酶、dNTPs、其它一些缓冲液组分和PCR稳定剂的预混液。
      合生基因的Gene<i>Taq</i><sup>TM</sup>
      DNA 聚合酶对微量的DNA样品具有很好的扩增能力。Gene<i>Taq</i><sup>TM</sup>
      DNA聚合酶是热稳定的
      %i Taq
      DNA聚合酶，有5'→3'端DNA聚合酶活性和5'→3' 端核酸外切酶活性，无3' → 5' 端核酸外切酶活性。
.am-container.blank
.am-container.box-border
  .am-g
    %p.am-margin-top.am-padding-bottom.am-text-lg{style: 'border-bottom:solid 3px #fff'}
      %strong.am-margin-left 产品特性
    .am-u-md-12.am-u-md-centered
      %p
        %strong ·&nbsp;高纯度
      %p SDS-PAGE 检测纯度 >99%&#x2028;。
      %p
        %strong 低核酸残留
      %p 通过Taqman探针qPCR法检测大肠杆菌16S rRNA位点,用至少5 &mu;l的Gene<i>Taq</i><sup>TM</sup>热启动DNA聚合酶来检测,结果显示大肠杆菌基因组DNA的污染水平小于10个大肠杆菌基因组。
      %p
        %strong ·&nbsp;高灵敏
      %p 可以对全血，血浆，等离子体以及土壤等样品中含有的DNA模板进行扩增。
      %p
        %strong ·&nbsp;高效率
      %p 可以达到每10 s扩增1 kb的片段（质粒，病毒等样品）和对复杂样品做到每30 s扩增1 kb（基因组等样品）。
      %p
        %strong ·&nbsp;高便捷
      %p 预混PCR反应液，直接添加引物与扩增模板即可进行扩增。
.am-container.blank
.am-container.box-border
  .am-g
    %p.am-margin-top.am-padding-bottom.am-text-lg{style: 'border-bottom:solid 3px #fff'}
      %strong.am-margin-left 应用
    .am-u-md-12.am-u-md-centered
      %p
        %strong ·&nbsp;常规 PCR 扩增 5 kb 以内的 DNA 片段
      %p
        %strong ·&nbsp;生成用于 TA 克隆的 PCR 产物
      %p
        %strong ·&nbsp;菌落 PCR
.am-container.blank
.am-container.box-border
  .am-g
    %p.am-margin-top.am-padding-bottom{:style => "font-size:20px;border-bottom:solid 3px #fff"}
      %strong.am-margin-left 产品
    .am-u-md-11.am-u-md-centered
      %table.am-table.am-table-bordered.am-table-compact.am-table-centered.am-text-middle
        %tr{:style => "background:#f9f9f9"}
          %th 货号
          %th 规格
          %th 随酶提供试剂
          %th 数量
          %th 价格
          %th 说明书
        %tr
          %td
            %p.am-margin-top BG10104S
          %td
            %p.am-margin-top 20 R
          %td
            %p.am-margin-top 无核酸酶水
          %td
            %p.am-margin-top 1.5mL
          %td
            %p.am-margin-top ¥75
          %td.am-text-middle{:rowspan => "3"}
            %p.am-margin-top{:align => "center"}
              %a{href: '{{ "/documents/GeneTaq-2xMaster-Mix-V1.0.3.pdf" | prepend: site.url.assets }}'} 下载
        %tr{:style => "background:#f9f9f9"}
          %td
            %p.am-margin-top BG10104M
          %td
            %p.am-margin-top 100 R
          %td
            %p.am-margin-top 无核酸酶水
          %td
            %p.am-margin-top 1.5mLx2
          %td
            %p.am-margin-top ¥309
        %tr
          %td
            %p.am-margin-top BG10104L
          %td
            %p.am-margin-top 500 R
          %td
            %p.am-margin-top 无核酸酶水
          %td
            %p.am-margin-top 1.5mL×10
          %td
            %p.am-margin-top ¥1388
    .am-u-md-11.am-u-md-centered
      %div{:style => "color:#f00"}
        %p.am-text-xl
          %strong 订购方式
        %p 电话订购：400-680-3200
        %p 联系邮箱：service@syngentech.com.cn
        %p 运输方式：满1000元包邮哦，切莫错失良机，抓紧时间订购吧。
.am-container.blank
