---
layout: biogeek/product
title: GeneTaq DNA 聚合酶
title_html: Gene<i>Taq</i><sup>TM</sup> DNA 聚合酶
image: /images/biogeek/product/GP.jpg
---
%div{style: 'display: none'}
  %h2 Gene<i>Taq</i><sup>TM</sup> DNA 聚合酶的产品说明：
  %h2 Gene<i>Taq</i><sup>TM</sup> DNA 聚合酶的产品特性：
  %h2 Gene<i>Taq</i><sup>TM</sup> DNA 聚合酶的产品应用：
  %h2 Gene<i>Taq</i><sup>TM</sup> DNA 聚合酶的订购方式：
.am-container.am-margin-top-xl
  .am-margin-bottom-xl.am-g
    .am-cf
      .am-u-md-4
        %p.am-align-left
          %img.am-img-responsive{src: '{{ "/images/Polymerase-Green.jpg" | prepend: site.url.assets }}', alt: 'BioGeek GeneTaq DNA 聚合酶', width: '286', height: '502'}
      .am-u-md-8
        %h2.am-margin-top-lg 产品说明
        %p.am-margin-bottom-xl Gene<i>Taq</i><sup>TM</sup> DNA聚合酶是热稳定的<i>Taq</i> DNA聚合酶，具有5'→3'端DNA聚合酶活性和5'→3'端核酸外切酶活性，无3'→5'端核酸外切酶活性。合生基因的Gene<i>Taq</i> DNA聚合酶对微量的DNA样品具有很好的扩增能力。
    .am-g
      .am-u-md-11.am-u-md-centered
        %table.am-table.am-table-bordered.am-table-compact.am-table-centered.am-text-middle
          %tr{:style => "background:#f9f9f9"}
            %th 产品名称
            %th 货号
            %th 规格
            %th 价格
            %th 说明书
          %tr
            %td.am-text-middle{:rowspan => "6", :style=>" width:200px"}
              %p.am-margin-top{:align => "center"} Gene<i>Taq</i><sup>TM</sup> DNA Polymerase with Green Reaction Buffer
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} BG10101S
            %td{"am-text-middle" => "", :rowspan => "2"}
              %p.am-margin-top{:align => "center"} 100 U
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} ¥83.00
              %p{:align => "center"}
            %td.am-text-middle{:rowspan => "6"}
              %p.am-margin-top{:align => "center"}
                %a{href: '{{ "/documents/GeneTaq-DNA-Polymerase-Green-V1.0.2.pdf" | prepend: site.url.assets }}'} 下载
            %tr
          %tr{:style => "background:#f9f9f9"}
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} BG10101M
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 500 U
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} ¥350.00
            %tr
          %tr
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} BG10101L
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 2500 U
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} ¥1500.00
            %tr

          %tr
            %td.am-text-middle{:rowspan => "6"}
              %p.am-margin-top{:align => "center"} Gene<i>Taq</i><sup>TM</sup> DNA Polymerase with Colorless Reaction Buffer
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} BG10102S
            %td{"am-text-middle" => "", :rowspan => "2"}
              %p.am-margin-top{:align => "center"} 100 U
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} ¥83.00
              %p{:align => "center"}
            %td.am-text-middle{:rowspan => "6"}
              %p.am-margin-top{:align => "center"}
                %a{href: '{{ "/documents/GeneTaq-DNA-Polymerase-Coloress-V1.0.2.pdf" | prepend: site.url.assets }}'} 下载
              %tr

          %tr{:style => "background:#f9f9f9"}
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} BG10102M
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 500 U
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} ¥350.00
            %tr
          %tr
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} BG10102L
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 2500 U
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} ¥1500.00
            %tr
  %hr
  .am-margin-top-xl.am-margin-bottom-xl
    %h2{style: 'margin-top: 0'} 产品特性
    .am-u-md-12.am-u-md-centered
      %p
        %strong ·高纯度
      %p SDS-PAGE 检测纯度 >99% 。
      %p
        %strong ·低核酸残留
      %p 通过Taqman探针qPCR法检测大肠杆菌16S rRNA位点,用至少5 &mu;l的GeneTaq<sup>TM</sup>DNA聚合酶来检测,结果显示大肠杆菌基因组DNA的污染水平小于10个大肠杆菌基因组 。
      %p
        %strong ·高效率
      %p Gene<i>Taq</i> 可以做到每10 s扩增1 kb的片段（质粒，病毒等样品）和对复杂样品做到每30 s扩增1 kb（基因组等样品）。
  %hr
  .am-g.am-margin-top-xl
    %h2.am-margin-left-xl 应用
    .am-u-md-12.am-u-md-centered
      %p.am-margin-left-xl
        %strong ·&nbsp;常规 PCR 扩增 5 kb 以内的 DNA 片段
      %p.am-margin-left-xl
        %strong ·&nbsp;生成用于 TA 克隆的 PCR 产物
      %p.am-margin-left-xl
        %strong ·&nbsp;菌落 PCR
  %hr
