---
layout: biogeek/product
title: T4 DNA 连接酶
title_html: T4 DNA 连接酶
image: /images/biogeek/product/QK.jpg
---
%div{style: 'display: none'}
  %h2 T4 DNA 连接酶的产品说明：
  %h2 T4 DNA 连接酶盒的产品特性：
  %h2 T4 DNA 连接酶的产品应用：
  %h2 T4 DNA 连接酶的订购方式：
.am-container.am-margin-top-xl
  .am-margin-top-xl.am-margin-bottom-xl.am-g
    .am-cf
      .am-u-md-3
        %p.am-align-left
          %img.am-img-responsive{src: '{{ "/images/T4-DNA.jpg" | prepend: site.domain.assets }}', alt: 'BioGeek T4 DNA 连接酶', width: '286', height: '202'}
      .am-u-md-9
        %table.am-table.am-table-bordered.am-table-compact.am-table-centered.am-text-middle
          %tr{:style => "background:#f9f9f9"}
            %th 产品名称
            %th 货号
            %th 规格
            %th 价格
            %th 说明书
          %tr
            %td.am-text-middle{:rowspan => "4", :style=>" width:150px"}
              %p.am-margin-top{:align => "center"} T4 DNA Ligase
            %td
              %p.am-margin-top BG10201S
            %td
              %p.am-margin-top 20000 U
            %td
              %p.am-margin-top ¥267.00
            %td.am-text-middle{:rowspan => "4"}
              %p.am-margin-top{:align => "center"}
                %a{href: '{{ "/documents/T4-DNA-Ligase-V1.0.3.pdf" | prepend: site.domain.assets }}'} 下载
            %tr
          %tr{:style => "background:#f9f9f9"}
            %td
              %p.am-margin-top BG10201L
            %td
              %p.am-margin-top 100000 U
            %td
              %p.am-margin-top ¥1100.00

  %h2.am-margin-top-sm 产品说明
  %p.am-margin-bottom-xl T4 DNA 连接酶催化双链的 DNA 或 RNA 中相邻的 5' - 磷酸基团和 3' - 羟基末端形成磷酸二酯键。在含有 10×T4 DNA 连接酶反应缓冲液的环境下，T4 DNA 连接酶可以连接 DNA 的粘性末端和平末端。 
  %hr
  .am-margin-top-xl.am-margin-bottom-xl
    %h2{style: 'margin-top: 0'} 产品特性
    .am-u-md-12.am-u-md-centered
      %p
        %strong ·高纯度
      %p SDS-PAGE 检测纯度 >99%&#x2028;。
      %p
        %strong ·低核酸残留
      %p 通过Taqman探针qPCR法检测大肠杆菌16S rRNA位点，用至少5 &mu;l的T4 DNA Ligase来检测，结果显示大肠杆菌基因组DNA的污染水平小于10个大肠杆菌基因组。
      %p
        %strong ·高效率
      %p 如果是粘性末端的连接则在 16℃反应过夜或是在室温反应 10min，如果是平末端或是单碱基的粘性末端，则 16℃反应过夜或是在室温中反应 2h。
      %p
        %strong ·高适用
      %p 可用于所有常规DNA连接反应。
  %hr
  .am-g.am-margin-top-xl
    %h2.am-margin-left-xl 应用
    .am-u-md-12.am-u-md-centered
      %p.am-margin-left-xl
        %strong ·&nbsp;酶切片段连接
      %p.am-margin-left-xl
        %strong ·&nbsp;PCR产物连接
      %p.am-margin-left-xl
        %strong ·&nbsp;双链DNA、RNA或DNA/RNA杂交链切刻缺口修复
      %p.am-margin-left-xl
        %strong ·&nbsp;DNA环化
      %p.am-margin-left-xl
        %strong ·&nbsp;载体克隆
      %p.am-margin-left-xl
        %strong ·&nbsp;Golden Gate反应
      %p.am-margin-left-xl
        %strong ·&nbsp;文库构建
  %hr
