---
layout: biogeek/product
title: BioGeek T4 DNA 连接酶
---
.am-g
  .productlist.am-vertical-align{style: 'background-image: url({{ "/images/biogeek/product/QK.jpg" | prepend: site.url.assets }})'}
    .am-vertical-align-bottom.am-padding.am-margin-bottom-lg{:style => "background:#EC5C44;border-radius:0 20px 20px 0;color:#fff"}
      %p.am-margin-left.am-padding-right-xl.am-margin-top-sm.am-text-xxxl
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BioGeek<sup>TM</sup>
        &nbsp;T4 DNA 连接酶&nbsp;&nbsp;&nbsp;
%div{:style => "height:60px"}
.am-container{:style => "background:#eee;border-radius:10px;padding-top:10px"}
  .am-cf.am-g
    %p.am-align-left
      %img.product{src: '{{ "/images/th-product.png" | prepend: site.url.assets }}'}
    %p.am-margin-right-xl{style: 'margin-top:50px'} T4 DNA 连接酶催化双链的 DNA 或 RNA 中相邻的 5' - 磷酸基团和 3' 羟基末端形成磷酸二酯键。在含有 10×T4 DNA 反应缓冲液的环境下，T4 DNA 连接酶可以链接 DNA 的粘性末端和平末端。&#x2028;
.am-container.am-g-collapse.am-u-md-centered{:style => "height:60px"}
.am-container{:style => "padding-top:0px;background:#eee;border-radius:20px"}
  .am-g
    %p.am-margin-top.am-padding-bottom.am-text-lg{style: 'border-bottom:solid 3px #fff'}
      %strong.am-margin-left 产品特性
    .am-u-md-12.am-u-md-centered
      %p
        %strong ·&nbsp;高纯度
      %p SDS-PAGE 检测纯度 >99%&#x2028;。
      %p
        %strong ·&nbsp;低核酸残留
      %p 通过Taqman探针qPCR法检测大肠杆菌16S rRNA位点，用至少25 units的quick ligase来检测，结果显示大肠杆菌基因组DNA的污染水平小于10个大肠杆菌基因组。
      %p
        %strong ·&nbsp;高效率
      %p 在室温(25°C )反应5 min即可完成DNA粘性末端或平齐末端的连接反应。
      %p
        %strong ·&nbsp;高适用
      %p 可用于所有常规DNA连接反应。
.am-container.am-g-collapse.am-u-md-centered{:style => "height:60px"}
.am-container{:style => "background:#eee;border-radius:20px"}
  .am-g
    %p.am-margin-top.am-padding-bottom.am-text-lg{style: 'border-bottom:solid 3px #fff'}
      %strong.am-margin-left 应用
    .am-u-md-12.am-u-md-centered
      %p
        %strong ·&nbsp;酶切片段连接
      %p
        %strong ·&nbsp;PCR产物连接
      %p
        %strong ·&nbsp;双链DNA、RNA或DNA/RNA杂交链切刻缺口修复
      %p
        %strong ·&nbsp;DNA环化
      %p
        %strong ·&nbsp;载体克隆
      %p
        %strong ·&nbsp;Golden Gate反应
      %p
        %strong ·&nbsp;文库构建
.am-container.am-g-collapse.am-u-md-centered{:style => "height:60px"}
.am-container{:style => "background:#eee;border-radius:20px"}
  .am-g
    %p.am-margin-top.am-padding-bottom{:style => "font-size:20px;border-bottom:solid 3px #fff"}
      %strong.am-margin-left 产品
    .am-u-md-11.am-u-md-centered
      %table.am-table.am-table-bordered.am-table-compact.am-table-centered.am-text-middle
        %tr{:style => "background:#f9f9f9"}
          %th 货号
          %th 规格
          %th 数量
          %th 试剂
          %th 价格
          %th 说明书
        %tr
          %td
            %p.am-margin-top BG10201S
          %td
            %p.am-margin-top 20000 U
          %td
            %p.am-margin-top 1 mL×1
          %td
            %p.am-margin-top 10×T4 DNA 反应缓冲液
          %td
            %p.am-margin-top ¥399
          %td
            %p.am-margin-top
              %a{:href => "#"} 下载
        %tr{:style => "background:#f9f9f9"}
          %td
            %p.am-margin-top BG10201L
          %td
            %p.am-margin-top 100000 U
          %td
            %p.am-margin-top 1 mL×2
          %td
            %p.am-margin-top 10×T4 DNA 反应缓冲液
          %td
            %p.am-margin-top ¥1599
          %td
            %p.am-margin-top
              %a{:href => "#"} 下载
    .am-u-md-11.am-u-md-centered
      %div{:style => "color:#f00"}
        %p.am-text-xl
          %strong 订购方式
        %p{:style => "margin-top:-10px"} 电话订购：400-680-3200
        %p{:style => "margin-top:-15px"}
          联系邮箱：service@syngentech.com.cn
        %p{:style => "margin-top:-15px"}
          运输方式：满1000元包邮哦，切莫错失良机，抓紧时间订购吧。
%div{:style => "height:60px"}
