---
layout: biogeek/product
title: BioGeek pfu DNA 聚合酶
title_html: BioGeek<sup>TM</sup> <i>pfu</i> DNA聚合酶
image: /images/biogeek/product/PP.jpg
---

.am-container.am-margin-top-xl
  %p.am-margin-bottom-xl
    %i pfu
    DNA聚合酶在镁离子存在的条件下，75°C时可以催化脱氧核苷酸沿着5'端→ 3'端发生聚合反应成双链DNA。同时它具有3'端→ 5'端的核酸外切活性，因此具有校正功能，无5' 端→ 3'端核酸外切活性。
    推荐使用
    %i pfu
    DNA聚合酶进行有较高保真要求的PCR反应。另外需要注意的是
    %i pfu
    DNA聚合酶产生的PCR产物是平末端。&#x2028;
  %hr
  .am-margin-top-xl.am-margin-bottom-xl
    .am-cf
      %p.am-align-left
        %img.am-img-responsive{src: '{{ "/images/th-product.png" | prepend: site.url.assets }}', width: '486', height: '342'}
      %h2{style: 'margin-top: 0'} 产品特性
      .am-u-md-12.am-u-md-centered
        %h3 ·高纯度
        %p SDS-PAGE 检测纯度 >99%&#x2028;。
        %h3 ·低核酸残留
        %p 通过Taqman探针qPCR法检测大肠杆菌16S rRNA位点，用至少5 &mu;l的quick ligase来检测，结果显示大肠杆菌基因组DNA的污染水平小于10个大肠杆菌基因组。
        %h3 ·高保真
        %p 3’端→5’端核酸外切酶活性，扩增同时进行校正。
  %hr
  .am-g.am-margin-top-xl
    %h2.am-margin-left-xl 应用
    .am-u-md-12.am-u-md-centered
      %p.am-margin-left-xl
        %strong ·&nbsp;常规PCR及高保真PCR
      %p.am-margin-left-xl
        %strong ·&nbsp;平末端克隆
  .am-margin-top-xl
    %hr
    .am-g
      %h1.am-margin-left.am-margin-top-lg 产品
      .am-u-md-11.am-u-md-centered
        %table.am-table.am-table-bordered.am-table-compact.am-table-centered.am-text-middle
          %tr{:style => "background:#f9f9f9"}
            %th 货号
            %th 规格
            %th 随酶提供试剂
            %th 数量
            %th 价格
            %th 说明书
          %tr
            %td
              %p.am-margin-top BG10301S
            %td
              %p.am-margin-top 100U
            %td
              %p.am-margin-top 10×<i>pfu</i> DNA 聚合酶反应缓冲液
            %td
              %p.am-margin-top 1.5mL
            %td
              %p.am-margin-top ¥199
            %td.am-text-middle{:rowspan => "3"}
              %p.am-margin-top{:align => "center"}
                %a{href: '{{ "/documents/pfu-DNA-Polymerase-V1.0.3.pdf" | prepend: site.url.assets }}'} 下载
          %tr{:style => "background:#f9f9f9"}
            %td
              %p.am-margin-top BG10301M
            %td
              %p.am-margin-top 500U
            %td
              %p.am-margin-top 10×<i>pfu</i> DNA 聚合酶反应缓冲液
            %td
              %p.am-margin-top 1.5mL×2
            %td
              %p.am-margin-top ¥499
          %tr
            %td
              %p.am-margin-top BG10301L
            %td
              %p.am-margin-top 2500U
            %td
              %p.am-margin-top 10×<i>pfu</i> DNA 聚合酶反应缓冲液
            %td
              %p.am-margin-top 1.5mL×10
            %td
              %p.am-margin-top ¥1999
