---
layout: biogeek/product
title: BioGeek pfu DNA 聚合酶
---
.am-g
  .productlist.am-vertical-align{style: 'background-image: url({{ "/images/biogeek/product/PP.jpg" | prepend: site.url.assets }})'}
    .am-vertical-align-bottom.am-padding.am-margin-bottom-lg.color-zone
      %p.am-margin-left.am-padding-right-xl.am-margin-top-sm.am-text-xxxl
        &nbsp;&nbsp;&nbsp;BioGeek<sup>TM</sup>
        %i pfu
        DNA聚合酶&nbsp;&nbsp;&nbsp;
.am-container.blank
.am-container.am-padding-top-sm.box-border
  .am-cf.am-g
    %p.am-align-left
      %img.product{src: '{{ "/images/th-product.png" | prepend: site.url.assets }}'}
    %p.am-margin-right-xl.am-margin-top-xl
      %i pfu
      DNA聚合酶在镁离子存在的条件下，75°C时可以催化脱氧核苷酸沿着5'端→ 3'端发生聚合反应成双链DNA。同时它具有3'端→ 5'端的核酸外切活性，因此具有校正功能，无5' 端→ 3'端核酸外切活性。
      推荐使用
      %i pfu
      DNA聚合酶进行有较高保真要求的PCR反应。另外需要注意的是
      %i pfu
      DNA聚合酶产生的PCR产物是平末端。&#x2028;
.am-container.blank
.am-container.box-border
  .am-g
    %p.am-margin-top.am-padding-bottom.am-text-lg{style: 'border-bottom:solid 3px #fff'}
      %strong.am-margin-left 产品特性
    .am-u-md-12.am-u-md-centered
      %p
        %strong ·&nbsp;高纯度
      %p SDS-PAGE 检测纯度 >99%&#x2028;。
      %p
        %strong ·&nbsp;低核酸残留
      %p 通过Taqman探针qPCR法检测大肠杆菌16S rRNA位点，用至少5 &mu;l的quick ligase来检测，结果显示大肠杆菌基因组DNA的污染水平小于10个大肠杆菌基因组。
      %p
        %strong ·&nbsp;高保真
      %p 3’端→5’端核酸外切酶活性，扩增同时进行校正。
.am-container.blank
.am-container.box-border
  .am-g
    %p.am-margin-top.am-padding-bottom.am-text-lg{style: 'border-bottom:solid 3px #fff'}
      %strong.am-margin-left 应用
    .am-u-md-12.am-u-md-centered
      %p
        %strong ·&nbsp;常规PCR及高保真PCR
      %p
        %strong ·&nbsp;平末端克隆
.am-container.blank
.am-container.box-border
  .am-g
    %p.am-margin-top.am-padding-bottom.am-text-lg{style: 'border-bottom:solid 3px #fff'}
      %strong.am-margin-left 产品
    .am-u-md-11.am-u-md-centered
      %table.am-table.am-table-bordered.am-table-compact.am-table-centered.am-text-middle
        %tr{:style => "background:#f9f9f9"}
          %th 货号
          %th 规格
          %th 随酶提供试剂
          %th 数量
          %th 价格
          %th 说明书
        %tr
          %td
            %p.am-margin-top BG10301S
          %td
            %p.am-margin-top 100U
          %td
            %p.am-margin-top 10×<i>pfu</i> DNA 聚合酶反应缓冲液
          %td
            %p.am-margin-top 1.5mL
          %td
            %p.am-margin-top ¥199
          %td.am-text-middle{:rowspan => "3"}
            %p.am-margin-top{:align => "center"}
              %a{href: '{{ "/documents/pfu-DNA-Polymerase-V1.0.3.pdf" | prepend: site.url.assets }}'} 下载
        %tr{:style => "background:#f9f9f9"}
          %td
            %p.am-margin-top BG10301M
          %td
            %p.am-margin-top 500U
          %td
            %p.am-margin-top 10×<i>pfu</i> DNA 聚合酶反应缓冲液
          %td
            %p.am-margin-top 1.5mL×2
          %td
            %p.am-margin-top ¥499
        %tr
          %td
            %p.am-margin-top BG10301L
          %td
            %p.am-margin-top 2500U
          %td
            %p.am-margin-top 10×<i>pfu</i> DNA 聚合酶反应缓冲液
          %td
            %p.am-margin-top 1.5mL×10
          %td
            %p.am-margin-top ¥1999
    .am-u-md-11.am-u-md-centered
      %div{:style => "color:#f00"}
        %p.am-text-xl
          %strong 订购方式
        %p 电话订购：400-680-3200
        %p 联系邮箱：service@syngentech.com.cn
        %p 运输方式：满1000元包邮哦，切莫错失良机，抓紧时间订购吧。
.am-container.blank
