---
layout: biogeek/product
title: BioGeekTM GeneTaqTM DNA 聚合酶
title_html: BioGeek<sup>TM</sup> Gene<i>Taq</i><sup>TM</sup> DNA 聚合酶
image: /images/biogeek/product/GP.jpg
---

.am-container.am-margin-top-xl
  %p.am-margin-bottom-xl Gene<i>Taq</i><sup>TM</sup> DNA聚合酶是热稳定的<i>Taq</i><sup>TM</sup> DNA聚合酶，具有5'→3'端DNA聚合酶活性和5'→3'端核酸外切酶活性，无3'→5'端核酸外切酶活性。合生基因的Gene<i>Taq</i> DNA聚合酶对微量的DNA样品具有很好的扩增能力。
  %hr
  .am-margin-top-xl.am-margin-bottom-xl
    .am-cf
      %p.am-align-left
        %img.am-img-responsive{src: '{{ "/images/fir-product.png" | prepend: site.url.assets }}', width: '486', height: '342'}
      %h2{style: 'margin-top: 0'} 产品特性
      .am-u-md-12.am-u-md-centered
        %h3 ·高纯度
        %p SDS-PAGE 检测纯度 >99% 。
        %h3 ·低核酸残留
        %p 通过Taqman探针qPCR法检测大肠杆菌16S rRNA位点,用至少5 &mu;l的GeneTaq<sup>TM</sup>DNA聚合酶来检测,结果显示大肠杆菌基因组DNA的污染水平小于10个大肠杆菌基因组 。
        %h3 ·高灵敏
        %p 在应对复杂模板的PCR中，如全血，血浆，等离子体以及土壤中的腐殖质都有很好的表现。
        %h3 ·高效率
        %p Gene <i>Taq</i> 可以做到每10 s扩增1 kb的片段（质粒，病毒等样品）和对复杂样品做到每30 s扩增1 kb（基因组等样品）。
  %hr
  .am-g.am-margin-top-xl
    %h2.am-margin-left-xl 应用
    .am-u-md-12.am-u-md-centered
      %p.am-margin-left-xl
        %strong ·&nbsp;常规 PCR 扩增 5 kb 以内的 DNA 片段
      %p.am-margin-left-xl
        %strong ·&nbsp;生成用于 TA 克隆的 PCR 产物
      %p.am-margin-left-xl
        %strong ·&nbsp;菌落 PCR
  .am-margin-top-xl
    %hr
    .am-g
      %h1.am-margin-left.am-margin-top-lg 产品
      .am-u-md-11.am-u-md-centered
        %table.am-table.am-table-bordered.am-table-compact.am-table-centered.am-text-middle
          %tr{:style => "background:#f9f9f9"}
            %th 产品名称
            %th 货号
            %th 规格
            %th 随酶提供试剂
            %th 数量
            %th 价格
            %th 说明书
          %tr
            %td.am-text-middle{:rowspan => "6", :style=>" width:100px"}
              %p.am-margin-top{:align => "center"} GeneTaq<sup>TM</sup> DNA Polymerase with Green Reaction Buffer
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} BG10101S
            %td{"am-text-middle" => "", :rowspan => "2"}
              %p.am-margin-top{:align => "center"} 100units
            %td{:colspan => "1"} GeneTaq<sup>TM</sup> 5×Green Reaction Buffer
            %td{:colspan => "1"} 1.5mL
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} ¥149
              %p{:align => "center"}
            %td.am-text-middle{:rowspan => "12"}
              %p.am-margin-top{:align => "center"}
                %a{href: '{{ "/documents/GeneTaq-DNA-Polymerase-V1.0.3.pdf" | prepend: site.url.assets }}'} 下载
          %tr
            %td 25 mM MgCl<sub>2</sub>
            %td
              1.5mL
          %tr{:style => "background:#f9f9f9"}
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} BG10101M
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 500units
            %td{:colspan => "1"} GeneTaq<sup>TM</sup> 5×Green Reaction Buffer
            %td
              1.5mLx4
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} ¥499
              %p
          %tr{:style => "background:#f9f9f9"}
            %td 25 mM MgCl<sub>2</sub>
            %td
              1.5mLx3
          %tr
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} BG10101L
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 2500units
            %td{:colspan => "1"} GeneTaq<sup>TM</sup> 5×Green Reaction Buffer
            %td{:colspan => "1"} 1.5mLx20
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} ¥1999
            %tr
              %td 25 mM MgCl<sub>2</sub>
              %td 1.5mL×15
          %tr
            %td.am-text-middle{:rowspan => "6"}
              %p.am-margin-top{:align => "center"} GeneTaq<sup>TM</sup> DNA Polymerase with Colorless Reaction Buffer
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} BG10102S
            %td{"am-text-middle" => "", :rowspan => "2"}
              %p.am-margin-top{:align => "center"} 100units
            %td{:colspan => "1"} GeneTaq<sup>TM</sup> 5×Colorless Reaction Buffer
            %td{:colspan => "1"} 1.5mL
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} ¥149
              %p{:align => "center"}
            %tr
              %td 25 mM MgCl<sub>2</sub>
              %td 1.5mL
          %tr{:style => "background:#f9f9f9"}
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} BG10102M
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 500units
            %td{:colspan => "1"}
              %p.am-margin-top{:align => "center"} GeneTaq<sup>TM</sup> 5×Colorless Reaction Buffer
            %td
              1.5mLx4
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} ¥499
              %p
          %tr{:style => "background:#f9f9f9"}
            %td 25 mM MgCl<sub>2</sub>
            %td
              1.5mLx3
          %tr
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} BG10102L
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 2500units
            %td{:colspan => "1"} GeneTaq<sup>TM</sup> 5×Colorless Reaction Buffer
            %td{:colspan => "1"} 1.5mLx20
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} ¥1999
            %tr
              %td 25 mM MgCl<sub>2</sub>
              %td 1.5mL×15
