---
layout: biogeek/product
title: 2 × EvaGreen Master Mix
title_html: 2 × EvaGreen Master Mix
image: /images/biogeek/product/GP.jpg
---
%div{style: 'display: none'}
  %h2 2 × EvaGreen Master Mix的产品说明：
  %h2 2 × EvaGreen Master Mix的产品特性：
  %h2 2 × EvaGreen Master Mix的产品应用：
  %h2 2 × EvaGreen Master Mix的订购方式
.am-container.am-margin-top-xl
  .am-margin-bottom-xl.am-g
    .am-cf
      .am-u-md-4
        %p.am-align-left
          %img.am-img-responsive{src: '{{ "/images/Polymerase-Green.jpg" | prepend: site.url.assets }}', alt: 'BioGeek GeneTaq DNA 聚合酶', width: '286', height: '502'}
      .am-u-md-8
        %table.am-table.am-table-bordered.am-table-compact.am-table-centered.am-text-middle
          %tr{:style => "background:#f9f9f9"}
            %th 产品名称
            %th 货号
            %th 规格
            %th 价格
            %th 说明书下载
          %tr
            %td.am-text-middle{:rowspan => "6", :style=>" width:200px"}
              %p.am-margin-top{:align => "center"} 2 × EvaGreen Master Mix
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} BG10401S
            %td{"am-text-middle" => "", :rowspan => "2"}
              %p.am-margin-top{:align => "center"} 1mL
            %td{"am-text-middle" => "", :rowspan => "2"}
              %p.am-margin-top{:align => "center"} ¥355.00
            %td.am-text-middle{:rowspan => "6"}
              %p.am-margin-top{:align => "center"}
                %a{href: '{{ "/documents/2xEvaGreen.pdf" | prepend: site.url.assets }}'} 下载
            %tr
          %tr{:style => "background:#f9f9f9"}
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} BG10402M
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 5 X 1mL
            %td{"am-text-middle" => "", :rowspan => "2"}
              %p.am-margin-top{:align => "center"} ¥1498.00
            %tr
          %tr
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} BG10402L
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"}  25mL
            %td{"am-text-middle" => "", :rowspan => "2"}
              %p.am-margin-top{:align => "center"} ¥6288.00
            %tr
  %h2.am-margin-top-lg 产品说明
  %p 本产品是结合了饱和染料 EvaGreen 和配体修饰的热启动 Taq DNA 聚合酶优势的 PCR 检测试剂,不仅可以进行实时荧光定量 PCR 分析,还能够进行高分辨率熔解曲线 (High Resolution Melting, HRM)分析。 EvaGreen 相比传统的 SYBR Green 染料,具有毒性小,对 PCR 反应抑制弱,可以接受较广的 pH 波动,同时稳定性强,发光强度高的优点。经过优化的缓冲体系加上快速热启动 Taq DNA 聚合酶,可以抑制或将 PCR 反应中的非特异性 DNA 扩增最小化, 三者组合的 2× EvaGreen Master Mix 能够在宽广的范围内对 DNA 样进行更加准确的定量。另外,本产品中含有高浓度的 EvaGreen,可以使双链 PCR 产物结合量达到饱和状态, 且不会抑制 PCR 反应,不会产生 SYBR Green 的“染料重排”现象,能够很好的区分扩增产物之间单个碱基的差异,因此除了常规的可用于基因表达分析、微阵列分析、病毒载量分析外,还可用于已知 SNP 分析,以及未知突变基因扫描和甲基化 PCR 分析等研究。
  %p.am-margin-bottom-xl 2 × EvaGreen Master Mix 是一种 2×Premix Type 试剂,包含除引物和样品 DNA 以外进行荧光定量 PCR 所需的所有成分,因此,在配制 PCR 反应液时十分方便简单。
  %hr
  .am-margin-top-xl.am-margin-bottom-xl
    %h2{style: 'margin-top: 0'} 产品特性
    %p
      %strong 扩增能力强:
      合生基因新推出的 2×EvaGreen Master Mix 采用 EvaGreen 替代 SYBR Green，EvaGreen 所具备的“按要求释放” DNA 结合技术，对 PCR 的抑制远小于 SYBR Green，相比较传统的 2×SYBR TM Green Master Mix，合生基因的 2×EvaGreen Master Mix 具有更高的扩增能力，优化的PCR缓冲体系及化学修饰的热启动 Taq 聚合酶，使得 2×EvaGreen Master Mix 相比同类产品也具有更好的扩增能力和荧光强度。
    %p
      %strong HRM 分析：
      EvaGreen 为饱和染料，无SYBR Green “染料重分布”缺陷，使得合生基因的 2×EvaGreen Master Mix 在 PCR 反应后，能进行高分辨率熔解曲线分析。
    %p
      %strong 安全性好：
      EvaGreen 降低了细胞膜透性，因而合生基因的 2×EvaGreen Master Mix 相比较传统的 2×SYBR TM Green Master Mix 更加安全。
    %p
      %strong 兼容性好：
      和 SYBR TM Green 光谱相似，和各知名品牌的 qPCR 仪器兼容。
    %p 另外，试剂盒中 2×EvaGreen Master Mix 中的 Evagreen 染料可以为 DNA 预染，PCR 反应后的产物无需加入其它核酸染料，便能直接在凝胶成像系统下观察分析。
    %hr
  .am-margin-top-xl.am-margin-bottom-xl
    %h2{style: 'margin-top: 0'} 2 x EvaGreen 数据图
    %table.am-table.am-table-bordered.am-table-compact.am-table-centered
      %tr{:style => "background:#f9f9f9"}
        %th Real Time PCR 的扩增曲线
        %th 不同公司产品qRT-PCR 的扩增曲线比较
      %tr
        %td.am-text-middle{:rowspan => "2"}
          %img.am-img-responsive{src: '{{ "/images/bg5.1.jpg" | prepend: site.url.assets }}', alt: '实验图片'}
        %td.am-text-middle{:rowspan => "2"}
          %img.am-img-responsive.am-padding-left-lg{src: '{{ "/images/bg5.2.jpg" | prepend: site.url.assets }}', alt: '实验图片'}
        %tr
      %tr{:style => "background:#f9f9f9"}
        %td{"am-text-middle" => "", :rowspan => "2"}
          %p.am-margin-top.am-text-left{:align => "center"} 该 Real Time RT-PCR 反应模板为人cDNA，模板量为 1 pg~ 100 ng，从高到低10倍稀释，基因为18S rRNA，从图中我公司的 2 x EvaGreen 有较高的检测灵敏度和扩增能力。
        %td.am-text-middle{:rowspan => "2"}
          %p.am-margin-top.am-text-left{:align => "center"} 图 2 为 Takara 的 SYBR Green、KAPA 的 2 x EvaGreen 以及我公司的 2 x EvaGreen 三种试剂扩增 human THYMU2 基因的扩增曲线图。从图中可以看出我公司 2 x EvaGreen 无论是在出峰时间和荧光强度上都较另外两家公司好。
        %tr
      %tr
  %hr
  .am-g.am-margin-top-xl
    %h2.am-margin-left-xl 应用
    .am-u-md-12.am-u-md-centered
      %p.am-margin-left-xl
        %strong ·&nbsp;基因表达分析
      %p.am-margin-left-xl
        %strong ·&nbsp;微阵列分析
      %p.am-margin-left-xl
        %strong ·&nbsp;病毒载量测定
      %p.am-margin-left-xl
        %strong ·&nbsp;SNP（单核苷酸多态性）的筛查
      %p.am-margin-left-xl
        %strong ·&nbsp;基因突变扫描
      %p.am-margin-left-xl
        %strong ·&nbsp;甲基化的筛查
  %hr
