---
layout: biogeek/product
title: 2×Eva Green Master Mix
title_html: 2×Eva Green Master Mix
image: /images/biogeek/product/GP.jpg
---
.am-container.am-margin-top-xl
  .am-margin-bottom-xl.am-g
    .am-cf
      .am-u-md-4
        %p.am-align-left
          %img.am-img-responsive{src: '{{ "/images/Polymerase-Green.jpg" | prepend: site.url.assets }}', alt: 'BioGeek GeneTaq DNA 聚合酶', width: '286', height: '502'}
      .am-u-md-8
        %h2.am-margin-top-lg 产品说明
        %p 本产品是采用Eva Green嵌合荧光法进行实时荧光定量PCR的试剂。使用的Eva Green 比传统的SYBR Green 染料毒性小，对PCR反应抑制小，可以接受较广的pH波动，同时稳定性强，发光强度高。缓冲液已经过改良，能抑制非特异性反应，可以在宽广的范围内进行更加准确的定量。所添加的DNA聚合酶，扩增能力较好，可高效快捷的进行反应。Eva Green Master Mix中含有饱和浓度的Eva Green，是一种2×Premix Type试剂，包含除引物和样品DNA以外进行荧光定量PCR所需的所有成分，因此，在配制PCR反应液时十分方便简单。
        %p.am-margin-bottom-xl Eva Green Master Mix中含有饱和浓度的Eva Green，是一种2×Premix Type试剂，包含除引物和样品DNA以外进行荧光定量PCR所需的所有成分，因此，在配制PCR反应液时十分方便简单。
    .am-g
      .am-u-md-11.am-u-md-centered
        %table.am-table.am-table-bordered.am-table-compact.am-table-centered.am-text-middle
          %tr{:style => "background:#f9f9f9"}
            %th 产品名称
            %th 货号
            %th 规格
          %tr
            %td.am-text-middle{:rowspan => "6", :style=>" width:200px"}
              %p.am-margin-top{:align => "center"} 2×Eva Green Master Mix
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} BG10401S
            %td{"am-text-middle" => "", :rowspan => "2"}
              %p.am-margin-top{:align => "center"} 1mL
            %tr
          %tr{:style => "background:#f9f9f9"}
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} BG10402M
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 5 X 1mL
            %tr
          %tr
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} BG10402L
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"}  25mL
            %tr
  %hr
  .am-margin-top-xl.am-margin-bottom-xl
    %h2{style: 'margin-top: 0'} 产品特性
    %img.am-img-responsive{src: '{{ "/images/Polymerase-Green.jpg" | prepend: site.url.assets }}', alt: 'BioGeek GeneTaq DNA 聚合酶', width: '286', height: '502'}
  %hr
  .am-g.am-margin-top-xl
    %h2.am-margin-left-xl 应用
    .am-u-md-12.am-u-md-centered
      %p.am-margin-left-xl
        %strong ·&nbsp;基因表达分析
      %p.am-margin-left-xl
        %strong ·&nbsp;微阵列分析
      %p.am-margin-left-xl
        %strong ·&nbsp;病毒载量测定
      %p.am-margin-left-xl
        %strong ·&nbsp;SNP（单核苷酸多态性）的筛查
      %p.am-margin-left-xl
        %strong ·&nbsp;基因突变扫描
      %p.am-margin-left-xl
        %strong ·&nbsp;甲基化的筛查
  %hr
