---
layout: default
title: bg10301
---
.am-g
  .third-pic5.am-vertical-align
    .am-vertical-align-bottom.am-padding.am-margin-bottom-lg{:style => "background:#EC5C44;border-radius:0 20px 20px 0;color:#fff"}
      %p.am-margin-left.am-padding-right-xl.am-margin-top-sm{:style => "font-size:40px"}
        \&nbsp;&nbsp;&nbsp;BioGeek
        %sup{:style => "font-size:26px"}> TM
        \&nbsp;
        %i pfu
        DNA聚合酶&nbsp;&nbsp;&nbsp;
.am-container.am-g-collapse.am-u-md-centered{:style => "height:60px"}
.am-container{:style => "background:#eee;border-radius:10px;padding-top:10px"}
  .am-cf.am-g
    %p.am-align-left
      %img.product{src: '{{ "/images/th-product.png" | prepend: site.url.assets }}'}
    %p.am-margin-right-xl{:style => "margin-top:50px;font-size:16px"}
      %i pfu
      DNA聚合酶在镁离子存在的条件下，75°C时可以催化脱氧核苷酸沿着5'端→ 3'端发生聚合反应成双链DNA。同时它具有3'端→ 5'端的核酸外切活性，因此具有校正功能，无5' 端→ 3'端核酸外切活性。
      推荐使用
      %i pfu
      DNA聚合酶进行有较高保真要求的PCR反应。另外需要注意的是
      %i pfu
      DNA聚合酶产生的PCR产物是平末端。&#x2028;
%div{:style => "height:60px"}
.am-container{:style => "padding-top:0px;background:#eee;border-radius:20px"}
  .am-g
    %p.am-margin-top.am-padding-bottom{:style => "font-size:20px;border-bottom:solid 3px #fff"}
      %strong.am-margin-left 产品特性
    .am-u-md-12.am-u-md-centered
      %p
        %strong ·&nbsp;高纯度
      %p SDS-PAGE 检测纯度 >99%&#x2028;。
      %p
        %strong ·&nbsp;低核酸残留
      %p 通过Taqman探针qPCR法检测大肠杆菌16S rRNA位点，用至少25 units的quick ligase来检测，结果显示大肠杆菌基因组DNA的污染水平小于10个大肠杆菌基因组。
      %p
        %strong ·&nbsp;高保真
      %p 3’端→5’端核酸外切酶活性，扩增同时进行校正。
%div{:style => "height:60px"}
.am-container{:style => "background:#eee;border-radius:20px"}
  .am-g
    %p.am-margin-top.am-padding-bottom{:style => "font-size:20px;border-bottom:solid 3px #fff"}
      %strong.am-margin-left 应用
    .am-u-md-12.am-u-md-centered
      %p
        %strong ·&nbsp;常规PCR及高保真PCR
      %p
        %strong ·&nbsp;平末端克隆
.am-container.am-g-collapse.am-u-md-centered{:style => "height:60px"}
.am-container{:style => "background:#eee;border-radius:20px"}
  .am-g
    %p.am-margin-top.am-padding-bottom{:style => "font-size:20px;border-bottom:solid 3px #fff"}
      %strong.am-margin-left 产品
    .am-u-md-11.am-u-md-centered
      %table.am-table.am-table-bordered.am-table-compact.am-table-centered.am-text-middle
        %tr{:style => "background:#f9f9f9"}
          %th 货号
          %th 规格
          %th 数量
          %th 试剂
          %th 价格
          %th 说明书
        %tr
          %td
            %p.am-margin-top BG10301S
          %td
            %p.am-margin-top 100U
          %td
            %p.am-margin-top 1.5mL×1
          %td
            %p.am-margin-top
              10×
              %i pfu
              DNA 聚合酶反应缓冲液
          %td
            %p.am-margin-top ¥199
          %td
            %p.am-margin-top
        %tr{:style => "background:#f9f9f9"}
          %td
            %p.am-margin-top BG10301M
          %td
            %p.am-margin-top 500U
          %td
            %p.am-margin-top 1.5mL×1
          %td
            %p.am-margin-top
              10×
              %i pfu
              DNA 聚合酶反应缓冲液
          %td
            %p.am-margin-top ¥499
          %td
            %p.am-margin-top
              %a{:href => "#"} 下载
        %tr
          %td
            %p.am-margin-top BG10301L
          %td
            %p.am-margin-top 2500U
          %td
            %p.am-margin-top 1.5mL×4
          %td
            %p.am-margin-top
              10×
              %i pfu
              DNA 聚合酶反应缓冲液
          %td
            %p.am-margin-top ¥1999
          %td
            %p.am-margin-top
    .am-u-md-11.am-u-md-centered
      %div{:style => "color:#f00"}
        %p{:style => "font-size:24px"}
          %strong 订购方式
        %p{:style => "margin-top:-10px"} 电话订购：400-680-3200
        %p{:style => "margin-top:-15px"}
          联系邮箱：service@syngentech.com.cn
        %p{:style => "margin-top:-15px"}
          运输方式：满1000元包邮哦，切莫错失良机，抓紧时间订购吧。
%div{:style => "height:60px"}
.am-container.am-g-collapse.product-list{:style => "margin-bottom:20px;background:#eee;border-radius:20px"}
  %p.am-margin-top.am-padding-bottom.am-g
    %strong.am-margin-left
      BioGeek
      %sup{:style => "margin:0 0 0 -4px"} TM
      产品列表
  %ul.am-g.am-u-md-centered.icon-list.am-g-collapse{:style => "font-size:14px"}
    %li.am-u-sm-6.am-u-md-3.am-g-collapse
      %ul.am-margin-top-xl.list
        %li{:style => "font-size:16px"}
          %strong
            %a{:href => '{{ "/clone" | prepend: site.url.biogeek }}', :style => "color:#0E90D2"} 分子克隆
        %li.am-margin-top-xs
          %a{href: '{{ "/cell/bg10102" | prepend: site.url.biogeek }}'}
            · Gene
            %i Taq
            %sup{:style => "margin:0 0 0 -4px"} TM
            DNA &nbsp;&nbsp;Polymerase
        %li.am-margin-top-xs
          %a{href: '{{ "/cell/bg10104" | prepend: site.url.biogeek }}'}
            · Gene
            %i Taq
            %sup{:style => "margin:0 0 0 -4px"} TM
            2X Master Mix
        %li.am-margin-top-xs
          %a{href: '{{ "/cell/bg10202" | prepend: site.url.biogeek }}'}
            · Quick Ligase
            %sup{:style => "margin:0 0 0 -4px"} TM
            Kit
        %li.am-margin-top-xs
          %a{href: '{{ "/cell/bg10201" | prepend: site.url.biogeek }}'} · T4 DNA Ligase
        %li.am-margin-top-xs
          %a{href: '{{ "/cell/bg10301" | prepend: site.url.biogeek }}'} · Pfu DNA Polymerase
    %li.am-u-sm-6.am-u-md-3
      %ul.am-margin-top-xl.list
        %li{:style => "font-size:16px"}
          %strong
            %a{href: '{{ "/cell" | prepend: site.url.biogeek }}'} 细胞培养
        %li.am-margin-top-xs
          %a{:href => "#"} · Transfection
        %li
          %a{:href => "#"} &nbsp;&nbsp;细胞转染试剂
        %li.am-margin-top-xs
          %a{:href => "#"} ·Lentivirus Concentration
        %li
          %a{:href => "#"} &nbsp;Solution Kit 慢病毒浓缩试剂盒
        %li
          %a{:href => "#"} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        %li
          %a{:href => "#"} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    %li.am-u-sm-6.am-u-md-3
      %ul.am-margin-top-xl.list
        %li{:style => "font-size:16px"}
          %strong
            %a{:href => '{{ "/ngs" | prepend: site.url.biogeek }}', :style => "color:#0E90D2"} NGS
        %li.am-margin-top-xs
          %a{:href => "#"} · Mag-Nucleotide Purification
        %li
          %a{:href => "#"} &nbsp;&nbsp;Kit核酸纯化（磁珠）试剂盒
        %li.am-margin-top-xs
          %a{:href => "#"} · Mag-Nucleotide Fragment &nbsp;&nbsp;
        %li
          %a{:href => "#"} &nbsp;&nbsp;Selection Kit 核酸片段选择（磁珠）试剂盒
        %li.am-margin-top-xs
          %a{:href => "#"} · Mag-Plasmid Prep Kit
        %li
          %a{:href => "#"} &nbsp;&nbsp;质粒提取（磁珠）试剂盒
        %li.am-margin-top-xs
          %a{:href => "#"} · T4 DNA 聚合酶
    %li.am-u-sm-6.am-u-md-3
      %ul.am-margin-top-xl.list
        %li{:style => "font-size:16px"}
          %strong
            %a{:href => "#", :style => "color:#0E90D2"} 蛋白表达
