---
layout: biogeek/product
title: BioGeek Gene 2 x Master Mix
title_html: BioGeek<sup>TM</sup> Gene<i>Taq</i><sup>TM</sup> 2 x Master Mix
image: /images/biogeek/product/GM.jpg
---
.am-container.am-margin-top-xl
  %p.am-margin-bottom-xl Gene<i>Taq</i><sup>TM</sup> 2×Master Mix是一种加入了 Gene<i>Taq</i><sup>TM</sup> DNA聚合酶、dNTPs、其它一些缓冲液组分和PCR稳定剂的预混液。合生基因的Gene<i>Taq</i><sup>TM</sup> DNA 聚合酶对微量的DNA样品具有很好的扩增能力。Gene<i>Taq</i><sup>TM</sup>DNA聚合酶是热稳定的<i>Taq</i> DNA聚合酶，有5'→3'端DNA聚合酶活性和5'→3' 端核酸外切酶活性，无3' → 5' 端核酸外切酶活性。
  %hr
  .am-margin-top-xl.am-margin-bottom-xl
    .am-cf
      %p.am-align-left
        %img.am-respinsive{src: '{{ "/images/sec-product.png" | prepend: site.url.assets }}', width: '486', height: '342'}
      %h2{style: 'margin-top: 0'} 产品特性
      .am-u-md-12.am-u-md-centered
        %h3 .高纯度
        %p SDS-PAGE 检测纯度 >99% 。
        %h3 .低核酸残留
        %p 通过Taqman探针qPCR法检测大肠杆菌16S rRNA位点,用至少5 &mu;l的Gene<i>Taq</i><sup>TM</sup>热启动DNA聚合酶来检测,结果显示大肠杆菌基因组DNA的污染水平小于10个大肠杆菌基因组。
        %h3 ·高灵敏
        %p 可以对全血，血浆，等离子体以及土壤等样品中含有的DNA模板进行扩增。
        %h3 ·高效率
        %p 可以达到每10 s扩增1 kb的片段（质粒，病毒等样品）和对复杂样品做到每30 s扩增1 kb（基因组等样品）。
        %h3 ·高便捷
        %p 预混PCR反应液，直接添加引物与扩增模板即可进行扩增。
  %hr
  .am-g.am-margin-top-xl
    %h2.am-margin-left-xl 应用
    .am-u-md-12.am-u-md-centered
      %p.am-margin-left-xl
        %strong ·&nbsp;常规 PCR 扩增 5 kb 以内的 DNA 片段
      %p.am-margin-left-xl
        %strong ·&nbsp;生成用于 TA 克隆的 PCR 产物
      %p.am-margin-left-xl
        %strong ·&nbsp;菌落 PCR
  .am-margin-top-xl
    %hr
    .am-g
      %h1.am-margin-left.am-margin-top-lg 产品
      .am-u-md-11.am-u-md-centered
        %table.am-table.am-table-bordered.am-table-compact.am-table-centered.am-text-middle
          %tr{:style => "background:#f9f9f9"}
            %th 货号
            %th 规格
            %th 随酶提供试剂
            %th 数量
            %th 价格
            %th 说明书
          %tr
            %td
              %p.am-margin-top BG10104S
            %td
              %p.am-margin-top 20 R
            %td
              %p.am-margin-top 无核酸酶水
            %td
              %p.am-margin-top 1.5mL
            %td
              %p.am-margin-top ¥75
            %td.am-text-middle{:rowspan => "3"}
              %p.am-margin-top{:align => "center"}
                %a{href: '{{ "/documents/GeneTaq-2xMaster-Mix-V1.0.3.pdf" | prepend: site.url.assets }}'} 下载
          %tr{:style => "background:#f9f9f9"}
            %td
              %p.am-margin-top BG10104M
            %td
              %p.am-margin-top 100 R
            %td
              %p.am-margin-top 无核酸酶水
            %td
              %p.am-margin-top 1.5mLx2
            %td
              %p.am-margin-top ¥309
          %tr
            %td
              %p.am-margin-top BG10104L
            %td
              %p.am-margin-top 500 R
            %td
              %p.am-margin-top 无核酸酶水
            %td
              %p.am-margin-top 1.5mL×10
            %td
              %p.am-margin-top ¥1388
