---
layout: biogeek/product
title: 2 × Taq Colorless Master Mix
title_html: 2 x <i>Taq</i> Master Mix
image: /images/biogeek/product/GM.jpg
---
.am-container.am-margin-top-xl
  .am-margin-bottom-xl.am-g
    .am-cf
      .am-u-md-4
        %p.am-align-left
          %img.am-img-responsive{src: '{{ "/images/2xTaq-Green.jpg" | prepend: site.url.assets }}', alt: '2 × Tag Master Mix', width: '286', height: '502'}
      .am-u-md-8
        %h2.am-margin-top-sm 产品说明
        %p.am-margin-bottom-xl  2 x <i>Taq</i> Master Mix是一种加入了 Gene<i>Taq</i><sup>TM</sup> DNA聚合酶、dNTPs、其它一些缓冲液组分和PCR稳定剂的预混液。合生基因的Gene<i>Taq</i><sup>TM</sup> DNA 聚合酶对微量的DNA样品具有很好的扩增能力。Gene<i>Taq</i><sup>TM</sup>DNA聚合酶是热稳定的<i>Taq</i> DNA聚合酶，有5'→3'端DNA聚合酶活性和5'→3' 端核酸外切酶活性，无3' → 5' 端核酸外切酶活性。
      .am-g
        .am-u-md-11.am-u-md-centered
          %table.am-table.am-table-bordered.am-table-compact.am-table-centered.am-text-middle
            %tr{:style => "background:#f9f9f9"}
              %th 产品名称
              %th 货号
              %th 规格
              %th 价格
              %th 说明书
            %tr
              %td.am-text-middle{:rowspan => "6", :style=>" width:150px"}
                %p.am-margin-top{:align => "center"}  2 x <i>Taq</i> Green Master Mix
              %td
                %p.am-margin-top BG10109S
              %td
                %p.am-margin-top 40 R
              %td
                %p.am-margin-top ¥50.00
              %td.am-text-middle{:rowspan => "6"}
                %p.am-margin-top{:align => "center"}
                  %a{href: '{{ "/documents/2xTaq-Green-Master-Mix.pdf" | prepend: site.url.assets }}'} 下载
              %tr
            %tr{:style => "background:#f9f9f9"}
              %td
                %p.am-margin-top BG10109M
              %td
                %p.am-margin-top 200 R
              %td
                %p.am-margin-top ¥199.00
              %tr
            %tr
              %td
                %p.am-margin-top BG10109L
              %td
                %p.am-margin-top 1000 R
              %td
                %p.am-margin-top ¥799.00
              %tr
            %tr
              %td.am-text-middle{:rowspan => "6", width: '150'}
                %p.am-margin-top{:align => "center"}  2 x <i>Taq</i> Colorless Master Mix
              %td
                %p.am-margin-top BG10110S
              %td
                %p.am-margin-top 40 R
              %td
                %p.am-margin-top ¥50.00
              %td.am-text-middle{:rowspan => "6"}
                %p.am-margin-top{:align => "center"}
                  %a{href: '{{ "/documents/2xTaq-Colorless-Master-Mix.pdf" | prepend: site.url.assets }}'} 下载
              %tr
            %tr{:style => "background:#f9f9f9"}
              %td
                %p.am-margin-top BG10110M
              %td
                %p.am-margin-top 200 R
              %td
                %p.am-margin-top ¥199.00
            %tr
              %td
                %p.am-margin-top BG10110L
              %td
                %p.am-margin-top 1000 R
              %td
                %p.am-margin-top ¥799.00
                %tr
  %hr
  .am-margin-top-xl.am-margin-bottom-xl
    %h2{style: 'margin-top: 0'} 产品特性
    .am-u-md-12.am-u-md-centered
      %p
        %strong ·高效率
      %p 可以达到每10 s扩增1 kb的片段（质粒，病毒等样品）和对复杂样品做到每30 s扩增1 kb（基因组等样品）。
      %p
        %strong ·高便捷
      %p 预混PCR反应液，直接添加引物与扩增模板即可进行扩增。
  %hr
  .am-g.am-margin-top-xl
    %h2.am-margin-left-xl 应用
    .am-u-md-12.am-u-md-centered
      %p.am-margin-left-xl
        %strong ·&nbsp;常规 PCR 扩增 5 kb 以内的 DNA 片段
      %p.am-margin-left-xl
        %strong ·&nbsp;生成用于 TA 克隆的 PCR 产物
      %p.am-margin-left-xl
        %strong ·&nbsp;菌落 PCR
  %hr
