---
layout: default
title: molecular
---
.cellular-pic
.am-container.cellular-slogan
  %p.p-title合生试剂为您倾力打造完备的细胞生物学产品
  %hr
  %p.p-text优质稳定的细胞生物学试剂，在保证安全性的基础上，降低您每一次实验的系统误差
.am-container
  %ul#slink.am-center.am-avg-sm-3.am-avg-md-5.second-pic-sprite
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/s1.jpg" | prepend: site.url.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/s2.jpg" | prepend: site.url.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/s3.jpg" | prepend: site.url.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/s4.jpg" | prepend: site.url.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/s5.jpg" | prepend: site.url.assets }}'}
    %li{:style => "position:relative"}
      %a#slink6.am-img-responsive
        -# %img#simg6.am-img-responsive{src: '{{ "/images/s6.jpg" | prepend: site.url.assets }}'}
        %span.am-margin-sm{:style => "position:absolute;left:0;bottom:0;color:#fff;font-size:16px"}
          Transfection Kit
          %br
          细胞转染试剂
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/s7.jpg" | prepend: site.url.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/s8.jpg" | prepend: site.url.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/s9.jpg" | prepend: site.url.assets }}'}
    %li{:style => "position:relative"}
      %a#slink10.am-img-responsive
        -# %img#simg10.am-img-responsive{src: '{{ "/images/s10.jpg" | prepend: site.url.assets }}'}
        %span.am-margin-sm{:style => "position:absolute;left:0;bottom:0;color:#fff;font-size:16px"}
          Lentivirus Concentration
          %br
          Solution Kit慢病毒浓缩试剂盒
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/s11.jpg" | prepend: site.url.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/s12.jpg" | prepend: site.url.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/s13.jpg" | prepend: site.url.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/s14.jpg" | prepend: site.url.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/s15.jpg" | prepend: site.url.assets }}'}
.am-container.cellular-slogan
  %p.p-title 溯源经典 · 展望颠覆
  %hr
  %p.p-text 化学法转染，为您的方案设计提供更多可能
.cellular-adv1.am-vertical-align.am-text-center
  .am-u-sm-10.am-u-md-8.am-u-sm-centered.am-vertical-align-middle.am-margin.masking
    %p.p-title{style: 'color:#fff'}
      BioGeek
      %sup{style: 'margin:0 0 0 -10px'}TM
      细胞转染试剂
    %p.p-text{style: 'color:#fff'} 化学导入 · 高效低毒
    %a{href: ''}进一步了解>
.am-container.cellular-slogan
  %p.p-title 卓效浓缩 · 新锐品质
  %hr
  %p.p-text 更优性能造就更高滴度，简便操作规划更多时间
.cellular-adv2.am-vertical-align.am-text-center
  .am-u-sm-10.am-u-md-10.am-u-sm-centered.am-vertical-align-bottom.am-margin-top-xl.am-g-collapse
    %p.am-margin-top-xl.p-title{:style => "font-size:34px;color:#383838"}
      Biogeek
      %sup{style: 'margin:0 0 0 -10px'} TM
      慢病毒浓缩试剂盒
      %a.am-margin-left-xl.am-padding-bottom{:href => "#", :style => "font-size:16px"} 进一步了解>
.am-g.am-margin-top-xl
  %ul.am-u-md-11.am-u-md-centered.icon-list.first-footer.am-margin-top-xl
    %li.am-u-sm-6.am-u-md-3
      %img{src: '{{ "/images/s1.png" | prepend: site.url.assets }}'}
      %h4.am-margin-top.p-title 科研服务
      %span.p-text 专业团队助力您的生命科学
      %a{href: ''}进一步了解
    %li.am-u-sm-6.am-u-md-3
      %img{src: '{{ "/images/s2.png" | prepend: site.url.assets }}'}
      %h4.am-margin-top.p-title 定制开发
      %span.p-text 为满足您的特殊实验，定向提供解决方案
      %a{href: ''}进一步了解
    %li.am-u-sm-6.am-u-md-3
      %img{src: '{{ "/images/s3.png" | prepend: site.url.assets }}'}
      %h4.am-margin-top.p-title 服务至上
      %span.p-text 细致入微的售前、售后服务
      %a{href: ''}进一步了解
    %li.am-u-sm-6.am-u-md-3
      %img{src: '{{ "/images/s4.png" | prepend: site.url.assets }}'}
      %h4.am-margin-top.p-title 合作洽谈
      %span.p-text 全球代理、工业开发，我们携手前行
      %a{href: ''}进一步了解
.am-margin-top.product-list
  .am-u-md-10.am-u-md-centered.am-g-collapse
    %p.am-margin-top.am-padding-bottom-sm
      %strong.am-margin-left.am-padding-top-sm{style: 'display:block'} BioGeek 产品列表
    %ul.am-g.am-u-md-centered.icon-list.am-g-collapse
      %li.am-u-sm-6.am-u-md-3
        %ul.am-margin-top-sm.list
          %li
            %strong
              %a{href: '{{ "/clone" | prepend: site.url.biogeek }}'}分子克隆
          %li.am-margin-top-xs
            %a{href: '{{ "/cell/bg10102" | prepend: site.url.biogeek }}'}
              · Gene
              %i Taq
              %sup{style: 'margin: 0 0 0 -4px'} TM
              DNA Polymerase
          %li.am-margin-top-xs
            %a{href: '{{ "/cell/bg10104" | prepend: site.url.biogeek }}'}
              · Gene
              %i Taq
              %sup{style: 'margin: 0 0 0 -4px'} TM
              2X Master Mix
          %li.am-margin-top-xs
            %a{href: '{{ "/cell/bg10202" | prepend: site.url.biogeek }}'}
              · Quick Ligase
              %sup{style: 'margin: 0 0 0 -4px'} TM
              Kit
          %li.am-margin-top-xs
            %a{href: '{{ "/cell/bg10201" | prepend: site.url.biogeek }}'}
              · T4 DNA Ligase
          %li.am-margin-top-xs
            %a{href: '{{ "/cell/bg10301" | prepend: site.url.biogeek }}'}· Pfu DNA Polymerase
      %li.am-u-sm-6.am-u-md-3
        %ul.am-margin-top-sm.list
          %li
            %strong
              %a{href: '{{ "/cell" | prepend: site.url.biogeek }}'}· 细胞培养
          %li.am-margin-top-xs
            %a{href: ''} · Transfection Kit
          %li
            %a{href: ''} &nbsp; 细胞转染试剂
          %li.am-margin-top-xs
            %a{href: ''}
          %li.am-margin-top-xs
            %a{href: ''} · Lentivirus Concentration
          %li
            %a{href: ''} Solution Kit慢病毒浓缩试剂盒
          %li
            %a{href: ''} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          %li
            %a{href: ''} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      %li.am-u-sm-6.am-u-md-3
        %ul.am-margin-top-sm.list
          %li
            %strong
              %a{href: '{{ "/ngs" | prepend: site.url.biogeek }}'}· NGS
          %li.am-margin-top-xs
            %a{href: ''} · Mag-Nucleotide Purification
          %li
            %a{href: ''} &nbsp;&nbsp;Kit 核酸纯化（磁珠）试剂盒
          %li.am-margin-top-xs
            %a{href: ''} · Mag-Nucleotide Fragment
          %li.am-margin-top-xs
            %a{href: ''} &nbsp;&nbsp;Selection Kit 核酸片段选择（磁&nbsp;&nbsp;&nbsp;珠）试剂盒
          %li.am-margin-top-xs
            %a{href: ''} · Mag-Plasmid Prep Kit
          %li
            %a{href: ''} &nbsp;&nbsp;质粒提取（磁珠）试剂盒
      %li.am-u-sm-6.am-u-md-3
        %ul.am-margin-top-sm.list
          %li
            %strong
              %a{href: ''} 蛋白表达
%script{:src => "{{ '/javascripts/biogeek.js' | prepend: site.url.biogeek }}"}
