---
layout: biogeek_menu
title: 分子生物学试剂
---
.pic{style: 'background-image: url({{ "/images/biogeek/clone/molecular-pic.jpg" | prepend: site.url.assets }})'}
.am-container.molecular-slogan
  %p.am-text-xl 多种高品质分子生物学试剂助力您的生命科学
  %hr
  %p 高品质的生物试剂，是缩短实验时间，加快项目进程的利器。我们的精心准备，使您的实验不再繁琐。
.am-container
  %ul.second-pic-sprite.am-center.am-avg-sm-3.am-avg-md-5
    %li
      %img.am-img-responsive{src: '{{ "/images/1.jpg" | prepend: site.url.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/2.jpg" | prepend: site.url.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/3.jpg" | prepend: site.url.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/4.jpg" | prepend: site.url.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/5.jpg" | prepend: site.url.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/6.jpg" | prepend: site.url.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/7.jpg" | prepend: site.url.assets }}'}
    %li{:style => "position:relative"}
      %a#link8{:href => '{{ "/cell/bg10202" | prepend: site.url.biogeek }}', :style => "display:block;position:relative"}
        %img#img8.am-img-responsive{src: '{{ "/images/8.jpg" | prepend: site.url.assets }}'}
        %span.am-margin-sm{:style => "position:absolute;left:0;bottom:0;color:#fff;font-size:20px"}
          Quick Ligase<sup>TM</sup>
          Kit
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/9.jpg" | prepend: site.url.assets }}'}
    %li{:style => "position:relative"}
      %a#link10{:href => '{{ "/cell/bg10104" | prepend: site.url.biogeek }}', :style => "display:block;position:relative"}
        %img#img10.am-img-responsive{src: '{{ "/images/10.jpg" | prepend: site.url.assets }}'}
        %span.am-margin-sm{:style => "position:absolute;left:0;bottom:0;color:#fff;font-size:20px"}
          Gene
          <i>Taq</i><sup>TM</sup>
          2 x Master Mix
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/11.jpg" | prepend: site.url.assets }}'}
    %li{:style => "position:relative"}
      %a#link12{:href => '{{ "/cell/bg10201" | prepend: site.url.biogeek }}', :style => "display:block;position:relative"}
        %img#img12.am-img-responsive{src: '{{ "/images/12.jpg" | prepend: site.url.assets }}'}
        %span.am-margin-sm{:style => "position:absolute;left:0;bottom:0;color:#fff;font-size:20px"}
          T4 DNA Ligase
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/13.jpg" | prepend: site.url.assets }}'}
    %li{:style => "position:relative"}
      %a#link14{:href => '{{ "/cell/bg10301" | prepend: site.url.biogeek }}', :style => "display:block;position:relative"}
        %img#img14.am-img-responsive{src: '{{ "/images/14.jpg" | prepend: site.url.assets }}'}
        %span.am-margin-sm{:style => "position:absolute;left:0;bottom:0;color:#fff;font-size:20px"}
          pfu DNA Polymerase
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/15.jpg" | prepend: site.url.assets }}'}
.am-container.molecular-slogan
  %p.am-text-xl Faster，Higher，Stronger
  %hr
  %p 从过夜到5分钟——用更短的时间完成分子克隆，用更多的时间进行思考。
.molecular-adv1.am-vertical-align.am-text-center{style: 'background-image: url({{ "/images/biogeek/clone/sadv1.jpg" | prepend: site.url.assets }})'}
  .am-u-sm-10.am-u-md-8.am-u-sm-centered.am-vertical-align-middle.am-margin.masking
    %p.am-text-4xl{style: 'color:#fff'}
      Quick Ligase<sup>TM</sup>
      Kit
    %p.am-text-xxl{style: 'color:#fff'} 告别通宵达旦 · 享受高效科研
    %a{href: ''}进一步了解>
.am-container.molecular-slogan
  %p.am-text-xl 关于PCR扩增这件“小事”
  %hr
  %p 假如我们的DNA模板藏在土壤、牛奶或者血液中……
.adv.am-vertical-align.am-text-center{style: 'background-image: url({{ "/images/biogeek/clone/sadv2.jpg" | prepend: site.url.assets }})'}
  .am-u-sm-10.am-u-md-8.am-u-sm-centered.am-vertical-align-bottom.am-margin
    %p.am-text-xxl{style: 'color:#fff'}
      Gene
      <i>Taq</i><sup>TM</sup>
      DNA Polymerase
    %a{href: ''}
      进一步了解>
