---
layout: default
title: 分子生物学试剂
---
.molecular-pic
.am-container.molecular-slogan
  %p.p-title 多种高品质分子生物学试剂助力您的生命科学
  %hr
  %p.p-text 高品质的生物试剂，是缩短实验时间，加快项目进程的利器。我们的精心准备，使您的实验不再繁琐。
.am-container
  %ul.second-pic-sprite.am-center.am-avg-sm-3.am-avg-md-5
    %li
      %img.am-img-responsive{src: '{{ "/images/1.jpg" | prepend: site.url.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/2.jpg" | prepend: site.url.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/3.jpg" | prepend: site.url.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/4.jpg" | prepend: site.url.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/5.jpg" | prepend: site.url.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/6.jpg" | prepend: site.url.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/7.jpg" | prepend: site.url.assets }}'}
    %li{:style => "position:relative"}
      %a#link8{:href => '{{ "/cell/bg10202" | prepend: site.url.biogeek }}', :style => "display:block;position:relative"}
        %img#img8.am-img-responsive{src: '{{ "/images/8.jpg" | prepend: site.url.assets }}'}
        %span.am-margin-sm{:style => "position:absolute;left:0;bottom:0;color:#fff;font-size:20px"}
          Quick Ligase
          %sup{style: 'margin: 0 0 0 -6px'} TM
          Kit
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/9.jpg" | prepend: site.url.assets }}'}
    %li{:style => "position:relative"}
      %a#link10{:href => '{{ "/cell/bg10104" | prepend: site.url.biogeek }}', :style => "display:block;position:relative"}
        %img#img10.am-img-responsive{src: '{{ "/images/10.jpg" | prepend: site.url.assets }}'}
        %span.am-margin-sm{:style => "position:absolute;left:0;bottom:0;color:#fff;font-size:20px"}
          Gene
          %i Taq
          %sup{style: 'margin: 0 0 0 -6px'} TM
          2 x Master Mix
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/11.jpg" | prepend: site.url.assets }}'}
    %li{:style => "position:relative"}
      %a#link12{:href => '{{ "/cell/bg10201" | prepend: site.url.biogeek }}', :style => "display:block;position:relative"}
        %img#img12.am-img-responsive{src: '{{ "/images/12.jpg" | prepend: site.url.assets }}'}
        %span.am-margin-sm{:style => "position:absolute;left:0;bottom:0;color:#fff;font-size:20px"}
          T4 DNA Ligase
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/13.jpg" | prepend: site.url.assets }}'}
    %li{:style => "position:relative"}
      %a#link14{:href => '{{ "/cell/bg10301" | prepend: site.url.biogeek }}', :style => "display:block;position:relative"}
        %img#img14.am-img-responsive{src: '{{ "/images/14.jpg" | prepend: site.url.assets }}'}
        %span.am-margin-sm{:style => "position:absolute;left:0;bottom:0;color:#fff;font-size:20px"}
          Pfu DNA Polymerase
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/15.jpg" | prepend: site.url.assets }}'}
.am-container.molecular-slogan
  %p.p-title Faster，Higher，Stronger
  %hr
  %p.p-text 从过夜到5分钟——用更短的时间完成分子克隆，用更多的时间进行思考。
.molecular-adv1.am-vertical-align.am-text-center
  .am-u-sm-10.am-u-md-8.am-u-sm-centered.am-vertical-align-middle.am-margin
    %p.p-title
      Quick Ligase
      %sup{style: 'margin: 0 0 0 -20px'} TM
      Kit
    %p.p-text 告别通宵达旦 · 享受高效科研
    %a{href: ''}进一步了解>
.am-container.molecular-slogan
  %p.p-title 关于PCR扩增这件“小事”
  %hr
  %p.p-text 假如我们的DNA模板藏在土壤、牛奶或者血液中……
.molecular-adv2.am-vertical-align.am-text-center
  .am-u-sm-10.am-u-md-8.am-u-sm-centered.am-vertical-align-middle.am-margin
    %p.p-title
      Gene
      %i Taq
      %sup{style: 'margin: 0 0 0 -20px'} TM
      DNA Polymerase
    %p.p-text ——兼容多类样品 · 保障踏实前行
    %a{href: ''}进一步了解>
.am-g.am-margin-top-xl
  %ul.am-u-md-11.am-u-md-centered.icon-list.first-footer.am-margin-top-xl
    %li.am-u-sm-6.am-u-md-3
      %img{src: '{{ "/images/s1.png" | prepend: site.url.assets }}'}
      %h4.am-margin-top.p-title 科研服务
      %span.p-text 专业团队助力您的生命科学
      %a{href: ''}进一步了解
    %li.am-u-sm-6.am-u-md-3
      %img{src: '{{ "/images/s2.png" | prepend: site.url.assets }}'}
      %h4.am-margin-top.p-title 定制开发
      %span.p-text 为满足您的特殊实验，定向提供解决方案
      %a{href: ''}进一步了解
    %li.am-u-sm-6.am-u-md-3
      %img{src: '{{ "/images/s3.png" | prepend: site.url.assets }}'}
      %h4.am-margin-top.p-title 服务至上
      %span.p-text 细致入微的售前、售后服务
      %a{href: ''}进一步了解
    %li.am-u-sm-6.am-u-md-3
      %img{src: '{{ "/images/s4.png" | prepend: site.url.assets }}'}
      %h4.am-margin-top.p-title 合作洽谈
      %span.p-text 全球代理、工业开发，我们携手前行
      %a{href: ''}进一步了解
.am-margin-top.product-list
  .am-u-md-10.am-u-md-centered.am-g-collapse
    %p.am-margin-top.am-padding-bottom-sm
      %strong.am-margin-left.am-padding-top-sm{style: 'display:block'} BioGeek 产品列表
    %ul.am-g.am-u-md-centered.icon-list.am-g-collapse
      %li.am-u-sm-6.am-u-md-3
        %ul.am-margin-top-sm.list
          %li
            %strong
              %a{href: '{{ "/clone" | prepend: site.url.biogeek }}'}分子克隆
          %li.am-margin-top-xs
            %a{href: '{{ "/cell/bg10102" | prepend: site.url.biogeek }}'}
              · Gene
              %i Taq
              %sup{style: 'margin: 0 0 0 -4px'} TM
              DNA Polymerase
          %li.am-margin-top-xs
            %a{href: '{{ "/cell/bg10104" | prepend: site.url.biogeek }}'}
              · Gene
              %i Taq
              %sup{style: 'margin: 0 0 0 -4px'} TM
              2X Master Mix
          %li.am-margin-top-xs
            %a{href: '{{ "/cell/bg10202" | prepend: site.url.biogeek }}'}
              · Quick Ligase
              %sup{style: 'margin: 0 0 0 -4px'} TM
              Kit
          %li.am-margin-top-xs
            %a{href: '{{ "/cell/bg10201" | prepend: site.url.biogeek }}'}
              · T4 DNA Ligase
          %li.am-margin-top-xs
            %a{href: '{{ "/cell/bg10301" | prepend: site.url.biogeek }}'}· Pfu DNA Polymerase
      %li.am-u-sm-6.am-u-md-3
        %ul.am-margin-top-sm.list
          %li
            %strong
              %a{href: '{{ "/cell" | prepend: site.url.biogeek }}'}· 细胞培养
          %li.am-margin-top-xs
            %a{href: ''} · Transfection Kit
          %li
            %a{href: ''} &nbsp; 细胞转染试剂
          %li.am-margin-top-xs
            %a{href: ''}
          %li.am-margin-top-xs
            %a{href: ''} · Lentivirus Concentration
          %li
            %a{href: ''} Solution Kit慢病毒浓缩试剂盒
          %li
            %a{href: ''} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          %li
            %a{href: ''} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      %li.am-u-sm-6.am-u-md-3
        %ul.am-margin-top-sm.list
          %li
            %strong
              %a{href: '{{ "/ngs" | prepend: site.url.biogeek }}'}· NGS
          %li.am-margin-top-xs
            %a{href: ''} · Mag-Nucleotide Purification
          %li
            %a{href: ''} &nbsp;&nbsp;Kit 核酸纯化（磁珠）试剂盒
          %li.am-margin-top-xs
            %a{href: ''} · Mag-Nucleotide Fragment
          %li.am-margin-top-xs
            %a{href: ''} &nbsp;&nbsp;Selection Kit 核酸片段选择（磁&nbsp;&nbsp;&nbsp;珠）试剂盒
          %li.am-margin-top-xs
            %a{href: ''} · Mag-Plasmid Prep Kit
          %li
            %a{href: ''} &nbsp;&nbsp;质粒提取（磁珠）试剂盒
      %li.am-u-sm-6.am-u-md-3
        %ul.am-margin-top-sm.list
          %li
            %strong
              %a{href: ''} 蛋白表达
%script{:src => "{{ '/javascripts/biogeek.js' | prepend: site.url.biogeek }}"}
