---
layout: default
title: 文章列表 - 合生博客
---
{% for post in site.posts %}
.am-container
  %h1.am-margin-top-lg {{ post.title }}
  %small
    %a.am-margin-bottom{href: "{{ post.url }}" } {{ post.url }}
  %a{href: "{{ post.url }}" }
    %img.am-img-responsive.am-margin-bottom-lg{src: "{{ post.image | prepend: site.url.assets }}" }
{% endfor %}
