---
layout: service
title: Cell Line Engineering
image:
  header: /images/product-8.1.jpg
  footer: /images/product-8.7.jpg
---

%p Cell line engineering is a versatile tool for studying gene function, tumor treatment, biopharmaceutical research and many other applications. However, the difficult and time-consuming task of generating cell lines can sometimes be a rate-limiting step for a promising project. SyngenTech provides one-stop services for cell line engineering using CRISPR/Cas9 technology. Our featured services include generating knockout cell lines, site-specific and non-site-specific knock-in cell lines.
%hr
%p
  %strong Lorem ipsum... 1. Knock-out cell lines and site-specific knock-in cell lines
%p
  Genome editing technology allows genetic modifications at the genomic DNA level. The CRISPR/Cas9 genome editing system involves expressing an RNA-guided Cas9 endonuclease along with guide RNAs directing it to a specific sequence to be edited. When a DSB (double stranded break) is introduced in the genome, the cell repairs the damage by by NHEJ (Nonhomologous end joining) or HR (Homologous recombination), during which different modifications can be introduced to the genome.：
  %p
  1）Gene knock-out: a particular DSB is introduced to a specific gene locus. Repairing by NHEJ would result in DNA insertion or deletion (Indel), which in turn leads to frame shift.
  %div{align: 'center'}
    %img.am-img-responsive{src: '{{ "/images/product-8.2.jpg" | prepend: site.url.assets }}', alt: '基因敲除', width: '437', height: '209'}
  %img.am-img-responsive{src: '{{ "/images/product-8.3.png" | prepend: site.url.assets }}', alt: '过程'}
  2）Site-specific gene knock-in: except for the components used by gene knock-out, gene knock-in requires an exogenous donor DNA which offers homologous sequences for the HR repair.
  %div{align: 'center'}
    %img.am-img-responsive{src: '{{ "/images/product-8.4.jpg" | prepend: site.url.assets }}', alt: '定点基因敲入', width: '502', height: '279'}
    %img.am-img-responsive{src: '{{ "/images/product-8.5.png" | prepend: site.url.assets }}', alt: '过程'}
%p
  %strong 2. Non-site-specific knock-in cell lines
%p SyngenTech uses lentivirus as a carrier for delivering of exogenous DNA into genomes. Lentivirus is an HIV-1-based retrovirus that effectively transduces both dividing and non-dividing mammalian cells. Widely used in cell engineering, Lentivirus transduction provides stable, long-term expression of target genes in a wide range of host cells. Compared to other retroviral system, lentivirus vectors results in a higher viral titer and efficient expression of the gene of interest.
%h3 Technical flowchart：
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/product-8.6.png" | prepend: site.url.assets }}', alt: '服务流程', width: '713', height: '183'}
%p
  For ordering, please download and fill in the online form and send to
  %a{href: 'mailto:info@syngentech.com.cn'} info@syngentech.com.cn
  Or you can directly contact the marketing department at sales@syngentech.com.cn. We will reach you as soon as possible.
%hr
%p
  %strong 3. Our advantages
%ul
  %li In-house expertise: SyngenTech has developed an optimized, efficient CRISPR/Cas9 system that is more applicable to mammalian cells.
  %li Full range of services: our services cover almost all aspects of synthetic biology ranging from the upstream molecular cloning to the downstream transgenetic mouse.
  %li Strong scientific background: we are supported by prestigious scientists with publications in top journals including Science and Nature.
  %li Experienced R&D team: SyngenTech people have at least a master degree or above with years of lab work experience.
  %li Perfect client experience: an experienced staff member will follow each service or product we provide and answer questions and requests from clients within 48 hours.
%hr
%p
  %strong 4. Timelines
%p Gene knock-out &nbsp;&nbsp; 2-4 months
%p Site-specific gene knock-in &nbsp; 3-6 months
%p Non-site-specific gene knock-in &nbsp; 1-2 months
%hr
%p
  %strong 5. Payment and result submission
%ol
  %li One-off payment: the client would enjoy 10% discount；
  %li Installment payment: the client should pay 60% of the total charge as a deposit.
  %li The client will receive 2 cell lines and other test reports including sequencing results and RT-PCR results.
