---
layout: service-en
title: Activity test for CRISPR/Cas9 system
image:
  header: /images/product-3.1.jpg
  footer: /images/product-3.6.jpg
---

%p
  Even as the most robust and reliable technology for genome editing, the CRISPR/Cas9 system has several limitations that include the variable targeting efficiencies of different gRNAs, which depends on the accessibility of the target locus as well as the chromatin structure at that location. As such, it is advisable to design and test a few gRNAs prior to proceeding the more laborious and expensive downstream experiments. SyngenTech has developed simple, reliable and rapid methods for activity tests of different gRNAs:
  %p
  1. Fluorescence intensity based detection assay
  %br
  2. Mismatch cleavage
  %br
  3. Sanger sequencing based detection assay
%hr
%h2 Fluorescence intensity based detection assay
%p This kit is designed to provide a straightforward and simple test for the efficacy of different gRNAs in vivo. The assay uses fluorescence intensity as an indicator. With this kit, a vector expresses an inactive EYFP or mKATE protein that is pre-terminated by a stop codon. Downstream of the truncated protein lies a MCS (multiple cloning site) for the insertion of different gRNA target sequences. Cleavage by Cas9 at the target sequence initiates the cellular homologous recombination repairing system, which in turn restores the expression of functional fluorescence proteins. The efficacy of different gRNAs can thus be determined by measuring the fluorescence intensity with a fluorescence microscope or flow cytometry.
%p
  %strong Schematic diagram 1
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/product-3.2.png" | prepend: site.domain.assets }}', alt: '技术路线一', width: '449', height: '279'}
%p
  %strong Schematic diagram 2
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/product-3.3.png" | prepend: site.domain.assets }}', alt: '技术路线二', width: '445', height: '227'}
%p
  %strong Typical activity measurements by fluorescence microscope and flow cytometry
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/product-3.4.png" | prepend: site.domain.assets }}', alt: '检测结果', width: '459', height: '401'}
%h2 Mismatch cleavage
%p In this method, the modified target DNA sequence is first amplified by PCR. The PCR product is then denatured and re-annealed so that mismatches are generated as strands with an Indel re-annealed to strands with no indel (insertions or deletions) or a different indel. The mismatches are subsequently recognized and cleaved by a specific enzyme and then the resultant bands are analyzed by gel electrophoresis. The pattern and intensity of the bands reflect the efficacy of the gRNA.
%h2 Sanger sequencing based detection assay
%p In this method, the efficacy of gRNAs is evaluated by analyzing the sequencing peaks of the PCR product from the modified target region.
%div{align: 'center'}
  %img.am-img-responsive.am-margin-bottom-lg{src: '{{ "/images/product-3.5.png" | prepend: site.domain.assets }}', alt: '套峰检测', width: '488', height: '393'}
