---
layout: service
title: Vector design and construction for the CRISPR/Cas9 system
image:
  header: /images/product-1.1.jpg
  footer: /images/product-1.4.jpg
---

%p CRISPR (Clustered Regularly Interspaced Short Palindromic Repeats) / Cas (CRISPR-associated) gene editing technology is a revolutionizing tool developed in recent years. Bacteria use CRISPRs naturally as an anti-viral defense immunity mechanism. In that natural context, CRISPR DNA sequences are transcribed into crRNA (CRISPR RNAs) that in turn base pair with tracrRNA (trans-activating RNA). This tracrRNA/crRNA complex then leads to the destruction of specific viral DNA sequences via the Cas9 nuclease. In the man-made CRISPR/Cas9 system, tracrRNA and crRNA are packaged together to form a single-guide RNA (sgRNA or gRNA) that can guide the Cas9 enzyme to cut at a specific genome locus.
%p As a dsDNA binding protein guided by RNA, Cas9 endonuclease possesses enormous potential adaptability. For example, a dead (inactive) Cas9 endonuclease can be incorporated to the system to help introduce proteins or nucleic acids to a specific gene region.
%hr
%p SyngenTech also provides custom CRISPR/Cas9 vectors to meet different needs. Custom CRISPR/Cas9 vectors with different combinations of the cis-elements in the following table can be ordered from SyngenTech.

/ make picture center
%div{align: 'center'}
  %img.am-img-responsive.am-margin-bottom-xl{src: '{{ "/images/product-1.2.jpg" | prepend: site.url.assets }}', alt: '基因元件', width: '416', height: '219'}
  %img.am-img-responsive{src: '{{ "/images/product-1.3.png" | prepend: site.url.assets }}', alt: 'gRNA表达载体', width: '510', height: '255'}
