---
layout: service
title: Quick cloning kits for CRISPR/Cas9 system
image:
  header: /images/product-2.1.jpg
  footer: /images/product-2.8.jpg
---

%p SyngenTech has developed rapid, simple and highly efficient cloning kits for the direct insertion of annealed gRNA oligos into a Cas9 vector. Using this kit, up to 95% positive recombinants can be obtained within 2 days. To ensure the efficacy of gRNAs, it is advisable to design 3-6 gRNAs against one target.
%img.am-img-responsive{src: '{{ "/images/product-2.2.jpg" | prepend: site.url.assets }}', alt: '细胞实验'}
%p.am-text-center
  Shematic diagram for the construction of gRNA-Cas9 vector (Vector construction kit for gene editing):

/ make picture center
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/product-2.3.jpg" | prepend: site.url.assets }}', alt: '基因编辑载体构建试剂盒', width: '400', height: '265'}

%p.am-text-center
  Shematic diagram for the construction of gRNA-Cas9-KRAB vector (Vector construction kit for transcriptional inhibition):

/ make picture center
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/product-2.4.jpg" | prepend: site.url.assets }}', alt: '转录抑制载体构建试剂盒', width: '406', height: '209'}

%p.am-text-center
  Shematic diagram for the construction of gRNA-Cas9-VP64 vector (Vector construction kit for transcriptional activation):

%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/product-2.5.jpg" | prepend: site.url.assets }}', alt: '转录激活载体构建试剂盒', width: '399', height: '264'}
%p SyngenTech also provides custom CRISPR/Cas9 vectors to meet different needs. Custom CRISPR/Cas9 vectors with different combinations of the cis-elements in the following table can be ordered from SyngenTech.
%div{align: 'center'}
  %img.am-img-responsive.am-margin-bottom-xl{src: '{{ "/images/product-2.6.jpg" | prepend: site.url.assets }}', alt: '图表', width: '416', height: '219'}
  %img.am-img-responsive{src: '{{ "/images/product-2.7.jpg" | prepend: site.url.assets }}', alt: 'gRNA表达载体', width: '410', height: '258'}
