---
layout: service-en
title: Gene synthesis
image:
  header: /images/product-11.1.jpg
  footer: /images/product-11.3.jpg
---

%h2 Introduction
%p Gene synthesis is an efficient and cost-effective alternative to traditional molecular cloning for obtaining a specific DNA sequence. SyngenTech offers gene synthesis services with complete customizability and considerable savings of time and money. Our featured gene synthesis services include codon-optimized cDNA, gene variants, artificially designed DNA, or any other sequence for your research. Simply provide a nucleotide or amino acid sequence, and we will ship your desired gene cloned into your choice of plasmid with 100% sequence accuracy guaranteed.
%hr
%h2 Price and turnaround Time
%img.am-img-responsive{src: '{{ "/images/product-en-11.1.jpg" | prepend: site.domain.assets }}', alt: '基因合成价目表'}
%h2 Advantages
%ul
%li Advanced technologies: proprietary technologies enable SyngenTech to synthesize sequences with complex secondary structures such as highly repetitive, AT-rich, and GC-rich DNA.
%li Codon-optimization of coding sequence (free charge): our bioinformatics platform optimizes your desired sequences for your specific needs.
%li Delivered in common vectors: the synthetic DNA is delivered is cloned in pMV (AmpR) or pKMV (KanR) vectors; for difficult insertions, the synthetic DNA will be shipped as PCR product (20% discount).
%li Custom cloning services: our experienced experts ensure that your DNA fragment can be inserted at any site in your choice of plasmid (an additional charge will be included according to the size of the plasmid).
%li Commitment: we will inform you in time if the DNA synthesis is influenced by the complex structure, and ask for a delayed shipment; if the service is canceled for technical reasons, you only need to pay for the synthesized part at a 20% discount.
%li Intellectual Property Security: SyngenTech does not claim rights or ownership of any intellectual property related to the DNA/amino acid sequences provided by our customers or the resulting synthetic genes. No data or material will be released to a third party.
