---
layout: service
title: gRNA library construction
image:
  header: /images/product-4.1.jpg
  footer: /images/product-4.2.jpg
---

%p Identification of genes influencing a phenotype of interest is frequently achieved through genetic screening by RNA interference (RNAi) or knockouts. However, RNAi may only achieve partial depletion of gene activity, and knockout-based screens are difficult in diploid mammalian cells. The CRISPR-Cas9 system offers an efficient alternative to those traditional methods in terms of high throughput screening for functional gene studies. SyngenTech provides custom gRNA libraries targeting the whole genome or genes in specific pathways such as cell apoptosis, cell proliferation and other signal transduction pathways. Besides, we developed a highly functional high throughput lentiviral gRNA/CRISPR-screening platform, enabling scientists to perform pooled format genome-wide CRISPR/Cas9 genetic screens.
%p &nbsp;
