---
layout: service
title: Lentivirus packaging
image:
  header: /images/product-9.1.jpg
  footer: /images/product-9.4.jpg
---

%p Lentivirus is an HIV-1-based retrovirus that effectively transduces both dividing and non-dividing mammalian cells. Lentivirus transduction provides stable, long-term expression of target genes in a wide range of host cells. Compared to other retroviral system, lentivirus vectors results in a higher viral titer and efficient expression of the gene of interest. Lentivirus has so far been used to introduce new genes or shRNAs into human or animal cells for functional gene screening or biomedical therapies.
%hr
%p SyngenTech provides custom lentivirus packaging services including those used for constitutive or inducible expression of shRNAs, miRNAs, Cas9, and other functional genes.
%h2 1. Lentivirus Packaging Services
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/product-9.2.png" | prepend: site.url.assets }}', alt: '慢病毒载体包装服', width: '1000', height: '200'}
%h3 Workflow of Lentivirus Packaging Services
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/product-9.3.jpg" | prepend: site.url.assets }}', alt: '慢病毒包装流程', width: '900', height: '150'}
%h3 The lentivirus particles can be used to
%ul
  %li infect primary cells;
  %li prepare stable cell lines (gene overexpression/silencing);
  %li make transgenic animals, particularly transgenic rats;
  %li
    other
    %em in vivo
    experiments.
%p
  %br
  %strong You need to offer：
  gene sequences or gene IDs and lentivirus expression vectors; please make a notification if you need us to provide the vectors.
  %p
  %strong We will ship you：
  one vial of 100ul virus solution and 50 ul control virus, respectively. The virus titer is above 108 TU/mL (for CRISPR/Cas9 system, the virus titer is above 107 TU/mL). Please make a notification if you need larger virus packages.
%hr
%h2 2. Generation of non-site-specific knock-in cell lines using lentivirus
%p
  SyngenTech’s custom generation of stable cell lines includes cloning the gene or shRNA of interest into a safe lentiviral vector, generating the lentivirus and transducing into the cell line of your choice. This method is much faster and cost-effective compared to the traditional plasmid transient transfection for non-site-specific insertion of target gene cassettes. For more information, please visit
  %a{href: '{{ "/en/service/product/cell-line-transform" | prepend: site.url.root }}'} Cell Line Engineering
