---
layout: service
title: Vector design and construction for miRNA Sponge
image:
  header: /images/product-6.1.jpg
  footer: /images/product-6.4.jpg
---

%p miRNA (microRNA) sponges are RNA molecules with repeated miRNA antisense sequences that can sequester miRNAs from their endogenous targets and thus serve as a decoy. Stably expressed miRNA sponges are especially valuable for long-term loss-of-function studies and can be used in vitro and in vivo. Compared with antisense oligonucleotide inhibitor, miRNA sponge possesses the following superiority: (a) miRNA sponge is encoded by plasmid, which can be easily purified from E.Coli instead of the cost and complex chemical synthesis; (b) miRNA sponge expression cassette can be engineered into genome by generation of stable cell lines; (c) through deliberately designing of miRNA sponge, a whole family of miRNAs can be silenced; (d) even completely unrelated miRNAs binding sequences can be constructed compatibly within one vector, so miRNA sponge could slience multiple miRNAs simultaneously.
%p SyngenTech provides custom miRNA sponge services to meet your specific needs. Custom miRNA sponge expression vectors with different combinations of the elements in the following table can be ordered from us. If those elements cannot fulfil your requirement, please contact us for a solution. Our experienced team can always come up with professional services tailored to your needs.
.am-g
  .am-u-sm-12.am-u-md-5.am-u-lg-5
    %p
      %strong Table 1: available DNA elements
    %img.am-img-responsive{src: '{{ "/images/product-6.2.jpg" | prepend: site.url.assets }}', alt: '载体元件', width: '448', height: '205'}
    %p &nbsp;
  .am-u-sm-12.am-u-md-6.am-u-lg-6
    %p
      %strong Figure 1: available vector backbone
    %img.am-img-responsive{src: '{{ "/images/product-6.3.jpg" | prepend: site.url.assets }}', alt: '载体骨架', width: '482', height: '201'}
    %p &nbsp;
