---
layout: service
title: Vector design and construction for RNAi
image:
  header: /images/product-5.1.jpg
  footer: /images/product-5.5.jpg
---

%p RNA interference (RNAi) is a biological process in which RNA molecules inhibit gene expression, typically by causing the destruction of specific mRNA molecules. SyngenTech provides custom RNAi tools for gene silencing, including shRNA, miRNA related technologies.
%p Custom shRNA/miRNA expression vectors with different combinations of the elements in the following table can be ordered from us. If those elements cannot fulfil your requirement, please contact us for a solution. Our experienced team can always come up with professional services tailored to your needs.
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/product-5.2.jpg" | prepend: site.url.assets }}', width: '453', height: '289'}
%p shRNA expression vectors:

/ make picture center
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/product-5.3.jpg" | prepend: site.url.assets }}', alt: 'shRNA表达载体', width: '400', height: '209'}
%p miRNA expression vectors:
%div{align: 'center'}
  %img.am-img-responsive.am-margin-bottom-lg{src: '{{ "/images/product-5.4.jpg" | prepend: site.url.assets }}', alt: 'miRNA表达载体', width: '400', height: '209'}
