---
layout: service
title: shRNA library construction
image:
  header: /images/product-7.1.jpg
  footer: /images/product-7.2.jpg
---

%h2 shRNA library construction
%p A small hairpin RNA or short hairpin RNA (shRNA) is an artificial RNA molecule with a tight hairpin turn that can be used to silence target gene expression via RNA interference (RNAi). Pooled lentiviral-based shRNA libraries allow researchers to identify functional genes in high throughput formats. SyngenTech provides custom shRNA libraries targeting the whole genome or genes in specific pathways such as cell apoptosis, cell proliferation and other signal transduction pathways.

%p &nbsp;
%p &nbsp;
