---
layout: service-en
title: Technical services using synthetic biology
image:
  header: /images/product-12.1.jpg
  footer: /images/product-12.2.jpg
---

%p Informatics and life sciences are two scientific frontiers in the 21st century. With the completion of human genome project and the development of a series of high-throughput techniques, more and more scientists are turning their interests from individual genes and proteins to viewing life in a broad way using genomics, proteomics, transcriptomics, and epigenomics, metabonomics and other omics. Developed from informatics and life sciences, bioinformatics when combined with computational biology and omics leads to systematic biology, enabling exploring life in a systematic and comprehensive fashion. Meanwhile, systematic biology along with other disciplines prompt the development of synthetic biology, a field using the artificial design and engineering of biological systems and living organisms for purposes of improving applications for industry or biological research. Science and technology are indispensable tools for understanding the essence of life, with the former teaching us to know life and the latter leading us to create life.
%p SyngenTech is China’s first biotechnology company focused on applying synthetic biology to scientific research and public healthcare. SyngenTech utilizes scientific excellence in synthetic biology, a commitment to customer service and relentless pursuit of innovation to help scientists around the world achieve their goals.
%p
  %strong Our goal is to provide excellent services in the following fields:
%p &bull; Application of bioinformatics to High throughput Omics
%p &bull; Regulatory network of complex diseases
%p &bull; Epigenetics of cell programming and reprogramming
%p &bull; Gene synthesis
%p &bull; Bio-environment and bio-energy
%p &bull; Systematics and developmental biology
