---
layout: service
title: Transgenetic model animals
image:
  header: /images/product-10.1.jpg
  footer: /images/product-10.3.jpg
---

%p Based on our superior experience in working with model animals and CRISPR/Cas9 system, SyngenTech provides one-stop solution for all your transgenic model animal needs. We have successfully set up two service platform. The knock-out/in mice platform offers outsourcing services including transgenic vector construction, stable ESCs preparation, and plasmid microinjection. The transgenic model animal platform provides custom transgenic model animals using CRISPR/Cas9 system.
%h2 Services and Turnaround Time
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/product-10.2.jpg" | prepend: site.url.assets }}', alt: '基因工程鼠定制服务', height: '250', width: '1000'}
%hr
%h2 Our advantages:
%ul
  %li Multiple donor strains: FVB, B6 and Balb/C mouse strains；SD rat strain
  %li Versatile technologies: traditional ESCs Method and Pronucleus Method; TALEN and Optimized CRISPR/Cas9 systems
  %li International quality certification: SPF-class animal houses; third party tests (CNAS, CMA and CMAF); clinical test (CAP); Laboratory Animal License
  %li Unbeatable prices and flexible payment
  %li Professional shipment of animals
