---
layout: default
---

{{ content }}

<div class='am-container am-margin-vertical am-padding-vertical am-text-center'>
  <div class='am-u-sm-6 am-u-md-3'>
    <img src='{{ "/images/biogeek/footer-1.png" | prepend: site.url.assets }}'>
    <p class='am-text-lg'><strong>科研服务</strong></p>
    <p>
      专业团队助力您的生命科学
      <br>
      <a href="{{ site.url.service }}">进一步了解</a>
    </p>
  </div>
  <div class='am-u-sm-6 am-u-md-3'>
    <img src='{{ "/images/biogeek/footer-2.png" | prepend: site.url.assets }}'>
    <p class='am-text-lg'><strong>定制开发</strong></p>
    <p>
      满足您特殊需求的定向解决方案
      <br>
      <a href="{{ '/cooperate' | prepend: site.url.root }}">进一步了解</a>
    </p>
  </div>
  <div class='am-u-sm-6 am-u-md-3'>
    <img src='{{ "/images/biogeek/footer-3.png" | prepend: site.url.assets }}'>
    <p class='am-text-lg'><strong>服务至上</strong></p>
    <p>
      细致入微的售前、售后服务
      <br>
      <a href="{{ '/contact' | prepend: site.url.root }}">进一步了解</a>
    </p>
  </div>
  <div class='am-u-sm-6 am-u-md-3'>
    <img src='{{ "/images/biogeek/footer-4.png" | prepend: site.url.assets }}'>
    <p class='am-text-lg'><strong>合作洽谈</strong></p>
    <p>
      全球代理，工业开发，携手前行
      <br>
      <a href="{{ '/cooperate' | prepend: site.url.root }}">进一步了解</a>
    </p>
  </div>
</div>

<div class="am-container am-margin-vertical am-link-muted">
  <h2>BioGeek 产品列表</h2>
  <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
    <strong>
      <a href='{{ "/clone" | prepend: site.url.biogeek }}'>分子克隆</a>
    </strong>
    <ul>
      <li><a href='{{ "/clone/bg10102" | prepend: site.url.biogeek }}'>
        Gene<i>Taq</i><sup>TM</sup> DNA Polymerase
      </a></li>
      <li><a href='{{ "/clone/bg10110" | prepend: site.url.biogeek }}'>
        2 × <i>Taq</i> Master Mix
      </a></li>
      <li><a href='{{ "/clone/bg10202" | prepend: site.url.biogeek }}'>
        Quick Ligase<sup>TM</sup> Kit
      </a></li>
      <li><a href='{{ "/clone/bg10201" | prepend: site.url.biogeek }}'>
        T4 DNA Ligase
      </a></li>
      <li><a href='{{ "/clone/bg10301" | prepend: site.url.biogeek }}'>
        pfu DNA Polymerase
      </a></li>
    </ul>
  </div>
  <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
    <strong>
      <a href="{{ '/cell' | prepend: site.url.biogeek }}">细胞培养</a>
    </strong>
    <ul>
      <li>
        <a href='{{ "/cell/bg20201" | prepend: site.url.biogeek }}'>
        Transfection Reagent Kit
        <br>
        细胞转染试剂
      </li>
      <li><a href='{{ "/cell/LC-kit" | prepend: site.url.biogeek }}'>
        Lentivirus Concentration Kit
        <br>
        慢病毒浓缩试剂盒
      </li>
      <li><a href='{{ "/cell/bg20301" | prepend: site.url.biogeek }}'>
        Polybrene
        <br>
        聚凝胺
      </li>
    </ul>
  </div>
  <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
    <strong>
      <a href="{{ '/ngs' | prepend: site.url.biogeek }}">NGS</a>
    </strong>
    <ul>
      <li>
        Mag-Nucleotide Purification
        <br>
        Kit 核酸纯化（磁珠）试剂盒
      </li>
      <li>
        Mag-Nucleotide Fragment Selection Kit
        <br>
        核酸片段选择(磁珠)试剂盒
      </li>
      <li>
        Mag-Plasmid Prep Kit
        <br>
        质粒提取(磁珠)试剂盒
      </li>
    </ul>
  </div>
  <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
    <strong>蛋白表达</strong>
  </div>
</div>
