---
layout: default-en
---

{{ content }}

<div class='am-container am-margin-vertical am-padding-vertical am-text-center'>
  <div class='am-u-sm-6 am-u-md-3'>
    <img src='{{ "/images/biogeek/footer-1.png" | prepend: site.url.assets }}'>
    <p class='am-text-lg'><strong>Profession</strong></p>
    <p>
      Experienced scientists in SyngenTech will offer any technical support or scientific advice for you.
      <br>
      <a href="{{ site.url.service }}">Find out more</a>
    </p>
  </div>
  <div class='am-u-sm-6 am-u-md-3'>
    <img src='{{ "/images/biogeek/footer-2.png" | prepend: site.url.assets }}'>
    <p class='am-text-lg'><strong>Customizaiton</strong></p>
    <p>
      We provide custom products and services to meet your specific requirements
      <br>
      <a href="{{ '/en/cooperate' | prepend: site.url.root }}">Find out more</a>
    </p>
  </div>
  <div class='am-u-sm-6 am-u-md-3'>
    <img src='{{ "/images/biogeek/footer-3.png" | prepend: site.url.assets }}'>
    <p class='am-text-lg'><strong>Commitment</strong></p>
    <p>
      Experienced and professional staff in SyngenTech will follow through every product and technical service we provide.
      <br>
      <a href="{{ '/en/contact' | prepend: site.url.root }}">Find out more</a>
    </p>
  </div>
  <div class='am-u-sm-6 am-u-md-3'>
    <img src='{{ "/images/biogeek/footer-4.png" | prepend: site.url.assets }}'>
    <p class='am-text-lg'><strong>Cooperation</strong></p>
    <p>
      We are looking forward to partnering with other complementary biotechnology companies or agencies
      <br>
      <a href="{{ '/en/cooperate' | prepend: site.url.root }}">Find out more</a>
    </p>
  </div>
</div>

<div class="am-container am-margin-vertical am-link-muted">
  <h2>BioGeek Product List</h2>
  <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
    <strong>
      <a href='{{ "/en/biogeek/clone" | prepend: site.url.root }}'>Molecular Cloning</a>
    </strong>
    <ul>
      <li><a href='{{ "/en/biogeek/clone/bg10102" | prepend: site.url.root }}'>
        Gene<i>Taq</i><sup>TM</sup> DNA Polymerase
      </a></li>
      <li><a href='{{ "/en/biogeek/clone/bg10110" | prepend: site.url.root }}'>
        2 × <i>Tag</i> Master Mix
      </a></li>
      <li><a href='{{ "/en/biogeek/clone/bg10202" | prepend: site.url.root }}'>
        Quick Ligase<sup>TM</sup> Kit
      </a></li>
      <li><a href='{{ "/en/biogeek/clone/bg10201" | prepend: site.url.root }}'>
        T4 DNA Ligase
      </a></li>
      <li><a href='{{ "/en/biogeek/clone/bg10301" | prepend: site.url.root }}'>
        pfu DNA Polymerase
      </a></li>
    </ul>
  </div>
  <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
    <strong>
      <a href="{{ '/en/biogeek/cell' | prepend: site.url.root }}">Cell Culture</a>
    </strong>
    <ul>
      <!-- <li><a href='{{ "/en/biogeek/cell/bg20201" | prepend: site.url.root }}'> -->
        Transfection Kit
      </li>
      <li><a href='{{ "/en/biogeek/cell/LC-kit" | prepend: site.url.root }}'>
        Lentivirus Concentration Kit
      </li>
    </ul>
  </div>
  <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
    <strong>
      <a href="{{ '/en/biogeek/ngs' | prepend: site.url.root }}">NGS</a>
    </strong>
    <ul>
      <li>
        Mag-Nucleotide Purification
      </li>
      <li>
        Mag-Nucleotide Fragment Selection Kit
      </li>
      <li>
        Mag-Plasmid Prep Kit
      </li>
    </ul>
  </div>
  <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
    <strong>Protein Expression</strong>
  </div>
</div>
