---
layout: default
---
<div class="am-g">
  <div class="productlist am-vertical-align biogeek-banner " style= "background-image: url({{ page.image | prepend: site.url.assets }})">

     <div class="am-vertical-align-bottom am-text-center cong">
       <div class="am-container">
         <h1 class="am-text-left color-zong am-padding">
           {% if page.title_html %}
             {{ page.title_html }}
           {% endif %}
          </h1>
        </div>
     </div>
   </div>
</div>

{{ content }}

<div class="am-container am-u-md-11 am-u-md-centered am-margin-top-sm am-margin-bottom-lg">
  <div style="color:#f00">
    <p class="am-text-lg"><strong>订购方式</strong></p>
    <p>联系热线：400-680-3200</p>
    <p>固定电话：+86-10-80767807-811</p>
    <p>联系邮箱：service@syngen.tech</p>
    <p>运输方式：满1000元包邮哦，切莫错失良机，抓紧时间订购吧。</p>
  </div>
</div>

<div class="am-container am-margin-vertical am-link-muted" >
  <hr></hr>
  <h2>BioGeek<sup>TM</sup> 产品列表</h2>
  <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
    <strong>
      <a href='{{ "/clone" | prepend: site.url.biogeek }}'>分子克隆</a>
    </strong>
    <ul>
      <li><a href='{{ "/clone/bg10102" | prepend: site.url.biogeek }}'>
        Gene<i>Taq</i><sup>TM</sup> DNA Polymerase
      </a></li>
      <li><a href='{{ "/clone/bg10110" | prepend: site.url.biogeek }}'>
        2 × <i>Taq</i> Master Mix
      </a></li>
      <li><a href='{{ "/clone/bg10202" | prepend: site.url.biogeek }}'>
        Quick Ligase<sup>TM</sup> Kit
      </a></li>
      <li><a href='{{ "/clone/bg10201" | prepend: site.url.biogeek }}'>
        T4 DNA Ligase
      </a></li>
      <li><a href='{{ "/clone/bg10301" | prepend: site.url.biogeek }}'>
        pfu DNA Polymerase
      </a></li>
    </ul>
  </div>
  <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
    <strong>
      <a href="{{ '/cell' | prepend: site.url.biogeek }}">细胞培养</a>
    </strong>
    <ul>
      <li>
        <a href='{{ "/cell/bg20201" | prepend: site.url.biogeek }}'>
        Transfection Reagent Kit
        <br>
        细胞转染试剂
      </li>
      <li><a href='{{ "/cell/LC-kit" | prepend: site.url.biogeek }}'>
        Lentivirus Concentration Kit
        <br>
        慢病毒浓缩试剂盒
      </li>
      <li><a href='{{ "/cell/bg20301" | prepend: site.url.biogeek }}'>
        Polybrene
        <br>
        聚凝胺
      </li>
      <br>
    </ul>
  </div>
  <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
    <strong>
      <a href="{{ '/ngs' | prepend: site.url.biogeek }}">NGS</a>
    </strong>
    <ul>
      <li>
        Mag-Nucleotide Purification
        <br>
        Kit 核酸纯化（磁珠）试剂盒
      </li>
      <li>
        Mag-Nucleotide Fragment Selection Kit
        <br>
        核酸片段选择(磁珠)试剂盒
      </li>
      <li>
        Mag-Plasmid Prep Kit
        <br>
        质粒提取(磁珠)试剂盒
      </li>
    </ul>
  </div>
  <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
    <strong>蛋白表达</strong>
  </div>
</div>
