---
layout: biogeek_menu
title: 生物极客
---
.biogeek-banner.screen-height.am-vertical-align.am-text-center{style: 'background-image: url({{ "/images/biogeek/index-banner-1.jpg" | prepend: site.url.assets }})'}
  .am-vertical-align-bottom
    .am-margin-bottom-xl.am-padding-bottom-xl
      %h1.am-text-xxxl 合生基因 · 生物极客
      %p.am-text-lg 创造源自对未知的探索，改变源自对品质的渴望，璀璨源自对极致的追求

%ul.am-gallery.am-avg-sm-2.am-avg-md-4.am-gallery-default{'data-am-widget' => 'gallery'}
  %li
    .am-gallery-item
      %a{href: '{{ "/clone" | prepend: site.url.biogeek }}'}
        %img{src: '{{ "/images/biogeek/clone.jpg" | prepend: site.url.assets }}'}
  %li
    .am-gallery-item
      %a{href: '{{ "/cell" | prepend: site.url.biogeek }}'}
        %img{src: '{{ "/images/biogeek/cell.jpg" | prepend: site.url.assets }}'}
  %li
    .am-gallery-item
      %a{href:'{{ "/ngs" | prepend: site.url.biogeek }}'}
        %img{src: '{{ "/images/biogeek/ngs.jpg" | prepend: site.url.assets }}'}
  %li
    .am-gallery-item
      %img{src: '{{ "/images/biogeek/protein.jpg" | prepend: site.url.assets }}'}

.am-container.am-padding-vertical-xl.am-text-center
  %h2 极致品质生物试剂助力您的生命科学
  %hr
  .am-u-sm-6.am-u-md-3
    %img{src: '{{ "/images/j1.png" | prepend: site.url.assets }}'}
    %p.am-text-lg.am-margin-top-lg
      %strong 原材料选择
    %p.am-text-sm 顶级原材料是创造高质量试剂的先决条件
  .am-u-sm-6.am-u-md-3
    %img{src: '{{ "/images/j2.png" | prepend: site.url.assets }}'}
    %p.am-text-lg.am-margin-top-lg
      %strong 技术优化
    %p.am-text-sm 品质来源于全方位的不断创新与优化
  .am-u-sm-6.am-u-md-3
    %img{src: '{{ "/images/j3.png" | prepend: site.url.assets }}'}
    %p.am-text-lg.am-margin-top-lg
      %strong 对效率的追求
    %p.am-text-sm 加快实验速度才能拥有更多的时间思考
  .am-u-sm-6.am-u-md-3
    %img{src: '{{ "/images/j4.png" | prepend: site.url.assets }}'}
    %p.am-text-lg.am-margin-top-lg
      %strong 质量报告
    %p.am-text-sm 看得见的卓越才是真正的卓越
  .am-u-sm-6.am-u-md-3
    %img{src: '{{ "/images/j5.png" | prepend: site.url.assets }}'}
    %p.am-text-lg.am-margin-top-lg
      %strong 高稳定性
    %p.am-text-sm 稳定性是实验数据真实可靠的保证
  .am-u-sm-6.am-u-md-3
    %img{src: '{{ "/images/j6.png" | prepend: site.url.assets }}'}
    %p.am-text-lg.am-margin-top-lg
      %strong 试剂定制
    %p.am-text-sm 付费定制开发挑战个性化实验需求
  .am-u-sm-6.am-u-md-3
    %img{src: '{{ "/images/j7.png" | prepend: site.url.assets }}'}
    %p.am-text-lg.am-margin-top-lg
      %strong 质量控制
    %p.am-text-sm 严苛的质量控制存在于生产的每一道环节
  .am-u-sm-6.am-u-md-3
    %img{src: '{{ "/images/j8.png" | prepend: site.url.assets }}'}
    %p.am-text-lg.am-margin-top-lg
      %strong 技术支持与服务
    %p.am-text-sm 快捷的反馈存在于整个销售与产品使用过程中

.biogeek-banner.am-vertical-align.am-margin-vertical-xl{style: 'height: 540px; background-image: url({{ "/images/biogeek/index-banner-2.jpg" | prepend: site.url.assets }})'}
  .am-vertical-align-middle
    .am-container.am-text-white.am-padding-vertical-xxxl
      .am-u-sm-12.am-u-md-offset-4.am-u-md-8.am-u-lg-offset-6.am-u-lg-6
        %h2.am-text-xxxl 删繁就简 · 精致科研
        %p.am-text-lg 对极简主义和极致效率的崇拜，对细节和完美的无限追求使得我们面对每一件作品时都是心怀敬畏。我们要做卓越的、能被更多人使用的产品不对品质妥协，充满工匠精神从事生命科学。

.am-container.am-text-center.am-margin-vertical-xl
  %h2 好奇之心 · 改变之力
  %hr
  %p 工欲善其事，必先利其器——合生基因为您的生命科学研究打造攻坚利器。

  .am-g-collapse.am-padding
    .am-u-sm-12.am-u-md-5
      %a{href: '{{ "/clone/bg10104" | prepend: site.url.biogeek }}'}
        %img.am-img-responsive{src: '{{ "/images/star.jpg" | prepend: site.url.assets }}'}
    .am-u-sm-12.am-u-md-7
      .am-u-sm-6.am-u-md-4
        %a{href: '{{ "/clone/bg10202" | prepend: site.url.biogeek }}'}
          %img.am-img-responsive{src: '{{ "/images/star1.jpg" | prepend: site.url.assets }}'}
      .am-u-sm-6.am-u-md-4
        %a{href: '{{ "/clone/bg10104" | prepend: site.url.biogeek }}'}
          %img.am-img-responsive{src: '{{ "/images/star2.jpg" | prepend: site.url.assets }}'}
      .am-u-sm-6.am-u-md-4
        -# %a{href: ''}
        %img.am-img-responsive{src: '{{ "/images/star3.jpg" | prepend: site.url.assets }}'}
      .am-u-sm-6.am-u-md-4
        -# %a{href: ''}
        %img.am-img-responsive{src: '{{ "/images/star4.jpg" | prepend: site.url.assets }}'}
      .am-u-sm-6.am-u-md-4
        -# %a{href: ''}
        %img.am-img-responsive{src: '{{ "/images/star5.jpg" | prepend: site.url.assets }}'}
      .am-u-sm-6.am-u-md-4
        %a{href: '{{ "/clone/bg10301" | prepend: site.url.biogeek }}'}
          %img.am-img-responsive{src: '{{ "/images/star6.jpg" | prepend: site.url.assets }}'}

.am-container.am-text-center.am-margin-vertical-xl
  %h2 精心雕琢每一处细节
  %hr
  .am-u-sm-12.am-u-sm-centered{style: "max-width: 800px;"}
    生命不容浪费，我们只能追求效率。成绩不容质疑，我们只能精益求精。高品质的优势显现在科研过程的每一处细节以我们对质量的苛刻要求，助您实现生命科学理想。

.biogeek-banner.am-vertical-align.am-margin-vertical-xl{style: 'height: 540px; background-image: url({{ "/images/biogeek/index-banner-3.jpg" | prepend: site.url.assets }})'}
  .am-vertical-align-middle
    .am-container.am-text-white.am-padding-vertical-xxxl
      .am-u-sm-12.am-u-md-offset-4.am-u-md-8.am-u-lg-offset-6.am-u-lg-6
        %h2.am-text-xxxl 生物极客 · Biogeek
        %p.am-text-lg 合生基因崇尚科技、自由和创造力，充满着改变世界的使命感和对科技力量的绝对信仰。朝向原创、新奇和完美的不断追求是我们前进的动力，我们的目标是挑战自我。

.am-container.am-margin-vertical-xl
  %blockquote
    %p 第一次看到Biogeek这个名字的时候感觉还是挺新颖的，给我一种实验狂人的feel，用了Biogeek的几种酶之后，我发现质量甚至比国际一线大品牌酶的质量还略好一些，现在我越发觉得Biogeek的产品还是很靠谱的。</p
    %small ——Jiwen,分子生物课题组
  %blockquote
    %p 当Biogeek的业务人员刚把试用装放到我们实验室的时候，当时觉得这个新品牌的东西包装还可以，不知道质量怎么样，用过一段时间后发觉还是挺好用的，并且他们还提供基因编辑技术服务，我课题中有些不好解决的问题，他们的技术支持都很愿意给我一些建议。</p
    %small ——Zhangxin,细胞生物课题组
  %blockquote
    %p 综合了其他品牌的产品特点与性能，Biogeek不仅产品性能优质，价格也相对低廉，是研究者的好帮手。
    %small ——Xiangqin,某生物公司
  %blockquote
    %p 售后和质量蛮好的、发货快，对产品质量要求极致完美，值得信赖的产品。
    %small ——Xingyue,细胞生物课题组
