---
layout: default
---

{{ content }}

<div class="am-container am-margin-vertical am-link-muted product-list" style=" margin-bottom:20px;background:#eee;border-radius:20px">
  <h2 class="am-padding">BioGeek<sup>TM</sup> 产品列表</h2>
  <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
    <strong>
      <a href='{{ "/clone" | prepend: site.url.biogeek }}'>分子克隆</a>
    </strong>
    <ul>
      <li><a href='{{ "/cell/bg10102" | prepend: site.url.biogeek }}'>
        Gene <i>Taq</i><sup>TM</sup> DNA Polymerase
      </a></li>
      <li><a href='{{ "/cell/bg10104" | prepend: site.url.biogeek }}'>
        Gene <i>Taq</i><sup>TM</sup> 2 x Master Mix
      </a></li>
      <li><a href='{{ "/cell/bg10202" | prepend: site.url.biogeek }}'>
        Quick Ligase<sup>TM</sup> Kit
      </a></li>
      <li><a href='{{ "/cell/bg10201" | prepend: site.url.biogeek }}'>
        T4 DNA Ligase
      </a></li>
      <li><a href='{{ "/cell/bg10301" | prepend: site.url.biogeek }}'>
        Pfu DNA Polymerase
      </a></li>
    </ul>
  </div>
  <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
    <strong>
      <a href="{{ '/cell' | prepend: site.url.biogeek }}">细胞培养</a>
    </strong>
    <ul>
      <li>
        Transfection Kit
        <br>
        细胞转染试剂
      </li>
      <li>
        Lentivirus Concentration Solution Kit
        <br>
        慢病毒浓缩试剂盒
      </li>
    </ul>
  </div>
  <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
    <strong>
      <a href="{{ '/ngs' | prepend: site.url.biogeek }}">NGS</a>
    </strong>
    <ul>
      <li>
        Mag-Nucleotide Purification
        <br>
        Kit 核酸纯化（磁珠）试剂盒
      </li>
      <li>
        Mag-Nucleotide Fragment Selection Kit
        <br>
        核酸片段选择(磁珠)试剂盒
      </li>
      <li>
        Mag-Plasmid Prep Kit
        <br>
        质粒提取(磁珠)试剂盒
      </li>
    </ul>
  </div>
  <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
    <strong>蛋白表达</strong>
  </div>
</div>
