---
layout: default
---
<div id="service" class="am-container" style="max-width: 960px">
  <h1 class="am-margin-top">{{ page.title }}</h1>
  <!-- <img src="{{ page.image.header | prepend: site.url.assets }}" width="100%" height="360px"> -->
  <div class="img-style am-vertical-align am-g-streched" style= "background-image: url({{ page.image.header | prepend: site.url.assets }})">
  </div>
  {{ content }}

  <p class="am-text-center">
    <strong>
      欢迎致电4006803200，或发送邮件至
      <a href="mailto:service@syngentech.com.cn">service@syngentech.com.cn</a>
      咨询，合生基因技术工程师将为您竭心服务。
    </strong>
  </p>
  <div class="img-style1 am-vertical-align am-margin-bottom-lg " style= "background-image: url({{ page.image.footer | prepend: site.url.assets }})">
  </div>
</div>
