---
layout: default-en
---
<div id="service" class="am-container" style="max-width: 960px">
  <h1 class="am-margin-top-xl">{{ page.title }}</h1>
  <div class="img-style am-vertical-align  " style= "background-image: url({{ page.image.header | prepend: site.url.assets }})">
  </div>
  {{ content }}

  <p class="am-text-center">
    <strong>
      Contact us at 4006803200，or send an email to
      <a href="mailto:service@syngentech.com.cn">service@syngentech.com.cn</a>
      Your questions and requests will be answered by expert staff in SyngenTech within 24 hours.
    </strong>
  </p>
  <div class="img-style1 am-vertical-align am-margin-bottom-lg " style= "background-image: url({{ page.image.footer | prepend: site.url.assets }})">
  </div>
</div>
