---
layout: default
---
<div id="service" class="am-container">
  <h1 class="am-margin-top-xl">{{ page.title }}</h1>
  <img class="am-img-responsive am-margin-top-lg" src="{{ page.image.header | prepend: site.url.assets }}">

  {{ content }}

  <p class="am-text-center">
    <strong>
      欢迎致电4006803200，或发送邮件至
      <a href="mailto:service@syngentech.com.cn">service@syngentech.com.cn</a>
      咨询，合生基因技术工程师将为您竭心服务。
    </strong>
  </p>
  <img class="am-img-responsive am-margin-bottom-lg" src="{{ page.image.footer | prepend: site.url.assets }}">
</div>
