---
layout: biogeek/product
title: 聚凝胺
title_html: Polybrene（聚凝胺）
image: /images/biogeek/product/polybrene.jpeg
---
.am-container.am-margin-top-xl
  .am-margin-top-xl.am-margin-bottom-xl.am-g
    .am-cf
      .am-u-md-4
        %p.am-align-left
          %img.am-img-responsive{src: '{{ "/images/polybrene.png" | prepend: site.url.assets }}', alt: '聚凝胺', width: '286', height: '202'}
      .am-u-md-8
        %table.am-table.am-table-bordered.am-table-compact.am-table-centered.am-text-middle
          %tr{:style => "background:#f9f9f9"}
            %th 产品名称
            %th 货号
            %th 规格
            %th 价格
            %th 说明书
          %tr
            %td.am-text-middle{:rowspan => "4", width: '200'}
              %p.am-margin-top{:align => "center"} Polybrene（聚凝胺）
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} BG20301S
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 1 mL（8 mg/mL)
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} ¥320.00
            %td.am-text-middle{:rowspan => "4"}
              %p.am-margin-top{:align => "center"}
                %a{href: '{{ "/documents/Polybrene.pdf" | prepend: site.url.assets }}'} 下载
            %tr
          %tr{:style => "background:#f9f9f9"}
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} BG20301L
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 5 * 1 mL（8 mg/mL）
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} ¥1050.00
  %h2.am-margin-top-sm 产品说明
  %p Polybrene（聚凝胺）是一种多聚阳离子聚合物，广泛应用于逆转录病毒介导的基因转染，可显著提高逆转录病毒对细胞的感染效率。其作用原理可能是通过中和细胞表面唾液酸与病毒颗粒之间的静电排除从而促进吸附作用。
  %P Polybrene也是一种有名的抗肝素剂（肝素拮抗剂），可以中和红细胞表面的负电荷，引起正常红细胞可逆性的非特异性凝集。
  %p.am-margin-bottom-xl 另外，Polybrene也多用于蛋白测序，小剂量的Polybrene在自动测序分析中可明显改善多肽的降解现象。PVDF膜加入Polybrene还能提高膜的亲和性
  %h3 储存条件与有效期
  %p  -20℃保存12个月
  %hr
  .am-margin-top-xl.am-margin-bottom-xl
    %h2{style: 'margin-top: 0'} 使用方法
    %p 逆转录病毒感染
    %p 1.细胞铺板：第一天按实验所需将目的细胞铺板，37℃培养过夜；
    %p 2.病毒感染：第二天从-80℃冰箱中取出病毒于冰上融化，根据目的细胞的MOI配制病毒液+培养基+Polybrene混合液（Polybrene终浓度一般为2-12 μg/ml）。吸去细胞原有培养液，加入病毒液+培养基+Polybrene混合液，轻轻摇匀，37℃培养过夜；
    %p 3.细胞换液：感染24-48h后，吸去含有病毒的培养基，换为新鲜培养基;
    %p 4.蛋白表达检测：病毒感染72~96h后，根据需要收集细胞检测蛋白表达情况。
  .am-margin-top-xl
    %hr
    %h2 注意事项
    %p 1.Polybrene对某些细胞（如末端分化的神经元，DC细胞等）毒性较大，如为初次使用建议先做毒性测试；
    %p 2.所有病毒操作均应尽量在BSL2级生物安全柜中进行，并佩戴一次性口罩和手套；
    %p.am-margin-bottom-xl 3. 本品仅可用于科学研究，不可用于临床治疗。
    %hr
