---
layout: biogeek/menu
title: 细胞生物学试剂
---
.biogeek-banner.screen-height{style: 'background-image: url({{ "/images/biogeek/cell-banner-1.jpg" | prepend: site.url.assets }})'}

.am-container.am-margin-vertical-xl.am-text-center
  %h2.am-margin-top-xl 合生试剂为您倾力打造完备的细胞生物学产品
  %hr
  %p 优质稳定的细胞生物学试剂，在保证安全性的基础上，降低您每一次实验的系统误差

#biogeek-cell-puzzle.biogeek-puzzle.am-container
  %ul.am-center.am-avg-sm-3.am-avg-md-5
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/s1.jpg" | prepend: site.url.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/s2.jpg" | prepend: site.url.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/s3.jpg" | prepend: site.url.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/s4.jpg" | prepend: site.url.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/s5.jpg" | prepend: site.url.assets }}'}
    %li
      %img.am-img-responsive{src: '{{ "/images/s6.jpg" | prepend: site.url.assets }}'}
        %a{href: '{{ "/cell/bg20201" | prepend: site.url.biogeek }}'}
          %span.am-margin-sm BioGeek<sup>TM</sup> Transfection Reagent<br/>细胞转染试剂
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/s7.jpg" | prepend: site.url.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/s8.jpg" | prepend: site.url.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/s9.jpg" | prepend: site.url.assets }}'}
    %li
      %img.am-img-responsive{src: '{{ "/images/s10.jpg" | prepend: site.url.assets }}'}
      %a{href: '{{ "/cell/LC-kit" | prepend: site.url.biogeek }}'}
        %span.am-margin-sm Lentivirus Concentration Kit<br/>慢病毒浓缩试剂盒
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/s11.jpg" | prepend: site.url.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/s12.jpg" | prepend: site.url.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/s13.jpg" | prepend: site.url.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/s14.jpg" | prepend: site.url.assets }}'}
    %li.am-hide-sm-only
      %img.am-img-responsive{src: '{{ "/images/s15.jpg" | prepend: site.url.assets }}'}

.am-container.am-margin-vertical-xl.am-text-center
  %h2.am-margin-top-xl 溯源经典 · 展望颠覆
  %hr
  %p 化学法转染，为您的方案设计提供更多可能

.biogeek-banner.am-vertical-align.am-text-center{style: 'height: 450px; background-image: url({{ "/images/biogeek/cell-banner-2.jpg" | prepend: site.url.assets }})'}
  .am-vertical-align-middle.am-text-white
    %h2.am-text-xxxl BioGeek<sup>TM</sup> 细胞转染试剂
    %p.am-text-lg 化学导入 · 高效低毒
    -# %a{href: ''} 进一步了解 >

.am-container.am-margin-vertical-xl.am-text-center
  %h2.am-margin-top-xl 卓效浓缩 · 新锐品质
  %hr
  %p 更优性能造就更高滴度，简便操作规划更多时间

.biogeek-banner.am-vertical-align.am-margin-bottom-xl.am-text-center{style: 'height: 450px; background-image: url({{ "/images/biogeek/cell-banner-3.jpg" | prepend: site.url.assets }})'}
  .am-vertical-align-middle.am-text-white
    %h2.am-text-xxxl Biogeek<sup>TM</sup> 慢病毒浓缩试剂盒
    -# %a{href: ''} 进一步了解 >
