---
layout: biogeek/product
title: 慢病毒包装试剂盒
title_html: Lentiviral Packaging Kit
image: /images/biogeek/product/LP.jpg
---
:css
  .experimentation {
    max-width: 1000px;
    margin-left: 20px;
  }
  .experimentation tr> td:first-child,.experimentation tr> th {
    text-align: center;
  }
%div{style: 'display: none'}
  %h2 慢病毒包装试剂盒的产品说明：
  %h2 慢病毒包装试剂盒的产品特性：
  %h2 慢病毒包装试剂盒的产品应用：
  %h2 慢病毒包装试剂盒的订购方式：
.am-container.am-margin-top-xl
  .am-margin-top-xl.am-margin-bottom-xl
    .am-cf
      .am-u-md-4
        %p.am-align-left
          %img.am-img-responsive{src: '{{ "/images/lp-kit.png" | prepend: site.domain.assets }}', alt: 'Lentiviral Packaging Kit', width: '286', height: '200'}
      .am-u-md-8
        %table.am-table.am-table-bordered.am-table-compact.am-table-centered.am-text-middle
          %tr{:style => "background:#f9f9f9"}
            %th 产品名称
            %th 货号
            %th 规格
            %th 价格
            %th 说明书下载
          %tr
            %td.am-text-middle{:rowspan => "4"}
              %p.am-margin-top BioGeek™ 慢病毒包装试剂盒
              （BioGeek™  Lentiviral Packaging Kit）
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} BG20401S
            %td{"am-text-middle" => "", :rowspan => "2"}
              %p.am-margin-top{:align => "center"} 20 assays
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} ¥3200
            %td.am-text-middle{:rowspan => "4"}
              %p.am-margin-top{:align => "center"}
                %a{href: '{{ "/documents/Lentiviral-Packaging-Kit.pdf" | prepend: site.domain.assets }}'} 下载
            %tr
          %tr{:style => "background:#f9f9f9"}
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} BG20401L
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 40 assays
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} ¥5000
  %h2【产品说明】
  %p.am-margin-bottom-xl BioGeek™ 慢病毒包装试剂盒由优化的包装质粒混合物 （Package Plasmid Mix） 、表达 EGFP 的对照质粒（Control Plasmid） 、 EpFect™ Transfection Reagent 组成。它属于第二代慢病毒包装体系，同时可兼容第二代和第三代慢病毒包装质粒。慢病毒中的毒性基因已经被剔除并被外源性目的基因所取代,属于假型病毒，即产生的慢病毒感染目的细胞后不会再感染其他细胞,也不会利用宿主细胞产生新的病毒颗粒。 BioGeek™ 慢病毒系统具有感染效率高，感染谱广等特点，可实现外源基因在宿主细胞中的稳定持续表达。经该试剂盒包装获得的对照质粒病毒滴度可达 10<sup>8</sup> TU/ml。
  %h3【储存条件与有效期】
  %p 4℃ 保存 12个月（溶解后的质粒溶液需 -20℃ 保存）。
  %hr
  .am-margin-top-xl
    %h2 【操作步骤】
    %h3 一、慢病毒载体准备
    %p 1. 获取含有目的基因的慢病毒载体：合生基因提供定制化慢病毒载体构建服务，多种启动子、多种抗性筛选标记、多种荧光标记可供选择，可实现基因的过表达、 shRNA/miRNA 介导的基因沉默、 CRISPR/Cas9 介导的基因敲除等。
    %p 2. 根据不同规格中包装质粒混合物 (Package Plasmid Mix) 及 EGFP control 质粒的量，使用前 ddH<sub>2</sub>O 稀释成 1 μg/μL 的质粒溶液;
    %p
      %strong 注：溶解后的质粒切忌反复冻融，需按照使用量进行分装并于 -20℃ 保存。
    %h3 二、慢病毒包装
    %p 1. 细胞准备：转染前一天，将 3-5×10<sup>6</sup> 的 293FT 或 293T 细胞接种到 10 cm 细胞培养皿中，放置于 37℃，5% CO<sub>2</sub> 培养箱培养 16 h～24 h。
    %p
      %strong 注：细胞要充分消化，成团细胞影响转染效率。
    %p 2. 细胞转染：
    %p （1） 取一支 1.5 mL EP 管（标记为 A 管），分别加入 300 µL Opti-MEM medium 及 40 µL EpFect<sup>TM</sup> Transfection Reagent 进行稀释，混匀，室温静止 5 min；
    %p （2） 另取一支 1.5mL EP管（标记为 B 管），加入以下试剂并混匀；
    %div{:style=>'max-width:800px;margin-left:20px;'}
      %table.am-table.am-table-bordered
        %tr
          %th 试剂名称
          %th 试剂数量
        %tr
          %td 慢病毒载体（或 EGFP 对照质粒）
          %td 2.5 µL (1.0 μg/ µL)
        %tr
          %td 慢病毒包装质粒混合物
          %td 7.5 µL (1.0 μg/ µL)
        %tr
          %td Opti-MEM medium
          %td 300 µL
    %p （3） 将 A 管液体转入到 B 管内，混匀，室温静止 15-30 min；
    %p （4） 将混合物逐滴均匀加入到 10 cm 皿中的 293FT 或 293T 细胞，轻微混匀，置于 37℃， 5% CO<sub>2</sub> 培养箱中培养；
    %p （5） 转染 6 h 后，吸去含有转染复合物的培养基，更换为 37℃ 预热的新鲜培养基。
    %p
      %strong 注：转染前细胞密度达 80% 左右，细胞状态对于慢病毒包装至关重要。
    %p 3. 转染 48 h 后，收集病毒上清液，再加入 10-15 mL 新鲜的完全培养基 （DMEM + 10% FBS） 至 10 cm 细胞培养皿中，置于 37℃， 5% CO<sub>2</sub> 培养箱继续培养。
    %p 4. 转染 72 h 后，可进行二次病毒上清液收集，与 48 h 收集的上清液混合后使用 0.45 μm 滤器过滤，可直接感染目的细胞，或使用 BioGeek™ 慢病毒浓缩试剂盒 （BG20101） 进行浓缩后 -80℃ 保存。
    %p
      %strong 注：
      %span （1）切忌反复冻融病毒，冻融一次病毒滴度将降低 10-20%。
      %p{:style=>'text-indent:2.3em'} （2）-80℃ 保存的慢病毒最好在半年内使用。
    %h3 三、病毒滴度测定
    %p 1. 测定前一天，将生长状态良好的 293 细胞消化计数后稀释至 5×10<sup>4</sup>/mL，加入 96 孔板， 100 µL/孔，为每个病毒准备 8-10 个孔。放入 37℃， 5% CO<sub>2</sub> 培养箱中培养。
    %p 2. 取一定量的病毒液感染细胞：在 EP 管中做 10 倍梯度稀释，连续 10 个稀释度。稀释方法如下：每种病毒准备 10 个 1.5 mL EP 管，每管加入 90 µL 培养液，往第一个管中加入 10 µL 病毒原液，记作 10<sup>0</sup>；混匀后，吸取 10 µL 加入第二个管混匀，记作 10<sup>-1</sup>；依此类推 （10<sup>0</sup>~10<sup>-8</sup>），在对应细胞孔中加入 10 µL 稀释好的病毒液并做好标记，培养 48-72 h 后观察结果。
    %p 3. 滴度计算：对于带有荧光标记的慢病毒可使用荧光计数法测定滴度。
    %p 4. 在荧光显微镜下观察结果，并数出最后两个有荧光的荧光细胞克隆数。假设为 X 和 Y，则滴度 （TU/mL） = （X+Y×10） × 1000/2/X 孔的病毒液的含量 （µL）。
    %h3 四、慢病毒感染目的细胞
    %p VSVG 包膜蛋白对不同的细胞和组织的亲嗜性有很大差异，在使用慢病毒感染目的细胞之前，需要查阅相关文献或进行预实验确定目的细胞的复感染指数 （MOI, multiplicity of infection）。
    %h4 预实验方案：
    %p 1. 按照上述步骤包装EGFP对照慢病毒及确定慢病毒滴度；
    %p 2. 实验前一天，将生长状态良好的目的细胞消化计数后稀释至 5×10<sup>4</sup>/mL，加入 96 孔板， 100 µL/孔。放入 37℃，5% CO<sub>2</sub> 培养箱中培养。
    %p
      %strong 注：悬浮细胞不需要提前一天接种，实验前将细胞计数接种后，直接加入病毒混合液即可。
    %p 3. 配制不同 MOI 梯度 （1、10、100） 的慢病毒 + polybrene + 培养基混合液；
    %p
      %strong 注：polybrene （BG20301） 为常用的促感染试剂，能够显著提高病毒对细胞的接触及感染效率，一般使用浓度为 2-12 μg/mL，但对某些细胞（如末端分化的神经元，DC 细胞等）毒性较大，初次使用建议先做毒性测试。
    %p 4. 吸去 96 孔板中目的细胞的培养基，加入 3 中配制的慢病毒混合液，放入 37℃，5% CO<sub>2</sub> 培养箱中继续培养；
    %p 5. 24 h 后更换为新鲜培养基继续培养；
    %p 6. 感染 48-72 h 后，荧光显微镜下观察荧光表达情况，确认目的细胞的感染条件和感染参数，感染效率=荧光蛋白表达的细胞数/同一视野中明场总细胞数 × 100%；
    %p 7. 如预实验未能找到合适的感染条件，可调整 MOI 梯度再次检测。
    %h4 正式实验方案：确定了目的细胞的最佳感染条件和 MOI，可正式开始实验。
    %p 1. 包装目的质粒慢病毒；
    %p 2. 对目的质粒慢病毒进行收集浓缩及滴度测定；
    %p 3. 根据预实验测定的感染条件进行感染（感染流程与预实验相同）。
    %strong【注意事项】
    %p 1. 所有慢病毒操作均应尽量在 BSL2 级生物安全柜中进行，并佩戴一次性口罩和手套；
    %p 2. 本品仅可用于科学研究，不可用于临床治疗。
  %hr
  %h2 【应用实例】
  %p 1. EGFP control 质粒包装后，使用荧光计数法测定病毒滴度，滴度可达 4X10<sup>8</sup> TU/ml
  %div.experimentation
    %table.am-table.am-table-bordered
      %tr
        %th 组别
        %th 明视野
        %th 荧光视野
      %tr
        %td Control
        %td
          %img.am-img-responsive.am-padding-left-lg{src: '{{ "/images/lp-kit1.1.jpg" | prepend: site.domain.assets }}', alt: '实验图片'}
        %td
          %img.am-img-responsive.am-padding-left-lg{src: '{{ "/images/lp-kit1.2.jpg" | prepend: site.domain.assets }}', alt: '实验图片'}
      %tr
        %td 10<sup>-1</sup>
        %td
          %img.am-img-responsive.am-padding-left-lg{src: '{{ "/images/lp-kit2.1.jpg" | prepend: site.domain.assets }}', alt: '实验图片'}
        %td
          %img.am-img-responsive.am-padding-left-lg{src: '{{ "/images/lp-kit2.2.jpg" | prepend: site.domain.assets }}', alt: '实验图片'}
      %tr
        %td 10<sup>-2</sup>
        %td
          %img.am-img-responsive.am-padding-left-lg{src: '{{ "/images/lp-kit3.1.jpg" | prepend: site.domain.assets }}', alt: '实验图片'}
        %td
          %img.am-img-responsive.am-padding-left-lg{src: '{{ "/images/lp-kit3.2.jpg" | prepend: site.domain.assets }}', alt: '实验图片'}
      %tr
        %td 10<sup>-3</sup>
        %td
          %img.am-img-responsive.am-padding-left-lg{src: '{{ "/images/lp-kit4.1.jpg" | prepend: site.domain.assets }}', alt: '实验图片'}
        %td
          %img.am-img-responsive.am-padding-left-lg{src: '{{ "/images/lp-kit4.2.jpg" | prepend: site.domain.assets }}', alt: '实验图片'}
      %tr
        %td 10<sup>-4</sup>
        %td
          %img.am-img-responsive.am-padding-left-lg{src: '{{ "/images/lp-kit5.1.jpg" | prepend: site.domain.assets }}', alt: '实验图片'}
        %td
          %img.am-img-responsive.am-padding-left-lg{src: '{{ "/images/lp-kit5.2.jpg" | prepend: site.domain.assets }}', alt: '实验图片'}
      %tr
        %td 10<sup>-5</sup>
        %td
          %img.am-img-responsive.am-padding-left-lg{src: '{{ "/images/lp-kit6.1.jpg" | prepend: site.domain.assets }}', alt: '实验图片'}
        %td
          %img.am-img-responsive.am-padding-left-lg{src: '{{ "/images/lp-kit6.2.jpg" | prepend: site.domain.assets }}', alt: '实验图片'}
    %p 2. EGFP control 慢病毒感染不同细胞情况
    %p （1）感染 SKOV3 乳腺癌细胞，MOI = 5
    %div.experimentation
      %table.am-table.am-table-bordered
        %tr
          %th 明视野
          %th 荧光视野
        %tr
          %td
            %img.am-img-responsive.am-padding-left-lg{src: '{{ "/images/lp-kit7.1.png" | prepend: site.domain.assets }}', alt: '实验图片'}
          %td
            %img.am-img-responsive.am-padding-left-lg{src: '{{ "/images/lp-kit7.2.png" | prepend: site.domain.assets }}', alt: '实验图片'}
    %p （2）感染 KS410 食管癌细胞，MOI = 10
    %div.experimentation
      %table.am-table.am-table-bordered
        %tr
          %th 明视野
          %th 荧光视野
        %tr
          %td
            %img.am-img-responsive.am-padding-left-lg{src: '{{ "/images/lp-kit8.1.png" | prepend: site.domain.assets }}', alt: '实验图片'}
          %td
            %img.am-img-responsive.am-padding-left-lg{src: '{{ "/images/lp-kit8.2.png" | prepend: site.domain.assets }}', alt: '实验图片'}
    %p （3）感染 HepG2 细胞，MOI = 3
    %div.experimentation
      %table.am-table.am-table-bordered
        %tr
          %th 明视野
          %th 荧光视野
        %tr
          %td
            %img.am-img-responsive.am-padding-left-lg{src: '{{ "/images/lp-kit9.1.png" | prepend: site.domain.assets }}', alt: '实验图片'}
          %td
            %img.am-img-responsive.am-padding-left-lg{src: '{{ "/images/lp-kit9.2.png" | prepend: site.domain.assets }}', alt: '实验图片'}
