---
layout: biogeek/product
title: BioGeek Transfection Reagent
title_html: BioGeek<sup>TM</sup> Transfection Reagent
image: /images/biogeek/product/GP.jpg
---
.am-container.am-margin-top-xl
  %h2 产品说明
  %p BioGeek<sup>TM</sup> Transfection Reagent是一种新型的低毒性的阳离子聚合物材料，可以用来进行大多数真核细胞的质粒高效转染, 还可以用于慢病毒及逆转录病毒包装。
  %h2 储存条件
  %p.am-margin-bottom-xl BioGeek<sup>TM</sup> Transfection Reagent可以在-20℃条件稳定储存1年，反复冻存不影响产品使用。
  %hr
  .am-margin-top-xl.am-margin-bottom-xl
    .am-cf
      %p.am-align-left
        %img.am-img-responsive{src: '{{ "/images/cell1.png" | prepend: site.url.assets }}', width: '486', height: '342'}
      %h2{style: 'margin-top: 0'} 操作说明<以24孔板转染为例>
      %p 1. 转染前一天，细胞按10^5/mL密度铺板，每孔500 μL培养基，待第二天汇合度达到60-80%时可以进行转染实验。
      %p 2. 用25μL OptiMEM培养基／无血清DMEM稀释500 ng质粒DNA，充分混匀。
      %p 3. 用25μL OptiMEM培养基／无血清DMEM稀释1-3 μg转染试剂，充分混匀。
      %p
        %strong 注意：转染试剂若出现浑浊属正常现象，65℃加热3-5分钟即可溶解，不影响长期使用。
      %p 4. 将转染试剂稀释液加入到质粒稀释液内，充分混匀，室温静止15-30分钟。
      %p 5. 将上述转染复合物滴加到细胞孔内，摇晃混匀。
      %p 6. 孵育培养6小时后，更换为新鲜的细胞培养液。
      %p 7. 转染后18-48小时可检测转染效率。
  .am-margin-top-xl
    %hr
    .am-g
      %h2.am-margin-left.am-margin-top-lg 推荐使用剂量：
      .am-u-md-11.am-u-md-centered
        %table.am-table.am-table-bordered.am-table-compact.am-table-centered.am-text-middle
          %tr{:style => "background:#f9f9f9"}
            %th 培养容器
            %th 培养基体积（mL）
            %th DNA稀释液体积（μL）
            %th DNA用量（μg）
            %th 转染试剂稀释液体积（μL)
            %th 转染试剂加量（μL）
          %tr
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 96孔板
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 0.1
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 5
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 0.1
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 5
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 0.2-0.6
            %tr
          %tr{:style => "background:#f9f9f9"}
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 24孔板
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 0.5
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 25
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 0.5
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 25
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 1-3
            %tr
          %tr
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 12孔板
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 1
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 50
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 1
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 50
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 2-6
            %tr
          %tr{:style => "background:#f9f9f9"}
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 6孔板
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 2
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 100
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 2
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 100
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 4-12
            %tr
          %tr
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 10cm培养皿
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 10
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 500
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 10
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 500
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 20-60
  .am-margin-top-xl
    %hr
    .am-g
      %h2.am-margin-left.am-margin-top-lg 实验数据：
      %h3 293H 细胞转染（携带GFP基因的质粒转染）
      .am-u-md-11.am-u-md-centered
        %table.am-table.am-table-bordered.am-table-compact.am-table-centered.am-text-middle
          %tr{:style => "background:#f9f9f9"}
            %th 转染试剂
            %th 6K DNA质粒
            %th 8K DNA质粒
            %th 10K DNA质粒
          %tr
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} BioGeek<sup>TM</sup>
            %td.am-text-middle{:rowspan => "2"}
              %img.am-img-responsive.am-padding-sm{src: '{{ "/images/ta1.png" | prepend: site.url.assets }}'}
            %td.am-text-middle{:rowspan => "2"}
              %img.am-img-responsive.am-padding-sm{src: '{{ "/images/ta2.png" | prepend: site.url.assets }}'}
            %td.am-text-middle{:rowspan => "2"}
              %img.am-img-responsive.am-padding-sm{src: '{{ "/images/ta3.png" | prepend: site.url.assets }}'}
            %tr
          %tr
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} LTX
            %td.am-text-middle{:rowspan => "2"}
              %img.am-img-responsive.am-padding-sm{src: '{{ "/images/ta4.png" | prepend: site.url.assets }}'}
            %td.am-text-middle{:rowspan => "2"}
              %img.am-img-responsive.am-padding-sm{src: '{{ "/images/ta5.png" | prepend: site.url.assets }}'}
            %td.am-text-middle{:rowspan => "2"}
              %img.am-img-responsive.am-padding-sm{src: '{{ "/images/ta6.png" | prepend: site.url.assets }}'}
      %h3 HCT116 细胞转染（携带GFP基因的质粒转染)
      .am-u-md-11.am-u-md-centered
        %table.am-table.am-table-bordered.am-table-compact.am-table-centered.am-text-middle
          %tr{:style => "background:#f9f9f9"}
            %th 转染试剂
            %th 6K DNA质粒
            %th 8K DNA质粒
            %th 10K DNA质粒
          %tr
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} BioGeek<sup>TM</sup>
            %td.am-text-middle{:rowspan => "2"}
              %img.am-img-responsive.am-padding-sm{src: '{{ "/images/ta7.png" | prepend: site.url.assets }}'}
            %td.am-text-middle{:rowspan => "2"}
              %img.am-img-responsive.am-padding-sm{src: '{{ "/images/ta8.png" | prepend: site.url.assets }}'}
            %td.am-text-middle{:rowspan => "2"}
              %img.am-img-responsive.am-padding-sm{src: '{{ "/images/ta9.png" | prepend: site.url.assets }}'}
            %tr
          %tr
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} LTX
            %td.am-text-middle{:rowspan => "2"}
              %img.am-img-responsive.am-padding-sm{src: '{{ "/images/ta10.png" | prepend: site.url.assets }}'}
            %td.am-text-middle{:rowspan => "2"}
              %img.am-img-responsive.am-padding-sm{src: '{{ "/images/ta11.png" | prepend: site.url.assets }}'}
            %td.am-text-middle{:rowspan => "2"}
              %img.am-img-responsive.am-padding-sm{src: '{{ "/images/ta12.png" | prepend: site.url.assets }}'}
    %h3 HelaS3 细胞转染（携带GFP基因的质粒转染
    .am-u-md-11.am-u-md-centered
      %table.am-table.am-table-bordered.am-table-compact.am-table-centered.am-text-middle
        %tr{:style => "background:#f9f9f9"}
          %th 转染试剂
          %th 6K DNA质粒
          %th 8K DNA质粒
          %th 10K DNA质粒
        %tr
          %td.am-text-middle{:rowspan => "2"}
            %p.am-margin-top{:align => "center"} BioGeek<sup>TM</sup>
          %td.am-text-middle{:rowspan => "2"}
            %img.am-img-responsive.am-padding-sm{src: '{{ "/images/ta13.png" | prepend: site.url.assets }}'}
          %td.am-text-middle{:rowspan => "2"}
            %img.am-img-responsive.am-padding-sm{src: '{{ "/images/ta14.png" | prepend: site.url.assets }}'}
          %td.am-text-middle{:rowspan => "2"}
            %img.am-img-responsive.am-padding-sm{src: '{{ "/images/ta15.png" | prepend: site.url.assets }}'}
          %tr
        %tr
          %td.am-text-middle{:rowspan => "2"}
            %p.am-margin-top{:align => "center"} LTX
          %td.am-text-middle{:rowspan => "2"}
            %img.am-img-responsive.am-padding-sm{src: '{{ "/images/ta16.png" | prepend: site.url.assets }}'}
          %td.am-text-middle{:rowspan => "2"}
            %img.am-img-responsive.am-padding-sm{src: '{{ "/images/ta17.png" | prepend: site.url.assets }}'}
          %td.am-text-middle{:rowspan => "2"}
            %img.am-img-responsive.am-padding-sm{src: '{{ "/images/ta18.png" | prepend: site.url.assets }}'}

  .am-margin-top-xl
    %hr
    %h2 常见问题：
    %h3 问题1: 转染后死细胞较多？
    %p 答：不同类型细胞对于转染试剂的敏感度不同。BioGeekTM转染试剂对于绝大多数真核细胞没有或毒性低，但也不排除有些细胞对其敏感，所以我们建议您采用如下改进措施：
    %p
      %strong（1）建议4-6小时后更换培养液，可以降低转染试剂对细胞生长状态的影响而不损失转染效率。
      %br
      %strong （2）降低转染试剂与DNA的使用比例，尝试减少转染试剂的用量。
    %h3 问题2: 转染效率偏低？
    %p 答：经过研发团队长期的检测实验表明，配制DNA与转染试剂混合液时，较高浓度的血清会对DNA与转染试剂的结合效果有明显的影响，所以我们推荐用无血清或低血清培养液配制DNA与转染试剂混合液；建议转染前细胞的汇合度需达到60%－80%，并适当提高转染试剂与DNA的使用比例，这些调整均可有效提高转染效率。
    %h3 问题3: 转染试剂使用前出现浑浊现象？
    %p 答： 若客户在使用本产品前发现有轻微浑浊，属正常现象，可在65-70℃加热3-5分钟即可溶解，不影响产品的长期使用。
  .am-margin-top-xl
    %hr
    .am-g
      %h2.am-margin-left.am-margin-top-lg 产品
      .am-u-md-11.am-u-md-centered
        %table.am-table.am-table-bordered.am-table-compact.am-table-centered.am-text-middle
          %tr{:style => "background:#f9f9f9"}
            %th 产品名称
            %th 货号
            %th 规格
            %th 价格
            %th 说明书下载
          %tr
            %td.am-text-middle{:rowspan => "4", :style => "max-width: 150"}
              %p.am-margin-top{:align => "center"} BioGeek<sup>TM</sup> Transfection Reagent
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} BG20201S
            %td{"am-text-middle" => "", :rowspan => "2"}
              %p.am-margin-top{:align => "center"} 1mL
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} ¥1200
            %td.am-text-middle{:rowspan => "4"}
              %p.am-margin-top{:align => "center"}
                %a{href: '{{ "/documents/BioGeek-Transfection-Reagent.pdf" | prepend: site.url.assets }}'} 下载
            %tr
          %tr{:style => "background:#f9f9f9"}
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} BG20201L
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 1mLx5
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} ¥5000
