---
layout: service
title: 腺病毒包装
image:
  header: /images/service-adenovirus-header.jpg
  footer: /images/service-adenovirus-footer.jpg
---

%div{style: 'display: none'}
  %h2 腺病毒包装的产品概述
  %h2 腺病毒包装的产品特点
  %h2 腺病毒包装的产品规格
  %h2 腺病毒包装的服务说明

%h2 产品概述
%p 腺病毒是一种大分子双链无包膜 DNA 病毒，其基因组长度约为 36kb。可通过受体介导的内吞作用进入细胞，而后腺病毒基因组转移至细胞核内，游离于染色体外，但不整合进入宿主细胞基因组。目前腺病毒广泛应用于基因治疗和体外体内基因转导等领域。
%p 合生基因使用的重组腺病毒是应用最广泛的复制缺陷型的人类血清 5 型腺病毒，缺失的 E1 基因在组装感染性病毒颗粒时由 Adeno-X 293 细胞提供，缺失 E3 基因不影响病毒的包装，因此可插入高达 7.5kb 的外源基因。
%hr

%h2 产品特点
%ol
  %li 宿主范围广，对人致病性低；
  %li 不整合到宿主染色体，无插入突变；
  %li 对分裂型和非分裂型细胞均有感染作用；
  %li 基因转导效率高，体外实验通常接近 100% 的转导效率；
  %li 能有效进行增殖，滴度高，一般可达 10<sup>11</sup> pfu/mL；

%h2 产品规格
%table.am-table.am-table-bordered.am-table-striped.am-table-centered.am-text-middle
  %tr
    %th 服务编号
    %th 服务类型
    %th 病毒滴度 <small>（pfu/mL）</small>
    %th 服务周期 <small>（不含载体构建周期）</small>
    %th 交付内容
  %tr
    %td HS-AD5-0001A
    %td 过表达腺病毒
    %td 10<sup>10</sup>
    %td 4~6周
    %td 1 mL病毒液 + 等量 EGFP 对照病毒液
  %tr
    %td HS-AD5-0001B
    %td RNA干扰腺病毒
    %td 10<sup>10</sup>
    %td 4~6周
    %td 1 mL病毒液 + 等量 NC shRNA 对照病毒液


%h2 服务说明
%ol
  %li 您须提供目的基因（注明过表达或干扰）名称、ID 号、序列信息，以便设计载体构建方案；
  %li 为保证产品质量，您提供的目的基因（或干扰序列），需插入到我公司优化的腺病毒系统；
  %li 目的基因序列不应超过 6kb ，若超出 6kb，则病毒滴度会下降；
  %li 我公司腺病毒为 AD5 型，对单核及造血细胞的感染效率相对较低，请您下单前与技术工程师详细说明背景信息，如：细胞类型、感染方式（上清感染/体内注射）等。
