---
layout: service
title: 细胞系工程改造服务
image:
  header: /images/product-8.1.jpg
  footer: /images/product-8.7.jpg
---
%div{style: 'display: none'}
  %h2 细胞系工程改造服务的概述
  %h2 细胞系工程改造服务的技术优势
  %h2 细胞系工程改造服务的产品列表
  %h2 细胞系工程改造服务的联系方式
%p 工程化改造的细胞系已成为现代生物学在基因功能研究、肿瘤治疗和生物制药等领域重要的研究材料,合生基因基于慢病毒包装技术及 CRISPR/Cas9 靶向基因编辑技术,推出了细胞系工程改造定制服务,服务内容包括基于 CRISPR/Cas9 的基因敲除细胞系、定点基因敲入细胞系和慢病毒介导的非定点敲入细胞系。
%hr
%p
  %strong 1. 基因敲除细胞系、定点基因敲入细胞系
%p
  基因组编辑技术（genome editing）是一种可以在基因组水平上对DNA序列进行改造的遗传操作技术。这种技术的原理是构建一个人工内切酶，在预定的基因组位置切断DNA，切断的DNA在被细胞内的DNA修复系统修复过程中会产生突变，从而达到定点改造基因组的目的。DNA修复系统主要通过两种途径修复DNA双链断裂（double-strand break,DSB）,即非同源末端连接（Nonhomologous end joining, NHEJ）和同源重组（homologous recombination, HR）。通过这两种修复途径，基因组编辑技术可以实现三种基因组改造的目的，即基因敲除，定点基因敲入：
  %p
  1）基因敲除：如果想使某个基因的功能丧失，可以在这个基因上产生DSB，NHEJ修复的过程中往往会产生DNA的插入或删除（indel），造成移码突变，从而实现基因敲除。
  %div{align: 'center'}
    %img.am-img-responsive{src: '{{ "/images/product-8.2.jpg" | prepend: site.url.assets }}', alt: '基因敲除', width: '437', height: '209'}
  %img.am-img-responsive{src: '{{ "/images/product-8.3.png" | prepend: site.url.assets }}', alt: '过程'}
  2）定点基因敲入：如果想把某个特异的突变引入到基因组上，需要通过同源重组来实现，这时候要提供一个含有特异突变同源模版。正常情况下同源重组效率非常低，而在这个位点产生DSB会极大的提高重组效率，从而实现特异突变的引入。
  %div{align: 'center'}
    %img.am-img-responsive{src: '{{ "/images/product-8.4.jpg" | prepend: site.url.assets }}', alt: '定点基因敲入', width: '502', height: '279'}
  %img.am-img-responsive{src: '{{ "/images/product-8.5.png" | prepend: site.url.assets }}', alt: '过程'}
%p 合生基因为您提供基于CRISPR/Cas9技术的基因敲入、定点基因敲入的细胞系工程改造服务。
%p
  %strong 2. 非定点敲入细胞系
%p 慢病毒（Lentivirus）载体是以HIV-1（人类免疫缺陷I型病毒）为基础发展起来的基因治疗载体。慢病毒作为逆转录病毒的一种，具有逆转录病毒的基本结构和特性：整合入宿主细胞基因组，长期表达，可用于转基因动物制备；但也有不同于逆转录病毒的组份和特性：比逆转录病毒具有更高的滴度，不仅可以感染分裂期细胞，更重要的，还能感染非分裂期的细胞。利用慢病毒载体，可以研究启动子的调控、过表达特定基因或沉默特定基因。
%p
  %strong 服务流程：
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/product-8.6.png" | prepend: site.url.assets }}', alt: '服务流程', width: '713', height: '183'}
%p
  请您下载并按要求填写《细胞系工程改造信息调研表》。填写完毕后发送至
  %a{href: 'mailto:info@syngentech.com.cn'} info@syngentech.com.cn
  或直接合生基因市场部取得联系。我们的技术人员第一时间根据您的信息进行实验可行性分析。
%hr
%p
  %strong 3. 我们的技术优势
%ul
  %li 合生基因自主研发优化的CRISPR系统，更适用于哺乳动物细胞，有效提高编辑成功率
  %li 多样化的敲除策略，无痕敲除或敲入性敲除，有效降低脱靶现象对敲除效率的影响。
  %li 系统的服务流程，满足自基因合成、载体构建、慢病毒包装到细胞系工程改造、基因工程鼠不同水平的服务需求。
  %li 优秀的科研能力，由来自清华大学、中科院的专家指导，曾在Science、Nature子刊、PNAS等优秀杂志发表多篇文章。
  %li 经验丰富的服务团队，由硕士以上水平组成的技术团队为您提供全程跟进式服务，确保服务质量。
  %li 完美的用户体验。服务从信息采集到可行性分析，从方案设计到服务进行，从结果提交到售后跟踪，每个环节都保证了客户的参与性与体验感。
%hr
%p
  %strong 4.服务周期
%p 基因敲除 &nbsp;&nbsp; 2-4个月
%p 定点基因敲入 &nbsp; 3-6个月
%p 非定点基因敲入 &nbsp; 1-2个月
%hr
%p
  %strong 5. 支付方式与结果提交
%ol
  %li 一次性支付方式：甲方一次性向乙方预付全款可享受9折优惠；
  %li 分段支付方式：甲方预先向乙方支付全款的60%，则不享受折扣优惠。
  %li 构建完成的细胞系共2株、 测序报告、RT-PCR鉴定报告
