---
layout: service
img: '{{ "/images/product-2.8.jpg" | prepend: site.url.assets }}'
---

%h1.am-margin-top-xl CRISPR/Cas9 快速构建试剂盒
%img.am-img-responsive{src: '{{ "/images/product-2.1.jpg" | prepend: site.url.assets }}'}
%p.text-style 合生基因开发了方便快捷的CRISPR/Cas9载体构建试剂盒，只需要将设计的gRNA引物退火之后连接入线性Cas9载体中即可，阳性率达95%以上，载体构建过程仅需2天。为了保证基因编辑效率、节省工作时间，每个基因一般需要构建3-6个gRNA-Cas9载体进行下游的细胞实验。
%img.am-img-responsive{src: '{{ "/images/product-2.2.jpg" | prepend: site.url.assets }}'}
%p.am-text-center
  gRNA-Cas9
  %br
  基因编辑载体构建试剂盒

/ make picture center
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/product-2.3.jpg" | prepend: site.url.assets }}', width: '400', height: '265'}

%p.am-text-center
  gRNA-dCas9-KRAB
  %br
  转录抑制载体构建试剂盒

/ make picture center
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/product-2.4.jpg" | prepend: site.url.assets }}', width: '406', height: '209'}

%p.am-text-center
  gRNA-dCas9-VP64
  %br
  转录激活载体构建试剂盒

%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/product-2.5.jpg" | prepend: site.url.assets }}', width: '399', height: '264'}
%p.text-style 同时，为满足不同实验需求，合生基因可根据您的需要量身定制您专属的CRISPR/Cas9载体。您可根据下表项内所列基因元件配合载体结构图设计您的gRNA表达载体。
%div{align: 'center'}
  %img.am-img-responsive.am-margin-bottom-xl{src: '{{ "/images/product-2.6.jpg" | prepend: site.url.assets }}', width: '416', height: '219'}
  %img.am-img-responsive{src: '{{ "/images/product-2.7.jpg" | prepend: site.url.assets }}', width: '410', height: '258'}
