---
layout: service
title: 基因合成
image:
  header: /images/product-11.1.jpg
  footer: /images/product-11.3.jpg
---
%div{style: 'display: none'}
  %h2 基因合成的概述
  %h2 基因合成的技术优势
  %h2 基因合成的产品列表
  %h2 基因合成的联系方式
%h3 服务介绍
%p 全基因合成 (Gene synthesis) 即基因合成,是重要的基因获取手段之一。基因合成是指利用生物化学的方法将人工合成的寡核苷酸拼接成基因的一种技术。 基因合成的原料是寡核苷酸，所以人工合成的基因序列不受模板的限制。如果说基因是生命软件, 基因合成就是编写生命程序, 这是与传统的基因克隆技术不同的地方, 后者是直接拷贝自然界已有的程序, 自然受限很多。
%p
  %a{href: '{{ site.url.service }}'}合生基因
  利用具有独有的基因合成技术，为客户提供高通量的基因合成服务——包括序列的设计与优化、基因合成、基因克隆、利用测序和酶切进行产品验证、制备μg级至mg级的质粒（可选择去除内毒素服务）等。
%hr
%p
  %strong 基因合成价目表
%img.am-img-responsive{src: '{{ "/images/product-11.2.jpg" | prepend: site.url.assets }}', alt: '基因合成价目表'}
%h3 服务特点
%ul
  %li 合成技术优势：合生基因独有的基因合成技术，可以合成绝大部分基因，包括含有重复序列和二级结构的DNA序列。以上价格适用于绝大部分基因（包括含有轻度和中度重复或发夹的序列），对于极端复杂的基因，请询价。
  %li 免费表达系统优化：我们的生物信息平台可以根据您的表达系统优化目的序列，满足您的特殊需求。
  %li 免费标准载体克隆：合成的基因一般克隆到pMV(AmpR)或pKMV(KanR)中，经过测序验证，序列100%正确。如果基因无法克隆，我们将以PCR产物的形式交货，并只收取80%的费用。
  %li 特殊载体克隆策略：合生基因技术团队设计的克隆策略可以确保我们将基因插入到您感兴趣的任何载体的任一指定位置。我们的专家将确保您的后续实验无需再考虑酶切位点的限制。如果需要将合成基因克隆到您感兴趣的载体, 则另收费250元(<1kb, +100元/kb)（视克隆难度而定），载体需您提供。
  %li 服务保障和承诺：合生基因郑重承诺，对客户提供的核酸/氨基酸序列或基因合成的结果没有所有权，并承诺对结果严格保密，并不会以任何形式散布到第三方。如果基因序列比较特殊而影响合成，我们会及时通知客户，并可能延长交付时间或取消订单。如果取消订单，客户无需支付费用。如果客户需要已成功合成的那部分基因序列，则需支付这部分序列的八折费用。
