---
layout: service
title:
  head: gRNA 文库构建-文库的构建-基因编辑文库-合生基因
  body: gRNA 文库构建
image:
  header: /images/product-4.1.jpg
  footer: /images/product-4.2.jpg
keywords: [文库的构建, 基因文库构建, 基因编辑文库, 文库, 合生基因]
---
%div{style: 'display: none'}
  %h2 gRNA 文库构建的概述
  %h2 gRNA 文库构建的技术优势
  %h2 gRNA 文库构建的产品列表
  %h2 gRNA 文库构建的联系方式
%p
  gRNA文库的建立将为重要基因功能的筛选、疾病机制研究及药物研发等方面提供新的动力，大大加快人类功能基因组研究计划的进展。合生基因可为客户定制针对特定基因分类的gRNA文库（包括全基因组文库、
  %a{href: '{{"/solution/lncRNA-knock-down" | prepend: site.url.service}}'}lncRNA
  文库、细胞凋亡、细胞增殖、信号通路、离子通道、核受体相关等文库）。如果需要对gRNA文库进行病毒包装，请参考我公司病毒包装服务内容及相应报价，量大价格优惠。

%h2 gRNA 文库质控示例：
%ul
  %li 小于12000个gRNA的文库，10 fold覆盖度 >75%，gRNA覆盖度 >95%；
  %li 大于12000个gRNA的文库，10 fold覆盖度 >70%，gRNA覆盖度 >90%。
%img.am-img-responsive{src: '{{ "/images/service-gRNA-library-0.png" | prepend: site.url.assets }}'}
