---
layout: service
img: /images/product3.jpg
title: product
---
%h1.am-margin-top-xl 服务与产品
%img.am-img-responsive{src: '{{ "/images/product1.jpg" | prepend: site.url.assets }}'}
%h2 Genome Editing
%p.text-style 所谓基因编辑技术，是指对DNA序列进行删除或插入的操作，换句话说，基因编辑技术使得人们可以依靠自己的意愿改写DNA这本由脱氧核苷酸构成的生命之书。长期以来，人们只能通过物理和化学诱变、同源重组等方式来对DNA进行编辑。然而这些方法往往存在无法精确定位编辑位置、操作复杂、费时费力等缺点。因此，能够快速而精确的对DNA序列进行靶向编辑，是科研工作者们长期以来的梦想。
%p.text-style ZFN、TALEN和CRISPR/Cas9是目前最常用的三大靶向基因编辑技术，相比于ZFN系统和TALEN系统，CRISPR/Cas9有着一些无可比拟的优点。
%p.text-style 首先，CRISPR/Cas9系统的可编辑的位点分布更为广泛。理论上基因组中每8个碱基就能找到一个可以用CRISPR/Cas9进行编辑的位置，可以说这一技术能对任意基因进行操作，而TALEN和ZFN系统则在数百甚至上千个碱基中才能找到一个可用位点，这大大限制了其使用范围。其次，CRISPR/Cas9系统更具有可拓展性，例如可以通过对Cas9蛋白进行修饰，让它不切断DNA双链，而只是切开单链，这样可以大大降低切开双链后带来的非同源末端连接造成的染色体变异风险。此外，还可以将Cas9蛋白连接其他功能蛋白，在特定DNA序列上研究这些蛋白对细胞的影响。第三，CRISPR/Cas9系统的使用更为简单方便，对新位点或者多个位点的编辑只需要改变gRNA序列即可实现，而ZFN和TALEN系统则需要表达额外的结合蛋白。
%p.text-style 由于以上特点，CRISPR-Cas9被评为2013年生物学10大突破之一，成为革命性的靶向基因编辑利器。
%img.am-img-responsive{src: '{{ "/images/product2.jpg" | prepend: site.url.assets }}'}
%p.text-style 目前，CRISPR/Cas9系统已广泛应用于科研、农业、医疗等领域。在科研领域，该技术可以快速构建工程化细胞系和模式动物，节约大量科研时间和经费；在农业领域，该技术可以人为改造基因序列，使之符合人们的要求，如改良水稻等粮食作物；在医疗领域，基因编辑技术可以更加准确、深入地了解疾病发病机理和探究基因功能，可以改造人的基因，达到基因治疗的目的等。因此，基因组编辑具有极其广阔的发展前景和应用价值。
%p.text-style 合生基因具有专业的技术团队和丰富的CRISPR基因编辑经验，为客户提供从实验可行性分析、gRNA设计、CRISPR/Cas9载体构建、慢病毒包装、细胞系工程改造、基因工程鼠、gRNA文库构建到高通量基因网络筛查等CRISPR/Cas9技术一站式服务，为基因功能研究提供全方位的解决方案。
