---
layout: service
img: '{{ "/images/product-9.4.jpg" | prepend: site.url.assets }}'
---

%h1.am-margin-top-xl 慢病毒包装
%img.am-img-responsive{src: '{{ "/images/product-9.1.jpg" | prepend: site.url.assets }}'}
%p.text-style 慢病毒属于逆转录病毒科,名称源自该种病毒长达数年的潜伏期,其中最为人所知的是人类免 疫缺陷病毒(HIV-1)。HIV-1 直径约 120nm,含两条正链 RNA,可有效的进入细胞核中,对分裂 期细胞及非分裂期细胞均具有很高的感染效率。慢病毒感染细胞后可将所携带的基因整合到细胞基 因组中,并且长时间持续稳定表达,同时能够随细胞分裂稳定遗传下去,因此成为导入外源基因的 有效工具。
%p.text-style 慢病毒载体是以 HIV-1 为基础改造获得的基因治疗载体,通过去除致病基因,同时减少辅助质粒与载体质粒的同 源性,使慢病毒具有了滴度更高、生物安全性更好、导入外源片段的能力更强等特性。目前慢病毒系统已经广泛应用到 基因过表达、RNA 干扰、miRNA 研究及基因敲除等功能研究的细胞实验和动物实验中。
%hr
%p &nbsp;
%p.text-style 合生基因倾情推出慢病毒载体包装服务,包括 shRNA、miRNA、Cas9、基因过表达、诱导表达慢病毒载体包装服务以及慢病毒介导的稳定细胞系构建服务。
%h2 1. 慢病毒包装服务
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/product-9.2.png" | prepend: site.url.assets }}'}
%h3 服务流程
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/product-9.3.jpg" | prepend: site.url.assets }}'}
%h3 慢病毒颗粒用途:
%ul
  %li 感染原代细胞；
  %li 制备稳定表达/沉默特定基因的单克隆细胞株；
  %li
    %em in vivo
    的基因操作；
  %li 转基因动物，特别是转基因大鼠的制备。
%p.text-style
  %br
  %strong 客户需要提供：
  基因序列或 ID 及慢病毒表达载体; 若需我公司提供载体, 请另外说明。
  %p
  %strong 交付内容：
  100μL 病毒液、50μL 的阴性对照病毒液,病毒滴度不少于 108TU/mL(Cas9 载体的病毒滴度不少于 107TU/mL);若需大量包装病毒液,请另外说明。
%hr
%h2 2. 慢病毒介导的非定点基因敲入细胞
%p.text-style
  基于慢病毒可将外源片段稳定整合入宿主细胞基因组的特点，该方法特别适合于构建基因表达或干扰的稳转细胞株。慢病毒感染法比质粒转染更容易操作，并且对各类细胞的转导效率都很高。合生基因为科研用户提供慢病毒介导的非定点基因敲入细胞希工程改造服务，详见
  %a{src: ''} 细胞工程改造服务
