---
layout: service
img: /images/product-6.4.jpg
title: miRNA sponge design
---

%h1.am-margin-top-xl miRNA sponge 抑制载体设计与构建
%img.am-img-responsive{src: '{{ "/images/product-6.1.jpg" | prepend: site.url.assets }}'}
%p 合生基因构建的miRNA sponge抑制载体，经特异地优化设计，增强吸附能力的同时增加了更多的结合位点，这样提高了成熟miRNA或siRNA抑制能力，消弱细胞中miRNA或siRNA导致的基因沉默效应，从而进行miRNA或siRNA功能缺失性研究。
%p MiRNA sponge载体与化学修饰的反义寡核苷酸相比，有它无可比拟的优势：a. 由于miRNA sponge是由质粒编码的，可以反复使用；b. 它能够通过包装慢病毒颗粒达到稳定沉默细胞microRNA的细胞系，有利于进行对原代细胞和难转染细胞miRNA的抑制； c. 能够沉默整个家族的microRNA以达到对整个家族microRNA功能的研究； d. 可以利用miRNA sponge实现体内外loss of function研究；e. 可以用来检测luciferase靶基因报告系统分析；f. 可以自由组合串联不同miRNA抑制子序列，达到沉默多种不同miRNA的目的。
%p 合生基因为您提供优质、高效、个性化的载体订制服务，您可根据下表及图中所列基因元件设计您的miRNA Sponge抑制载体。同时，如果表内元件不能满足您的要求或需要使用您的基因元件进行载体组装，请联系合生基因技术支持，我们的技术团队将根据您的要求设计全新的解决方案。
.am-g
  .am-u-sm-12.am-u-md-5.am-u-lg-5
    %p
      %strong 表1: 可供选择的载体元件
    %img.am-img-responsive{src: '{{ "/images/product-6.2.jpg" | prepend: site.url.assets }}', width: '348', height: '205'}
    %p &nbsp;
  .am-u-sm-12.am-u-md-6.am-u-lg-6
    %p
      %strong 图1：可供选择载体骨架
    %img.am-img-responsive{src: '{{ "/images/product-6.3.jpg" | prepend: site.url.assets }}', width: '382', height: '201'}
    %p &nbsp;
