---
img: '/images/product-1.4.jpg'
---
%h1 CRISPR/Cas9 载体设计与构建
%img.am-img-responsive{src: '/images/product-1.1.jpg'}
%p CRISPR (Clustered Regularly Interspaced Short Palindromic Repeats) /Cas (CRISPR-associated) 是最近几年出现的一种由RNA指导Cas核酸酶对靶向基因进行特定DNA修饰的技术。它是细菌和古细菌为应对病毒和质粒不断攻击而演化来的获得性免疫防御机制。
%p 此系统的工作原理是crRNA (CRISPR-derived RNA) 通过碱基配对与 tracrRNA (trans-activating RNA) 结合形成 tracrRNA/crRNA 复合物，此复合物引导核酸酶 Cas9 蛋白在与 crRNA 配对的序列靶位点处剪切双链 DNA，从而实现对基因组DNA序列进行编辑；而通过人工设计这两种 RNA，可以改造形成具有引导作用的gRNA (guide RNA)，足以引导 Cas9 对 DNA 的定点切割。
%p 作为一种 RNA导向的 dsDNA 结合蛋白，Cas9 效应物核酸酶是已知的第一个统一因子 (unifying factor)，它能够共定位 RNA、DNA 和蛋白，从而拥有巨大的改造潜力。将蛋白与无核酸酶的 Cas9(Cas9 nuclease-null)融合，并表达适当的 gRNA，即可靶定任何 dsDNA 序列，而 RNA 可连接到gRNA 的末端，不影响 Cas9 的结合。因此，Cas9 能在任何 dsDNA 序列处带来任何融合蛋白及 RNA，这为生物体的研究和改造带来巨大潜力。
%hr
%p 为满足不同实验需求，合生基因可根据您的需要量身定制您专属的CRISPR/Cas9载体。您可根据下表项内所列基因元件配合载体结构图设计您的gRNA表达载体。

/ make picture center
%div{align: 'center'}
  %img.am-img-responsive{src: '/images/product-1.2.jpg', width: '598', height: '307'}
  %p
  %img.am-img-responsive{src: '/images/product-1.3.png', width: '685', height: '366'}
