---
layout: service
img: /images/product-5.5.jpg
title: RNAi 载体设计与构建
image: /images/product-5.1.jpg
---

%p 合生基因设计并构建的shRNA/miRNA质粒表达载体和慢病毒表达载体、shRNA/miRNA抑制载体（Sponge载体），可在细胞中过量表达shRNA/miRNA或抑制特定的shRNA/miRNA的表达，从而帮助客户研究shRNA/miRNA过表达或抑制所引起的相关表型的变化。
%p 合生基因为您提供优质、高效、个性化的载体订制服务，您可根据下表项内所列基因元件设计您的shRNA/miRNA表达载体、Sponge载体。同时，如果表内元件不能满足您的要求或需要使用您的基因元件进行载体组装，请联系合生基因技术支持，我们的技术团队将根据您的要求设计全新的解决方案。
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/product-5.2.jpg" | prepend: site.url.assets }}', width: '453', height: '289'}
%p shRNA表达载体

/ make picture center
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/product-5.3.jpg" | prepend: site.url.assets }}', width: '478', height: '378'}
%p miRNA表达载体
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/product-5.4.jpg" | prepend: site.url.assets }}', width: '425', height: '272'}
