---
layout: service
img: /images/product-7.2.jpg
title: shRNA library
---

%h1.am-margin-top-xl shRNA文库构建
%img.am-img-responsive{src: '{{ "/images/product-7.1.jpg" | prepend: site.url.assets }}'}
%h2 shRNA文库构建
%p 合生基因可为客户定制针对特定基因分类的shRNA文库（包括转录组文库、细胞凋亡、细胞增殖、信号通路、离子通道、核受体相关等文库）。如果需要对shRNA文库进行病毒包装，请参考我公司病毒包装服务内容及相应报价，量大价格优惠。
%h3 客户须知：
%p 您需要提供文库类型，我们将根据您的要求提供shRNA文库及质量检测报告，并定期向您汇报课题进展情况。
%p &nbsp;
%p &nbsp;
