---
layout: service
img: /images/product-12.2.jpg
---

%h1.am-margin-top-xl 合成生物学技术服务外包
%img.am-img-responsive{src: '{{ "/images/product-12.1.jpg" | prepend: site.url.assets }}'}
%p.text-style 信息科学和生命科学是21世纪两大科学前沿。随着人类基因组计划的完成和一系列高通量分子生物学实验技术的发展，人们对生命现象的研究已经从局部走向整体，从对个别基因和蛋白质功能的研究走向对基因组、转录组、蛋白质组、表观遗传组、代谢组等组学的全面研究。生物信息学，作为生命科学与信息科学相结合的产物，与计算生物学、组学一起催生了系统生物学，一个从分子集合和系统层次上探索生命奥秘的新兴定量学科。与此同时，人们对生命作为信息系统的认识和基因工程的进展推动了合成生物学发展，进而指导人类用工程的思想来设计、构建和优化生物系统，使其能够处理信息、操作化合物、制造材料、生产能源、提供食物、帮助保持和增强人类健康和改善我们的环境等。科学与工程对生命本质的研究是缺一不可的，系统生物学让我们认识自然界进化产物（了解什么是存在的生命）；而合成生物学让我们去创造生物（了解什么是可能的生命）。
%p.text-style 合生基因根据自身合成生物学研究背景与服务经验，形成了以客户为导向，追求技术创新与价值提升的服务管理流程。以专业的服务管理流程，完善的研发操作系统，建立了完整的产业服务链，积累了丰富的合成生物学技术服务的经验，服务于北美、欧洲、日本、澳洲、中国等多个国家的终端用户。
%p.text-style 2014年，合生基因作为国内第一家专注合成生物学在生命科学与医药健康领域应用的企业，成为“中关村生物医药产业联盟”成员。合生基因利用自身优势，扛起合成生物学技术产业化发展大旗。正在不断努力，为全球科研学者提供合成生物学技术服务，开展研发合作。
%p
  %strong 我们的方向：
%p &bull; 高通量组学的生物信息学
%p &bull; 复杂疾病的网络调控
%p &bull; 细胞编程和重编程的表观遗传机制
%p &bull; 合成基因路线构建及医药应用
%p &bull; 生物环境、生物能源
%p &bull; 系统基因组学与发育生物学
