---
layout: service
title: 基因工程鼠
image:
  header: /images/product-10.1.jpg
  footer: /images/product-10.3.jpg
keywords: [转基因小鼠, 基因编辑鼠, 基因敲除鼠, 转基因小鼠价格, 转基因鼠实验, 合生基因]
---
%div{style: 'display: none'}
  %h2 基因工程鼠的概述
  %h2 基因工程鼠的技术优势
  %h2 基因工程鼠的产品列表
  %h2 基因工程鼠的联系方式
%p
  合生基因依托由“快速基因打靶载体构建技术”、“稳定传代小鼠胚胎干细胞”、“精确显微注射系统” 组成的基因敲除小鼠开发与服务平台, 和以CRISPR/Cas9技术为核心组建的
  %a{href: '{{ "/solution/knock-down" | prepend: site.url.service }}'}基因敲除
  \/
  %a{href: '{{ "/solution/knock-in" | prepend: site.url.service }}'}基因敲入
  模式动物开发与服务平台，为广大科研用户提供稳定的、高效的、个性化的基因工程鼠定制服务。
%p
  %strong 我们提供
%div{align: 'center'}
  %img.am-img-responsive{src: '{{ "/images/product-10.2.jpg" | prepend: site.url.assets }}', alt: '基因工程鼠定制服务', height: '250', width: '1000'}
%hr
%h3 我们的优势
%ul
  %li 多种背景的小鼠供您选择：FVB、B6和Balb/C背景的小鼠；SD大鼠。
  %li 多元化的技术平台供你选择：传统的ES细胞基因打靶，TALEN, Optimized CRISPR/Cas9系统供您选择。采用优化过的双切口Cas9n(OCASn)技术可以将脱靶效应降到最低。 转基因提供传统的过表达，还有基于转座子系统的转基因体系（表达更稳定），Rosa26定点转基因。
  %li 多项国内国际认证的资质：北京市动物管理委员会认证的SPF级的动物房；第三方检测(CNAS、CMA、CMAF)、临床检测(CAP)及实验动物许可等。
  %li 有竞争力的价格：我们提供有竞争力的价格。提供多种灵活的付款方式。
  %li 专业的动物运输公司提供运输：目前可以运送中国国内、美国、欧洲及全世界大部分地区。
