---
layout: biogeek/product-en
title: Lentivirus Concentration Kit
title_html: Lentivirus Concentration Kit
image: /images/biogeek/product/LK.jpg
---
.am-container.am-margin-top-xl
  .am-margin-top-xl.am-margin-bottom-xl
    .am-cf
      .am-u-md-4
        %p.am-align-left
          %img.am-img-responsive{src: '{{ "/images/cell2.png" | prepend: site.url.assets }}', alt: 'Lentivirus Concentration Kit', width: '286', height: '202'}
      .am-u-md-8
        %table.am-table.am-table-bordered.am-table-compact.am-table-centered.am-text-middle
          %tr{:style => "background:#f9f9f9"}
            %th Product
            %th Catalog
            %th Size
            %th Price
            %th Download
          %tr
            %td.am-text-middle{:rowspan => "4", width: '200'}
              %p.am-margin-top{:align => "center"} Lentivirus Concentration Kit
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} BG20101S
            %td{"am-text-middle" => "", :rowspan => "2"}
              %p.am-margin-top{:align => "center"} 50mL
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} ¥600.00
            %td.am-text-middle{:rowspan => "4"}
              %p.am-margin-top{:align => "center"}
                %a{href: '{{ "/documents/Lentivirus-Concentration-Kit.pdf" | prepend: site.url.assets }}'} Instruction
            %tr
          %tr{:style => "background:#f9f9f9"}
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} BG20101L
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 100mL
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} ¥1000.00
  %h2 Description
  %p.am-margin-bottom-xl BioGeek<sup>TM</sup> Lentivirus Concentration Kit is developed using our proprietary technology for quick, simple and highly efficient concentration of any lentiviral stock. In the simple protocol, you just mix your lentiviral supernatant with the proprietary reagent, incubate for a short period at 4 °C, and centrifuge with an ordinary centrifuge. For a typical concentration, more than 100 fold increase of titer can be achieved with recovery of up to 90% lentiviral particles.
  %h3 Storage
  %p Stable at 4℃ for 12 months
  %hr
  .am-margin-top-xl.am-margin-bottom-xl
    %h2{style: 'margin-top: 0'} Features
    .am-u-md-12.am-u-md-centered
      %p .Convenient: no ultra-centrifugation is required；
      %p .Fast: whole process can be finished in as short as 2.5 h by simply mixing and spinning；
      %p .Highly efficient: more than 100 fold increase of titer can be achieved with recovery of up to 90% lentiviral particles；
      %p .Wide applications: it can concentrate all types of lentiviral particles.
  %hr
  .am-margin-top-xl
    %h2 Protocol
    %p 1. Collect the lentiviral supernatant and centrifuge at 4,000g for 10 mins at 4°C, or filter through a 0.45 μm filter, to remove cells and debris.
    %p
      %strong Note: If using filters, use only low protein binding filters such as those made by cellulose acetate or polyethersulfone (PES) filters. Do not use nitrocellulose filters.
    %p 2. Mix lentiviral supernatants with BioGeekTM Lentivirus Concentration Solution at the ratio of 5:1. Incubate at 4°C for 2 h to overnight.
    %p
      %strong Note: The lentiviral particles are stable for several days at 4°C. Longer incubation may increase the recovery rate.
    %p 3. Centrifuge at 4,000g for 10 mins at 43. Centrifuge at 4,000g for 10 mins at 4℃
    %p 4. Carefully decant and discard the supernatant and do not disturb the virus pellet.
    %p 5. Re-suspend the virus using DMEM or PBS in appropriate volume by gently pipetting up and down.
    %p 6. Titrate the concentrated viral samples and store at -80°C in single-use aliquots.
    %p
      %strong Note: Repeated freezing & thawing should be avoided, as one freezing & thawing cycle decreases the virus titer by 10-20%.
  .am-margin-top-xl
    %hr
    %h2 A typical lentivirus concentration experiment
    %p 4 ml supernatant of Lentiviral particles expressing EGFP was concentrated with BioGeek<sup>TM</sup> Lentivirus Concentration Kit, and suspended in 40 µL PBS. 10-fold serial dilutions of 10 µL of the concentrated lentiviral particles were used to transfect HEK293 cells separately. Virus titer was tested by FACs after 72 h. As shown below, the virus titer reached to 10<sup>8</sup>/mL.
  .am-margin-top-xl
    .am-u-md-11.am-u-md-centered
      %table.am-table.am-table-bordered.am-table-compact.am-table-centered.am-text-middle
        %tr{:style => "background:#f9f9f9"}
          %th Group
          %th BF
          %th GFP
          %th Group
          %th BF
          %th GFP
          %tr
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} Control
            %td.am-text-middle{:rowspan => "2"}
              %img.am-img-responsive.am-padding-left-lg{src: '{{ "/images/1.1.png" | prepend: site.url.assets }}', alt: '实验图片'}
            %td.am-text-middle{:rowspan => "2"}
              %img.am-img-responsive.am-padding-left-lg{src: '{{ "/images/1.2.png" | prepend: site.url.assets }}', alt: '实验图片'}
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 10<sup>-3</sup>
            %td.am-text-middle{:rowspan => "2"}
              %img.am-img-responsive.am-padding-left-lg{src: '{{ "/images/5.1.png" | prepend: site.url.assets }}', alt: '实验图片'}
            %td.am-text-middle{:rowspan => "2"}
              %img.am-img-responsive.am-padding-left-lg{src: '{{ "/images/5.2.png" | prepend: site.url.assets }}', alt: '实验图片'}
            %tr
          %tr
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 10<sup>0</sup>
            %td.am-text-middle{:rowspan => "2"}
              %img.am-img-responsive.am-padding-left-lg{src: '{{ "/images/2.1.png" | prepend: site.url.assets }}', alt: '实验图片'}
            %td.am-text-middle{:rowspan => "2"}
              %img.am-img-responsive.am-padding-left-lg{src: '{{ "/images/2.2.png" | prepend: site.url.assets }}', alt: '实验图片'}
            %td.am-text-middle{:rowspan => "2"}
              %p.am-margin-top{:align => "center"} 10<sup>-4</sup>
            %td.am-text-middle{:rowspan => "2"}
              %img.am-img-responsive.am-padding-left-lg{src: '{{ "/images/6.1.png" | prepend: site.url.assets }}', alt: '实验图片'}
            %td.am-text-middle{:rowspan => "2"}
              %img.am-img-responsive.am-padding-left-lg{src: '{{ "/images/6.2.png" | prepend: site.url.assets }}', alt: '实验图片'}
            %tr
        %tr
          %td.am-text-middle{:rowspan => "2"}
            %p.am-margin-top{:align => "center"} 10<sup>-1</sup>
          %td.am-text-middle{:rowspan => "2"}
            %img.am-img-responsive.am-padding-left-lg{src: '{{ "/images/3.1.png" | prepend: site.url.assets }}', alt: '实验图片'}
          %td.am-text-middle{:rowspan => "2"}
            %img.am-img-responsive.am-padding-left-lg{src: '{{ "/images/3.2.png" | prepend: site.url.assets }}', alt: '实验图片'}
          %td.am-text-middle{:rowspan => "2"}
            %p.am-margin-top{:align => "center"} 10<sup>-5</sup>
          %td.am-text-middle{:rowspan => "2"}
            %img.am-img-responsive.am-padding-left-lg{src: '{{ "/images/7.1.png" | prepend: site.url.assets }}', alt: '实验图片'}
          %td.am-text-middle{:rowspan => "2"}
            %img.am-img-responsive.am-padding-left-lg{src: '{{ "/images/7.2.png" | prepend: site.url.assets }}', alt: '实验图片'}
          %tr
        %tr
          %td.am-text-middle{:rowspan => "2"}
            %p.am-margin-top{:align => "center"} 10<sup>-2</sup>
          %td.am-text-middle{:rowspan => "2"}
            %img.am-img-responsive.am-padding-left-lg{src: '{{ "/images/4.1.png" | prepend: site.url.assets }}', alt: '实验图片'}
          %td.am-text-middle{:rowspan => "2"}
            %img.am-img-responsive.am-padding-left-lg{src: '{{ "/images/4.2.png" | prepend: site.url.assets }}', alt: '实验图片'}
          %td.am-text-middle{:rowspan => "2"}
          %td.am-text-middle{:rowspan => "2"}
          %td.am-text-middle{:rowspan => "2"}
      %p
        %strong 注：慢病毒载体如插入片段大于8 kb，病毒滴度降低；
        %br
        %strong 荧光蛋白如作为融合蛋白，亮度降低，影响滴度测定。
    .am-margin-top-xl
      %hr
      %h2 Note
      %p 1. Lentivius should be handled in a BSL-2 laboratory. And always wear disposable gloves and masks.
      %p 2. This product can only be used for scientific research, not for clinical treatment.
    .am-margin-top-xl
      %hr
