---
layout: default-en
title: News - SyngenTech Blog
---
{% for post in site.posts %}
.am-container{:style => "max-width: 800px"}
  %a.am-link-muted{href: "{{ post.url | prepend: site.url.root }}"}
    %h1.am-margin-top-lg {{ post.title }}
    %span Submit on {{ post.date | date: "%YYear%mMonth%dDay" }}
    %img.am-img-responsive.am-margin-top-sm{src: "{{ post.image | prepend: site.url.assets }}" }
    %p {{ post.content | strip_html | strip_newlines | truncate: 125 }}
  %a.am-margin-vertical{href: "{{ post.url | prepend: site.url.root }}"} Unfold &raquo;
  %hr
{% endfor %}
